<div class="row top-space">
  <div class="col-xs-6">
    <h4 class="blue">Attachments</h4>
  </div>
  <div class="col-xs-6 right">
    <p>
      <button id="pcap-import-alerts-button" class="select-sm btn btn-default right">
        <i class="glyphicon glyphicon-arrow-right"></i>
        <strong class="hidden-xs" id="test_attachments"> import rules </strong>
      </button>
      <% if can? :create, Attachment %>
        <button class="select-sm btn btn-default right create_attachment">
          <span id="showAddAttachsToggle"><i class="glyphicon glyphicon-plus"></i> <strong class="hidden-xs"> attachment</strong></span>
          <span id="hideAddAttachsToggle" class="text-muted" style="display:none"><i class="glyphicon glyphicon-remove"></i><strong class="hidden-xs">cancel</strong></span>
        </button>
      <% end %>
      <button id="synch_attachments" class="select-sm btn btn-default right synch"> <i class="glyphicon glyphicon-refresh"></i> <strong class="hidden-xs" > synch &nbsp;&nbsp;</strong> </button>
      <button id="syncing_attachments" class="select-sm btn btn-default right synch disabled hidden"> <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i> <strong class="hidden-xs" > synch &nbsp;&nbsp;</strong> </button>
      <button class="select-sm btn btn-default right test_attachments">
        <i class="glyphicon glyphicon-flag"></i>
        <strong class="hidden-xs" id="test_attachments"> test &nbsp;&nbsp;</strong>
      </button>
    </p>
  </div>
  <div class="col-xs-12 alert_attachments"></div>
  <div class="col-xs-12">
    <div class="attach_button" style="display:none">
      <form action='/api/v1/attachments' method='post' role="form" id="attachment_form" enctype="multipart/form-data">

        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="file_data">file</label>
            <input name="attachment[file_data]" id="file_data" type="file" required="true">
          </div>
        </div>
        <input type="hidden" name="attachment[bugzilla_attachment_id]" id="bug_id" value="<%= @bug.id %>">

        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-warning btn-sm add_attachment" value="submit">Create Attachment</button>
            <button class="select-sm btn btn-default hidden" id="saving_attachment"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Saving Attachment</button>
          </div>
        </div>
      </form>
      <hr>
    </div>
  </div>

</div>
<div class="row top-bar">
  <div class="col-xs-12">
    <button class="select-sm btn btn-link" id="attachments-pcap" style="text-decoration: none;">
      <strong>Pcap (<%= @pcap_attachments.count %>)&nbsp;&nbsp;</strong></button>
    <button class="select-sm btn btn-link" id="attachments-other" style="text-decoration: none;">
      <strong>Other (<%= @other_attachments.count %>)&nbsp;&nbsp;</strong></button>
    <button class="select-sm btn btn-link" id="attachments-obsolete" style="text-decoration: none;">
      <strong>Obsolete (<%= @obsolete_attachments.count %>) &nbsp;&nbsp;</strong></button>

    <% if @pcap_attachments.any? %>
      <table class="table table-condensed small table-hover">
        <thead>
        <tr>
          <th>Filename</th>
          <th>All Rules</th>
          <th>Local</th>
        </tr>
        </thead>
        <tbody>
        <% @pcap_attachments.each do |attachment| %>
          <tr>
            <td>
              <code><a href="<%= attachment.direct_upload_url %>" target="_blank"><%= attachment.file_name %></a></code>
            </td>
            <td>
              <% if attachment.pcap_alerts.any? %>
                <table class="table-condensed small">
                  <% attachment.pcap_alerts.each do |alert| %>
                    <% rule = alert.rule %>
                    <tr>
                      <td class="blue"><%= rule.gid %>:<%= rule.sid %>:<%= rule.rev %></td>
                      <td><strong><%= rule.message %></strong></td>
                    </tr>
                  <% end %>
                </table>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <table class="table table-condensed small table-hover" id="pcap-attachments">
        <thead>
        <tr>
          <td class="narrow-column"><input type="checkbox" class="selectallcheckbox"></td>
          <td class="narrow-column"></td>
          <td>Filename</td>
          <td>Alerts</td>
        </tr>
        </thead>
        <tbody>
        <% @pcap_attachments.each do |attachment| %>
            <tr>
              <td>
                <input type="checkbox" value=<%= attachment.id %> class="attach_check_box attach_<%= attachment.id %>">
              </td>
              <td class="center narrow-column">
                <a class="blue" href="<%= attachment.direct_upload_url %>" target="_blank">
                  <i class="glyphicon glyphicon-download"></i></a></td>
              <td>
                <code><a href="<%= attachment.direct_upload_url %>" target="_blank"><%= attachment.file_name %></a></code>
              </td>
              <td class="center narrow-column">
                <h5>
                  <a class="attachment_alert <%= attachment.id %>"><%= attachment.pcap_alerts.count %></a>
                </h5>
              </td>
            </tr>
            <% if attachment.pcap_alerts.any? %>
                <tr id="attachment_<%= attachment.id %>">
                  <td></td>
                  <td colspan=2>
                    <table class="table-condensed small">
                      <% attachment.pcap_alerts.each do |alert| %>
                        <% rule = alert.rule %>
                          <tr>
                            <td class="blue"><%= rule.gid %>:<%= rule.sid %>:<%= rule.rev %></td>
                            <td><strong><%= rule.message %></strong></td>
                          </tr>
                      <% end %>
                    </table>
                  </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<input type="hidden" name="token" value="<%= current_user.authentication_token %>">
<input type="hidden" name="xml_token" value="<%= xml_token %>">
<input type="hidden" name="current_user" value="<%= current_user.id%>">
