<div class="row top-space">
  <div class="col-xs-6">
    <h4 class="blue">Attachments</h4>
  </div>
  <div class="col-xs-6 right">
    <p>
      <a>
      <span id="showAddAttachsToggle"><i class="glyphicon glyphicon-plus"></i> <strong class="hidden-xs">new attachment</strong></span>
      <span id="hideAddAttachsToggle" class="text-muted" style="display:none"><i class="glyphicon glyphicon-remove"></i><strong class="hidden-xs">cancel</strong></span>
      </a>&nbsp;&nbsp;
      <button class="select-sm btn btn-default right">
      <strong class="hidden-xs" id="test_attachments">test attachments &nbsp;&nbsp;</strong>
      <i class="glyphicon glyphicon-flag"></i>
      </button>
    </p>
  </div>
  <div class="alert_attachments"></div>
  <div class="col-xs-12">
    <div class="attach_button" style="display:none">
      <form action='#' method='post' role="form" id="attachment_form" enctype="multipart/form-data">
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="attachment[summary]">Summary (what is this attachment)</label>
            <input class="form-control create-input" id="new-attach-title" name="summary" required="true">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="file_name">file</label>
            <input name="file_name" type="file">
          </div>
        </div>
        <input type="hidden" name="bug_id" value="<%= @bug.id %>" >
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-warning btn-sm" value="submit">Create Attachment</button>
          </div>
        </div>
      </form>
      <hr>
    </div>
  </div>

</div>
<div class="row top-bar">
  <div class="col-xs-12">
    <button class="select-sm btn btn-link" id="attachments-pcap" style="text-decoration: none;"><strong>Pcap (<%= @pcap_attachments.count %>)&nbsp;&nbsp;</strong></button>
    <button class="select-sm btn btn-link" id="attachments-other" style="text-decoration: none;"><strong>Other (<%= @other_attachments.count %>)&nbsp;&nbsp;</strong></button>
    <button class="select-sm btn btn-link" id="attachments-obsolete" style="text-decoration: none;"><strong>Obsolete (<%= @obsolete_attachments.count %>) &nbsp;&nbsp;</strong></button>

    <% if @pcap_attachments.any? %>
    <table class="table table-condensed small table-hover" id="pcap-attachments">
      <thead>
      <tr>
        <td class="narrow-column"><input type="checkbox" class="selectallcheckbox"></td>
        <td class="narrow-column"></td>
        <td>Filename</td>
        <td>Alerts</td>
      </tr>
      </thead>
      <tbody>
        <% @pcap_attachments.each do |attachment| %>
        <tr>
          <td><input type="checkbox" value=<%= attachment.id %> class="attach_check_box"> </td>
          <td class="center narrow-column"><a class="blue" href="<%= attachment.direct_upload_url %>">
            <i class="glyphicon glyphicon-download"></i></a></td>
          <td><code><a><%= attachment.file_name %></a></code></td>
          <td class="center narrow-column">
            <h5>
              <a><%= attachment.rules.count %></a>
            </h5>
          </td>
        </tr>
        <% if attachment.rules %>
          <tr style="display: none;">
            <td></td><td colspan=2>
            <table class="table-condensed small">
              <% attachment.rules.each do |rule| %>
                <tr>
                  <td class="blue"><%= rule.gid %>:<%= rule.sid %>:<%= rule.rev %></td>
                  <td><strong><%= rule.message %></strong></td>
                </tr>
              <% end %>
            </table>
          </td>
          </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <p class="small text-muted top-space center"><em>No attached files.</em></p>
    <% end %>
    <% if @other_attachments.any? %>
        <table class="table table-condensed small table-hover hidden" id="other-attachments">
          <thead>
          <tr>
            <td class="narrow-column"></td>
            <td>Filename</td>
          </tr>
          </thead>
          <tbody>
          <% @other_attachments.each do |attachment| %>
              <tr>
                <td class="center narrow-column"><a class="blue" href="<%= attachment.direct_upload_url %>">
                  <i class="glyphicon glyphicon-download"></i></a></td>
                <td><code><a><%= attachment.file_name %></a></code></td>
                <td class="center narrow-column">
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% else %>
        <p class="small text-muted top-space center"><em>No attached files.</em></p>
    <% end %>
    <% if @obsolete_attachments %>
      <table class="table table-condensed small table-hover hidden" id="obsolete-attachments">
        <thead>
        <tr>
          <td class="narrow-column"></td>
          <td>Filename</td>
          <td>Alerts</td>
        </tr>
        </thead>
        <tbody>
        <% @obsolete_attachments.each do |attachment| %>
        <tr>
          <td class="center narrow-column"><a class="blue"><i class="glyphicon glyphicon-download"></i></a></td>
          <td><code><a><%= attachment.file_name %></a></code></td>
          <td class="center narrow-column">
            <h5 class="ember-tooltip bottom" style="display: none;">
              1
              <div class="tip">
                <table class="table-condensed small">
                  <tr>
                    <td class="blue">120:9:1</td>
                    <td><strong>(http_inspect) JAVASCRIPT OBFUSCATION LEVELS EXCEEDS 1</strong></td>
                  </tr>
                  <tr>
                    <td class="blue">1:29519:1</td>
                    <td><strong>INDICATOR-OBFUSCATION Javascript obfuscation using split reverse
                      join</strong></td>
                  </tr>
                  <tr>
                    <td class="blue">1:32246:3</td>
                    <td><strong>BROWSER-PLUGINS Samsung iPOLiS device manager clsid access attempt</strong>
                    </td>
                  </tr>
                </table>
              </div>
            </h5>
        </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="small text-muted top-space center"><em>No obsolete attached files.</em></p>
    <% end %>
  </div>
</div>
