<div class="row">
  <div class="col-xs-6">
    <div class="alert_comment"></div>
    <h4 class="top-space blue">History</h4>
  </div>
  <div class="col-xs-6 right">
    <p class="top-space">
      <button class="sort_history select-sm btn btn-default right">
      <i class="glyphicon glyphicon-sort"></i>&nbsp;
      <span id="notesChronToggle" style="display:none;"><strong class="hidden-xs">oldest -> newest</strong></span>
      <span id="notesTLDRToggle"><strong class="hidden-xs">newest -> oldest</strong></span>
      </button>
      <button class="toggle_comment_form select-sm btn btn-default right">
      <span id="showAddNotesToggle"><i class="glyphicon glyphicon-plus"></i><strong class="hidden-xs"> comment</strong></span>
      <span id="hideAddNotesToggle" class="text-muted" style="display: none;"><i class="glyphicon glyphicon-remove"></i><strong class="hidden-xs"> cancel</strong></span>
      </button>
      <button class="synch_history select-sm btn btn-default right">
        <span id="synch_history"><i class="glyphicon glyphicon-refresh"></i><strong class="hidden-xs"> synch</strong></span>
      </button>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form role="form" id="addResearchNoteForm" style="display: none;">
    <h5>post a comment... &nbsp;&nbsp;</h5>
    <div class="form-group">
      <textarea class="form-control" name="comment" id="noteCommentField"></textarea>
    </div>
    <input type="hidden" name="comment_type" value="research">
    <input type="hidden" name="bugzilla_id" value="<%= @bug.id %>">
    <div class="form-group">
      <button id="submit_comment" value="submit" class="btn btn-warning btn-sm">save</button>
    </div>
    <hr />
    </form>
  </div>
</div>
<div id="list_history">
  <% @notes.each do |note| %>
    <div class="row top-space research-note">
      <div class="col-xs-6">
        <p class="small text-muted">written by <strong><%= get_username(note.author) %></strong> <%= distance_of_time_in_words(Time.now, note.created_at) %> ago</p>
      </div>
      <div class="col-xs-6 right">
        <a>
        <span class="show-note-toggle text-muted">[-]</span>
        <span class="hide-note-toggle hidden text-muted">[+]</span>
        </a>
      </div>
      <div class="col-xs-12">
        <pre class="comment"><%= note.comment %></pre>
      </div>
      <div class="col-xs-12">
        <p class="line"></p>
      </div>
    </div>
  <% end %>
</div>

<input type="hidden" name="token" value="<%= current_user.authentication_token %>">
<input type="hidden" name="xml_token" value="<%= xml_token %>">
<input type="hidden" name="current_user" value="<%= current_user.id%>">
