<div class="row top-space">
  <div class="col-xs-12">
    <h4 class="blue"> References
      <span class="pull-right h6">
        <a data-toggle="modal" data-target="#referenceWindow"><i class="glyphicon glyphicon-plus"></i> Add Reference</a>
      </span>
    </h4>
  </div>
  <div class="col-xs-12 code">
    <% if @bug.references.any? %>
        <% if @bug.references.cves.any? %>
            <p>cve:</p>
            <% @bug.references.cves.each do |ref| %>
                <div class="col-xs-12">
                  <code><a href="<%= get_ref_url(ref, "cve") %>" target="_blank"><%= ref.reference_data %></a></code>
                </div>
            <% end %>
        <% end %>
        <% if @bug.references.url.any? %>
            <p>url:</p>
            <% @bug.references.url.each do |ref| %>
                <div class="col-xs-12">
                  <code><a href="<%= get_ref_url(ref, "url") %>" target="_blank"><%= ref.reference_data %></a></code>
                </div>
            <% end %>
        <% end %>
        <% if @bug.references.url.any? %>
            <p>bugtraq:</p>
            <% @bug.references.bugtraqs.each do |ref| %>
                <div class="col-xs-12">
                  <code><a href="<%= get_ref_url(ref, "bugtraq") %>" target="_blank"><%= ref.reference_data %></a></code>
                </div>
            <% end %>
        <% end %>
    <% else %>
        <p>< MISSING ></p>
    <% end %>
  </div>
</div>
<hr>
<div class="row top-space">
  <div class="col-xs-12">
    <h4 class="blue"> Exploits</h4>
  </div>
  <div class="col-xs-12">
    <div class="exploit_notices red"></div>
  </div>
  <div class="col-xs-12 code">
    <% if @bug.references.any? %>
        <p><%= find_exploit_link(@bug.references) %></p>
    <% end %>
  </div>
</div>
<hr>
<div class="row top-space">
  <div class="col-xs-12">
    <h4 class="blue"> Metrics
    </h4>
  </div>
</div>
