<div class="row top-space">
  <div class="col-sm-12">
    <h4 class="blue">Whiteboard</h4>
  </div>

  <div class="col-sm-12 bug_summary">
    <div class="sandbox">
      <input id="whiteboard_list" class="hidden" value="<%=@whiteboards%>"/>

      <select id="whiteboard-select-to-edit" bug_id="<%=@bug.id%>" name="bug[whiteboard_names][]" class="contacts selectized" placeholder="Add some whiteboards..." multiple="multiple" tabindex="-1" style="display: none;">
        <% @bug.whiteboards.each do |whiteboard|%>
            <option value="<%=whiteboard.name%>" selected="selected"></option>
        <%end%>
      </select>

    </div>
  </div>

</div>


<div class="row top-space">
  <div class="col-sm-12">
    <h4 class="blue">Tags</h4>
  </div>

  <div class="col-sm-12 bug_summary">
    <div class="sandbox">
      <select id="select-to-edit" bug_id="<%=@bug.id%>" name="bug[tag_names][]" class="contacts selectized" placeholder="Add some tags..." multiple="multiple" tabindex="-1" style="display: none;">
        <% @bug.tags.each do |tag|%>
          <option value="<%=tag.name%>" selected="selected"></option>
        <%end%>
      </select>
    </div>
  </div>

</div>
<hr>
<div class="row top-space">
  <div class="col-xs-12">
    <h4 class="blue">
      References
      <span id="add-bug-ref-show" class="glyphicon glyphicon-plus-sign" onclick="add_bug_ref_show();"></span>
      <span id="add-bug-ref-hide" class="glyphicon glyphicon-collapse-up" onclick="add_bug_ref_hide();"></span>
    </h4>
  </div>
  <div id="add-bug-ref-div" class="col-xs-10">
    <%= form_for :bug, html: {class: "form-inline"} do |bug_form| %>
        <%= bug_form.fields_for :references do |refs_fields| %>
            <div class="form-group">
              <%= refs_fields.select(:type_name, [[' - ', '']] + @ref_types.pluck(:name),
                                     {selected: ''},
                                     id: 'add-bug-ref-type-name',
                                     class: 'form-control select-sm code') %>
            </div>
            <div class="form-group">
              <%= refs_fields.text_field(:reference_data,
                                         id: 'add-bug-ref-data',
                                         class: 'form-control select-sm code',
                                         required: 'required',
                                         placeholder: 'reference data') %>
            </div>
            <div class="form-group">
              <%= bug_form.button('Add Reference', type: 'button', id: 'add-bug-ref-btn',
                                  class: 'select-sm btn btn-default') %>
            </div>
        <% end %>
    <% end %>
  </div>
  <input id="tag_list" class="hidden" value="<%=@tags%>"/>
</div>
<hr>
<div class="row top-space">
  <div class="col-xs-12">
    <h4 class="blue">
      Exploits
      <span id="add-bug-exploit-show" class="glyphicon glyphicon-plus-sign" onclick="add_bug_exploit_show();"></span>
      <span id="add-bug-exploit-hide" class="glyphicon glyphicon-collapse-up" onclick="add_bug_exploit_hide();"></span>
    </h4>
  </div>
  <div id="add-bug-exploit-div" class="col-xs-10">
    <%= form_for :bug, html: {class: "form-inline"} do |bug_form| %>
        <%= bug_form.fields_for :exploits do |exploit_fields| %>
            <div>
              <div class="form-group">
                <%= exploit_fields.select(:reference_id,
                                          @bug.references.map{ |ref| [ "#{ref.reference_type_name}, #{ref.reference_data}", ref.id ] },
                                          { prompt: "Select reference" },
                                          id: 'add-bug-exploit-ref-id',
                                          class: 'form-control select-sm code') %>
              </div>
              <div class="form-group">
                <%= exploit_fields.select(:exploit_type_id, ExploitType.pluck(:name, :id),
                                          { prompt: "Select type" },
                                          id: 'add-bug-exploit-type-id',
                                          class: 'form-control select-sm code') %>
              </div>
              <div class="form-group">
                <%= exploit_fields.select(:exploit_type_id, @bug.attachments.pluck(:file_name, :id),
                                          { prompt: "Select attachment" },
                                          id: 'add-bug-exploit-attach-id',
                                          class: 'form-control select-sm code') %>
              </div>
            </div>
            <div>
              <div class="form-group">
                <%= exploit_fields.label(:data) %>
                <%= exploit_fields.text_field(:data,
                                              size: 80,
                                              id: 'add-bug-exploit-data',
                                              class: 'form-control select-sm') %>
              </div>
            </div>
            <div>
              <div class="form-group">
                <%= bug_form.button('Add Exploit', type: 'button', id: 'add-bug-exploit-btn',
                                    class: 'select-sm btn btn-default') %>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
  <div class="col-xs-12">
    <div class="exploit_notices red"></div>
  </div>
</div>
<hr>
<div class="row top-space">
  <div class="col-xs-12">
    <h4 class="blue"> Metrics</h4>
    <% if @bug.metrics_available? %>
      <div class="bug-metrics" id='<%=@bug.id%>'></div>
      <div class="col-lg-5 col-md-6">
        <p>Timeline</p>
        <canvas id="bugChart" width="700" height="350"></canvas>
      </div>
    <% end %>
  </div>
</div>
