<div class="row top-space">
  <div class="col-xs-6">
    <h4 class="blue">Related Bugs</h4>
  </div>
  <div class="col-xs-6 right">
    <p><span data-toggle="modal" data-target="#relateABug">
      <button id="showRelateBugs" class="select-sm btn btn-default right relate_bugs"><i class="glyphicon glyphicon-plus"></i> <strong class="hidden-xs"> related bug</strong></button>
    </span></p>
  </div>
  <div class="col-xs-12 alert_attachments"></div>
  <div class="col-xs-12">

  </div>

</div>
<div class="row top-bar">
  <div class="col-xs-6">
    <h5 class="blue">Escalation Bugs</h5>
    <% (@bug.snort_escalation_research_bugs).each do |related_bug| %>
      <div class="row">
        <div class="col-xs-1">
          <% if related_bug.snort_blocker_bugs.pluck(:id).include?(@bug.id) %>
            <span class="icon-blocks blocked-bug" rel="popover" data-placement="top" data-original-title="Bug <%= @bug.id %> is currently blocking this bug" data-trigger="hover" data-toggle="tooltip"></span>
          <% elsif related_bug.snort_blocked_bugs.pluck(:id).include?(@bug.id) %>
            <span class="icon-blocks bug-blocker" rel="popover" data-placement="top" data-original-title="Bug <%= @bug.id %> is currently being blocked by this bug" data-trigger="hover" data-toggle="tooltip"></span>
          <% else %>
            <span class="icon-blocks"> </span>
          <% end %>
        </div>
        <div class="col-xs-11">
          <div class="row">
            <div class="col-xs-12">
              <%= related_bug_link(related_bug, related_bug.id) %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-9">
              <%= related_bug_link(related_bug, related_bug.summary) %>
              <br>
              <%= related_bug.description %>
            </div>
            <div class="col-xs-3">
              <div class="row">
                <div class="col-xs-12">
                  <button class='btn' onclick="AC.Bugs.removeRelatedBug(<%= @bug.id %>, <%= related_bug.id %>)">Remove</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    <% end %>

  </div>

  <div class="col-xs-6">
    <h5 class="blue">Research Bugs</h5>
    <% (@bug.snort_research_escalation_bugs | @bug.snort_research_to_research_bugs).each do |related_bug| %>
      <div class="row">
        <div class="col-xs-1">
          <% if related_bug.snort_blocker_bugs.pluck(:id).include?(@bug.id) %>
            <span class="icon-blocks blocked-bug" rel="popover" data-placement="top" data-original-title="Bug <%= @bug.id %> is currently blocking this bug" data-trigger="hover" data-toggle="tooltip"></span>
          <% end %>
          <% if related_bug.snort_blocked_bugs.pluck(:id).include?(@bug.id) %>
            <span class="icon-blocks bug-blocker" rel="popover" data-placement="top" data-original-title="Bug <%= @bug.id %> is currently being blocked by this bug" data-trigger="hover" data-toggle="tooltip"></span>
          <% end %>
        </div>
        <div class="col-xs-11">
          <div class="row">
            <div class="col-xs-12">
              <%= related_bug_link(related_bug, related_bug.id) %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-9">
              <%= related_bug_link(related_bug, related_bug.summary) %>
              <%= related_bug_link(related_bug, related_bug.description) %>
            </div>
            <div class="col-xs-3">
              <div class="row">
                <div class="col-xs-12">
                  <button class='btn' onclick="AC.Bugs.removeRelatedBug(<%= @bug.id %>, <%= related_bug.id %>)">Remove</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    <% end %>

  </div>
</div>
<input type="hidden" name="token" value="<%= current_user.authentication_token %>">
<input type="hidden" name="xml_token" value="<%= xml_token %>">
<input type="hidden" name="current_user" value="<%= current_user.id %>">


<div class="modal fade" id="relateABug" tabindex="-1" role="dialog" aria-labelledby="relateBug" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="relateBugHeader">Relate A Bug To <%= @bug.id %>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h4>
      </div>
      <div class="modal-body">
        <table style="border-collapse: separate; border-spacing: 0 1em;">
          <tr>
            <td><label>Enter Bug ID:</label></td>
            <td style="padding-left: 5px;"><input id='related_bug_id_field' name='related_bug_id' type="text"/></td>
            <td style="padding-left: 20px;">
              <button class="btn btn-default" id="relate_by_bug_id_button">Relate This Bug</button>
            </td>
          </tr>

          <tr>
            <td><label>Enter SID:</label></td>
            <td style="padding-left: 5px;"><input id='search_by_sid_field' name='SID' type="text"/></td>
            <td style="padding-left: 20px;">
              <button class="btn btn-default" id="find_bugs_by_sid_button">Find Bugs By SID</button>
            </td>
          </tr>
        </table>
        <br/>
        <table style="width: 100%; word-wrap: break-word" class="table table-condensed small table-hover" id="sid-search-results">
          <tbody>

          </tbody>
        </table>


      </div>

    </div>
  </div>
</div>
