<%= form_for user do |f| %>
    <% if current_user.has_role?('admin') %>
        <div class="col-xs-12 text-right">
          <%=link_to 'Edit Roles', roles_path %>
        </div>
    <% end %>
    </br>
  <%= f.collection_check_boxes(:role_ids, role_options_for(current_user), :id, :role) do |r| %>
    <%= r.label { r.check_box + ' ' + r.text } %>
    <br>
  <% end %>
<div class="modal-footer">
  <%=f.submit 'Save changes', class: 'btn btn-secondary'%>
</div>

<% end %>
