.content-wrapper
  - content_for(:webcat_page) do
    Reports
  - content_for(:webcat_icon) do
    icon-reports
  .complaint-mgt-top-area
    = render "escalations/webcat/shared/telemetry"

  .row
    .col-xs-12.temp-spacer
      These are the reports we can generate right now...


      .report-listing-div
        %h2 Engineer Report

        = simple_form_for :report, url: resolution_escalations_webcat_reports_path, method: :get,
                          html: { target: :_blank } do |rpt_form|
          = rpt_form.input :date_from, as: :string, input_html: {type: :date}
          = rpt_form.input :date_to, as: :string, input_html: {type: :date}
          = rpt_form.submit 'Report', data: { disable_with: false }


      .report-listing-div
        %h2 Complaint Entry Report

        = simple_form_for :report, url: complaint_entry_escalations_webcat_reports_path, method: :get,
                          html: { target: :_blank } do |rpt_form|
          = rpt_form.input :date_from, as: :string, input_html: {type: :date}
          = rpt_form.input :date_to, as: :string, input_html: {type: :date}
          = rpt_form.submit 'Report', data: { disable_with: false }

