.row
  .col-sm-3
    %h1 Case History
    .row.table-toolbar
      .col-xs-6
        Sort by [DROPDOWN]
      .col-xs-6
        Show [DROPDOWN]
    .row
      .col-xs-12
        %table
          -@dispute.dispute_emails.each do |email|
            %tr.email-row{class: "email-#{email.status}", email_id: "#{email.id}"}
              %td.alt-col.icon-col
                %span.case-history-icon.email-icon
              %td
                %span.case-history-author
                  =email.from
                %span.case-history-preview
                  =email.subject
              %td.alt-col.case-history-datetime
                =email.created_at.strftime("%Y-%d-%m")
                %br
                =email.created_at.strftime("%H:%M:%S")

          -@dispute.dispute_comments.recent_first.each do |comment|
            %tr
              %td.alt-col.icon-col
                %span.case-history-icon.note-icon
              %td
                %span.case-history-author
                  =comment.user.cec_username
                %span.case-history-preview
                  =comment.comment.truncate(75, omission: '...')
              %td.alt-col.case-history-datetime
                =comment.created_at.strftime("%Y-%d-%m")
                %br
                =comment.created_at.strftime("%H:%M:%S")

          -@versioned_items.each do |item|
            -item.versions.each do |version|
              %tr
                %td.alt-col.icon-col
                  %span.case-history-icon.disp-status-icon
                %td
                  %span.case-history-author
                    =whodunnit_helper(version)
                  -version.changeset.each do |field, (changed_from, changed_to) |
                    %span.case-history-preview
                      =field_changeset_handler(field, changed_from)
                      %span.emphasize #{changed_from}
                      to
                      %span.emphasize #{changed_to}.
                %td.alt-col.case-history-datetime
                  =version.created_at.strftime("%Y-%d-%m")
                  %br
                  =version.created_at.strftime("%H:%M:%S")


  .col-sm-6
    .row
      .col-xs-12.highlighted-section-header
        %h1 Communication
        // Only show Notice if email is to customer
        .customer-facing-notice
          Customer Facing Message
        %button.new-email-button{'data-toggle' => 'modal', 'data-target' => '#newEmail'}
          Compose New Email

    .row
      .col-xs-12.email-header-information.hidden
        .email-header-data
          .communication-subject
          .sender-receiver-info
            %span.content-label-sm From
            %span.author-username
            %br
            %span.content-label-sm To
            %span.receiver-email
            %br
            %span.attachment-label
            %span.email-attachments

        .email-response-button-wrapper
          .email-response-buttons
            %button.reply-button
            %button.forward-button
          %span.email-datetime
    .row
      .col-xs-12.email-msg-body
        %pre.email-msg-content

    .row
      .col-xs-12#email-reply.hidden
        .row
          .col-xs-12.email-reply-content-wrapper

            .row
              .col-xs-12.email-header-information
                .email-header-data
                  .sender-receiver-info
                    %span.reply-symbol
                    %span.receiver-email
                    #file-fields

                .email-response-button-wrapper
                  .email-response-buttons
                    %button.attachment-button.attachment-label.attachment-reply
            .row
              .col-xs-12
                %textarea.email-reply-body

        .row
          .col-xs-12.text-center
            %button.add-case-note-button#reply
              Send


  .col-sm-3
    %h1 Notes
    %button.add-case-note-button#new-case-note-button
      Add Note
    .col-xs-12.new-case-note-row
      %textarea.new-case-note-textarea#new-case-note-textarea
      .note-info-item.note-tool-buttons
        %button.new-case-note-save-button save
        %button.new-case-note-cancel-button x
    -@dispute.dispute_comments.recent_first.each do |comment|
      .row
        .col-xs-12
          .note-info-item.author-notation
            Written by
            %span.author-username
              =comment.user.cec_username
            = distance_of_time_in_words(Time.now, comment.created_at) + " ago."
          .note-info-item.time-stamp
            =comment.created_at.strftime("%Y-%d-%m %H:%M:%S")
          .note-info-item.note-tool-buttons
            %button.note-save-edit-button.hidden{comment_id: "#{comment.id}"} save
            %button.note-cancel-edit-button.hidden{comment_id: "#{comment.id}"} x
            %button.note-copy-button.clipboard.clipboard-btn{comment_id: "#{comment.id}", "data-clipboard-action"=> "copy", "data-clipboard-text"=> "#{comment.comment}"}
            %button.note-delete-button{comment_id: "#{comment.id}"}

      .row
        .col-xs-12
          .note-block{comment_id: "#{comment.id}"}
            =comment.comment
          %textarea.editable-note-block#editable-note-block{comment_id: "#{comment.id}"}
            =comment.comment


    %input{:name => "token", :type => "hidden", :value => "#{current_user.authentication_token}"}
    %input{:type => "hidden", :name => "xml_token", :value => "#{xml_token}"}
    %input{:name => "dispute_id", :type => "hidden", :value => "#{@dispute.id}"}
    %input{:name => "current_user_id", :type => "hidden", :value => "#{current_user.id}"}

  :javascript
    AC.Helpers.clipboard()


#newEmail.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "new_message", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h4#newMessage.modal-title
          Compose New Email
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"}
      .modal-body
        %form
          .col-xs-12.email-header-information
            .email-header-data
              %span.content-label-sm Subject
              %textarea.communication-subject.new-subject
              .sender-receiver-info
                %span.content-label-sm To
                %input.receiver-email.new-receiver{required: true, type: 'email', name: 'receiver'}

                #file-fields-new


            .email-response-button-wrapper
              .email-response-buttons
                %button.attachment-button.attachment-label.new-attachment
          %textarea.col-xs-12.email-reply-body.new-body

          .modal-footer
            .col-xs-12.text-center
              %button.add-case-note-button#new-email{value: 'submit'}
                Send
