.row
  .col-sm-3
    %h1 Case History
    .row.table-toolbar
      .col-xs-6
        Sort by [DROPDOWN]
      .col-xs-6
        Show [DROPDOWN]
    .row
      .col-xs-12
        %table
          -@dispute.dispute_emails.each do |email|
            %tr.email-row{class: "email-#{email.status}", email_id: "#{email.id}"}
              %td.alt-col.icon-col
                %span.case-history-icon.email-icon
              %td
                %span.case-history-author
                  =email.from
                %span.case-history-preview
                  =email.subject
              %td.alt-col.case-history-datetime
                =email.created_at.strftime("%Y-%d-%m")
                %br
                =email.created_at.strftime("%H:%M:%S")
          %tr
            %td.alt-col.icon-col
              %span.case-history-icon.disp-status-icon
            %td
              %span.case-history-author
                Automated
              %span.case-history-preview
                Status changed from
                %span.emphasize Researching
                to
                %span.emphasize Email Out.
            %td.alt-col.case-history-datetime
              2017-10-24
              %br
              15:35:24
          %tr
            %td.alt-col.icon-col
              %span.case-history-icon.note-icon
            %td
              %span.case-history-author
                melitayl
              %span.case-history-preview
                This is a note regarding this ticket.
            %td.alt-col.case-history-datetime
              2017-10-24
              %br
              15:35:24
          %tr
            %td.alt-col.icon-col
              %span.case-history-icon.disp-status-icon
            %td
              %span.case-history-author
                melitayl
              %span.case-history-preview
                Status changed from
                %span.emphasize Assigned
                to
                %span.emphasize Researching.
            %td.alt-col.case-history-datetime
              2017-10-24
              %br
              15:35:24
          %tr
            %td.alt-col.icon-col
              %span.case-history-icon.disp-status-icon
            %td
              %span.case-history-author
                melitayl
              %span.case-history-preview
                Status changed from
                %span.emphasize New
                to
                %span.emphasize Assigned.
            %td.alt-col.case-history-datetime
              2017-10-24
              %br
              15:35:24


  .col-sm-6
    .row
      .col-xs-12.highlighted-section-header
        %h1 Communication
        // Only show Notice if email is to customer
        .customer-facing-notice
          Customer Facing Message
        %button.new-email-button
          Compose New Email
    .row
      .col-xs-12.email-header-information.hidden
        .email-header-data
          .communication-subject
          .sender-receiver-info
            %span.content-label-sm From
            %span.author-username
            %br
            %span.content-label-sm To
            %span.receiver-email
            %br
            %span.attachment-label
            %span.email-attachments
              %a.email-attachment-name Attachment_name.png
              ,
              %a.email-attachment-name attachment_v2.png
        .email-response-button-wrapper
          .email-response-buttons
            %button.reply-button
            %button.forward-button
          %span.email-datetime
    .row
      .col-xs-12.email-msg-body
        %pre.email-msg-content

    #email-reply.hidden
      .row
        .col-xs-12.email-header-information
          .email-header-data
            %textarea.communication-subject
            .sender-receiver-info
              %span.content-label-sm To
              %span.receiver-email
              #file-fields


          .email-response-button-wrapper
            .email-response-buttons
              %button.attachment-button.attachment-label
      .row
        %textarea.col-xs-12.email-reply-body

      .row
        .col-xs-12.text-center
          %button.add-case-note-button#reply
            Send


  .col-sm-3
    %h1 Notes
    .row
      .col-xs-12
        .note-info-item.author-notation
          Written by
          %span.author-username
            melitayl
          1 day ago.
        .note-info-item.time-stamp
          2017-10-24 15:35:24
        .note-info-item.note-tool-buttons
          %button.note-edit-button
          %button.note-copy-button
          %button.note-delete-button

    .row
      .col-xs-12
        .note-block
          This is a note regarding this ticket. I have looked into this information and it appears to be correct.

    .row
      .col-xs-12.text-center
        %button.add-case-note-button#new-case-note-button
          Add Note

    %input{:name => "token", :type => "hidden", :value => "#{current_user.authentication_token}"}
    %input{:type => "hidden", :name => "xml_token", :value => "#{xml_token}"}
    %input{:name => "dispute_id", :type => "hidden", :value => "#{@dispute.id}"}
