.row
  .col-sm-3
    %h1 Case History
    .row.table-toolbar
      .col-xs-6
        Sort by [DROPDOWN]
      .col-xs-6
        Show [DROPDOWN]
    .row
      .col-xs-12
        %table
          -@dispute.dispute_emails.each do |email|
            %tr.email-row{class: "email-#{email.status}", email_id: "#{email.id}"}
              %td.alt-col.icon-col
                %span.case-history-icon.email-icon
              %td
                %span.case-history-author
                  =email.from
                %span.case-history-preview
                  =email.subject
              %td.alt-col.case-history-datetime
                =email.created_at.strftime("%Y-%d-%m")
                %br
                =email.created_at.strftime("%H:%M:%S")

          -@dispute.dispute_comments.recent_first.each do |comment|
            %tr
              %td.alt-col.icon-col
                %span.case-history-icon.note-icon
              %td
                %span.case-history-author
                  =comment.user.cec_username
                %span.case-history-preview
                  =comment.comment.truncate(75, omission: '...')
              %td.alt-col.case-history-datetime
                =comment.created_at.strftime("%Y-%d-%m")
                %br
                =comment.created_at.strftime("%H:%M:%S")

          -@versioned_items.each do |item|
            -item.versions.each do |version|
              %tr
                %td.alt-col.icon-col
                  %span.case-history-icon.disp-status-icon
                %td
                  %span.case-history-author
                    =whodunnit_helper(version)
                  -version.changeset.each do |field, (changed_from, changed_to) |
                    %span.case-history-preview
                      =field_changeset_handler(field, changed_from)
                      %span.emphasize #{changed_from}
                      to
                      %span.emphasize #{changed_to}.
                %td.alt-col.case-history-datetime
                  =version.created_at.strftime("%Y-%d-%m")
                  %br
                  =version.created_at.strftime("%H:%M:%S")


  .col-sm-6
    .row
      .col-xs-12.highlighted-section-header
        %h1 Communication
        // Only show Notice if email is to customer
        .customer-facing-notice
          Customer Facing Message
        %button.new-email-button#opener
          Compose New Email

    .row
      .col-xs-12.email-header-information.hidden
        .email-header-data
          .communication-subject
          .sender-receiver-info
            %span.content-label-sm From
            %span.author-username
            %br
            %span.content-label-sm To
            %span.receiver-email
            %br
            %span.attachment-label
            %span.email-attachments

        .email-response-button-wrapper
          .email-response-buttons
            %button.reply-button
            %button.forward-button
          %span.email-datetime
    .row
      .col-xs-12.email-msg-body
        %pre.email-msg-content

    #newEmailDialog{title: 'Compose New Email'}
      %form
        .email-reply-header-information
          .sender-receiver-info
            %span.content-label-sm.content-label-sm-to To
            %input.receiver-email.new-receiver{autofocus: true, required: true, type: 'email', name: 'receiver'}
            %span.content-label-sm.content-label-sm-sub Subject
            %input.communication-subject.new-subject{type: 'text'}

          .email-reply-button-wrapper
            .email-reply-buttons
              %button.attachment-button.attachment-label.new-attachment

          .template-select-wrapper
            .template-label
              Select a Template
            %select.email-template-select
              %option
                Std email template
              %option
                Another template option
              %option
                Apology template
              %option
                Create new template

          #file-fields-new

        .email-reply-body-wrapper
          %textarea.email-reply-body.new-body

        .email-new-button-wrapper
          %button.primary#send-new-email{value: 'submit'}
            Send

    .row
      .col-xs-12#email-reply.hidden
        .row
          .col-xs-12.email-reply-content-wrapper
            .row
              .col-xs-12.email-reply-header-information
                .row
                  .col-xs-4
                    .sender-receiver-info
                      %span.reply-symbol
                      %span.receiver-email
                  .col-xs-8
                    .template-label
                      Select a Template
                    %select.email-template-select
                      %option
                        Std email template
                      %option
                        Another template option
                      %option
                        Apology template
                      %option
                        Create new template

                    .email-reply-button-wrapper
                      .email-reply-buttons
                        %button.attachment-button.attachment-label.attachment-reply
                        %button.delete-email
                .row
                  .col-xs-12
                    %input.communication-subject{type: 'text'}

                .row
                  .col-xs-12.file-wrapper-reply
                    #file-fields
            .row
              .col-xs-12.email-reply-body-wrapper
                %textarea.email-reply-body{autofocus: true}

        .row
          .col-xs-12.text-center
            %button.primary#send-reply
              Send



  .col-sm-3
    %h1.notes-header Notes
    %button.add-case-note-button#new-case-note-button
      Add Note

    -@dispute.dispute_comments.recent_first.each do |comment|
      .row
        .col-xs-12
          .note-info-item.author-notation
            Written by
            %span.author-username
              =comment.user.cec_username
            = distance_of_time_in_words(Time.now, comment.created_at) + " ago."
          .note-info-item.time-stamp
            =comment.created_at.strftime("%Y-%d-%m %H:%M:%S")
          .note-info-item.note-tool-buttons
            %button.note-save-edit-button.save-button.hidden{comment_id: "#{comment.id}"}
            %button.note-cancel-edit-button.cancel-button.hidden{comment_id: "#{comment.id}"}
            %button.note-copy-button.clipboard.clipboard-btn{comment_id: "#{comment.id}", "data-clipboard-action"=> "copy", "data-clipboard-text"=> "#{comment.comment}"}
            %button.note-delete-button{comment_id: "#{comment.id}"}

      .row
        .col-xs-12
          .note-block.content-editable#editable-note-block{comment_id: "#{comment.id}"}
            =comment.comment


    .col-xs-12.new-case-note-row
      .note-info-item.note-tool-buttons.edit-button-wrapper
        %button.new-case-note-save-button.save-button.panel-button
        %button.new-case-note-cancel-button.cancel-button.panel-button
      .note-block.content-editable#new-case-note-textarea



    %input{:name => "token", :type => "hidden", :value => "#{current_user.authentication_token}"}
    %input{:type => "hidden", :name => "xml_token", :value => "#{xml_token}"}
    %input{:name => "dispute_id", :type => "hidden", :value => "#{@dispute.id}"}
    %input{:name => "current_user_id", :type => "hidden", :value => "#{current_user.id}"}

  :javascript
    AC.Helpers.clipboard()
