.toolbar
  %div
    %label.toolbar-section-label
      Table View
    %span.dropdown
      %button#table-show-columns-button.toolbar-button.show-col-button.dropdown-toggle.esc-tooltipped{title: 'Show/Hide Columns', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        %span.toolbar-button-text
          Show/Hide Columns
      .dropdown-menu.toolbar-dropdown#table-show-columns-dropdown{'aria-labelledby': 'table-show-columns-button'}
        .dropdown-menu-content-block
          .dropdown-menu-toolbar-header.ticket-showcol-header Ticket Entry Details
          %ul
            %li.toggle-vis{'data-column':'2'}
              %input{type: 'checkbox', checked: true, id: 'priority-checkbox'} Priority
            %li.toggle-vis{'data-column':'3'}
              %input{type: 'checkbox', checked: true, id: 'case-id-checkbox'} Case ID
            %li.toggle-vis{'data-column':'4'}
              %input{type: 'checkbox', checked: true, id: 'status-checkbox'} Status
            %li.toggle-vis{'data-column':'5'}
              %input{type: 'checkbox', id: 'resolution-checkbox'} Resolution
            %li.toggle-vis{'data-column':'6'}
              %input{type: 'checkbox', id: 'submission-type-checkbox'} Ticket Type
            %li.toggle-vis{'data-column':'7'}
              %input{type: 'checkbox', checked: true, id: 'dispute-checkbox'} Dispute
            %li.toggle-vis{'data-column':'8'}
              %input{type: 'checkbox', checked: true, id: 'owner-checkbox'} Owner
            %li.toggle-vis{'data-column':'9'}
              %input{type: 'checkbox', checked: true, id: 'time-submitted-checkbox'} Time Submitted
            %li.toggle-vis{'data-column':'18'}
              %input{type: 'checkbox', checked: true, id: 'last-updated-checkbox'} Last Updated

          %ul
            %li.toggle-vis{'data-column':'10'}
              %input{type: 'checkbox', checked: true, id: 'age-checkbox' } Age
            %li.toggle-vis{'data-column':'11'}
              %input{type: 'checkbox', id: 'case-origin-checkbox'} Case Origin
            %li.toggle-vis{'data-column':'12'}
              %input{type: 'checkbox', id: 'submitter-type-checkbox'} Submitter Type
            %li.toggle-vis{'data-column':'13'}
              %input{type: 'checkbox', id: 'submitter-org-checkbox'} Submitter Org
            %li.toggle-vis{'data-column':'14'}
              %input{type: 'checkbox', id: 'submitter-domain-checkbox'} Submitter Domain
            %li.toggle-vis{'data-column':'15'}
              %input{type: 'checkbox', id: 'contact-name-checkbox'} Contact Name
            %li.toggle-vis{'data-column':'16'}
              %input{type: 'checkbox', id: 'contact-email-checkbox'} Contact Email
            %li.toggle-vis{'data-column':'17'}
              %input{type: 'checkbox', id: 'status-comment-checkbox'} Status Comment

        .dropdown-menu-content-block
          .dropdown-menu-toolbar-header.entry-showcol-header Dispute Entry Details
          %ul
            %li.toggle-vis-nested{'data-column': 'entry-col-content'}
              %input{type: 'checkbox', checked: true, id: 'dispute-entry-checkbox'} Dispute Entry
            %li.toggle-vis-nested{'data-column': 'entry-col-status'}
              %input{type: 'checkbox', checked: true, id: 'entry-status-checkbox'} Entry Status
            %li.toggle-vis-nested{'data-column': 'entry-col-res'}
              %input{type: 'checkbox', checked: true, id: 'entry-resolution-checkbox'} Entry Resolution
            %li.toggle-vis-nested{'data-column': 'entry-col-disp'}
              %input{type: 'checkbox', checked: true, id: 'suggested-disposition-checkbox'} Suggested Disposition
            %li.toggle-vis-nested{'data-column': 'entry-col-cat'}
              %input{type: 'checkbox', checked: true, id: 'category-checkbox'} Category
            %li.toggle-vis-nested{'data-column': 'entry-col-wbrs-score'}
              %input{type: 'checkbox', checked: true, id: 'wbrs-score-checkbox'} WBRS Score
            %li.toggle-vis-nested{'data-column': 'entry-col-wbrs-hits'}
              %input{type: 'checkbox', checked: true, id: 'wbrs-total-rule-hits-checkbox'} WBRS Total Rule Hits
            %li.toggle-vis-nested{'data-column': 'entry-col-wbrs-rules'}
              %input{type: 'checkbox', id: 'wbrs-rules-checkbox'} WBRS Rules

          %ul
            %li.toggle-vis-nested{'data-column': 'entry-col-sbrs-score'}
              %input{type: 'checkbox', checked: true, id: 'sbrs-score-checkbox'} SBRS Score
            %li.toggle-vis-nested{'data-column': 'entry-col-sbrs-hits'}
              %input{type: 'checkbox', checked: true, id: 'sbrs-total-rule-hits-checkbox'} SBRS Total Rule Hits
            %li.toggle-vis-nested{'data-column': 'entry-col-sbrs-rules'}
              %input{type: 'checkbox', id: 'sbrs-rules-checkbox'} SBRS Rules

    %button.toolbar-button.expand-row-button#expand-all-index-rows.esc-tooltipped{title: 'Expand All Rows'}
      %span.toolbar-button-text Expand All Rows
    %button.toolbar-button.collapse-button.dropdown-button-margin-right#collapse-all-index-rows.esc-tooltipped{title: 'Collapse All Rows'}
      %span.toolbar-button-text Collapse All Rows

  %div
    %button.take-ticket-button#index_ticket_assign.esc-tooltipped{title: 'Assign to me', onclick: 'take_disputes();'}
      %span.toolbar-button-text

  %div
    %label.toolbar-section-label
      Edit Ticket

    %span.dropdown
      %button#index_change_assign.toolbar-button.ticket-owner-button.show-col-button.dropdown-toggle.esc-tooltipped{title: 'Change Assignee', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        %span.toolbar-button-text
          Change Assignee
      .dropdown-menu.toolbar-dropdown#index-change-assign-dropdown{'aria-labelledby': 'index_change_assign'}
        .toolbar
          %div
            %label.toolbar-section-label Assignee
            %select{name: 'index_target_assignee', id: 'index_target_assignee', class:'toolbar-select'}
              - User.joins(roles: :org_subset).where(org_subsets: { name: 'webrep' }).distinct.order(:cvs_username).each do |u|
                %option{id: u.id, value: u.id, label: u.cvs_username}
          %button{class: 'primary', type:'button', id: 'button_reassign', onclick:'toolbar_index_change_assignee();'}
            Assign

    %span.dropdown
      %button#index_ticket_status.toolbar-button.ticket-status-button.dropdown-button-margin-right.dropdown-toggle.esc-tooltipped{title: 'Edit Ticket Status', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        %span.toolbar-button-text
          Edit Ticket Status
      .dropdown-menu.toolbar-dropdown#index-edit-ticket-status-dropdown{'aria-labelledby': 'index_ticket_status'}
        %ul
          %li.status-radio-wrapper
            %input.ticket-status-radio{type: 'radio', name: 'ticket-status', id: 'RESEARCHING', value:'RESEARCHING' }
            %label.ticket-status-radio-label.radio-label{for: 'RESEARCHING'} Researching
          %li.status-radio-wrapper
            %input.ticket-status-radio{type: 'radio', name: 'ticket-status', id: 'ESCALATED', value: 'ESCALATED'}
            %label.ticket-status-radio-label.radio-label{for: 'ESCALATED'} Escalated
          %li.status-radio-wrapper
            %input.ticket-status-radio{type: 'radio', name: 'ticket-status', id: 'CUSTOMER_PENDING', value: 'CUSTOMER_PENDING'}
            %label.ticket-status-radio-label.radio-label{for: 'CUSTOMER_PENDING'} Customer Pending
          %li.status-radio-wrapper
            %input.ticket-status-radio{type: 'radio', name: 'ticket-status', id: 'ON_HOLD', value: 'ON_HOLD'}
            %label.ticket-status-radio-label.radio-label{for: 'ON_HOLD'} On Hold
          %li.status-radio-wrapper
            %input.ticket-status-radio.index-resolution-drodown-menu{type: 'radio', name: 'ticket-status', id: 'RESOLVED_CLOSED', value: 'RESOLVED_CLOSED'}
            %label.ticket-status-radio-label.radio-label{for: 'RESOLVED_CLOSED'} Resolved / Closed
            .dropdown-menu#index-ticket-resolution-submenu
              .col-xs-6.submenu-left-wrapper
                .submenu-header
                  Ticket Resolution
                %ul
                  %li
                    %input.ticket-resolution-radio{type: 'radio', name: 'ticket-resolution', id: 'FIXED_FP', value: 'FIXED_FP'}
                    %label.ticket-res-radio-label.radio-label{for: 'FIXED_FP'} Fixed - FP
                  %li
                    %input.ticket-resolution-radio{type: 'radio', name: 'ticket-resolution', id: 'FIXED_FN', value: 'FIXED_FN'}
                    %label.ticket-res-radio-label.radio-label{for: 'FIXED_FN'} Fixed - FN
                  %li
                    %input.ticket-resolution-radio{type: 'radio', name: 'ticket-resolution', id: 'UNCHANGED', value: 'UNCHANGED'}
                    %label.ticket-res-radio-label.radio-label{for: 'UNCHANGED'} Unchanged
                  %li
                    %input.ticket-resolution-radio{type: 'radio', name: 'ticket-resolution', id: 'INVALID', value: 'INVALID'}
                    %label.ticket-res-radio-label.radio-label{for: 'INVALID'} Invalid / Junk Mail
                  %li
                    %input.ticket-resolution-radio{type: 'radio', name: 'ticket-resolution', id: 'TEST_TRAINING', value: 'TEST_TRAINING'}
                    %label.ticket-res-radio-label.radio-label{for: 'TEST_TRAINING'} Test / Training
                  %li
                    %input.ticket-resolution-radio{type: 'radio', name: 'ticket-resolution', id: 'OTHER', value: 'OTHER'}
                    %label.ticket-res-radio-label.radio-label{for: 'OTHER'} Other
              .col-xs-6.submenu-right-wrapper
                .resolution-comment-wrapper
                  %label.content-label-sm.customer-facing-comment
                    Customer Facing Comment
                  %textarea.ticket-status-comment
                  .button-row-center
                    %button.primary.change_ticket_status_button{type:'button', id:'webrep_resolve_ticket', onclick:'change_ticket_status();'}
                      Submit

          %li.status-radio-wrapper
            %input.ticket-status-radio{type: 'radio', name: 'ticket-status', id: 'RE-OPENED', value: 'RE-OPENED'}
            %label.ticket-status-radio-label.radio-label{for: 'RE-OPENED'} Re-Opened
          %li.non-resolution-submit-wrapper#ticket-non-res-submit
            %label.content-label-sm
              Comment
            %textarea.ticket-status-comment
            .button-row-center
              %button.primary.change_ticket_status_button{type:'button', id:'webrep_change_ticket_status', onclick:'change_ticket_status();'}
                Submit

    %span#mark-as-related.dropdown
      %button#index_mark_related.toolbar-button.mark-related-button.dropdown-button-margin-right.esc-tooltipped{title: 'Mark as Related', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        %span.toolbar-button-text
          Mark as Related
      .dropdown-menu.toolbar-dropdown#set-related-dispute-div{'aria-labelledby': 'index_mark_related'}
        %form#set-related-dispute-form{onsubmit: 'set_relating_disputes(this);return false;'}
          %label.content-label-sm Original Ticket ID
          %br
          %input.dispute-id{type: 'text', name: 'dispute_id'}
          .button-row-center
            %button.primary#set-related-dispute-submit-button{type:'button', id: 'button_related_dispute', onclick:'related_disputes();'}
              Submit

  %div
    %label.toolbar-section-label
      Edit Dispute Entry
    %span.dropdown
      %button#index-entry-status-button.toolbar-button.ticket-status-button.esc-tooltipped{title: 'Edit Entry Status', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        %span.toolbar-button-text
          Edit Entry Status
      .dropdown-menu.toolbar-dropdown#index-edit-entry-status-dropdown{'aria-labelledby': 'index_ticket_status'}
        %ul
          %li.status-radio-wrapper
            %input.entry-status-radio{type: 'radio', name: 'entry-status', id: "ENTRY_#{DisputeEntry::STATUS_RESEARCHING}", value: "#{DisputeEntry::STATUS_RESEARCHING}"}
            %label.entry-status-radio-label.radio-label{for: "ENTRY_#{DisputeEntry::STATUS_RESEARCHING}"} Researching
          %li.status-radio-wrapper
            %input.entry-status-radio{type: 'radio', name: 'entry-status', id: "ENTRY_#{DisputeEntry::STATUS_ESCALATED}", value: "#{DisputeEntry::STATUS_ESCALATED}"}
            %label.entry-status-radio-label.radio-label{for: "ENTRY_#{DisputeEntry::STATUS_ESCALATED}"} Escalated
          %li.status-radio-wrapper
            %input.entry-status-radio{type: 'radio', name: 'entry-status', id: "ENTRY_#{DisputeEntry::STATUS_CUSTOMER_PENDING}", value: "#{DisputeEntry::STATUS_CUSTOMER_PENDING}"}
            %label.entry-status-radio-label.radio-label{for: "ENTRY_#{DisputeEntry::STATUS_CUSTOMER_PENDING}"} Customer Pending
          %li.status-radio-wrapper
            %input.entry-status-radio{type: 'radio', name: 'entry-status', id: "ENTRY_#{DisputeEntry::STATUS_ON_HOLD}", value: "#{DisputeEntry::STATUS_ON_HOLD}"}
            %label.entry-status-radio-label.radio-label{for: "ENTRY_#{DisputeEntry::STATUS_ON_HOLD}"} On Hold
          %li.status-radio-wrapper
            %input.entry-status-radio.index-resolution-drodown-menu{type: 'radio', name: 'entry-status', id: 'ENTRY_RESOLVED_CLOSED', value: 'RESOLVED_CLOSED'}
            %label.entry-status-radio-label.radio-label{for: 'ENTRY_RESOLVED_CLOSED'} Resolved / Closed
            .dropdown-menu#index-entry-resolution-submenu
              .col-xs-6.submenu-left-wrapper
                .submenu-header
                  Entry Resolution
                %ul
                  %li
                    %input.entry-resolution-radio{type: 'radio', name: 'entry-resolution', id: "ENTRY_#{DisputeEntry::STATUS_RESOLVED_FIXED_FP}", value: "#{DisputeEntry::STATUS_RESOLVED_FIXED_FP}"}
                    %label.entry-res-radio-label.radio-label{for: "ENTRY_#{DisputeEntry::STATUS_RESOLVED_FIXED_FP}"} Fixed - FP
                  %li
                    %input.entry-resolution-radio{type: 'radio', name: 'entry-resolution', id: "ENTRY_#{DisputeEntry::STATUS_RESOLVED_FIXED_FN}", value: "#{DisputeEntry::STATUS_RESOLVED_FIXED_FN}"}
                    %label.entry-res-radio-label.radio-label{for: "ENTRY_#{DisputeEntry::STATUS_RESOLVED_FIXED_FN}"} Fixed - FN
                  %li
                    %input.entry-resolution-radio{type: 'radio', name: 'entry-resolution', id: "ENTRY_#{DisputeEntry::STATUS_RESOLVED_UNCHANGED}", value: "#{DisputeEntry::STATUS_RESOLVED_UNCHANGED}"}
                    %label.entry-res-radio-label.radio-label{for: "ENTRY_#{DisputeEntry::STATUS_RESOLVED_UNCHANGED}"} Unchanged
                  %li
                    %input.entry-resolution-radio{type: 'radio', name: 'entry-resolution', id: "ENTRY_#{DisputeEntry::STATUS_RESOLVED_INVALID}", value: "#{DisputeEntry::STATUS_RESOLVED_INVALID}"}
                    %label.entry-res-radio-label.radio-label{for: "ENTRY_#{DisputeEntry::STATUS_RESOLVED_INVALID}"} Invalid / Junk Mail
                  %li
                    %input.entry-resolution-radio{type: 'radio', name: 'entry-resolution', id: "ENTRY_#{DisputeEntry::STATUS_RESOLVED_TEST}", value: "#{DisputeEntry::STATUS_RESOLVED_TEST}"}
                    %label.entry-res-radio-label.radio-label{for: "ENTRY_#{DisputeEntry::STATUS_RESOLVED_TEST}"} Test / Training
                  %li
                    %input.entry-resolution-radio{type: 'radio', name: 'entry-resolution', id: "ENTRY_#{DisputeEntry::STATUS_RESOLVED_OTHER}", value: "#{DisputeEntry::STATUS_RESOLVED_OTHER}"}
                    %label.entry-res-radio-label.radio-label{for: "ENTRY_#{DisputeEntry::STATUS_RESOLVED_OTHER}"} Other
              .col-xs-6.submenu-right-wrapper
                .resolution-comment-wrapper
                  %label.content-label-sm.customer-facing-comment
                    Customer Facing Comment
                  %textarea.entry-status-comment#entry-status-comment
                  .button-row-center
                    %button.primary{onclick: "toolbar_index_edit_status()"}
                      Submit

          %li.status-radio-wrapper
            %input.entry-status-radio{type: 'radio', name: 'entry-status', id: 'RE-OPENED'}
            %label.entry-res-radio-label.radio-label{for: 'RE-OPENED'} Re-Opened
          %li.non-resolution-submit-wrapper#entry-non-res-submit
            %label.content-label-sm
              Comment
            %textarea.entry-status-comment#entry-status-non-res-comment
            .button-row-center
              %button.primary{onclick: "toolbar_index_edit_status()"}
                Submit


    %span#adjust-wlbl.dropdown
      %button#index-adjust-wlbl.toolbar-button.adjust-wlbl-button.dropdown-button-margin-right.dropdown-toggle.esc-tooltipped{title: 'Adjust WL/BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false', onclick: 'bulk_get_current_wlbl("index")'}
        %span.toolbar-button-text Adjust WL/BL
      .dropdown-menu.toolbar-dropdown#wlbl_adjust_entries_index{'aria-labelledby': 'wlbl_entries_button'}
        = form_for :wlbl, html: {class: 'adjust-wlbl-form'} do |wlbl_form|
          .dispute-wlbl-adjust-wrapper
            .dropdown-tool-text-divider.primary-text-divider
              Current WBRS Reputation

            %table.dispute_tool_current
              %thead
                %tr
                  %th.content-label-sm Dispute
                  %th.content-label-sm.no-word-break Current WL/BL List
                  %th.text-center.content-label-sm.no-word-break Current WBRS Score
              %tbody

              -# TODO Hook up ability to preview scores based on changes in WL/BL

            .dropdown-tool-text-divider.secondary-text-divider
              Adjust WBRS Reputation

            .inline-tool-content-wrapper
              .row
                .col-xs-2
                  %label.content-label-sm Action
                .col-xs-5
                  %input{type: 'radio', name: 'wlbl-action-radio', id: 'wlbl-add', value: 'wlbl-add', checked: true}
                  %label.radio-label{for: 'wlbl-add'} Add to list
                .col-xs-5
                  %input{type: 'radio', name: 'wlbl-action-radio', id: 'wlbl-remove', value: 'wlbl-remove'}
                  %label.radio-label{for: 'wlbl-remove'} Remove from list

                .row
                  .col-xs-12
                    %label.content-label-sm{for: "wlbl-list-type-select"} Lists
                    .row.dropdown-tool-grey-row
                      .col-xs-5.col-xs-offset-2
                        %ul
                          %li
                            %input.wl-weak-checkbox.wl-bl-list-inline{type: 'checkbox', name: 'wl-bl-list-inline', value: "WL-weak"}
                              WL - Weak
                          %li
                            %input.wl-med-checkbox.wl-bl-list-inline{type: 'checkbox', name: 'wl-bl-list-inline', value: "WL-med"}
                              WL - Medium
                          %li
                            %input.wl-heavy-checkbox.wl-bl-list-inline{type: 'checkbox', name: 'wl-bl-list-inline', value: "WL-heavy"}
                              WL - Heavy
                      .col-xs-5
                        %ul
                          %li
                            %input.bl-weak-checkbox.wl-bl-list-inline{type: 'checkbox', name: 'wl-bl-list-inline', value: "BL-weak"}
                              BL - Weak
                          %li
                            %input.bl-med-checkbox.wl-bl-list-inline{type: 'checkbox', name: 'wl-bl-list-inline', value: "BL-med"}
                              BL - Medium
                          %li
                            %input.bl-heavy-checkbox.wl-bl-list-inline{type: 'checkbox', name: 'wl-bl-list-inline', value: "BL-heavy"}
                              BL - Heavy

              .comment-wrapper
                %label.content-label-sm Comment
                %textarea.dropdown-comment.adjust-wlbl-input.note-input
              .button-row-center
                %button.primary.dropdown-submit-button{type: 'button', disabled: true, onclick:'submit_bulk_wlbl("index");'}
                  Submit Reputation Changes

    %span.dropdown
      %button.toolbar-button.adjust-reptool-button.dropdown-button-margin-right.dropdown-toggle#reptool_index_entries_button.esc-tooltipped{title: 'Adjust RepTool BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false', onclick: 'bulk_get_current_reptool("index");'}
        %span.toolbar-button-text
          Adjust RepTool BL
      .dropdown-menu.toolbar-dropdown#reptool_adjust_entries{'aria-labelledby': 'reptool_entries_button'}
        =form_for :reptool, html: {class: 'adjust-reptool-form'} do |rep_form|
          .dispute-reptool-adjust-wrapper
            .dropdown-tool-text-divider.primary-text-divider
              Current Reptool Classification
            %table.dispute_tool_current
              %thead
                %tr
                  %th.content-label-sm Dispute
                  %th.content-label-sm Active Classes
                  %th.content-label-sm Expiration
                  %th.content-label-sm Comment
              %tbody
            -# Each checked entry will populate information here

            .dropdown-tool-text-divider.secondary-text-divider
              Adjust Reptool Classification

            .inline-tool-content-wrapper
              .row
                .col-xs-12
                  %input{type: 'radio', name: 'reptool-action-radio', id: 'reptool-maintain', value: 'reptool-maintain', checked: true, onclick: 'reptool_form_prep(this, "bulk")'}
                  %label.radio-label{for: 'reptool-maintain'} Maintain current classifications
                  %input{type: 'radio', name: 'reptool-action-radio', id: 'reptool-override', value: 'reptool-override', onclick: 'reptool_form_prep(this, "bulk")'}
                  %label.radio-label{for: 'reptool-override'} Replace current classifications
                  %input{type: 'radio', name: 'reptool-action-radio', id: 'reptool-drop', value: 'reptool-drop', onclick: 'reptool_form_prep(this, "bulk")'}
                  %label.radio-label{for: 'reptool-drop'} Drop all classifications (set entry to EXPIRED)
              %hr.thin.form-divider
              .row.reptool-classifications-row
                .col-xs-12
                  %label.content-label-sm{for: "reptool-class-type-select"} Classifications
                  .row.dropdown-tool-grey-row.nested-radio-row.reptool-class-radio-row
                    .col-xs-6
                      %input{type: 'radio', name: 'reptool-classes-radio', id: 'reptool-classes-add', value: 'add', checked: true}
                      %label.radio-label{for: 'reptool-classes-add'} Add selected classifications
                    .col-xs-6
                      %input{type: 'radio', name: 'reptool-classes-radio', id: 'reptool-classes-remove', value: 'remove'}
                      %label.radio-label{for: 'reptool-classes-remove'} Remove selected classifications
                  %hr.thin.form-divider
                  .row.dropdown-tool-grey-row
                    .col-xs-4
                      %ul
                        %li
                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'attackers', onclick: 'reptool_form_prep(this, "bulk")'}
                            attackers
                        %li
                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'bogon', onclick: 'reptool_form_prep(this, "bulk")'}
                            bogon
                        %li
                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'bots', onclick: 'reptool_form_prep(this, "bulk")'}
                            bots
                        %li
                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'cnc', onclick: 'reptool_form_prep(this, "bulk")'}
                            cnc
                        %li
                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'cryptomining', onclick: 'reptool_form_prep(this, "bulk")'}
                            cryptomining
                    .col-xs-4
                      %ul
                        %li
                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'dga', onclick: 'reptool_form_prep(this, "bulk")'}
                            dga
                        %li
                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'exploitkit', onclick: 'reptool_form_prep(this, "bulk")'}
                            exploitkit
                        %li
                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'malware', onclick: 'reptool_form_prep(this, "bulk")'}
                            malware
                        %li
                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'open_proxy', onclick: 'reptool_form_prep(this, "bulk")'}
                            open_proxy
                        %li
                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'open_relay', onclick: 'reptool_form_prep(this, "bulk")'}
                            open_relay
                    .col-xs-4
                      %ul
                        %li
                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'phishing', onclick: 'reptool_form_prep(this, "bulk")'}
                            phishing
                        %li
                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'response', onclick: 'reptool_form_prep(this, "bulk")'}
                            response
                        %li
                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'spam', onclick: 'reptool_form_prep(this, "bulk")'}
                            spam
                        %li
                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'suspicious', onclick: 'reptool_form_prep(this, "bulk")'}
                            suspicious
                        %li
                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'tor_exit_node', onclick: 'reptool_form_prep(this, "bulk")'}
                            tor_exit_node

              .comment-wrapper
                %label.content-label-sm RepTool Comment
                %textarea.dropdown-comment.adjust-reptool-bl-input.comment-input
                %hr.thin
              .button-row-center
                %button.primary.dropdown-submit-button{type: 'button', onclick: 'submit_bulk_reptool()', disabled: true}
                  Submit Changes
  %div.line-up
    %label.toolbar-section-label
      File
    %form#disputes-index-export-form{action: escalations_webrep_disputes_path(format: :xlsx), method: :get}
      = hidden_field_tag('data_json', '{}', id: 'disputes-index-export-data-input')
      %button.toolbar-button.export-button.esc-tooltipped{title: 'Export to CSV'}
        %span.toolbar-button-text
          Export to CSV
    %button.toolbar-button.export-button.esc-tooltipped{title: 'Export Selected to CSV', onclick: 'webrep_export_selected_rows();'}
      %span.toolbar-button-text
        Export Selected to CSV

