%input{type:'hidden', name: 'token', value: "#{current_user.authentication_token}"}
%input{type:'hidden', name: 'xml_token', value: "#{xml_token}"}
%input{type:'hidden', name: 'current_user', value: "#{current_user.authentication_token}"}


%h1 Research Data
.row
  .col-xs-12
    #research-tab-toolbar.toolbar
      %div
        %label.toolbar-section-label Table View
        %button.toolbar-button.expand-row-button#expand-all-rows
          %span.toolbar-button-text Expand All Rows
        %button.toolbar-button.collapse-button#collapse-all-rows
          %span.toolbar-button-text Collapse All Rows
        -#%span.dropdown
        -#  %button.toolbar-button.sort-by-button#sort-table-by{title: 'Sort Table By', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        -#    %span.toolbar-button-text Sort By
        -#  .dropdown-menu.toolbar-dropdown#sort_by_dropdown{'aria-labelledby': 'sort-table-by'}
        -#    Options to sort by go here.
        -#      Add this later: list of useful fields to sort by, category, entry content, reptool class, WL/BL, WBRS Score, SBRS Score
      - if @dispute.status != 'DUPLICATE'
        %div
          %label.toolbar-section-label Edit
          %button.toolbar-button.edit-button#edit-dispute-entry-button
            %span.toolbar-button-text Edit Dispute Entry
          %span.dropdown
            %button.toolbar-button.add-dispute-entry#add-entries-button.dropdown-toggle{title: 'Add Dispute Entry', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
              %span.toolbar-button-text Add Dispute Entry
            .dropdown-menu.toolbar-dropdown#add_entries_dropdown{'aria-labelledby': 'add-entries-button'}
              .input-group.add-entry-group
                %input{id: 'add_dispute_entry', name: 'dispute_entry_content', class: 'form-control', placeholder: 'Entry Content'}
                  %button{class: 'btn btn-default nav-tool-button', type:'button', id: 'button_add_dispute_entry', onclick: 'add_dispute_entry();'}
                    Submit
              .loading-bar
                .load-bar-segment.hidden
                .load-bar-segment.hidden
                .load-bar-segment.hidden
      - if @dispute.status != 'DUPLICATE'
        %div
          %label.toolbar-section-label Reputation
          %span.dropdown
            %button#wlbl_entries_button.toolbar-button.adjust-wlbl-button.dropdown-toggle{title: 'Adjust WL/BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
              %span.toolbar-button-text Adjust WL/BL
            .dropdown-menu.toolbar-dropdown#wlbl_adjust_entries{'aria-labelledby': 'wlbl_entries_button'}
              -#For each checked checkbox populate this information
              = form_for :wlbl, html: {class: 'adjust-wlbl-form'} do |wlbl_form|
                .dispute-wlbl-adjust-wrapper
                  %table.dispute_tool_current
                    %thead
                      %tr
                        %th.content-label-sm Dispute
                        %th.content-label-sm.no-word-break Current WL/BL List
                        %th.text-center.content-label-sm.no-word-break Current WBRS Score
                    %tbody
                      %tr
                        %td.wlbl-entry-content
                        %td.wlbl-entry-wlbl
                        %td.wlbl-current-entry-wbrs.text-center

                      -#    Removing for now. We can't do a preview until the api is updated to provide that info
                      -#%td.text-center
                      -#  %label.content-label-sm New Score
                      -#  %br
                      -#  %span.new_wbrs_score
                  .inline-tool-content-wrapper
                    .row
                      .col-xs-12
                        %label.content-label-sm{for: "wlbl-list-type-select"} Adjust WL/BL List
                    .row.toggle-offset
                      .col-xs-6
                        %ul.wlbl-toggle-list
                          %li
                            %label.toggle-switch
                              %input.wl-weak-checkbox{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "WL-weak"}
                              %span.toggle-slider
                            WL - Weak
                          %li
                            %label.toggle-switch
                              %input.wl-med-checkbox{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "WL-med"}
                              %span.toggle-slider
                            WL - Medium
                          %li
                            %label.toggle-switch
                              %input.wl-heavy-checkbox{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "WL-heavy"}
                              %span.toggle-slider
                            WL - Heavy
                      .col-xs-6
                        %ul.wlbl-toggle-list
                          %li
                            %label.toggle-switch
                              %input.bl-weak-checkbox{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "BL-weak"}
                              %span.toggle-slider
                            BL - Weak
                          %li
                            %label.toggle-switch
                              %input.bl-med-checkbox{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "BL-med"}
                              %span.toggle-slider
                            BL - Medium
                          %li
                            %label.toggle-switch
                              %input.bl-heavy-checkbox{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "BL-heavy"}
                              %span.toggle-slider
                            BL - Heavy

                    .comment-wrapper
                      %label.content-label-sm Comment
                      %textarea.dropdown-comment.adjust-wlbl-input.note-input
                    .button-row-center
                      %button.primary.dropdown-submit-button{type: 'button', disabled: true, onclick:'toolbar_adust_wlbl_button(this);'}
                        Submit Changes

          %span.dropdown
            %button#reptool_entries_button.toolbar-button.adjust-reptool-button.dropdown-toggle{title: 'Adjust RepTool BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
              %span.toolbar-button-text Adjust RepTool WL/BL
            .dropdown-menu.toolbar-dropdown#reptool_adjust_entries{'aria-labelledby': 'reptool_entries_button'}
              =form_for :reptool, html: {class: 'adjust-reptool-form'} do |rep_form|
                -#For each checked checkbox populate this information
                .dispute-reptool-adjust-wrapper
                  .dispute-name-wrapper
                    %label.content-label-sm Dispute
                    %br
                    %span.entry-dispute-name
                  %table.dispute_tool_current
                    %tr
                      %td
                        %label.content-label-sm Classification
                        %br
                        %span.entry-reptool-class
                      %td
                        %label.content-label-sm Expiration
                        %br
                        %span.entry-reptool-expiration
                  .inline-tool-content-wrapper
                    .toolbar
                      %div
                        %label.toolbar-section-label{for: 'blacklist-action-select'} Status
                        = rep_form.select(:action, ['ACTIVE', 'EXPIRED'],
                          {include_blank: true},
                          class: 'toolbar-select select-status adjust-reptool-bl-input action-input',
                          title: 'RepTool Rule Status',
                          id: "blacklist-action-select")

                      %div
                        %label.toolbar-section-label{for: 'blacklist-classifications-select'} RepTool WL/BL
                        = rep_form.select(:classification, RepApi::Blacklist.classifications,
                          {include_blank: true},
                          class: 'toolbar-select select-rt-rule adjust-reptool-bl-input classifications-input',
                          title: "RepTool BL Rules",
                          id: "blacklist-classifications-select")
                    .comment-wrapper
                      %label.content-label-sm Comment
                      %textarea.dropdown-comment.adjust-reptool-bl-input.comment-input
                    .button-row-center
                      %button.primary.dropdown-submit-button{type: 'button', onclick: 'toolbar_adjust_reptool_bl_button(this)', disabled: true}
                        Submit Changes

      %div
        %label.toolbar-section-label Data
        %button.toolbar-button.sync-button#sync-data-button
          %span.toolbar-button-text Refresh Data

      .edit-button-wrapper.edit-entries-buttons.hidden
        %button.save-all-changes.panel-button.save-button.tooltipped{title: 'Save All Changes',
                                                                     onclick: 'save_dispute_entries();'}
        %button.cancel-changes.panel-button.cancel-button.tooltipped{title: 'Cancel'}

.row
  .col-xs-12
    %table#disputes-research-table.table.table-sm
      %tbody
        - @entries.each do |entry|
          %tr.research-table-row{'data-entry-id': "#{entry.id}"}
            %td.research-table-row-wrapper
              %table
                %tr
                  %td.expandable-row-column
                    %button.expand-row-button-inline{'data-entry-id': "#{entry.id}"}
                  %td
                    %input.dispute_check_box{type: 'checkbox', 'data-entry-id': "#{entry.id}"}
                  %td.dual-edit-field{'data-id': entry.id, 'data-field': 'host'}
                    - if entry[:is_important]
                      %span.entry-data.entry-data-content.entry-important-flag
                        = entry.hostlookup
                    - else
                      %span.entry-data.entry-data-content
                        = entry.hostlookup

                    %input.table-entry-input.wide{type:'text', value: "#{entry.hostlookup}"}
                  %td
                    %label Category
                    - unless entry[:primary_category].nil?
                      = entry[:primary_category]
                    - else
                      %span.missing-data No Data
                  %td
                    %label Hostname
                    - unless entry[:hostname].nil?
                      = entry[:hostname]
                  %td.dual-edit-field{'data-id': entry.id, 'data-field': 'status'}
                    %label Status
                    %span.entry-data
                      - if entry[:status].nil?
                        NEW
                      - else
                        = entry[:status]

                    %span.dropdown
                      %button.inline-select-dropdown.dropdown-toggle.table-entry-input{id: "entry_status_button_#{entry.id}", title: 'Change Entry Status', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
                        - if entry[:status].nil?
                          NEW
                        - else
                          = entry[:status]
                      .dropdown-menu.inline-dropdown-menu{id: "entry_status_button_#{entry.id}", 'aria-labelledby':"entry_status_button_#{entry.id}"}
                        %ul
                          %li.status-radio-wrapper
                            %input.entry-status-radio{type: 'radio', name: 'entry-status', id: 'RESEARCHING'}
                            %label.radio-label{for: "#{DisputeEntry::STATUS_RESEARCHING}"} Researching
                          %li.status-radio-wrapper
                            %input.entry-status-radio{type: 'radio', name: 'entry-status', id: 'ESCALATED'}
                            %label.radio-label{for: "#{DisputeEntry::STATUS_ESCALATED}"} Escalated
                          %li.status-radio-wrapper
                            %input.entry-status-radio{type: 'radio', name: 'entry-status', id: 'CUSTOMER_PENDING'}
                            %label.radio-label{for: "#{DisputeEntry::STATUS_CUSTOMER_PENDING}"} Customer Pending
                          %li.status-radio-wrapper
                            %input.entry-status-radio{type: 'radio', name: 'entry-status', id: 'ON_HOLD'}
                            %label.radio-label{for: "#{DisputeEntry::STATUS_ESCALATED}"} On Hold
                          %li.status-radio-wrapper
                            %input.entry-status-radio.resolution-drodown-menu{type: 'radio', name: 'entry-status', id: 'RESOLVED_CLOSED'}
                            %label.radio-label{for: "#{DisputeEntry::STATUS_RESOLVED}"} Resolved / Closed
                            .dropdown-menu.ticket-resolution-submenu
                              .col-xs-6.submenu-left-wrapper
                                .submenu-header
                                  Ticket Resolution
                                %ul
                                  %li
                                    %input.entry-resolution-radio{type: 'radio', name: 'entry-resolution', id: 'FIXED_FP'}
                                    %label.radio-label{for: "#{DisputeEntry::STATUS_RESOLVED_FIXED_FP}"} Fixed - FP
                                  %li
                                    %input.entry-resolution-radio{type: 'radio', name: 'entry-resolution', id: 'FIXED_FN'}
                                    %label.radio-label{for: "#{DisputeEntry::STATUS_RESOLVED_FIXED_FN}"} Fixed - FN
                                  %li
                                    %input.entry-resolution-radio{type: 'radio', name: 'entry-resolution', id: 'UNCHANGED'}
                                    %label.radio-label{for: "#{DisputeEntry::STATUS_RESOLVED_UNCHANGED}"} Unchanged
                                  %li
                                    %input.entry-resolution-radio{type: 'radio', name: 'entry-resolution', id: 'INVALID'}
                                    %label.radio-label{for: "#{DisputeEntry::STATUS_RESOLVED_INVALID}"} Invalid / Junk Mail
                                  %li
                                    %input.entry-resolution-radio{type: 'radio', name: 'entry-resolution', id: 'TEST_TRAINING'}
                                    %label.radio-label{for: "#{DisputeEntry::STATUS_RESOLVED_TEST}"} Test / Training
                                  %li
                                    %input.entry-resolution-radio{type: 'radio', name: 'entry-resolution', id: 'OTHER'}
                                    %label.radio-label{for: "#{DisputeEntry::STATUS_RESOLVED_OTHER}"} Other
                              .col-xs-6.submenu-right-wrapper
                                .resolution-comment-wrapper
                                  %label.content-label-sm
                                    Comment
                                  %textarea{name: 'resolution-comment'}

                          %li.status-radio-wrapper
                            %input.entry-status-radio{type: 'radio', name: 'entry-status', id: 'RE-OPENED'}
                            %label.radio-label{for: "#{DisputeEntry::STATUS_REOPENED}"} Re-Opened
                  %td
                    - if entry.resolution.nil?
                      %label Resolution
                      %span.missing-data
                        Unresolved
                    - elsif entry.resolution_comment.nil?
                      %label Resolution
                      = entry.resolution
                    - else
                      %span.esc-tooltipped{title: "#{entry.resolution_comment}"}
                        %label Resolution
                        = entry.resolution

                  %td
                    %label As of
                    = entry.dispute_entry_preload&.created_at&.strftime('%F %T')


                  %td.dispute_rep_tools
                    %span.dispute_rep_tools_wrapper
                      %button.dispute-inline-buttons.edit-button.inline-edit-entry-button{'data-entry-id': "#{entry.id}"}
                      %span.dropdown
                        %button.dispute-inline-buttons.adjust-wlbl-button.dropdown-toggle{id: "wlbl_button_#{entry.id}", title: 'Adjust WL/BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
                        .dropdown-menu{id: "wlbl_adjust_#{entry.id}", 'aria-labelledby': "wlbl_button_#{entry.id}"}
                          = form_for :wlbl, html: {class: 'adjust-wlbl-form'} do |wlbl_form|
                            .dispute-wlbl-adjust-wrapper
                              %input.adjust-wlbl-input.dispute-entry-id{type: 'hidden', value: "#{entry.id}"}
                              %h3 Adjust WL/BL
                              %table.dispute_tool_current
                                %tr
                                  %td
                                    %label.content-label-sm Current WL/BL List
                                    %br
                                    - if entry.wbrs_list_type.nil?
                                      %span.missing-data Not currently on a list
                                    - else
                                      %span= entry.wbrs_list_type
                                  %td.text-center
                                    %label.content-label-sm Current WBRS Score
                                    %br
                                    - if entry.wbrs_score.nil?
                                      %span.current-wbrs-score.missing-data
                                        No score.
                                    - else
                                      %span.current-wbrs-score
                                        = entry.wbrs_score

                                  -#    Removing for now. We can't do a preview until the api is updated to provide that info
                                  -#%td.text-center
                                  -#  %label.content-label-sm New Score
                                  -#  %br
                                  -#  %span.new_wbrs_score
                              .inline-tool-content-wrapper
                                .row
                                  .col-xs-12
                                    %label.content-label-sm{for: "entry-#{entry.id}-wlbl-list-type-select"} Adjust WL/BL List
                                - unless entry.wbrs_list_type.nil?
                                  - entry.wbrs_list_type.split(/\s*,\s*/).each do |list|
                                    .row
                                      .col-xs-6
                                        %ul.wlbl-toggle-list
                                          %li
                                            %label.toggle-switch
                                              - if list == 'wl-weak'
                                                %input{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "WL-weak", checked: true}
                                              - else
                                                %input{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "WL-weak"}
                                              %span.toggle-slider
                                            WL - Weak
                                          %li
                                            %label.toggle-switch
                                              - if list == 'wl-med'
                                                %input{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "WL-med", checked: true}
                                              - else
                                                %input{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "WL-med"}
                                              %span.toggle-slider
                                            WL - Medium
                                          %li
                                            %label.toggle-switch
                                              - if list == 'wl-heavy'
                                                %input{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "WL-heavy", checked: true}
                                              - else
                                                %input{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "WL-heavy"}
                                              %span.toggle-slider
                                            WL - Heavy
                                      .col-xs-6
                                        %ul.wlbl-toggle-list
                                          %li
                                            %label.toggle-switch
                                              - if list == 'bl-weak'
                                                %input{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "BL-weak", checked: true}
                                              - else
                                                %input{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "BL-weak"}
                                              %span.toggle-slider
                                            BL - Weak
                                          %li
                                            %label.toggle-switch
                                              - if list == 'bl-med'
                                                %input{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "BL-med", checked: true}
                                              - else
                                                %input{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "BL-med"}
                                              %span.toggle-slider
                                            BL - Medium
                                          %li
                                            %label.toggle-switch
                                              - if list == 'bl-heavy'
                                                %input{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "BL-heavy", checked: true}
                                              - else
                                                %input{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "BL-heavy"}
                                              %span.toggle-slider
                                            BL - Heavy
                                - else
                                  .row
                                    .col-xs-6
                                      %ul.wlbl-toggle-list
                                        %li
                                          %label.toggle-switch
                                            %input{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "WL-weak"}
                                            %span.toggle-slider
                                          WL - Weak
                                        %li
                                          %label.toggle-switch
                                            %input{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "WL-med"}
                                            %span.toggle-slider
                                          WL - Medium
                                        %li
                                          %label.toggle-switch
                                            %input{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "WL-heavy"}
                                            %span.toggle-slider
                                          WL - Heavy
                                    .col-xs-6
                                      %ul.wlbl-toggle-list
                                        %li
                                          %label.toggle-switch
                                            %input{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "BL-weak"}
                                            %span.toggle-slider
                                          BL - Weak
                                        %li
                                          %label.toggle-switch
                                            %input{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "BL-med"}
                                            %span.toggle-slider
                                          BL - Medium
                                        %li
                                          %label.toggle-switch
                                            %input{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "BL-heavy"}
                                            %span.toggle-slider
                                          BL - Heavy

                                .comment-wrapper
                                  %label.content-label-sm Comment
                                  %textarea.dropdown-comment.adjust-wlbl-input.note-input
                                .button-row-center
                                  %button.primary.dropdown-submit-button{type:'button', onclick:'row_adjust_wlbl_button(this);', disabled: true} Submit Changes
                      %span.dropdown
                        %button.dispute-inline-buttons.adjust-reptool-button.dropdown-toggle{id: "reptool_button_#{entry.id}", title: 'Adjust RepTool BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
                        .dropdown-menu{id: "reptool_adjust_#{entry.id}", 'aria-labelledby': "reptool_button_#{entry.id}"}
                          = form_for :reptool, html: {class: 'adjust-reptool-form'} do |rep_form|
                            .dispute-reptool-adjust-wrapper
                              %input.adjust-reptool-bl-input.dispute-entry-id{type: 'hidden', value: "#{entry.id}" }
                              %h3 Adjust RepTool WL/BL
                              %table.dispute_tool_current
                                %tr
                                  %td
                                    %label.content-label-sm Classification
                                    %br
                                    - if entry.classifications.empty?
                                      %span.missing-data Not on RepTool
                                    - else
                                      %span.entry-reptool-class
                                        = entry.classifications.first
                                  %td
                                    %label.content-label-sm Expiration
                                    %br
                                    - if entry.blacklist&.expiration.nil?
                                      %span.missing-data N/A
                                    - else
                                      %span.entry-reptool-expiration
                                        = entry.blacklist&.expiration
                              .inline-tool-content-wrapper
                                .toolbar
                                  %div
                                    %label.toolbar-section-label{for:"entry-#{entry.id}-blacklist-action-select"} Status
                                    -# Need to add an 'N/A' option in the dropdown for if an item has no classifications
                                    -# in RepTool
                                    = rep_form.select(:action, ['Active', 'Expired'],
                                      {selected: entry.blacklist ? 'Active' : 'Expired'},
                                      class: 'toolbar-select select-status adjust-reptool-bl-input action-input',
                                      title: 'RepTool Rule Status',
                                      id: "entry-#{entry.id}-blacklist-action-select")
                                  %div
                                    %label.toolbar-section-label{for: "entry-#{entry.id}-blacklist-classifications-select"} RepTool WL/BL
                                    = rep_form.select(:classification, RepApi::Blacklist.classifications,
                                      {selected: entry.classifications&.first,
                                        include_blank: 'Not on RepTool'},
                                      class: 'toolbar-select select-rt-rule adjust-reptool-bl-input classifications-input',
                                      title: "RepTool BL Rules",
                                      id: "entry-#{entry.id}-blacklist-classifications-select")
                                .comment-wrapper
                                  %label.content-label-sm Comment
                                  %textarea.dropdown-comment.adjust-reptool-bl-input.comment-input
                                .button-row-center
                                  %button.primary.dropdown-submit-button{type: 'button', onclick: 'row_adust_reptool_bl_button(this)'} Submit Changes
                %tr.research-overview-row
                  %td
                    -#Expander area
                  %td.research-table-details-wrapper{colspan: '7'}
                    %table
                      %tr
                        %td.input-col
                          %span.research-table-input-wrapper.wbrs-input-wrapper
                            %input.research-row-checkbox.wbrs-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                          %label WBRS
                        %td.text-center.entry-data-wbrs-score
                          - if entry.wbrs_score.nil?
                            %span.current-wbrs-score.missing-data
                              No score.
                          - else
                            %span.current-wbrs-score
                              = entry.wbrs_score
                        %td
                          %label WBRS Rule Hits
                        %td.text-center
                          = entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "WBRS" }.size
                        %td
                          %label WBRS Rules
                        %td.rule-hits-col-list
                          - entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "WBRS" }.each do |wbrs_hit|
                            - unless RulehitResolutionMailerTemplate.select{|template| template.mnemonic == wbrs_hit.name}.count == 0
                              %a.wbrs-rule-trigger{href: '#', 'data-id': "#{wbrs_hit.id}"}
                                = wbrs_hit.name
                                - unless wbrs_hit.equal? entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "WBRS" }.last
                                  = ","
                            - else
                              = wbrs_hit.name
                              - unless wbrs_hit.equal? entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "WBRS" }.last
                                = ","
                        %td.input-col
                          %span.research-table-input-wrapper.xbrs-input-wrapper
                            %input.research-row-checkbox.xbrs-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                          %label XBRS History
                        %td.text-center
                          - unless entry.hostlookup.nil?
                            = entry.find_xbrs[1]['data'].count
                        %td.input-col
                          %span.research-table-input-wrapper.virus-total-input-wrapper
                            %input.research-row-checkbox.virus-total-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                          %label Virustotal
                        %td.text-center
                          - if entry.virustotals.count == 0
                            %span.missing-data N/A
                          - else
                            = entry.virustotals.count {|vt| vt[:result] != "clean site" && vt[:result] != "unrated site" }
                            \\
                            = entry.virustotals.count

                        %td.left-bordered
                          %label WL/BL
                        %td.entry-data-wlbl
                          - if entry.wbrs_list_type.nil?
                            %span.missing-data Not currently on a list
                          - else
                            = entry.wbrs_list_type

                        %td.left-bordered
                          %label Referenced on
                        %td.referenced-tickets-col
                          - if entry.referenced_tickets.count < 1 
                            %span.missing-data
                              Not on any other tickets
                          - else
                            %span.dropdown
                              %button.show_references.dropdown-toggle.references-dropdown-button{title: 'Referenced on', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
                                = "#{entry.referenced_tickets.count} ticket(s)"
                              .dropdown-menu.references-dropdown{'aria-labelledby': 'show_references'}
                                %table
                                  - entry.referenced_tickets.each do |reference|
                                    %tr
                                      %td
                                        %a{href: "/escalations/webrep/disputes/#{reference.id}"}
                                          = reference.id
                                      %td
                                        = reference.case_opened_at
                      %tr
                        %td.input-col
                          %span.research-table-input-wrapper.sbrs-input-wrapper
                            %input.research-row-checkbox.sbrs-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                          %label SBRS
                        %td.text-center
                          - if entry.sbrs_score.nil?
                            %span.current-sbrs-score.missing-data
                              No score.
                          - else
                            %span.current-sbrs-score
                              = entry.sbrs_score
                        %td
                          %label SBRS Rule Hits
                        %td.text-center
                          = entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "SBRS" }.size
                        %td
                          %label SBRS Rules
                        %td.rule-hits-col-list
                          - entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "SBRS" }.each do |sbrs_hit|
                            - unless RulehitResolutionMailerTemplate.select{|template| template.mnemonic == sbrs_hit.name}.count == 0
                              %a.wbrs-rule-trigger{href: '#', 'data-id': "#{sbrs_hit.id}"}
                                = sbrs_hit.name
                                - unless sbrs_hit.equal? entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "SBRS" }.last
                                  = ","
                            - else
                              = sbrs_hit.name
                              - unless sbrs_hit.equal? entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "SBRS" }.last
                                = ","
                        %td.input-col
                          %span.research-table-input-wrapper.crosslisted-input-wrapper
                            %input.research-row-checkbox.crosslisted-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                          %label Crosslisted URLs
                        %td.text-center
                          = entry.wbrs_xlist.count
                        %td.input-col
                          %span.research-table-input-wrapper.reptool-input-wrapper
                            %input.research-row-checkbox.reptool-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                          %label RepTool Class
                        %td.entry-reptool-data
                          - if entry.classifications.first.nil?
                            %span.missing-data.entry-reptool-class Not on RepTool
                          - else
                            %span.inline-col-breakup.entry-reptool-class
                              = entry.classifications.first
                            %span.inline-col-breakup.entry-reptool-status
                              = entry.blacklist.status
                            %span.inline-col-breakup.entry-reptool-comment
                              = entry.blacklist.metadata['VRT']['comment']
                        %td.left-bordered
                          %label Umbrella
                        %td.text-center
                          = entry.umbrellaresult

                        %td.left-bordered
                          %label Last Submitted
                        %td
                          = entry.last_submitted
                %tr.nested-data-row{'data-entry-id': "#{entry.id}"}
                  %td.expanded-row{colspan: '8'}
                    .expanded-row-data-wrapper
                      .row
                        .col-sm-3
                          .entry-details-table.wbrs-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header WBRS Rule Hit Details
                            - if entry.dispute_rule_hits.select {|rulehit| rulehit.rule_type == "WBRS"}.empty?
                              %table
                                %thead
                                  %tr
                                    %th
                                      %span.missing-data
                                        No rule hits.
                            - else
                              %table
                                %thead
                                  %tr
                                    %th Rule
                                    %th Rule Description
                                    %th Weight
                                %tbody
                                  - entry.dispute_rule_hits.select {|rulehit| rulehit.rule_type == "WBRS"}.each do |wbrs_hit|
                                    %tr
                                      %td= wbrs_hit.name
                                      %td= wbrs_hit.mnemonic
                                      %td
                                        -#Put weight of rule here
                          .entry-details-table.sbrs-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header SBRS Rule Hit Details
                            - if entry.dispute_rule_hits.select {|rulehit| rulehit.rule_type == "SBRS"}.empty?
                              %table
                                %thead
                                  %tr
                                    %th
                                      %span.missing-data
                                        No rule hits.
                            - else
                              %table
                                %thead
                                  %tr
                                    %th Rule
                                    %th Rule Description
                                    %th Weight
                                %tbody
                                  - entry.dispute_rule_hits.select {|rulehit| rulehit.rule_type == "SBRS"}.each do |sbrs_hit|
                                    %tr
                                      %td
                                        - unless RulehitResolutionMailerTemplate.select{|template| template.mnemonic == sbrs_hit.name}.count == 0
                                          %a.wbrs-rule-trigger{href: '#', 'data-id': "#{sbrs_hit.id}"}
                                            = sbrs_hit.name
                                        - else
                                          = sbrs_hit.name
                                      %td= sbrs_hit.mnemonic
                                      %td
                                        -#Put weight of rule here
                          .entry-details-table.virustotal-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header Virustotal Details
                            - if entry.virustotals.empty?
                              %table
                                %thead
                                  %tr
                                    %th
                                      %span.missing-data
                                        No Virustotal data available.
                            - else
                              %table.table-scrollable
                                %thead
                                  %tr
                                    %th AV Vendor
                                    %th Results
                                %tbody
                                  - entry.virustotals.each do |virustotal|
                                    %tr
                                      %td.data-table-emph= virustotal[:name]
                                      - if virustotal[:result] == 'clean site'
                                        %td.clean-site-result Clean
                                      - elsif virustotal[:result] == 'unrated site'
                                        %td.unrated-site-result Unrated
                                      - else
                                        %td.unclean-site-result= virustotal[:result]
                        .col-sm-9
                          .entry-details-table.xbrs-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header XBRS History
                            - if entry.xbrs_data['data'].empty?
                              %table
                                %thead
                                  %tr
                                    %th
                                      %span.missing-data
                                        No XBRS data available.
                            - elsif entry.find_xbrs[1]['data'].count < 8
                              %table
                                %thead
                                  %tr
                                    - entry.xbrs_data['legend'].each do |header|
                                      %th= header
                                %tbody
                                  - unless entry.hostlookup.nil?
                                    - entry.xbrs_data['data'].each do |data|
                                      %tr
                                        - data.each do |datapoint|
                                          %td= datapoint
                            - else
                              %table.table-scrollable
                                %thead
                                  %tr
                                    - entry.xbrs_data['legend'].each do |header|
                                      %th= header
                                %tbody
                                  - unless entry.hostlookup.nil?
                                    - entry.xbrs_data['data'].each do |data|
                                      %tr
                                        - data.each do |datapoint|
                                          %td= datapoint

                          .entry-details-table.crosslisted-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header Cross-listed URLs
                            - if entry.wbrs_xlist.empty?
                              %table
                                %thead
                                  %tr
                                    %th
                                      %span.missing-data
                                        No cross-listed urls.
                            - elsif entry.wbrs_xlist.count < 8
                              %table
                                %thead
                                  %tr
                                    %th ID
                                    %th URL
                                    %th List Type
                                    %th.text-center Current Score
                                    %th Username
                                    %th Last Update
                                    %th Created
                                %tbody
                                  - entry.wbrs_xlist.each do |cross_listed|
                                    %tr
                                      %td= cross_listed.id
                                      %td= cross_listed.url
                                      %td= cross_listed.list_type
                                      %td -
                                      %td= cross_listed.username
                                      %td= cross_listed.mtime
                                      %td= cross_listed.ctime
                            - else
                              %table.table-scrollable
                                %thead
                                  %tr
                                    %th ID
                                    %th URL
                                    %th List Type
                                    %th.text-center Current Score
                                    %th Username
                                    %th Last Update
                                    %th Created
                                %tbody
                                  - entry.wbrs_xlist.each do |cross_listed|
                                    %tr
                                      %td= cross_listed.id
                                      %td= cross_listed.url
                                      %td= cross_listed.list_type
                                      %td -
                                      %td= cross_listed.username
                                      %td= cross_listed.mtime
                                      %td= cross_listed.ctime

                          .entry-details-table.reptool-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header RepTool Details
                            - if entry.blacklist.nil?
                              %table
                                %thead
                                  %tr
                                    %th
                                      %span.missing-data
                                        No blacklist data
                            - else
                              %table
                                %thead
                                  %tr
                                    %th RepTool Class
                                    %th Status
                                    %th Expiration
                                    %th Comment
                                    %th Source
                                    %th First Seen
                                    %th Last Seen
                                %tbody
                                  %tr
                                    %td= entry.classifications.first
                                    %td= entry.blacklist.status
                                    %td= entry.blacklist.expiration
                                    %td= entry.blacklist.metadata['VRT']['comment']
                                    %td= entry.blacklist.primary_source
                                    %td= entry.blacklist.first_seen
                                    %td= entry.blacklist.last_seen



