%input{type:'hidden', name: 'token', value: "#{current_user.authentication_token}"}
%input{type:'hidden', name: 'xml_token', value: "#{xml_token}"}
%input{type:'hidden', name: 'current_user', value: "#{current_user.authentication_token}"}


%h1 Research Data
.row
  .col-xs-12
    .toolbar
      %div
        %label.toolbar-section-label Table View
        %button.toolbar-button.show-col-button
          %span.toolbar-button-text Show / Hide Columns
        %button.toolbar-button.collapse-button
          %span.toolbar-button-text Expand/Collapse Rows
      %div
        %label.toolbar-section-label Edit
        %button.toolbar-button.edit-button#edit-dispute-entry-button
          %span.toolbar-button-text Edit Dispute Entry
        %button.toolbar-button.add-dispute-entry
          %span.toolbar-button-text Add Dispute Entry
      %div
        %label.toolbar-section-label Reputation
        %span.dropdown
          %button#wlbl_entries_button.toolbar-button.adjust-wlbl-button.dropdown-toggle{title: 'Adjust WL/BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
            %span.toolbar-button-text Adjust WBRS WL/BL
          .dropdown-menu.toolbar-dropdown#wlbl_adjust_entries{'aria-labelledby': 'wlbl_entries_button'}
            -#For each checked checkbox populate this information
            = form_for :wlbl, html: {class: 'adjust-wlbl-form'} do |wlbl_form|
              .dispute-name-wrapper
                %label.content-label-sm Dispute
                -#dispute name
                paragon-downloads.com
              %table.dispute_tool_current
                %tr
                  %td
                    %label.content-label-sm Current Score
                    -#Put current dispute entry WBRS score here
                    8.7
                  %td
                    %label.content-label-sm New Score
                    %span#new_wbrs_score
              .inline-tool-content-wrapper
                .toolbar
                  %div
                    %label.toolbar-section-label{for:'wlbl-list-type-select'} WL/BL List
                    = wlbl_form.select :list_type, Wbrs::ManualWlbl.types,
                      {include_blank: 'Not on a List Currently'},
                      class: 'toolbar-select select-status adjust-wlbl-input trgt_list-input',
                      title: 'RepTool Rule Status',
                      id: "wlbl-list-type-select"

                %label.content-label-sm Comment
                -#Comment boxes should only be shown after something other than the original settings is selected
                %textarea.dropdown-comment.adjust-wlbl-input.note-input
                -#End of per checked checkbox loop
                %button.secondary{type: 'button'} Preview
                %button.primary{type: 'button', onclick:'toolbar_adust_wlbl_button(this);'} Submit Changes

        %span.dropdown
          %button#reptool_entries_button.toolbar-button.adjust-reptool-button.dropdown-toggle{title: 'Adjust RepTool BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
            %span.toolbar-button-text Adjust RepTool BL
          .dropdown-menu.toolbar-dropdown#reptool_adjust_entries{'aria-labelledby': 'reptool_entries_button'}
            =form_for :reptool, html: {class: 'adjust-reptool-form'} do |rep_form|
              -#For each checked checkbox populate this information
              .dispute-name-wrapper
                %label.content-label-sm Dispute
                -#<!-- dispute name -->
                paragon-downloads.com
              %table.dispute_tool_current
                %tr
                  %td
                    %label.content-label-sm
                      Classification
                    -# Put Reptool classification of the entry here if there is any -->
                    Spam
                  %td
                    %label.content-label-sm
                      Expiration
                    -# If the entry item has a reptool class (rule), that goes above, the expiration of that class goes here.
                    2018-06-02T13:12:48

              .inline-tool-content-wrapper
                .toolbar
                  %div
                    %label.toolbar-section-label{for: 'blacklist-action-select'} Status
                    = rep_form.select(:action, ['Active', 'Expired'],
                      {include_blank: true},
                      class: 'toolbar-select select-status adjust-reptool-bl-input action-input',
                      title: 'RepTool Rule Status',
                      id: "blacklist-action-select")

                  %div
                    %label.toolbar-section-label{for: 'blacklist-classifications-select'} RepTool BL
                    = rep_form.select(:classification, RepApi::Blacklist.classifications,
                      {include_blank: true},
                      class: 'toolbar-select select-rt-rule adjust-reptool-bl-input classifications-input',
                      title: "RepTool BL Rules",
                      id: "blacklist-classifications-select")

                %label.content-label-sm Comment
                %textarea.dropdown-comment.adjust-reptool-bl-input.comment-input
                -#<!--- End of per checked checkbox loop -->
                %button.primary{type: 'button', onclick: 'toolbar_adjust_reptool_bl_button(this)'}
                  Submit Changes

      .edit-button-wrapper.edit-entries-buttons.hidden
        %button.save-all-changes.panel-button.save-button.tooltipped{title: 'Save All Changes'}
        %button.cancel-changes.panel-button.cancel-button.tooltipped{title: 'Cancel'}

.row
  .col-xs-12
    %table#disputes-research-table.table.table-sm
      %tbody
        - @entries.each do |entry|
          %tr.research-table-row{'data-entry-id': "#{entry.id}"}
            %td.research-table-row-wrapper
              %table
                %tr
                  %td.expandable-row-column
                    %button.expand-row-button-inline{'data-entry-id': "#{entry.id}"}
                  %td
                    %input.dispute_check_box{type: 'checkbox', 'data-entry-id': "#{entry.id}"}
                  %td
                    %span.entry-data
                      - unless entry[:ip_address].nil?
                        = entry[:ip_address]
                      - unless entry[:uri].nil?
                        = entry[:uri]
                    %input.table-entry-input.wide{value: "#{entry.ip_address}"}
                  %td
                    %label Category
                    - unless entry[:primary_category].nil?
                      = entry[:primary_category]
                    - else
                      %span.missing-data No Data
                  %td
                    %label Hostname
                    - unless entry[:hostname].nil?
                      = entry[:hostname]
                  %td
                    %label Status
                    %span.entry-data
                      - unless entry[:status].nil?
                        = entry[:status]
                    %input.table-entry-input{value: "#{entry.status}"}
                  %td.dispute_rep_tools
                    %span.dispute_rep_tools_wrapper
                      %button.dispute-inline-buttons.edit-button
                      %span.dropdown
                        %button.dispute-inline-buttons.adjust-wlbl-button.dropdown-toggle{id: "wlbl_button_#{entry.id}", title: 'Adjust WL/BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
                        .dropdown-menu{id: "wlbl_adjust_#{entry.id}", 'aria-labelledby': "wlbl_button_#{entry.id}"}
                          = form_for :wlbl, html: {class: 'adjust-wlbl-form'} do |wlbl_form|
                            %input.adjust-wlbl-input.dispute-entry-id{type: 'hidden', value: "#{entry.id}"}
                            %h3 Adjust WL/BL
                            %table.dispute_tool_current
                              %tr
                                %td
                                  %label.content-label-sm Current Score
                                  -#<!-- Put current WBRS score here -->
                                  8.7
                                %td
                                  %label.content-label-sm New Score
                                  %span#new_wbrs_score
                            .inline-tool-content-wrapper
                              .toolbar
                                %div
                                  %label.toolbar-section-label{for: "entry-#{entry.id}-wlbl-list-type-select"} WL/BL List
                                  = wlbl_form.select :list_type, Wbrs::ManualWlbl.types,
                                   {selected: entry.wbrs_list_type,
                                     include_blank: 'Not on a List Currently'},
                                   class: 'toolbar-select select-status adjust-wlbl-input trgt_list-input',
                                   title: 'RepTool Rule Status',
                                   id: "entry-#{entry.id}-wlbl-list-type-select"


                              %label.content-label-sm Comment
                              %textarea.dropdown-comment.adjust-wlbl-input.note-input
                              %button.secondary Preview
                              %button.primary{type:'button', onclick:'row_adust_wlbl_button(this);'} Submit Changes
                      %span.dropdown
                        %button.dispute-inline-buttons.adjust-reptool-button.dropdown-toggle{id: "reptool_button_#{entry.id}", title: 'Adjust RepTool BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
                        .dropdown-menu{id: "reptool_adjust_#{entry.id}", 'aria-labelledby': "reptool_button_#{entry.id}"}
                          = form_for :reptool, html: {class: 'adjust-reptool-form'} do |rep_form|
                            %input.adjust-reptool-bl-input.dispute-entry-id{type: 'hidden', value: "#{entry.id}" }
                            %h3 Adjust RepTool BL
                            %table.dispute_tool_current
                              %tr
                                %td
                                  %label.content-label-sm Classification
                                  = entry.classifications.first
                                %td
                                  %label.content-label-sm Expiration
                                  = entry.blacklist&.expiration
                            .inline-tool-content-wrapper
                              .toolbar
                                %div
                                  %label.toolbar-section-label{for:"entry-#{entry.id}-blacklist-action-select"} Status
                                  = rep_form.select(:action, ['Active', 'Expired'],
                                    {selected: entry.blacklist ? 'Active' : 'Expired'},
                                    class: 'toolbar-select select-status adjust-reptool-bl-input action-input',
                                    title: 'RepTool Rule Status',
                                    id: "entry-#{entry.id}-blacklist-action-select")
                                %div
                                  %label.toolbar-section-label{for: "entry-#{entry.id}-blacklist-classifications-select"} RepTool BL
                                  = rep_form.select(:classification, RepApi::Blacklist.classifications,
                                    {selected: entry.classifications&.first,
                                      include_blank: !entry.blacklist},
                                    class: 'toolbar-select select-rt-rule adjust-reptool-bl-input classifications-input',
                                    title: "RepTool BL Rules",
                                    id: "entry-#{entry.id}-blacklist-classifications-select")

                              %label.content-label-sm Comment
                              %textarea.dropdown-comment.adjust-reptool-bl-input.comment-input
                              %button.primary{type: 'button', onclick: 'row_adust_reptool_bl_button(this)'} Submit Changes
                %tr.research-overview-row
                  %td
                    -#Expander area
                  %td.research-table-details-wrapper{colspan: '7'}
                    %table
                      %tr
                        %td.input-col
                          %span.research-table-input-wrapper.wbrs-input-wrapper
                            %input.research-row-checkbox.wbrs-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                          %label WBRS
                        %td.text-center= entry.wbrs_score
                        %td
                          %label WBRS Rule Hits
                        %td.text-center
                          = entry.dispute_rule_hits.where(:rule_type => "WBRS").count
                        %td
                          %label WBRS Rules
                        %td.rule-hits-col-list
                          - entry.dispute_rule_hits.where(:rule_type => "WBRS").each do |wbrs_hit|
                            = wbrs_hit.name + ', '
                        %td.input-col
                          %span.research-table-input-wrapper.xbrs-input-wrapper
                            %input.research-row-checkbox.xbrs-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                          %label XBRS History
                        %td.text-center
                          -#Number of xbrs results
                          1
                        %td.input-col
                          %span.research-table-input-wrapper.virus-total-input-wrapper
                            %input.research-row-checkbox.virus-total-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                          %label Virus Total
                        %td.text-center
                          -#Total hits on Virus Total
                          1
                        %td.left-bordered
                          %label WL/BL
                        %td
                          -#WL/BL List
                          WL Medium
                        %td.left-bordered
                          %label Referenced on
                        %td
                          -#Add dropdown with links to all cases / tickets with this entry on them
                          12 Tickets
                      %tr
                        %td.input-col
                          %span.research-table-input-wrapper.sbrs-input-wrapper
                            %input.research-row-checkbox.sbrs-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                          %label SBRS
                        %td.text-center= entry.sbrs_score
                        %td
                          %label SBRS Rule Hits
                        %td.text-center
                          = entry.dispute_rule_hits.where(:rule_type => "SBRS").count
                        %td
                          %label SBRS Rules
                        %td.rule-hits-col-list
                          - entry.dispute_rule_hits.where(:rule_type => "SBRS").each do |sbrs_hit|
                            = sbrs_hit.name + ', '
                        %td.input-col
                          %span.research-table-input-wrapper.crosslisted-input-wrapper
                            %input.research-row-checkbox.crosslisted-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                          %label Crosslisted URLs
                        %td.text-center
                          -#Number of url results
                          1
                        %td.input-offset.left-bordered
                          %label Umbrella
                        %td.text-center
                          -#Disposition on Umbrella
                          Clean
                        %td.left-bordered
                          %label RepTool Class
                        %td
                          -#WL/BL List
                          %span.inline-col-breakup Spam
                          %span.inline-col-breakup ACTIVE
                          %span.inline-col-breakup Juno Spam Monitor
                        %td.left-bordered
                          %label Last Submitted
                        %td
                          -#Add dropdown with links to all cases / tickets with this entry on them
                          2016-02-24 15:11:22
                %tr.nested-data-row{'data-entry-id': "#{entry.id}"}
                  %td.expanded-row{colspan: '8'}
                    .expanded-row-data-wrapper
                      .row
                        .col-sm-3
                          .entry-details-table.wbrs-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header WBRS Rule Hit Details
                            %table
                              %thead
                                %tr
                                  %th Rule
                                  %th Rule Description
                                  %th Weight
                              %tbody
                                - entry.dispute_rule_hits.where(:rule_type => "WBRS").each do |wbrs_hit|
                                  %tr
                                    %td= wbrs_hit.name
                                    %td= wbrs_hit.mnemonic
                                    %td
                                      -#Put weight of rule here
                          .entry-details-table.sbrs-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header SBRS Rule Hit Details
                            %table
                              %thead
                                %tr
                                  %th Rule
                                  %th Rule Description
                                  %th Weight
                              %tbody
                                - entry.dispute_rule_hits.where(:rule_type => "SBRS").each do |sbrs_hit|
                                  %tr
                                    %td= sbrs_hit.name
                                    %td= sbrs_hit.mnemonic
                                    %td
                                      -#Put weight of rule here
                          .entry-details-table.virustotal-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header Virus Total Details
                            %table
                              %thead
                                %tr
                                  %th AV Vendor
                                  %th Results
                              %tbody
                                %tr
                                  %td Vendor Name
                                  %td Clean or not
                        -#Put weight of rule here
                        .col-sm-9
                          .entry-details-table.xbrs-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header XBRS History
                            %table
                              %thead
                                %tr
                                  - entry.find_xbrs[1]['legend'].each do |header|
                                    %th= header
                              %tbody
                                - unless entry.uri.nil?
                                  - entry.find_xbrs[1]['data'].each do |data|
                                    %tr
                                      - data.each do |datapoint|
                                        %td= datapoint

                          .entry-details-table.crosslisted-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header Cross-listed URLs
                            %table
                              %thead
                                %tr
                                  %th ID
                                  %th URL
                                  %th List Type
                                  %th.text-center Current Score
                                  %th Username
                                  %th Last Update
                                  %th Created
                              %tbody
                                - entry.wbrs_xlist.each do |cross_listed|
                                  %tr
                                    %td= cross_listed.id
                                    %td= cross_listed.url
                                    %td= cross_listed.list_type
                                    %td -
                                    %td= cross_listed.username
                                    %td= cross_listed.mtime
                                    %td= cross_listed.ctime
