%ul
  %li
    %input.ticket-resolution-radio{type: 'radio', name: dispute_resolution_name, id: "#{id_prefix}FIXED_FP", value: 'FIXED_FP'}
    %label.ticket-res-radio-label.radio-label{for: "#{id_prefix}FIXED_FP"} Fixed - FP
  %li
    %input.ticket-resolution-radio{type: 'radio', name: dispute_resolution_name, id: "#{id_prefix}FIXED_FN", value: 'FIXED_FN'}
    %label.ticket-res-radio-label.radio-label{for: "#{id_prefix}FIXED_FN"} Fixed - FN
  %li
    %input.ticket-resolution-radio{type: 'radio', name: dispute_resolution_name, id: "#{id_prefix}UNCHANGED", value: 'UNCHANGED'}
    %label.ticket-res-radio-label.radio-label{for: "#{id_prefix}UNCHANGED"} Unchanged
  %li
    %input.ticket-resolution-radio{type: 'radio', name: dispute_resolution_name, id: "#{id_prefix}INVALID", value: 'INVALID'}
    %label.ticket-res-radio-label.radio-label{for: "#{id_prefix}INVALID"} Invalid / Junk Mail
  %li
    %input.ticket-resolution-radio{type: 'radio', name: dispute_resolution_name, id: "#{id_prefix}TEST_TRAINING", value: 'TEST_TRAINING'}
    %label.ticket-res-radio-label.radio-label{for: "#{id_prefix}TEST_TRAINING"} Test / Training
  %li
    %input.ticket-resolution-radio{type: 'radio', name: dispute_resolution_name, id: "#{id_prefix}OTHER", value: 'OTHER'}
    %label.ticket-res-radio-label.radio-label{for: "#{id_prefix}OTHER"} Other