%input{type:'hidden', name: 'token', value: "#{current_user.authentication_token}"}
%input{type:'hidden', name: 'xml_token', value: "#{xml_token}"}
%input{type:'hidden', name: 'current_user', value: "#{current_user.authentication_token}"}


%h1 Research Data
.row
  .col-xs-12

    #research-tab-toolbar.toolbar
      %div
        %label.toolbar-section-label Table View
        %button.toolbar-button.expand-row-button.toolbar-button-spacer#expand-all-rows
          %span.toolbar-button-text Expand All Rows
        %button.toolbar-button.collapse-button#collapse-all-rows
          %span.toolbar-button-text Collapse All Rows
      - if (@dispute.resolution != Dispute::DUPLICATE) && (@dispute.status != Dispute::RESOLVED)
        %div
          %label.toolbar-section-label Edit
          %button.toolbar-button.edit-button#edit-dispute-entry-button.esc-tooltipped{title: 'Edit Dispute Entry'}
            %span.toolbar-button-text Edit Dispute Entry
          %span.dropdown
            %button.toolbar-button.add-dispute-entry#add-entries-button.dropdown-toggle.esc-tooltipped.dropdown-button-margin-left{title: 'Add Dispute Entry', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
              %span.toolbar-button-text Add Dispute Entry
            .dropdown-menu.toolbar-dropdown#add_entries_dropdown{'aria-labelledby': 'add-entries-button'}
              .input-group.add-entry-group
                %input{id: 'add_dispute_entry', name: 'dispute_entry_content', class: 'form-control', placeholder: 'Entry Content'}
                  %button{class: 'btn btn-default nav-tool-button', type:'button', id: 'button_add_dispute_entry', onclick: 'add_dispute_entry();'}
                    Submit
              .loading-bar
                .load-bar-segment.hidden
                .load-bar-segment.hidden
                .load-bar-segment.hidden
          %span.dropdown
            %button#research-convert-to-webcat.convert-ticket-button.toolbar-button.dropdown-button-margin-left{onclick: 'prep_dispute_to_convert_from_research();', type: 'button', title: 'Convert ticket to web categorization ticket', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
              %span.toolbar-button-text Convert to Webcat
            .dropdown-menu.toolbar-dropdown#webrep-convert-ticket-dropdown{'aria-labelledby': 'move-to-webcat'}
              .dropdown-tool-text-divider.primary-text-divider Convert to Categorization Dispute
              .inline-tool-content-wrapper
                .dropdown-loader-wrapper.hidden
                  .gear-loader-wrapper
                    = inline_svg 'icon_gears_loader.svg', class: 'gears-loader'

                %label.content-label-sm
                  Ticket ID to Convert:
                %span.ticket-id-to-convert#dispute-id-to-convert

                %label.content-label-sm
                  Ticket Entries:
                  %span.convert-entry-count
                .convert-entry-table-wrapper
                  %table#entries-to-convert.complaint-entries-to-convert
                    %thead
                      %tr
                        %th Entry ID
                        %th Entry Content
                        %th Current Categories
                        %th.text-right Suggested Categories
                    %tbody

                %hr.thin
                .comment-wrapper
                  %label.content-label-sm{for: '#convert-ticket-summary'} Ticket Summary
                  %textarea#convert-ticket-summary.dropdown-comment.note-input
                .button-row-center
                  %button#convert-webrep-ticket-dropdown.primary.dropdown-submit-button{type: 'button', onclick:'convert_dispute_to_webcat();', disabled: 'disabled'}
                    Convert Ticket

      - if (@dispute.resolution != Dispute::DUPLICATE) && (@dispute.status != Dispute::RESOLVED)
        %div
          %label.toolbar-section-label Reputation
          %span.dropdown
            %button#wlbl_entries_button.toolbar-button.adjust-wlbl-button.dropdown-toggle.esc-tooltipped.toolbar-button-spacer{title: 'Adjust WL/BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false', onclick: 'bulk_get_current_wlbl("show")'}
              %span.toolbar-button-text Adjust WL/BL
            .dropdown-menu.toolbar-dropdown#wlbl_adjust_entries{'aria-labelledby': 'wlbl_entries_button'}
              = form_for :wlbl, html: {class: 'adjust-wlbl-form bulk-wlbl-form'} do |wlbl_form|
                .dispute-wlbl-adjust-wrapper
                  .dropdown-tool-text-divider.primary-text-divider
                    Current WBRS Reputation

                  %table.dispute_tool_current
                    %thead
                      %tr
                        %th.content-label-sm Dispute
                        %th.content-label-sm.no-word-break Current WL/BL List
                        %th.text-center.content-label-sm.no-word-break Current WBRS Score
                        %th.content-label-sm.no-word-break.th-threat-cat Threat Category
                    %tbody

                  .dropdown-tool-text-divider.secondary-text-divider
                    Adjust WBRS Reputation

                  .inline-tool-content-wrapper
                    .row
                      .col-xs-3
                        %input{type: 'radio', name: 'wlbl-action-radio', id: 'wlbl-add', value: 'wlbl-add', checked: true}
                        %label.radio-label{for: 'wlbl-add'} Add to list
                      .col-xs-4
                        %input{type: 'radio', name: 'wlbl-action-radio', id: 'wlbl-remove', value: 'wlbl-remove'}
                        %label.radio-label{for: 'wlbl-remove'} Remove from list
                      .col-xs-5.replace-tc-radio.hidden
                        %input{type: 'radio', name: 'wlbl-action-radio', id: 'wlbl-replace', value: 'wlbl-replace'}
                        %label.radio-label{for: 'wlbl-replace'} Replace threat categories

                    .row.tc-replace-note.hidden
                      .col-xs-12
                        %span NOTE: Submitting zero threat categories removes associated blacklists too.

                    .row.lists-row
                      .col-xs-12
                        %label.content-label-sm{for: "wlbl-list-type-select"} Lists
                        .row.dropdown-tool-grey-row
                          .col-xs-4
                            %ul
                              %li
                                %input.wl-weak-checkbox.wl-bl-list-inline{type: 'checkbox', name: 'wl-bl-list-inline', value: "WL-weak"} WL - Weak
                              %li
                                %input.bl-weak-checkbox.wl-bl-list-inline{type: 'checkbox', name: 'wl-bl-list-inline', value: "BL-weak"} BL - Weak
                          .col-xs-4
                            %ul
                              %li
                                %input.wl-med-checkbox.wl-bl-list-inline{type: 'checkbox', name: 'wl-bl-list-inline', value: "WL-med"} WL - Medium
                              %li
                                %input.bl-med-checkbox.wl-bl-list-inline{type: 'checkbox', name: 'wl-bl-list-inline', value: "BL-med"} BL - Medium
                          .col-xs-4
                            %ul
                              %li
                                %input.wl-heavy-checkbox.wl-bl-list-inline{type: 'checkbox', name: 'wl-bl-list-inline', value: "WL-heavy"} WL - Heavy
                              %li
                                %input.bl-heavy-checkbox.wl-bl-list-inline{type: 'checkbox', name: 'wl-bl-list-inline', value: "BL-heavy"} BL - Heavy

                    -# threat cats row (1 of 2 for this file)
                    .row.dropdown-tool-grey-row.threat-cat-row.hidden
                      .threat-cat-note
                        %label.content-label-sm
                          Threat Categories
                          %span.threat-cat-required
                            *Required for adding to any blacklist.
                            %span.five-note Up to 5 can be selected
                      .threat-cat-area
                        .row
                        - Wbrs::ThreatCategory.selections.each do |label, value|
                          .col-md-6.threat-cat-cell
                            = wlbl_form.check_box(:thrt_cat_id, {id: nil, class: "wlbl_thrt_cat_id wlbl_thrt_cat_id_#{value}"}, value)
                            = label

                    .comment-wrapper
                      %label.content-label-sm WL/BL Comment
                      %textarea.dropdown-comment.adjust-wlbl-input.note-input
                    .button-row-center
                      %button.primary.dropdown-submit-button{type: 'button', onclick:'submit_bulk_wlbl("show");', disabled: true}
                        Submit Reputation Changes

          %span.dropdown
            %button#reptool_entries_button.toolbar-button.adjust-reptool-button.dropdown-toggle.esc-tooltipped{title: 'Adjust RepTool BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false', onclick: 'bulk_get_current_reptool("show");'}
              %span.toolbar-button-text Adjust RepTool BL
            .dropdown-menu.toolbar-dropdown#reptool_adjust_entries{'aria-labelledby': 'reptool_entries_button'}
              =form_for :reptool, html: {class: 'adjust-reptool-form'} do |rep_form|
                .dispute-reptool-adjust-wrapper
                  .dropdown-tool-text-divider.primary-text-divider
                    Current Reptool Classification
                  %table.dispute_tool_current
                    %thead
                      %tr
                        %th.content-label-sm.th-reptool-dispute Dispute
                        %th.content-label-sm.th-reptool-active-classes Active Classes
                        %th.content-label-sm.th-reptool-expiration Expiration
                        %th.content-label-sm.th-reptool-comment Comment
                    %tbody
                      -# Each checked entry will populate information here

                  .dropdown-tool-text-divider.secondary-text-divider
                    .inline-text Adjust RepTool Classification
                    .inline-label-wrapper.float-right
                      %input#reptool-toolbar-force.reptool-toolbar-force{type: 'checkbox', name: 'force', value: true}
                      %label{for: "reptool-toolbar-force"} Force commit

                  .inline-tool-content-wrapper
                    .row
                      .col-xs-12
                        %input{type: 'radio', name: 'reptool-action-radio', id: 'reptool-maintain', value: 'reptool-maintain', checked: true, onclick: 'reptool_form_prep(this, "bulk")'}
                        %label.radio-label{for: 'reptool-maintain'} Maintain current classifications
                        %input{type: 'radio', name: 'reptool-action-radio', id: 'reptool-override', value: 'reptool-override', onclick: 'reptool_form_prep(this, "bulk")'}
                        %label.radio-label{for: 'reptool-override'} Replace current classifications
                        %input{type: 'radio', name: 'reptool-action-radio', id: 'reptool-drop', value: 'reptool-drop', onclick: 'reptool_form_prep(this, "bulk")'}
                        %label.radio-label{for: 'reptool-drop'} Drop all classifications (set entry to EXPIRED)
                    %hr.thin.form-divider
                    .row.reptool-classifications-row
                      .col-xs-12
                        %label.content-label-sm{for: 'reptool-class-type-select'} Classifications
                        .row.dropdown-tool-grey-row.nested-radio-row.reptool-class-radio-row
                          .col-xs-6
                            %input{type: 'radio', name: 'reptool-classes-radio', id: 'reptool-classes-add', value: 'add', checked: true}
                            %label.radio-label{for: 'reptool-classes-add'} Add selected classifications
                          .col-xs-6
                            %input{type: 'radio', name: 'reptool-classes-radio', id: 'reptool-classes-remove', value: 'remove'}
                            %label.radio-label{for: 'reptool-classes-remove'} Remove selected classifications
                        %hr.thin.form-divider
                        .row.dropdown-tool-grey-row.checkbox-wrapper-row
                          .col-xs-4
                            %ul
                              %li
                                %input.reptool-class-cb.reptool-cb-attackers{type: 'checkbox', name: 'classification', value: 'attackers', onclick: 'reptool_form_prep(this, "bulk")'}
                                  attackers
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'banking_fraud', onclick: 'reptool_form_prep(this, "bulk")'}
                                  banking_fraud
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'bogon', onclick: 'reptool_form_prep(this, "bulk")'}
                                  bogon
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'bots', onclick: 'reptool_form_prep(this, "bulk")'}
                                  bots
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'cnc', onclick: 'reptool_form_prep(this, "bulk")'}
                                  cnc
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'cryptomining', onclick: 'reptool_form_prep(this, "bulk")'}
                                  cryptomining
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'dga', onclick: 'reptool_form_prep(this, "bulk")'}
                                  dga
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'exploitkit', onclick: 'reptool_form_prep(this, "bulk")'}
                                  exploitkit
                          .col-xs-4
                            %ul
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'high_risk', onclick: 'reptool_form_prep(this, "bulk")'}
                                  high_risk
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'ioc', onclick: 'reptool_form_prep(this, "bulk")'}
                                  ioc
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'link_sharing', onclick: 'reptool_form_prep(this, "bulk")'}
                                  link_sharing
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'malicious', onclick: 'reptool_form_prep(this, "bulk")'}
                                  malicious
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'malware', onclick: 'reptool_form_prep(this, "bulk")'}
                                  malware
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'newly_seen', onclick: 'reptool_form_prep(this, "bulk")'}
                                  newly_seen
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'open_proxy', onclick: 'reptool_form_prep(this, "bulk")'}
                                  open_proxy
                          .col-xs-4
                            %ul
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'open_relay', onclick: 'reptool_form_prep(this, "bulk")'}
                                  open_relay
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'phishing', onclick: 'reptool_form_prep(this, "bulk")'}
                                  phishing
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'response', onclick: 'reptool_form_prep(this, "bulk")'}
                                  response
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'spam', onclick: 'reptool_form_prep(this, "bulk")'}
                                  spam
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'spyware', onclick: 'reptool_form_prep(this, "bulk")'}
                                  spyware
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'suspicious', onclick: 'reptool_form_prep(this, "bulk")'}
                                  suspicious
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'tor_exit_node', onclick: 'reptool_form_prep(this, "bulk")'}
                                  tor_exit_node

                    .comment-wrapper
                      %label.content-label-sm RepTool Comment
                      %textarea.dropdown-comment.adjust-reptool-bl-input.comment-input.typed-in-comment-bulk{placeholder: 'Reason behind this change...'}
                      .reptool-generated-comment
                    .button-row-center
                      %button.primary.dropdown-submit-button{type: 'button', onclick: 'submit_bulk_reptool();'}
                        Submit Changes

      %div
        %label.toolbar-section-label Data
        %button.toolbar-button.sync-button#sync-data-button.toolbar-button-spacer
          %span.toolbar-button-text Refresh Data
        %form#dispute_research_export_form{action: export_escalations_webrep_dispute_path(@dispute, format: :csv), method: 'get'}
          %button.toolbar-button.export-button
            %span.toolbar-button-text Export
        %button.toolbar-button.export-button.esc-tooltipped.toolbar-button-spacer{title: 'Export Selected to CSV', onclick: 'webrep_research_export_selected_rows();'}
          %span.toolbar-button-text Export Selected to CSV

        - if @entries.blank? && @dispute.bridge_packet.present?
          %button.toolbar-button.ping-button.esc-tooltipped{title: 'Entry Recovery - Ping bridge to grab missing Entry content', onclick: "dispute_entry_recovery(#{@dispute.id});"}
            %span.toolbar-button-text Dispute Entry Recovery

      .edit-button-wrapper.edit-entries-buttons.hidden
        %button.save-all-changes.panel-button.save-button.tooltipped{title: 'Save All Changes',
                                                                     onclick: 'save_dispute_entries();'}
        %button.cancel-changes.panel-button.cancel-button.tooltipped{title: 'Cancel'}

.row
  .col-xs-12
    %table#disputes-research-table.table.table-sm
      %tbody
        - @entries.each_with_index do |entry, index|
          %tr.research-table-row{'data-entry-id': "#{entry.id}", id: "entry-data-wrapper_#{entry.id}"}
            %td.research-table-row-wrapper
              %table
                %tr.research-first-row
                  %td.expandable-row-column.expandable-cell{rowspan: '2'}
                    %button.expand-row-button-inline{'data-entry-id': "#{entry.id}"}
                  %td.cb-cell{rowspan: '2'}
                    %input.dispute_check_box{type: 'checkbox', 'data-entry-id': "#{entry.id}", class: "dispute-entry-cb-#{entry.id}"}
                  -if entry[:is_important]
                    %td
                      %span.entry-important-flag
                  %td.dual-edit-field.url-cell{'data-id': entry.id, 'data-field': 'host'}
                    %span.entry-data.entry-data-content
                      = entry.hostlookup
                    %input.table-entry-input.wide{type:'text', value: "#{entry.hostlookup}"}

                  -# if entry = uri and there are no resolved ips
                  - if entry.uri? && entry[:web_ips].blank?
                    %td.single-button-col.no-padding{colspan: '2'}
                      %span.dropdown
                        %button.add-ip-button.inline-button.esc-tooltipped{id: "add_ip_button_#{entry.id}", title: 'Add host IP addresses', 'aria-expanded': 'false', 'aria-haspopup': 'true', 'data-toggle': 'dropdown'}
                        %div.dropdown-menu.toolbar-dropdown.add-ip-dropdown{id: "add_ip_dropdown_#{entry.id}", 'aria-labelledby': "add_ip_button_#{entry.id}"}
                          %form.add-host-ips
                            .inline-tool-content-wrapper
                              .row
                                .col-sm-12
                                  %label.content-label-sm IP Addresses
                                  %textarea.add-ip-input
                              .button-row-center
                                %button.primary.dropdown-submit-button{type: 'button', onclick: 'add_host_ips(this)', 'data-entry-id': "#{entry.id}"} Submit Query
                  - else
                    - if !entry[:is_important]
                      %td.no-padding
                    - if !entry[:hostname].nil?
                      %td.hostname-cell
                        %label Hostname
                        = entry[:hostname]

                  %td.platform-cell
                    %label Platform
                    - if @dispute.platform.present?
                      =(@dispute.platform.public_name rescue "No Data")
                    - else
                      - if entry.platform_id.present?
                        =(entry.product_platform.public_name rescue "No Data")
                      - elsif entry.platform.present?
                        =entry.platform
                      - else
                        %span.missing-data No platform

                  %td.dual-edit-field.status-cell{'data-id': entry.id, 'data-field': 'status', colspan: '2'}
                    %label Status
                    %span.entry-data.entry-data-status
                      - if entry[:status].nil?
                        NEW
                      - else
                        = entry[:status]
                    %span.dropdown
                      %button.inline-select-dropdown.dropdown-toggle.table-entry-input{id: "entry_status_button_#{entry.id}", title: 'Change Entry Status', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
                        - if entry[:status].nil?
                          NEW
                        - else
                          = entry[:status]
                      .dropdown-menu.inline-dropdown-menu{id: "entry_status_button_#{entry.id}", 'aria-labelledby':"entry_status_button_#{entry.id}"}
                        %ul
                          %li.status-radio-wrapper
                            %input.entry-status-radio{type: 'radio', name: 'entry-status', class: "RESEARCHING_#{entry.id}", id: "RESEARCHING", onclick: 'populate_status_selection();'}
                            %label.radio-label{for: "#{DisputeEntry::STATUS_RESEARCHING}"} Researching
                          %li.status-radio-wrapper
                            %input.entry-status-radio{type: 'radio', name: 'entry-status', class: "ESCALATED_#{entry.id}", id: "ESCALATED", onclick: 'populate_status_selection();'}
                            %label.radio-label{for: "#{DisputeEntry::STATUS_ESCALATED}"} Escalated
                          %li.status-radio-wrapper
                            %input.entry-status-radio{type: 'radio', name: 'entry-status', class: "CUSTOMER_PENDING_#{entry.id}", id: "CUSTOMER_PENDING", onclick: 'populate_status_selection();'}
                            %label.radio-label{for: "#{DisputeEntry::STATUS_CUSTOMER_PENDING}"} Customer Pending
                          %li.status-radio-wrapper
                            %input.entry-status-radio{type: 'radio', name: 'entry-status', class: "ON_HOLD_#{entry.id}", id: "ON_HOLD", onclick: 'populate_status_selection();'}
                            %label.radio-label{for: "#{DisputeEntry::STATUS_ESCALATED}"} On Hold
                          %li.status-radio-wrapper
                            %input.entry-status-radio.resolution-drodown-menu{type: 'radio', name: 'entry-status', class: "RESOLVED_CLOSED_#{entry.id}", id: "RESOLVED_CLOSED", onclick: 'populate_resolved_status_selection();'}
                            %label.radio-label{for: "#{DisputeEntry::STATUS_RESOLVED}"} Resolved / Closed
                            .dropdown-menu.ticket-resolution-submenu
                              .col-xs-6.submenu-left-wrapper#webrep-entry-resolution-selector
                                .submenu-header
                                  Ticket Resolution
                                = render 'escalations/shared/resolved_resolution_options', { dispute_resolution_name: 'entry-resolution' }
                              .col-xs-6.submenu-right-wrapper
                                .resolution-comment-wrapper
                                  %label.content-label-sm
                                    Comment
                                  %textarea#webrep-entry-resolution-comment{name: 'resolution-comment'}

                          %li.status-radio-wrapper
                            %input.entry-status-radio{type: 'radio', name: 'entry-status', class: "RE-OPENED_#{entry.id}", id: "RE-OPENED", onclick: 'populate_status_selection();'}
                            %label.radio-label{for: "#{DisputeEntry::STATUS_REOPENED}"} Re-Opened
                  %td.resolution-cell
                    - if entry.resolution.nil?
                      %label Resolution
                      %span.missing-data
                        Unresolved
                    - elsif entry.resolution_comment.nil? || entry.resolution_comment.empty?
                      %label Resolution
                      = entry.resolution
                    - else
                      %span.esc-tooltipped{title: "#{entry.resolution_comment}"}
                        %label Resolution
                        = entry.resolution

                  %td.date-time-cell
                    %label As of
                    = entry.dispute_entry_preload&.created_at&.strftime('%F %T')

                  %td.dispute_rep_tools.rep-tools-cell{rowpan: '2'}
                    - if (@dispute.resolution != Dispute::DUPLICATE) && (@dispute.status != Dispute::RESOLVED)
                      %button.dispute-inline-buttons.edit-button.inline-edit-entry-button.esc-tooltipped{'data-entry-id': "#{entry.id}", title: 'Edit this entry'}
                    %span.dropdown
                      - if (@dispute.resolution != Dispute::DUPLICATE) && (@dispute.status != Dispute::RESOLVED)
                        %button.dispute-inline-buttons.adjust-wlbl-button.bfrp-inline-wlbl-button.dropdown-toggle.esc-tooltipped{id: "wlbl_button_#{entry.id}", title: 'Adjust WL/BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false', onclick: 'get_current_wlbl(this);'}
                      .dropdown-menu{id: "wlbl_adjust_#{entry.id}", 'aria-labelledby': "wlbl_button_#{entry.id}"}
                        = form_for :wlbl, html: {class: 'adjust-wlbl-form inline-wlbl-form'} do |wlbl_form|
                          .dispute-wlbl-adjust-wrapper
                            %input.adjust-wlbl-input.dispute-entry-content{type: 'hidden', value: "#{entry.hostlookup}" }
                            %h3 Adjust WL/BL
                            %table.dispute_tool_current
                              %thead
                                %tr
                                  %th.content-label-sm.no-word-break Current WL/BL List
                                  %th.text-center.content-label-sm.no-word-break Current WBRS Score
                                  %th.text-center.content-label-sm.no-word-break Projected Score
                                  %th.content-label-sm.no-word-break.th-threat-cat Threat Category
                              %tbody
                                %tr
                                  %td.wlbl-entry-wlbl
                                  %td.wlbl-current-entry-wbrs
                                  %td.wlbl-projected-entry-wbrs.text-center
                                  %td.wlbl-threat-cat-inline

                            .inline-tool-content-wrapper
                              .row
                                .col-xs-12
                                  %label.content-label-sm{for: "wlbl-list-type-select"} Adjust WL/BL List
                              .row.lists-row
                                .col-xs-4
                                  %ul.wlbl-toggle-list
                                    %li
                                      %label.toggle-switch
                                        %input.wl-weak-checkbox{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: 'WL-weak', onclick: 'prepare_for_wbrs_preview(this)'}
                                        %span.toggle-slider#wl-weak-slider
                                      WL - Weak
                                    %li
                                      %label.toggle-switch
                                        %input.bl-weak-checkbox{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: 'BL-weak', onclick: 'prepare_for_wbrs_preview(this)'}
                                        %span.toggle-slider#bl-weak-slider
                                      BL - Weak
                                .col-xs-4
                                  %ul.wlbl-toggle-list
                                    %li
                                      %label.toggle-switch
                                        %input.wl-med-checkbox{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: 'WL-med', onclick: 'prepare_for_wbrs_preview(this)'}
                                        %span.toggle-slider#wl-med-slider
                                      WL - Medium
                                    %li
                                      %label.toggle-switch
                                        %input.bl-med-checkbox{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: 'BL-med', onclick: 'prepare_for_wbrs_preview(this)'}
                                        %span.toggle-slider#bl-med-slider
                                      BL - Medium
                                .col-xs-4
                                  %ul.wlbl-toggle-list
                                    %li
                                      %label.toggle-switch
                                        %input.wl-heavy-checkbox{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: 'WL-heavy', onclick: 'prepare_for_wbrs_preview(this)'}
                                        %span.toggle-slider#wl-heavy-slider
                                      WL - Heavy
                                    %li
                                      %label.toggle-switch
                                        %input.bl-heavy-checkbox{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: 'BL-heavy', onclick: 'prepare_for_wbrs_preview(this)'}
                                        %span.toggle-slider#bl-heavy-slider
                                      BL - Heavy

                              .button-row-center
                                %button.preview-wbrs-button{type: 'button', disabled: true, onclick: 'preview_wbrs_score(this);', 'data-add': '', 'data-remove': ''}
                                  Preview Projected Score
                                %button.reset-form-button.esc-tooltipped{type: 'button', title: 'Reset list toggles.', onclick: 'reset_score_preview(this)'}

                              -# threat cats row (2 of 2 for this file)
                              .row.dropdown-tool-grey-row.threat-cat-row.hidden
                                .threat-cat-note
                                  %label.content-label-sm
                                    Threat Categories
                                    %span.threat-cat-required
                                      *Required for adding to any blacklist.
                                      %span.five-note Up to 5 can be selected
                                .threat-cat-area
                                  .row
                                  - Wbrs::ThreatCategory.selections.each do |label, value|
                                    .col-md-6.threat-cat-cell
                                      = wlbl_form.check_box(:thrt_cat_id, {id: "thrt_cat_id_#{value}", class: "wlbl_thrt_cat_id wlbl_thrt_cat_id_#{value}"}, value)
                                      = label

                              .comment-wrapper
                                %label.content-label-sm Comment
                                %textarea.dropdown-comment.adjust-wlbl-input.note-input
                              .button-row-center
                                %button.primary.dropdown-submit-button{type: 'button', disabled: true, onclick:'submit_individual_wlbl(this);'}
                                  Submit Changes



                    %span.dropdown
                      - if (@dispute.resolution != Dispute::DUPLICATE) && (@dispute.status != Dispute::RESOLVED)
                        %button.dispute-inline-buttons.adjust-reptool-button.dropdown-toggle.esc-tooltipped{onclick: "get_current_reptool(this, 'show')", id: "reptool_button_#{entry.id}", title: 'Adjust RepTool BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
                      .dropdown-menu.toolbar-dropdown.reptool-inline-dropdown{id: "reptool_adjust_#{entry.id}", 'aria-labelledby': "reptool_button_#{entry.id}"}
                        = form_for :reptool, html: {class: 'adjust-reptool-form'} do |rep_form|
                          .dispute-reptool-adjust-wrapper
                            %input.adjust-reptool-bl-input.dispute-entry-id{type: 'hidden', value: "#{entry.id}" }
                            %input.adjust-reptool-bl-input.dispute-entry-content{type: 'hidden', value: "#{entry.hostlookup}" }
                            %h3.reptool-dropdown-header
                              .inline-text Adjust RepTool Classification
                              .inline-label-wrapper.float-right
                                %input.reptool-toolbar-force{id:"#{entry.id}-reptool-toolbar-force", type: 'checkbox', name: 'force', value: true}
                                %label{for: "#{entry.id}-reptool-toolbar-force"} Force commit

                            %table.dispute_tool_current
                              %thead
                                %tr
                                  %th.content-label-sm Active Classes
                                  %th.content-label-sm Expiration
                                  %th.content-label-sm.th-reptool-comment Comment
                              %tbody
                              -#  Will call up-to-date information from the api

                            .inline-tool-content-wrapper
                              .row
                                .col-xs-12
                                  %input{type: 'radio', name: 'reptool-action-radio', id: "reptool-maintain-inline-#{entry.id}", value: 'reptool-maintain', checked: true, onclick: 'reptool_form_prep(this, "individual")'}
                                  %label.radio-label{for: "reptool-maintain-inline-#{entry.id}"} Maintain current classifications
                                  %input{type: 'radio', name: 'reptool-action-radio', id: "reptool-override-inline-#{entry.id}", value: 'reptool-override', onclick: 'reptool_form_prep(this, "individual")'}
                                  %label.radio-label{for: "reptool-override-inline-#{entry.id}"} Replace current classifications
                                  %input{type: 'radio', name: 'reptool-action-radio', id: "reptool-drop-inline-#{entry.id}", value: 'reptool-drop', onclick: 'reptool_form_prep(this, "individual")'}
                                  %label.radio-label{for: "reptool-drop-inline-#{entry.id}"} Drop all classifications (set entry to EXPIRED)
                              %hr.thin.form-divider
                              .row.reptool-classifications-row
                                .col-xs-12
                                  %label.content-label-sm{for: 'reptool-class-type-select'} Classifications
                                  .row.dropdown-tool-grey-row.nested-radio-row.reptool-class-radio-row
                                    .col-xs-6
                                      %input{type: 'radio', name: 'reptool-classes-radio', id: "reptool-classes-add-inline-#{entry.id}", value: 'add', checked: true}
                                      %label.radio-label{for: "reptool-classes-add-inline-#{entry.id}"} Add selected classifications
                                    .col-xs-6
                                      %input{type: 'radio', name: 'reptool-classes-radio', id: "reptool-classes-remove-inline-#{entry.id}", value: 'remove'}
                                      %label.radio-label{for: "reptool-classes-remove-inline-#{entry.id}"} Remove selected classifications
                                  %hr.thin.form-divider
                                  .row.dropdown-tool-grey-row
                                    .col-xs-4
                                      %ul
                                        %li
                                          %input.reptool-class-cb.reptool-cb-attackers{type: 'checkbox', name: 'classification', value: 'attackers', onclick: 'reptool_form_prep(this, "individual")'}
                                            attackers
                                        %li
                                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'banking_fraud', onclick: 'reptool_form_prep(this, "individual")'}
                                            banking_fraud
                                        %li
                                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'bogon', onclick: 'reptool_form_prep(this, "individual")'}
                                            bogon
                                        %li
                                          %input.reptool-class-cb.reptool-cb-bots{type: 'checkbox', name: 'classification', value: 'bots', onclick: 'reptool_form_prep(this, "individual")'}
                                            bots
                                        %li
                                          %input.reptool-class-cb.reptool-cb-cnc{type: 'checkbox', name: 'classification', value: 'cnc', onclick: 'reptool_form_prep(this, "individual")'}
                                            cnc
                                        %li
                                          %input.reptool-class-cb.reptool-cb-cryptomining{type: 'checkbox', name: 'classification', value: 'cryptomining', onclick: 'reptool_form_prep(this, "individual")'}
                                            cryptomining
                                        %li
                                          %input.reptool-class-cb.reptool-cb-dga{type: 'checkbox', name: 'classification', value: 'dga', onclick: 'reptool_form_prep(this, "individual")'}
                                            dga
                                        %li
                                          %input.reptool-class-cb.reptool-cb-exploitkit{type: 'checkbox', name: 'classification', value: 'exploitkit', onclick: 'reptool_form_prep(this, "individual")'}
                                            exploitkit
                                    .col-xs-4
                                      %ul
                                        %li
                                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'high_risk', onclick: 'reptool_form_prep(this, "individual")'}
                                            high_risk
                                        %li
                                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'ioc', onclick: 'reptool_form_prep(this, "individual")'}
                                            ioc
                                        %li
                                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'link_sharing', onclick: 'reptool_form_prep(this, "individual")'}
                                            link_sharing
                                        %li
                                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'malicious', onclick: 'reptool_form_prep(this, "individual")'}
                                            malicious
                                        %li
                                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'malware', onclick: 'reptool_form_prep(this, "individual")'}
                                            malware
                                        %li
                                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'newly_seen', onclick: 'reptool_form_prep(this, "individual")'}
                                            newly_seen
                                        %li
                                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'open_proxy', onclick: 'reptool_form_prep(this, "individual")'}
                                            open_proxy
                                    .col-xs-4
                                      %ul
                                        %li
                                          %input.reptool-class-cb.reptool-cb-open_relay{type: 'checkbox', name: 'classification', value: 'open_relay', onclick: 'reptool_form_prep(this, "individual")'}
                                            open_relay
                                        %li
                                          %input.reptool-class-cb.reptool-cb-phishing{type: 'checkbox', name: 'classification', value: 'phishing', onclick: 'reptool_form_prep(this, "individual")'}
                                            phishing
                                        %li
                                          %input.reptool-class-cb.reptool-cb-response{type: 'checkbox', name: 'classification', value: 'response', onclick: 'reptool_form_prep(this, "individual")'}
                                            response
                                        %li
                                          %input.reptool-class-cb.reptool-cb-spam{type: 'checkbox', name: 'classification', value: 'spam', onclick: 'reptool_form_prep(this, "individual")'}
                                            spam
                                        %li
                                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'spyware', onclick: 'reptool_form_prep(this, "individual")'}
                                            spyware
                                        %li
                                          %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'suspicious', onclick: 'reptool_form_prep(this, "individual")'}
                                            suspicious
                                        %li
                                          %input.reptool-class-cb.reptool-cb-tor_exit_node{type: 'checkbox', name: 'classification', value: 'tor_exit_node', onclick: 'reptool_form_prep(this, "individual")'}
                                            tor_exit_node
                              .comment-wrapper
                                %label.content-label-sm RepTool Comment
                                %textarea#typed-in-comment-inline.dropdown-comment.adjust-reptool-bl-input.comment-input.typed-in-comment-inline{placeholder: 'Reason behind this change...'}
                                .reptool-generated-comment
                                  INDIVIDUAL SUBMISSION:
                                  &#x000A; #0000#{@dispute.id} - #{entry.hostlookup}
                              .button-row-center
                                %button.primary.dropdown-submit-button{type: 'button', onclick: 'submit_individual_reptool(this)', disabled: true}
                                  Submit Changes

                %tr.research-second-row
                  %td{colspan: '2'}
                  //placeholder cell
                  %td.category-cell
                    %label Category
                    - if entry[:primary_category] != '{}' && !entry[:primary_category].nil?
                      = entry[:primary_category]
                    - else
                      %span.missing-data No assigned categories

                  %td.sugg-tc-cell
                    %label Suggested Threat Category
                    - unless entry[:suggested_threat_category].nil?
                      = entry[:suggested_threat_category].gsub(/,(?![ ])/, ', ')
                  %td.sugg-cell{colspan: '2'}
                    %label Suggested Disposition
                    - unless entry[:suggested_disposition].nil?
                      = entry[:suggested_disposition]
                  %td
                  -#//placeholder cell

                %tr.research-overview-row
                  %td
                    -#Expander area

                  %td.research-table-details-wrapper{colspan: '12'}

                    %table
                      %tr
                        %td.input-col.wbrs-input-wrapper
                          %input.research-row-checkbox.wbrs-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                        %td.wbrs-score-label-cell
                          %label WBRS
                        %td.text-center.entry-data-wbrs-score.wbrs-score-cell
                          - if entry.wbrs_score.nil?
                            %span.current-wbrs-score.missing-data
                              No score
                          - else
                            %span.current-wbrs-score
                              = entry.wbrs_score
                        %td.text-center.wbrs-rule-hits-cell
                          = entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "WBRS" && rule_hit.is_multi_ip_rulehit != true }.length

                        %td.rule-hits-col-list.wbrs-rules-cell
                          - wbrs_rules = entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "WBRS" && rule_hit.is_multi_ip_rulehit != true }
                          - wbrs_rules.each do |wbrs_hit|

                            - unless RulehitResolutionMailerTemplate.select{|template| template.mnemonic == wbrs_hit.name}.count == 0
                              %a.wbrs-rule-trigger{href: '#', 'data-id': "#{wbrs_hit.id}", id: "inline-wbrs-hit-#{wbrs_hit.id}"}
                                - if wbrs_hit.equal? wbrs_rules.last
                                  = wbrs_hit.name
                                - else
                                  = "#{wbrs_hit.name}, "
                            - else
                              - if wbrs_hit.equal? wbrs_rules.last
                                = wbrs_hit.name
                              - else
                                = "#{wbrs_hit.name}, "

                        %td.input-col.xbrs-input-wrapper
                          %input.research-row-checkbox.xbrs-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                        %td.xbrs-history-label-cell
                          %label XBRS Timeline
                        %td.text-center.xbrs-history-cell
                          - if entry.hostlookup
                            = entry.xbrs_timeline.count
                        %td.input-col.virus-total-input-wrapper
                          %input.research-row-checkbox.virus-total-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                        %td.virustotal-label-cell
                          %label Virustotal
                        %td.text-center.virustotal-cell
                          - if entry.virustotals.count == 0
                            %span.missing-data N/A
                          - else
                            = entry.virustotals_negatives_count
                            \/
                            = entry.virustotals.count
                        %td.input-col.enrich-input-wrapper
                          %input.research-row-checkbox.enrich-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                        %td.enrich-label-cell
                          %label Enrichment
                        %td.text-center.enrich-cell
                        %td.left-bordered.wlbl-tc-label-cell
                          %label WL/BL
                        %td.entry-data-wlbl.wlbl-tc-cell
                          - if entry.wbrs_list_type.nil?
                            %span.missing-data Not currently on a list
                          - else
                            %span.wlbl-table-result
                              = entry.wbrs_list_type
                            %span.wlbl-tc-research-span
                        %td.history-button-cell
                          %button.dispute-inline-buttons.history-button.esc-tooltipped{title: 'WL/BL History', onclick: "wlbl_history_dialog(#{entry.id})"}

                        %td.left-bordered.referenced-tickets-label-cell
                          %label Referenced on
                        %td.referenced-tickets-col.referenced-tickets-cell
                          - referenced_tickets = entry.referenced_tickets.to_a
                          - referenced_tickets_count = referenced_tickets.count
                          - if referenced_tickets_count < 1
                            %span.missing-data
                              Not on any other tickets
                          - else
                            %span.dropdown
                              %button.show_references.dropdown-toggle.references-dropdown-button{title: 'Referenced on', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
                                = "#{referenced_tickets_count} ticket(s)"
                              .dropdown-menu.references-dropdown{'aria-labelledby': 'show_references'}
                                %table
                                  %thead
                                    %th Case ID
                                    %th Date/Time Submitted
                                  %tbody
                                    - referenced_tickets.each do |reference|
                                      %tr
                                        %td
                                          %a{name:"#{reference.id}_link", href: escalations_webrep_dispute_path(reference.id)}
                                            = reference.id
                                        %td
                                          = reference.case_opened_at
                      %tr
                        %td.input-col.sbrs-input-wrapper
                          %input.research-row-checkbox.sbrs-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                        %td
                          %label SBRS
                        %td.text-center.sbrs-score-cell
                          - if entry.sbrs_score.nil?
                            %span.current-sbrs-score.missing-data
                              No score
                          - else
                            %span.current-sbrs-score
                              = entry.sbrs_score
                        -#%td
                        -#  %label SBRS Rules
                        %td.text-center.sbrs-rule-hits-cell
                          = entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "SBRS" }.size

                        %td.rule-hits-col-list.sbrs-rules-cell
                          - entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "SBRS" }.each do |sbrs_hit|
                            - unless RulehitResolutionMailerTemplate.select{|template| template.mnemonic == sbrs_hit.name}.count == 0
                              %a.wbrs-rule-trigger{href: '#', 'data-id': "#{sbrs_hit.id}", id: "inline-sbrs-hit-#{sbrs_hit.id}"}
                                = sbrs_hit.name
                                - unless sbrs_hit.equal? entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "SBRS" }.last
                                  = ","
                            - else
                              = sbrs_hit.name
                              - unless sbrs_hit.equal? entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "SBRS" }.last
                                = ","
                          -#= entry.dispute_rule_hits.sbrs_rule_hits.map {|rule_hit| rule_trigger(rule_hit)}.join(', ').html_safe
                        %td.input-col.crosslisted-input-wrapper
                          %input.research-row-checkbox.crosslisted-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                        %td.crosslisted-urls-label-cell
                          %label Crosslisted URLs
                        %td.text-center.crosslisted-urls-cell
                          = entry.wbrs_xlist.count
                        %td.input-col.reptool-input-wrapper
                          %input.research-row-checkbox.reptool-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                        %td
                          %label RepTool Class
                        -#strech Reptool cell to balance out the new Enrichment section
                        %td.entry-reptool-data.reptool-class-cell{colspan: '4'}
                          - if entry.classifications.first.nil?
                            %span.missing-data.entry-reptool-class Not on RepTool
                          - else
                            %span.inline-col-breakup.entry-reptool-class
                              = entry.classifications.first
                            %span.inline-col-breakup.entry-reptool-status
                              = entry.blacklist.status
                            %span.inline-col-breakup.entry-reptool-comment
                              = entry.blacklist.metadata&.fetch('VRT', {})&.fetch('comment', {})

                        %td.left-bordered
                          %label Umbrella
                        %td.text-center.umbrella-cell{colspan: '2'}
                          = entry.umbrellaresult

                        %td.left-bordered
                          %label Last Submitted
                        %td#last-submitted.last-submitted-cell
                          = entry.last_submitted

                -# If entry is uri and has a resolved host ip
                - unless entry[:web_ips].blank?
                  %tr.research-uri-ip-query-row
                    %td{rowspan: '2'}
                      -#Expander area
                    %td.input-col.ip-label-col{rowspan: '2'}
                      -# IP label
                    %td.dual-edit-field{colspan: '5', 'data-id': entry.id, 'data-field': 'host-ip'}
                      %span.entry-resolved-ip-content{id: "entry-#{index}-ips"}
                        - ip_record = JSON.parse entry[:web_ips]
                        - ips = ip_record.to_sentence(two_words_connector: ', ', last_word_connector: ', ')
                        = ips

                      %input.table-ip-input{type:'text', value: "#{ips}", placeholder: 'enter one or more IPs, separated by commas; ex: 1.2.3.4. or 1.1.1.1, 2.2.2.2'}

                    %td.text-right.no-padding-right{colspan: '12'}
                      %button.edit-button.inline-edit-ip-button.esc-tooltipped{title: 'Edit IP Addresses'}
                        Edit IP Addresses
                      %button.save-button.inline-save-ip-button.esc-tooltipped{title: 'Save IP Addresses'}
                        Save IP Addresses
                      %button.cancel-button.inline-cancel-ip-button.esc-tooltipped{title: 'Cancel IP Addresses'}

                  %tr.research-uri-ip-data-row
                    %td.research-table-details-wrapper{colspan: '12'}
                      %table
                        %tr.single-details-row
                          %td
                            %label WBRS
                          %td.text-center.no-border.uri-ip-wbrs-score
                            - unless entry[:score].nil?
                              = entry[:score]
                            - else
                              %span.missing-data
                                No score.
                          %td
                            %label WBRS Rules
                          %td.text-center.uri-ip-wbrs-rule-total
                            - ip_rule_hits = entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "WBRS" && rule_hit.is_multi_ip_rulehit == true }
                            = ip_rule_hits.length
                          %td.uri-ip-wbrs-rules
                            - unless ip_rule_hits.length == 0
                              - ip_rule_hits.each do |wbrs_hit|
                                - if wbrs_hit == ip_rule_hits.last
                                  = wbrs_hit.name
                                - else
                                  = "#{wbrs_hit.name}, "
                            - else
                              %span.missing-data
                                No rules.
                          %td
                            %label Threat Category
                          %td.uri-ip-category
                            - unless entry[:multi_wbrs_threat_category].nil?
                              - ip_tc_record = JSON.parse entry[:multi_wbrs_threat_category]
                              - ip_tc = ip_tc_record.to_sentence(two_words_connector: ', ', last_word_connector: ', ')
                              = ip_tc
                          %td
                            %label Proxy URI
                          %td.uri-ip-proxy
                            = entry[:proxy_uri]


                %tr.nested-data-row{'data-entry-id': "#{entry.id}"}
                  %td.expanded-row{colspan: '13'}
                    .expanded-row-data-wrapper
                      .row
                        .col-sm-4
                          .entry-details-table.wbrs-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header
                              WBRS Rule Hit Details
                              %span.nested-table-tally
                                = entry.dispute_rule_hits.select {|rulehit| rulehit.rule_type == "WBRS"}.count
                            - if entry.dispute_rule_hits.select {|rulehit| rulehit.rule_type == "WBRS"}.empty?
                              -# if entry gets no results AND uri entry + ip also gets no results
                              %table
                                %thead
                                  %tr
                                    %th
                                      %span.missing-data
                                        No rule hits.
                            - else
                              %table
                                %thead
                                  %tr
                                    %th
                                    -#  Placeholder col for if a rule hit is from querying uri + ip
                                    %th Rule
                                    %th Rule Description
                                    %th.text-center Malware Prob
                                %tbody
                                  - entry.dispute_rule_hits.select {|rulehit| rulehit.rule_type == "WBRS" && rulehit.is_multi_ip_rulehit != true}.each do |wbrs_hit|
                                    - rulehit = @all_rulehits.select {|hit| hit.mnemonic == wbrs_hit.name}
                                    %tr
                                      %td
                                      %td= wbrs_hit.name
                                      %td
                                        - if rulehit.length > 0
                                          = rulehit.first.description
                                      %td.text-center
                                        - if rulehit.length > 0
                                          - malware_prob = rulehit.first.probability / 100.0
                                          - if malware_prob > 50
                                            %span.mal-highlight
                                              = rulehit.first.probability / 100.0
                                              \%
                                          - else
                                            = rulehit.first.probability / 100.0
                                            \%

                                  - entry.dispute_rule_hits.select {|rulehit| rulehit.rule_type == "WBRS" && rulehit.is_multi_ip_rulehit == true}.each do |wbrs_hit|
                                    - rulehit = @all_rulehits.select {|hit| hit.mnemonic == wbrs_hit.name}
                                    %tr.plus-ip-rule-row
                                      %td.uri-plus-ip-rule-indicator
                                      %td= wbrs_hit.name
                                      %td
                                        - if rulehit.length > 0
                                          = rulehit.first.description
                                      %td.text-center
                                        - if rulehit.length > 0
                                          - malware_prob = rulehit.first.probability / 100.0
                                          - if malware_prob > 50
                                            %span.mal-highlight
                                              = rulehit.first.probability / 100.0
                                              \%
                                          - else
                                            = rulehit.first.probability / 100.0
                                            \%


                          .entry-details-table.sbrs-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header
                              SBRS Rule Hit Details
                              %span.nested-table-tally
                                = entry.dispute_rule_hits.select {|rulehit| rulehit.rule_type == "SBRS"}.count
                            - if entry.dispute_rule_hits.select {|rulehit| rulehit.rule_type == "SBRS"}.empty?
                              %table
                                %thead
                                  %tr
                                    %th
                                      %span.missing-data
                                        No rule hits.
                            - else
                              %table
                                %thead
                                  %tr
                                    %th Rule
                                    %th Rule Description
                                    %th Weight
                                %tbody
                                  - entry.dispute_rule_hits.select {|rulehit| rulehit.rule_type == "SBRS"}.each do |sbrs_hit|
                                    %tr
                                      %td
                                        - unless RulehitResolutionMailerTemplate.select{|template| template.mnemonic == sbrs_hit.name}.count == 0
                                          %a.wbrs-rule-trigger{href: '#', 'data-id': "#{sbrs_hit.id}"}
                                            = sbrs_hit.name
                                        - else
                                          = sbrs_hit.name
                                      %td= sbrs_hit.mnemonic
                                      %td
                                        -#Put weight of rule here
                          .entry-details-table.virustotal-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header
                              Virustotal Details
                              %span.nested-table-tally
                                = entry.virustotals.count {|vt| vt[:result] != "clean site" && vt[:result] != "unrated site" }
                            - if entry.virustotals.empty?
                              %table
                                %thead
                                  %tr
                                    %th
                                      %span.missing-data
                                        No Virustotal data available.
                            - else
                              %table.table-scrollable
                                %thead
                                  %tr
                                    %th AV Vendor
                                    %th Results
                                %tbody
                                  - entry.virustotals.each do |virustotal|
                                    %tr
                                      %td.data-table-emph= virustotal[:name]
                                      - if virustotal[:result] == 'clean site'
                                        %td.clean-site-result Clean
                                      - elsif virustotal[:result] == 'unrated site'
                                        %td.unrated-site-result Unrated
                                      - else
                                        %td.unclean-site-result= virustotal[:result]

                          .entry-details-table.auto-resolve-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header
                              Auto Resolve Log
                            %div= (entry.auto_resolve_log.html_safe rescue "")
                        .col-sm-8
                          = render 'shared/xbrs_table', :entry => entry
                          .entry-details-table.crosslisted-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header
                              Cross-listed URLs
                              %span.nested-table-tally
                                = entry.wbrs_xlist.count
                            - if entry.wbrs_xlist.empty?
                              %table
                                %thead
                                  %tr
                                    %th
                                      %span.missing-data
                                        No cross-listed urls
                            - elsif entry.wbrs_xlist.count < 8
                              %table
                                %thead
                                  %tr
                                    %th ID
                                    %th URL
                                    %th List Type
                                    %th.text-center Current Score
                                    %th Username
                                    %th Last Update
                                    %th Created
                                %tbody
                                  - entry.wbrs_xlist.each do |cross_listed|
                                    %tr
                                      %td= cross_listed.id
                                      %td= cross_listed.url
                                      %td= cross_listed.list_type
                                      %td -
                                      %td= cross_listed.username
                                      %td= cross_listed.mtime
                                      %td= cross_listed.ctime
                            - else
                              %table.table-scrollable
                                %thead
                                  %tr
                                    %th ID
                                    %th URL
                                    %th List Type
                                    %th.text-center Current Score
                                    %th Username
                                    %th Last Update
                                    %th Created
                                %tbody
                                  - entry.wbrs_xlist.each do |cross_listed|
                                    %tr
                                      %td= cross_listed.id
                                      %td= cross_listed.url
                                      %td= cross_listed.list_type
                                      %td -
                                      %td= cross_listed.username
                                      %td= cross_listed.mtime
                                      %td= cross_listed.ctime

                          .entry-details-table.reptool-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header RepTool Details
                            - if entry.blacklist.nil?
                              %table
                                %thead
                                  %tr
                                    %th
                                      %span.missing-data
                                        No blacklist data
                            - else
                              %table
                                %thead
                                  %tr
                                    %th RepTool Class
                                    %th Status
                                    %th Expiration
                                    %th Comment
                                    %th Source
                                    %th First Seen
                                    %th Last Seen
                                %tbody
                                  %tr
                                    %td= entry.classifications.first
                                    %td= entry.blacklist.status
                                    %td= entry.blacklist.expiration
                                    %td= entry.blacklist.metadata&.fetch('VRT', {})&.fetch('comment', {})
                                    %td= entry.blacklist.primary_source
                                    %td= entry.blacklist.first_seen
                                    %td= entry.blacklist.last_seen

                          -# RETAIN FOR LEGACY FOR NOW. REMOVE WHEN SAFE.
                          -#.entry-details-table.enrich-details-table{'data-entry-id': "#{entry.id}"}
                          -#  %h5.entry-details-table-header Enrichment
                          -#  %table.hidden.enrich-webrep-table-data-present
                          -#    %thead
                          -#      %tr
                          -#        %th Context
                          -#        %th Taxonomy
                          -#        %th Name
                          -#        %th Description
                          -#        %th.enrich-webrep-external-ref-header External References
                          -#    %tbody
                          -#      %tr
                          -#
                          -#  %table.enrich-webrep-table-data-missing
                          -#    %tbody
                          -#      %tr
                          -#        %td.missing-data No enrichment services data
                          -#
                          -#.entry-details-table.prevalence-details-table{'data-entry-id': "#{entry.id}"}
                          -#  %h5.entry-details-table-header Prevalence
                          -#  %table.prevalence-webrep-table-data-present.hidden
                          -#    %thead
                          -#      %tr
                          -#        %th Dataset
                          -#        %th Count
                          -#        %th First Seen
                          -#        %th Last Seen
                          -#    %tbody
                          -#
                          -#  %table.prevalence-webrep-table-data-missing
                          -#    %tbody
                          -#      %tr
                          -#        %td.missing-data No prevalence data