%input{type:'hidden', name: 'token', value: "#{current_user.authentication_token}"}
%input{type:'hidden', name: 'xml_token', value: "#{xml_token}"}
%input{type:'hidden', name: 'current_user', value: "#{current_user.authentication_token}"}


%h1 Research Data
.row
  .col-xs-12
    #research-tab-toolbar.toolbar
      %div
        %label.toolbar-section-label Table View
        %button.toolbar-button.expand-row-button#expand-all-rows
          %span.toolbar-button-text Expand All Rows
        %button.toolbar-button.collapse-button#collapse-all-rows
          %span.toolbar-button-text Collapse All Rows
        -#%span.dropdown
        -#  %button.toolbar-button.sort-by-button#sort-table-by{title: 'Sort Table By', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        -#    %span.toolbar-button-text Sort By
        -#  .dropdown-menu.toolbar-dropdown#sort_by_dropdown{'aria-labelledby': 'sort-table-by'}
        -#    Options to sort by go here.
        -#      Add this later: list of useful fields to sort by, category, entry content, reptool class, WL/BL, WBRS Score, SBRS Score
      %div
        %label.toolbar-section-label Edit
        %button.toolbar-button.edit-button#edit-dispute-entry-button
          %span.toolbar-button-text Edit Dispute Entry
        %span.dropdown
          %button.toolbar-button.add-dispute-entry#add-entries-button.dropdown-toggle{title: 'Add Dispute Entry', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
            %span.toolbar-button-text Add Dispute Entry
          .dropdown-menu.toolbar-dropdown#add_entries_dropdown{'aria-labelledby': 'add-entries-button'}
            .input-group.add-entry-group
              %input{id: 'add_dispute_entry', name: 'dispute_entry_content', class: 'form-control', placeholder: 'Entry Content'}
                %button{class: 'btn btn-default nav-tool-button', type:'button', id: 'button_import'}
                  Submit
            .loading-bar
              .load-bar-segment.hidden
              .load-bar-segment.hidden
              .load-bar-segment.hidden
      -#          After submit add new row at the bottom of entries, may take a while to retrieve all data to populate the information

      %div
        %label.toolbar-section-label Reputation
        %span.dropdown
          %button#wlbl_entries_button.toolbar-button.adjust-wlbl-button.dropdown-toggle{title: 'Adjust WL/BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
            %span.toolbar-button-text Adjust WL/BL
          .dropdown-menu.toolbar-dropdown#wlbl_adjust_entries{'aria-labelledby': 'wlbl_entries_button'}
            -#For each checked checkbox populate this information
            = form_for :wlbl, html: {class: 'adjust-wlbl-form'} do |wlbl_form|
              .dispute-wlbl-adjust-wrapper
                .dispute-name-wrapper
                  %label.content-label-sm Dispute
                  %br
                  %span.entry-dispute-name
                %table.dispute_tool_current
                  %tr
                    %td.text-center
                      %label.content-label-sm Current Score
                      %br
                      %span.current-wbrs-score
                    %td.text-center
                      %label.content-label-sm New Score
                      %br
                      %span.new_wbrs_score
                .inline-tool-content-wrapper
                  .toolbar
                    %div
                      %label.toolbar-section-label{for:'wlbl-list-type-select'} WL/BL List
                      = wlbl_form.select :list_type, Wbrs::ManualWlbl.types,
                        {include_blank: 'Not currently on a list'},
                        class: 'toolbar-select select-status adjust-wlbl-input trgt_list-input',
                        title: 'RepTool Rule Status',
                        id: "wlbl-list-type-select"
                    %button.wlbl-preview-button.tertiary{type: 'button', disabled: true} Preview
                  .comment-wrapper
                    %label.content-label-sm Comment
                    %textarea.dropdown-comment.adjust-wlbl-input.note-input
                  .button-row-center
                    %button.primary.dropdown-submit-button{type: 'button', onclick:'toolbar_adust_wlbl_button(this);', disabled: true}
                      Submit Changes

        %span.dropdown
          %button#reptool_entries_button.toolbar-button.adjust-reptool-button.dropdown-toggle{title: 'Adjust RepTool BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
            %span.toolbar-button-text Adjust RepTool WL/BL
          .dropdown-menu.toolbar-dropdown#reptool_adjust_entries{'aria-labelledby': 'reptool_entries_button'}
            =form_for :reptool, html: {class: 'adjust-reptool-form'} do |rep_form|
              -#For each checked checkbox populate this information
              .dispute-reptool-adjust-wrapper
                .dispute-name-wrapper
                  %label.content-label-sm Dispute
                  %br
                  %span.entry-dispute-name
                %table.dispute_tool_current
                  %tr
                    %td
                      %label.content-label-sm Classification
                      %br
                      %span.entry-reptool-class
                    %td
                      %label.content-label-sm Expiration
                      %br
                      %span.entry-reptool-expiration
                .inline-tool-content-wrapper
                  .toolbar
                    %div
                      %label.toolbar-section-label{for: 'blacklist-action-select'} Status
                      = rep_form.select(:action, ['Active', 'Expired'],
                        {include_blank: true},
                        class: 'toolbar-select select-status adjust-reptool-bl-input action-input',
                        title: 'RepTool Rule Status',
                        id: "blacklist-action-select")

                    %div
                      %label.toolbar-section-label{for: 'blacklist-classifications-select'} RepTool WL/BL
                      = rep_form.select(:classification, RepApi::Blacklist.classifications,
                        {include_blank: true},
                        class: 'toolbar-select select-rt-rule adjust-reptool-bl-input classifications-input',
                        title: "RepTool BL Rules",
                        id: "blacklist-classifications-select")
                  .comment-wrapper
                    %label.content-label-sm Comment
                    %textarea.dropdown-comment.adjust-reptool-bl-input.comment-input
                  .button-row-center
                    %button.primary.dropdown-submit-button{type: 'button', onclick: 'toolbar_adjust_reptool_bl_button(this)', disabled: true}
                      Submit Changes

      .edit-button-wrapper.edit-entries-buttons.hidden
        %button.save-all-changes.panel-button.save-button.tooltipped{title: 'Save All Changes'}
        %button.cancel-changes.panel-button.cancel-button.tooltipped{title: 'Cancel'}

.row
  .col-xs-12
    %table#disputes-research-table.table.table-sm
      %tbody
        - @entries.each do |entry|
          %tr.research-table-row{'data-entry-id': "#{entry.id}"}
            %td.research-table-row-wrapper
              %table
                %tr
                  %td.expandable-row-column
                    %button.expand-row-button-inline{'data-entry-id': "#{entry.id}"}
                  %td
                    %input.dispute_check_box{type: 'checkbox', 'data-entry-id': "#{entry.id}"}
                  %td
                    %span.entry-data.entry-data-content
                      - unless entry[:ip_address].nil?
                        - entry_content = entry[:ip_address]
                      - unless entry[:uri].nil?
                        - entry_content = entry[:uri]
                      = entry_content

                    %input.table-entry-input.wide{type:'text', value: "#{entry_content}"}
                  %td
                    %label Category
                    - unless entry[:primary_category].nil?
                      = entry[:primary_category]
                    - else
                      %span.missing-data No Data
                  %td
                    %label Hostname
                    - unless entry[:hostname].nil?
                      = entry[:hostname]
                  %td
                    %label Status
                    %span.entry-data
                      -#- unless entry[:status].nil?
                      -#  = entry[:status]
                      New
                    -# Temporarily putting manual status entries in here
                    %span.dropdown
                      %button.inline-select-dropdown.dropdown-toggle.table-entry-input{id: "entry_status_button_#{entry.id}", title: 'Change Entry Status', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
                        -#= entry[:status]
                        -#Current entry status here
                        New
                      .dropdown-menu.inline-dropdown-menu{id: "entry_status_button_#{entry.id}", 'aria-labelledby':"entry_status_button_#{entry.id}"}
                        %ul
                          %li.status-radio-wrapper
                            %input.entry-status-radio{type: 'radio', name: 'entry-status', id: 'Researching'}
                            %label.radio-label{for: 'Researching'} Researching
                          %li.status-radio-wrapper
                            %input.entry-status-radio{type: 'radio', name: 'entry-status', id: 'Escalated'}
                            %label.radio-label{for: 'Escalated'} Escalated
                          %li.status-radio-wrapper
                            %input.entry-status-radio{type: 'radio', name: 'entry-status', id: 'Customer-Pending'}
                            %label.radio-label{for: 'Customer-Pending'} Customer Pending
                          %li.status-radio-wrapper
                            %input.entry-status-radio{type: 'radio', name: 'entry-status', id: 'On-Hold'}
                            %label.radio-label{for: 'On-Hold'} On Hold
                          %li.status-radio-wrapper
                            %input.entry-status-radio.resolution-drodown-menu{type: 'radio', name: 'entry-status', id: 'Resolved-Closed'}
                            %label.radio-label{for: 'Resolved-Closed'} Resolved / Closed
                            .dropdown-menu.ticket-resolution-submenu
                              .col-xs-6.submenu-left-wrapper
                                .submenu-header
                                  Ticket Resolution
                                %ul
                                  %li
                                    %input.entry-resolution-radio{type: 'radio', name: 'entry-resolution', id: 'Fixed-FP'}
                                    %label.radio-label{for: 'Fixed-FP'} Fixed - FP
                                  %li
                                    %input.entry-resolution-radio{type: 'radio', name: 'entry-resolution', id: 'Fixed-FN'}
                                    %label.radio-label{for: 'Fixed-FN'} Fixed - FN
                                  %li
                                    %input.entry-resolution-radio{type: 'radio', name: 'entry-resolution', id: 'Unchanged'}
                                    %label.radio-label{for: 'Unchanged'} Unchanged
                                  %li
                                    %input.entry-resolution-radio{type: 'radio', name: 'entry-resolution', id: 'Invalid'}
                                    %label.radio-label{for: 'Invalid'} Invalid / Junk Mail
                                  %li
                                    %input.entry-resolution-radio{type: 'radio', name: 'entry-resolution', id: 'Test-Training'}
                                    %label.radio-label{for: 'Test-Training'} Test / Training
                                  %li
                                    %input.entry-resolution-radio{type: 'radio', name: 'entry-resolution', id: 'Other'}
                                    %label.radio-label{for: 'Other'} Other
                              .col-xs-6.submenu-right-wrapper
                                .resolution-comment-wrapper
                                  %label.content-label-sm
                                    Comment
                                  %textarea
                                  %button.primary
                                    Submit

                          %li.status-radio-wrapper
                            %input.entry-status-radio{type: 'radio', name: 'entry-status', id: 'Re-Opened'}
                            %label.radio-label{for: 'Re-Opened'} Re-Opened


                  %td.dispute_rep_tools
                    %span.dispute_rep_tools_wrapper
                      %button.dispute-inline-buttons.edit-button.inline-edit-entry-button{'data-entry-id': "#{entry.id}"}
                      %span.dropdown
                        %button.dispute-inline-buttons.adjust-wlbl-button.dropdown-toggle{id: "wlbl_button_#{entry.id}", title: 'Adjust WL/BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
                        .dropdown-menu{id: "wlbl_adjust_#{entry.id}", 'aria-labelledby': "wlbl_button_#{entry.id}"}
                          = form_for :wlbl, html: {class: 'adjust-wlbl-form'} do |wlbl_form|
                            .dispute-wlbl-adjust-wrapper
                              %input.adjust-wlbl-input.dispute-entry-id{type: 'hidden', value: "#{entry.id}"}
                              %h3 Adjust WL/BL
                              %table.dispute_tool_current
                                %tr
                                  %td.text-center
                                    %label.content-label-sm Current Score
                                    %br
                                    %span.current-wbrs-score
                                      = entry.wbrs_score
                                  %td.text-center
                                    %label.content-label-sm New Score
                                    %br
                                    %span.new_wbrs_score
                              .inline-tool-content-wrapper
                                .toolbar
                                  %div
                                    %label.toolbar-section-label{for: "entry-#{entry.id}-wlbl-list-type-select"} WL/BL List
                                    = wlbl_form.select :list_type, Wbrs::ManualWlbl.types,
                                     {selected: entry.wbrs_list_type,
                                       include_blank: 'Not currently on a list '},
                                     class: 'toolbar-select select-status adjust-wlbl-input trgt_list-input',
                                     title: 'RepTool Rule Status',
                                     id: "entry-#{entry.id}-wlbl-list-type-select"

                                  %button.wlbl-preview-button.tertiary{type: 'button', disabled: true} Preview
                                .comment-wrapper
                                  %label.content-label-sm Comment
                                  %textarea.dropdown-comment.adjust-wlbl-input.note-input
                                .button-row-center
                                  %button.primary.dropdown-submit-button{type:'button', onclick:'row_adjust_wlbl_button(this);', disabled: true} Submit Changes
                      %span.dropdown
                        %button.dispute-inline-buttons.adjust-reptool-button.dropdown-toggle{id: "reptool_button_#{entry.id}", title: 'Adjust RepTool BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
                        .dropdown-menu{id: "reptool_adjust_#{entry.id}", 'aria-labelledby': "reptool_button_#{entry.id}"}
                          = form_for :reptool, html: {class: 'adjust-reptool-form'} do |rep_form|
                            .dispute-reptool-adjust-wrapper
                              %input.adjust-reptool-bl-input.dispute-entry-id{type: 'hidden', value: "#{entry.id}" }
                              %h3 Adjust RepTool WL/BL
                              %table.dispute_tool_current
                                %tr
                                  %td
                                    %label.content-label-sm Classification
                                    %br
                                    - if entry.classifications.first.nil?
                                      %span.missing-data Not on RepTool
                                    - else
                                      %span.entry-reptool-class
                                        = entry.classifications.first
                                  %td
                                    %label.content-label-sm Expiration
                                    %br
                                    - if entry.classifications.first.nil?
                                      %span.missing-data N/A
                                    - else
                                      %span.entry-reptool-expiration
                                        = entry.blacklist&.expiration
                              .inline-tool-content-wrapper
                                .toolbar
                                  %div
                                    %label.toolbar-section-label{for:"entry-#{entry.id}-blacklist-action-select"} Status
                                    -# Need to add an 'N/A' option in the dropdown for if an item has no classifications
                                    -# in RepTool
                                    = rep_form.select(:action, ['Active', 'Expired'],
                                      {selected: entry.blacklist ? 'Active' : 'Expired'},
                                      class: 'toolbar-select select-status adjust-reptool-bl-input action-input',
                                      title: 'RepTool Rule Status',
                                      id: "entry-#{entry.id}-blacklist-action-select")
                                  %div
                                    %label.toolbar-section-label{for: "entry-#{entry.id}-blacklist-classifications-select"} RepTool WL/BL
                                    = rep_form.select(:classification, RepApi::Blacklist.classifications,
                                      {selected: entry.classifications&.first,
                                        include_blank: 'Not on RepTool'},
                                      class: 'toolbar-select select-rt-rule adjust-reptool-bl-input classifications-input',
                                      title: "RepTool BL Rules",
                                      id: "entry-#{entry.id}-blacklist-classifications-select")
                                .comment-wrapper
                                  %label.content-label-sm Comment
                                  %textarea.dropdown-comment.adjust-reptool-bl-input.comment-input
                                .button-row-center
                                  %button.primary.dropdown-submit-button{type: 'button', onclick: 'row_adust_reptool_bl_button(this)'} Submit Changes
                %tr.research-overview-row
                  %td
                    -#Expander area
                  %td.research-table-details-wrapper{colspan: '7'}
                    %table
                      %tr
                        %td.input-col
                          %span.research-table-input-wrapper.wbrs-input-wrapper
                            %input.research-row-checkbox.wbrs-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                          %label WBRS
                        %td.text-center.entry-data-wbrs-score
                          = entry.wbrs_score
                        %td
                          %label WBRS Rule Hits
                        %td.text-center
                          = entry.dispute_rule_hits.where(:rule_type => "WBRS").count
                        %td
                          %label WBRS Rules
                        %td.rule-hits-col-list
                          - if entry.dispute_rule_hits.where(:rule_type => "WBRS").count == 0
                            %span.missing-data No rule hits
                          - else
                            - entry.dispute_rule_hits.where(:rule_type => "WBRS").each do |wbrs_hit|
                              = wbrs_hit.name + ', '
                        %td.input-col
                          %span.research-table-input-wrapper.xbrs-input-wrapper
                            %input.research-row-checkbox.xbrs-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                          %label XBRS History
                        %td.text-center
                          - unless entry.hostlookup.nil?
                            = entry.find_xbrs[1]['data'].count
                        %td.input-col
                          %span.research-table-input-wrapper.virus-total-input-wrapper
                            %input.research-row-checkbox.virus-total-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                          %label Virustotal
                        %td.text-center
                          - if entry.virustotals.count == 0
                            %span.missing-data N/A
                          - else
                            = entry.virustotals.count {|vt| vt[:result] != "clean site" && vt[:result] != "unrated site" }
                            \\
                            = entry.virustotals.count

                        %td.left-bordered
                          %label WL/BL
                        %td.entry-data-wlbl
                          - if entry.wbrs_list_type.nil?
                            %span.missing-data Not currently on a list
                          - else
                            = entry.wbrs_list_type

                        %td.left-bordered
                          %label Referenced on
                        %td
                          -#Add dropdown with links to all cases / tickets with this entry on them
                          12 Tickets
                      %tr
                        %td.input-col
                          %span.research-table-input-wrapper.sbrs-input-wrapper
                            %input.research-row-checkbox.sbrs-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                          %label SBRS
                        %td.text-center= entry.sbrs_score
                        %td
                          %label SBRS Rule Hits
                        %td.text-center
                          = entry.dispute_rule_hits.where(:rule_type => "SBRS").count
                        %td
                          %label SBRS Rules
                        %td.rule-hits-col-list
                          - if entry.dispute_rule_hits.where(:rule_type => "SBRS").count == 0
                            %span.missing-data No rule hits
                          - else
                            - entry.dispute_rule_hits.where(:rule_type => "SBRS").each do |sbrs_hit|
                              = sbrs_hit.name + ', '
                        %td.input-col
                          %span.research-table-input-wrapper.crosslisted-input-wrapper
                            %input.research-row-checkbox.crosslisted-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                          %label Crosslisted URLs
                        %td.text-center
                          = entry.wbrs_xlist.count
                        %td.input-offset.left-bordered
                          %label Umbrella
                        %td.text-center
                          -#Disposition on Umbrella
                          Clean
                        %td.left-bordered
                          %label RepTool Class
                        %td.entry-reptool-data
                          - if entry.classifications.first.nil?
                            %span.missing-data.entry-reptool-class Not on RepTool
                          - else
                            %span.inline-col-breakup.entry-reptool-class
                              = entry.classifications.first
                            %span.inline-col-breakup.entry-reptool-status
                              -# Reptool classification status (Active vs expired)
                              = entry.blacklist
                            %span.inline-col-breakup.entry-reptool-comment
                              -# Reptool comment, add comment here
                              Juno Spam Monitor
                        %td.left-bordered
                          %label Last Submitted
                        %td
                          -#Add dropdown with links to all cases / tickets with this entry on them
                          2016-02-24 15:11:22
                %tr.nested-data-row{'data-entry-id': "#{entry.id}"}
                  %td.expanded-row{colspan: '8'}
                    .expanded-row-data-wrapper
                      .row
                        .col-sm-3
                          .entry-details-table.wbrs-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header WBRS Rule Hit Details
                            %table
                              %thead
                                %tr
                                  %th Rule
                                  %th Rule Description
                                  %th Weight
                              %tbody
                                - entry.dispute_rule_hits.where(:rule_type => "WBRS").each do |wbrs_hit|
                                  %tr
                                    %td= wbrs_hit.name
                                    %td= wbrs_hit.mnemonic
                                    %td
                                      -#Put weight of rule here
                          .entry-details-table.sbrs-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header SBRS Rule Hit Details
                            %table
                              %thead
                                %tr
                                  %th Rule
                                  %th Rule Description
                                  %th Weight
                              %tbody
                                - entry.dispute_rule_hits.where(:rule_type => "SBRS").each do |sbrs_hit|
                                  %tr
                                    %td= sbrs_hit.name
                                    %td= sbrs_hit.mnemonic
                                    %td
                                      -#Put weight of rule here
                          .entry-details-table.virustotal-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header Virustotal Details
                            - if entry.virustotals.empty?
                              %table
                                %thead
                                  %tr
                                    %th
                                      %span.missing-data
                                        No Virustotal data available.
                            - else
                              %table.table-scrollable
                                %thead
                                  %tr
                                    %th AV Vendor
                                    %th Results
                                %tbody
                                  - entry.virustotals.each do |virustotal|
                                    %tr
                                      %td.data-table-emph= virustotal[:name]
                                      - if virustotal[:result] == 'clean site'
                                        %td.clean-site-result Clean
                                      - elsif virustotal[:result] == 'unrated site'
                                        %td.unrated-site-result Unrated
                                      - else
                                        %td.unclean-site-result= virustotal[:result]
                        .col-sm-9
                          .entry-details-table.xbrs-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header XBRS History
                            - if entry.find_xbrs[1]['data'].empty?
                              %table
                                %thead
                                  %tr
                                    %th
                                      %span.missing-data
                                        No XBRS data available.
                            - elsif entry.find_xbrs[1]['data'].count < 8
                              %table
                                %thead
                                  %tr
                                    - entry.find_xbrs[1]['legend'].each do |header|
                                      %th= header
                                %tbody
                                  - unless entry.hostlookup.nil?
                                    - entry.find_xbrs[1]['data'].each do |data|
                                      %tr
                                        - data.each do |datapoint|
                                          %td= datapoint
                            - else
                              %table.table-scrollable
                                %thead
                                  %tr
                                    - entry.find_xbrs[1]['legend'].each do |header|
                                      %th= header
                                %tbody
                                  - unless entry.hostlookup.nil?
                                    - entry.find_xbrs[1]['data'].each do |data|
                                      %tr
                                        - data.each do |datapoint|
                                          %td= datapoint

                          .entry-details-table.crosslisted-details-table{'data-entry-id': "#{entry.id}"}
                            %h5.entry-details-table-header Cross-listed URLs
                            - if entry.wbrs_xlist.empty?
                              %table
                                %thead
                                  %tr
                                    %th
                                      %span.missing-data
                                        No cross-listed urls.
                            - elsif entry.wbrs_xlist.count < 8
                              %table
                                %thead
                                  %tr
                                    %th ID
                                    %th URL
                                    %th List Type
                                    %th.text-center Current Score
                                    %th Username
                                    %th Last Update
                                    %th Created
                                %tbody
                                  - entry.wbrs_xlist.each do |cross_listed|
                                    %tr
                                      %td= cross_listed.id
                                      %td= cross_listed.url
                                      %td= cross_listed.list_type
                                      %td -
                                      %td= cross_listed.username
                                      %td= cross_listed.mtime
                                      %td= cross_listed.ctime
                            - else
                              %table.table-scrollable
                                %thead
                                  %tr
                                    %th ID
                                    %th URL
                                    %th List Type
                                    %th.text-center Current Score
                                    %th Username
                                    %th Last Update
                                    %th Created
                                %tbody
                                  - entry.wbrs_xlist.each do |cross_listed|
                                    %tr
                                      %td= cross_listed.id
                                      %td= cross_listed.url
                                      %td= cross_listed.list_type
                                      %td -
                                      %td= cross_listed.username
                                      %td= cross_listed.mtime
                                      %td= cross_listed.ctime
