%h1 Advanced Search

= simple_form_for @dispute, url: escalations_webrep_disputes_disputes_path, method: :get do |dispute_form|
  = dispute_form.input :search_type, as: :hidden, input_html: {value: 'advanced'}
  = dispute_form.input :customer_name
  = dispute_form.input :customer_email
  = dispute_form.input :customer_company_name
  = dispute_form.input :status
  = dispute_form.input :resolution
  = dispute_form.input :subject
  = dispute_form.input :search_name, input_html: {value: ''}
  = dispute_form.submit 'Search'

