.content-wrapper
  .dashboard-header-area.my-dashboard-header-area
    .row
      .col-xs-4
        %h1 My Dashboard
        %span.my-dashboard-icon
        %h5= current_user.display_name
        %p.dashboard-details
          = current_user.cvs_username

      .col-xs-4
        Ticket information

      .col-xs-4
        = simple_form_for :report, url: resolution_report_escalations_webrep_disputes_path, method: :get,
                          html: { target: :_blank } do |rpt_form|
          = rpt_form.input :date_from, as: :string, input_html: {type: :date}
          = rpt_form.input :date_to, as: :string, input_html: {type: :date}
          = rpt_form.submit 'Report'


  .dashboard-header-area.team-dashboard-header-area
    .row
      .col-xs-4
        %h1 My Team
        %span.team-icon
        %h5 Web Reputation Escalations
        %p.dashboard-details
          Manager: Joel Esler

      .col-xs-4
        Ticket Information

      .col-xs-4
        More information
