.content-wrapper
  .dashboard-header-area
    .row
      .col-xs-4
        .dashboard-wrapper
          .dashboard-title
            %h1 My Dashboard
            %span.my-dashboard-icon

          .user-info
            %h5= current_user.display_name
            %p.dashboard-details
              = current_user.cvs_username
            %input#user_id{type: 'hidden', name: 'user_id', value: "#{current_user.id}"}
            %input{:name => "token", :type => "hidden", :value => "#{current_user.authentication_token}"}
            %input{:type => "hidden", :name => "xml_token", :value => "#{xml_token}"}

      .col-xs-8.text-right
        .dashboard-time-wrapper
          .dashboard-time
            %label September 08, 2018 - September 15, 2018
            %button.toolbar-button.icon-calendar Change Time Span

            %input#tickets_date_range{:type => 'text'}

          .dashboard-time-ticket
            .button-wrapper
              %button.arrow-left View Last Week's Tickets

      #dashboard-tab-list.container
        %label.bold View:
        %ul
          %li.active
            %span.down-arrow
            %a.white-user.ticket-owner-button.user-icon-stg-1.bold{"data-toggle" => "tab", :href => "#my-ticket"} My Ticket
          %li
            %span.down-arrow
            %a.group-user-white.icon-team-grey.user-icon-stg.bold{"data-toggle" => "tab", :href => "#my-team-tickets"} My Team Tickets
          %li
            %span.down-arrow
            %a.all-tickets-white.icon-all-tickets-grey.user-icon-stg.bold{"data-toggle" => "tab", :href => "#all-tickets"} All tickets
          %li
            %span.down-arrow
            %a.custom-user-white.icon-custom-user-grey.user-icon-stg.bold{"data-toggle" => "tab", :href => "#select-custom-users"} Select Custom Users

        .dashboard-submission-area
          %label.right-vertical-separator.bold.font-lg 30
          %label.font-lg 99
          %label.uppercase.right-vertical-separator.bold valid total tickets / entries submission
          %label.uppercase.icon-invalid-grey.user-icon-stg.invalid-stg.bold 12 invalid tickets

        .dashboard-export-report.left-vertical-separator
          %button.toolbar-button.export-button-white Export Report

  .tab-content.dashboard-tab-content
    #my-ticket.tab-pane.active
      = render 'escalations/webrep/disputes/single_user_reports'

    #my-team-tickets.tab-pane
      = render 'escalations/webrep/disputes/multi_user_reports'


    #all-tickets.tab-pane
      .row
        .col-xs-6
          %h1.dashboard-header All Tickets
          .content-layout-list
            %label.content-label-sm.icon-custom-star
              Show Customer Tickets
              %input{:type => "checkbox", :checked => "checked"}/

            %label.content-label-sm.no-left-pad.right-vertical-separator
              Show Guest Tickets
              %input{:type => "checkbox", :checked => "checked"}/

            %label.content-label-sm.dispute-E-grey
              Show Email Tickets
              %input{:type => "checkbox", :checked => "checked"}/

            %label.content-label-sm.dispute-W-grey
              Show Web Tickets
              %input{:type => "checkbox", :checked => "checked"}/

            %label.content-label-sm.dispute-EW-grey.btn-margin-left
              Show Email/Web Tickets
              %input{:type => "checkbox", :checked => "checked"}/

          .tickets-section-wrapper.open-tickets-wrapper

            .open-tickets-header
              %h3.larger-lighter Open All Tickets

              .ticket-count-wrapper
                %label.total-table-ticket-count 4
                %label.total-table-entry-count 23
    #select-custom-users.tab-pane
      %p custom selected user

