.content-wrapper
  .dashboard-header-area
    .row
      .col-xs-4
        .dashboard-wrapper
          .dashboard-title
            %h1 My Dashboard
            %span.my-dashboard-icon


          .user-info
            %h5= current_user.display_name
            %p.dashboard-details
              = current_user.cvs_username
            %input#user_id{type: 'hidden', name: 'user_id', value: "#{current_user.id}"}
            %input{:name => "token", :type => "hidden", :value => "#{current_user.authentication_token}"}
            %input{:type => "hidden", :name => "xml_token", :value => "#{xml_token}"}
            %input#team_ids{:type => "hidden", :name => "team_ids", :value => "#{current_user.my_team.pluck(:id).to_s}"}

      .col-xs-2
        .dashboard-wrapper
          .button-wrapper
            - if current_user&.has_role?('big_email_honcho')
              %a.toolbar-button#resolution-email-editor{href: '/rulehit_resolution_mailer_templates'} Edit Rule Hit Email Templates

      .col-xs-6.text-right
        .dashboard-time-wrapper
          .dashboard-time
            %label
            %button.toolbar-button.icon-calendar Change Time Span

            %input#tickets_date_range{:type => 'text'}

          .dashboard-time-ticket
            .button-wrapper
              %button.arrow-left#ticket-view-shortcut

      #dashboard-tab-list.container
        %label.bold View:
        %ul.nav.nav-tabs{role: 'tablist'}
          %li.active{role: 'presentation'}
            %span.down-arrow
            %a.white-user.ticket-owner-button.user-icon-stg-1.bold{'data-toggle': 'tab', role: 'tab', 'aria-controls': 'my-tickets', href: '#my-tickets'} My Tickets
          %li{role: 'presentation'}
            %span.down-arrow
            %a.group-user-white.icon-team-grey.user-icon-stg.bold{'data-toggle': 'tab', role: 'tab', 'aria-controls': 'my-team-tickets', href: '#my-team-tickets'} My Team Tickets
          %li{role: 'presentation'}
            %span.down-arrow
            %a.all-tickets-white.icon-all-tickets-grey.user-icon-stg.bold{'data-toggle': 'tab', role: 'tab', 'aria-controls': 'all-tickets', href: '#all-tickets'} All Tickets
          %li{role: 'presentation'}
            %span.down-arrow
            %a.custom-user-white.icon-custom-user-grey.user-icon-stg.bold{'data-toggle': 'tab', role: 'tab', 'aria-controls': 'select-custom-users', href: '#select-custom-users'} Select Custom Users

        .dashboard-submission-area
          %label#total-valid-ticket-count.right-vertical-separator.bold.font-lg
          %label#total-valid-entry-count.font-lg
          %label.uppercase.right-vertical-separator.bold Valid Total Tickets / Entries Submission
          %label#total-invalid-ticket-count.uppercase.icon-invalid-grey.user-icon-stg.invalid-stg.bold

        .dashboard-export-report.left-vertical-separator
          %button.toolbar-button.export-button-white Export Report
          -# TODO Hookup exporting. This can be simple for first launch. Later we'll add options to select what gets exported.

  .tab-content.dashboard-tab-content
    #my-tickets.tab-pane.active{role: 'tabpanel'}
      = render 'escalations/webrep/disputes/single_user_reports'

    #my-team-tickets.tab-pane{role: 'tabpanel'}
      = render 'escalations/webrep/disputes/multi_user_reports'

    #all-tickets.tab-pane{role: 'tabpanel'}
    -#  Add render to multi user report later

    #select-custom-users.tab-pane{role: 'tabpanel'}
    -#  Add render to single or multi user report depending on how many users are selected
