.content-wrapper
  .dashboard-header-area.my-dashboard-header-area
    .row
      .col-xs-3.dashboard-left-data
        %h1 My Dashboard
        %span.my-dashboard-icon
        %h5= current_user.display_name
        %p.dashboard-details
          = current_user.cvs_username

      .col-xs-4
        %table.tickets-totals-table
          %tr
            %td.ticket-total= Dispute.open.where(user: current_user).count
            %td.entries-total= DisputeEntry.open.joins(:dispute).where(disputes: {user: current_user}).count
            %td
              %span.ticket-type-label Open
              Tickets / Dispute Entries
          %tr
            %td.ticket-total= Dispute.in_progress.where(user: current_user).count
            %td.entries-total= DisputeEntry.in_progress.joins(:dispute).where(disputes: {user: current_user}).count
            %td
              %span.ticket-type-label In Progress
              Tickets / Dispute Entries
          %tr
            %td.ticket-total= Dispute.closed.where(user: current_user).count
            %td.entries-total= DisputeEntry.closed.joins(:dispute).where(disputes: {user: current_user}).count
            %td
              %span.ticket-type-label Closed
              Tickets / Dispute Entries

      .col-xs-5


  .row
    .col-xs-12.temp-spacer
      %h2 Generate Report
      .report-form-wrapper
        = simple_form_for :report, url: resolution_report_escalations_webrep_disputes_path, method: :get,
                            html: { target: :_blank } do |rpt_form|
          = rpt_form.input :date_from, as: :string, input_html: {type: :date}
          = rpt_form.input :date_to, as: :string, input_html: {type: :date}
          = rpt_form.input :period, collection: ['Daily', 'Weekly', 'Monthly'], selected: 'Daily'
          = rpt_form.submit 'Create Report', class: 'button_primary create-report'
      .report-display-wrapper

  .dashboard-header-area.team-dashboard-header-area
    .row
      .col-xs-3.dashboard-left-data
        %h1 My Team
        %span.team-icon
        %h5 Web Reputation Escalations
        %p.dashboard-details
          Manager:
          = current_user.team_manager.display_name

      .col-xs-4
        %table.tickets-totals-table
          %tr
            %td.ticket-total= Dispute.open.my_team(current_user).count
            %td.entries-total= DisputeEntry.open.my_team(current_user).count
            %td
              %span.ticket-type-label Open
              Tickets / Dispute Entries
          %tr
            %td.ticket-total= Dispute.in_progress.my_team(current_user).count
            %td.entries-total= DisputeEntry.in_progress.my_team(current_user).count
            %td
              %span.ticket-type-label In Progress
              Tickets / Dispute Entries
          %tr
            %td.ticket-total= Dispute.closed.my_team(current_user).count
            %td.entries-total= DisputeEntry.closed.my_team(current_user).count
            %td
              %span.ticket-type-label Closed
              Tickets / Dispute Entries

      .col-xs-5

  .row
    .col-xs-12.temp-spacer
