.content-wrapper
  .dashboard-header-area
    .row
      .col-xs-4
        .dashboard-wrapper
          .dashboard-title
            %h1 My Dashboard
            %span.my-dashboard-icon

          .user-info
            %h5= current_user.display_name
            %p.dashboard-details
              = current_user.cvs_username
            %input#user_id{type: 'hidden', name: 'user_id', value: "#{current_user.id}"}
            %input{:name => "token", :type => "hidden", :value => "#{current_user.authentication_token}"}
            %input{:type => "hidden", :name => "xml_token", :value => "#{xml_token}"}

      .col-xs-8.text-right
        .dashboard-time-wrapper
          .dashboard-time
            %label September 08, 2018 - September 15, 2018
            %button.toolbar-button.icon-calendar Change Time Span

            %input#tickets_date_range{:type => 'text'}

          .dashboard-time-ticket
            .button-wrapper
              %button.arrow-left View Last Week's Tickets

      #dashboard-tab-list.container
        %label.bold View:
        %ul
          %li.active
            %span.down-arrow
            %a.white-user.ticket-owner-button.user-icon-stg-1.bold{"data-toggle" => "tab", :href => "#my-ticket"} My Ticket
          %li
            %span.down-arrow
            %a.group-user-white.icon-team-grey.user-icon-stg.bold{"data-toggle" => "tab", :href => "#my-team-tickets"} My Team Tickets
          %li
            %span.down-arrow
            %a.all-tickets-white.icon-all-tickets-grey.user-icon-stg.bold{"data-toggle" => "tab", :href => "#all-tickets"} All tickets
          %li
            %span.down-arrow
            %a.custom-user-white.icon-custom-user-grey.user-icon-stg.bold{"data-toggle" => "tab", :href => "#select-custom-users"} Select Custom Users

        .dashboard-submission-area
          %label.right-vertical-separator.bold.font-lg 30
          %label.font-lg 99
          %label.uppercase.right-vertical-separator.bold valid total tickets / entries submission
          %label.uppercase.icon-invalid-grey.user-icon-stg.invalid-stg.bold 12 invalid tickets

        .dashboard-export-report.left-vertical-separator
          %button.toolbar-button.export-button-white Export Report

  .tab-content.dashboard-tab-content
    #my-ticket.tab-pane.active
      .row
        .col-xl-6.col-lg-7.col-xs-12.dashboard-tickets-wrapper
          %h1.dashboard-header My Tickets
          .content-layout-list
            %label.content-label-sm.icon-custom-star
              Show Customer Tickets
              %input{:type => "checkbox", :checked => "checked"}/

            %label.content-label-sm.no-left-pad.right-vertical-separator
              Show Guest Tickets
              %input{:type => "checkbox", :checked => "checked"}/

            %label.content-label-sm.dispute-E-grey
              Show Email Tickets
              %input{:type => "checkbox", :checked => "checked"}/

            %label.content-label-sm.dispute-W-grey
              Show Web Tickets
              %input{:type => "checkbox", :checked => "checked"}/

            %label.content-label-sm.dispute-EW-grey.btn-margin-left
              Show Email/Web Tickets
              %input{:type => "checkbox", :checked => "checked"}/

          .tickets-section-wrapper.open-tickets-wrapper
            .open-tickets-header
              %h3.larger-lighter My Open Tickets
              .ticket-count-wrapper
                %label#open_single_ticket_count.total-table-ticket-count 4
                %label#open_single_entry_count.total-table-entry-count 23
            %table.table.responsive.dashboard-tickets-table#table-user-disputes-open
              %thead
                %tr
                  %th
                    -#  priority
                  %th Case ID
                  %th
                    -#  Submitter type
                  %th Status
                  %th
                    -#  Ticket type
                  %th Dispute Preview
                  %th Last Comment Date

            .ticket-entries-totals-wrapper
              %label.totals-label
                Total Ticket Entries
              .ticket-entry-total-block
                %label.content-label-sm.submitter-customer
                  Customer
                %span#open_single_customer_count.ticket-entry-total
                  32
              .ticket-entry-total-block.guest-block-total
                %label.content-label-sm
                  Guest
                %span#open_single_guest_count.ticket-entry-total
                  12
              .ticket-entry-total-block
                %label.content-label-sm.dispute-E-grey
                  Email Entries
                %span#open_single_email_count.ticket-entry-total
                  25
              .ticket-entry-total-block
                %label.content-label-sm.dispute-W-grey
                  Web Entries
                %span#open_single_web_count.ticket-entry-total
                  22
              .ticket-entry-total-block
                %label.content-label-sm.dispute-EW-grey
                  Email/Web Entries
                %span#open_single_email_web_count.ticket-entry-total
                  3


          .tickets-section-wrapper.closed-tickets-wrapper
            .closed-tickets-header
              %h3.larger-lighter My Closed Tickets
              .ticket-count-wrapper
                %label.total-table-ticket-count 7
                %label.total-table-entry-count 46
            %table.table.responsive.dashboard-tickets-table#table-user-disputes-closed
              %thead
                %tr
                  %th
                    -#    priority
                  %th Case ID
                  %th
                    -#  Submitter type
                  %th
                    -#  Ticket type
                  %th Dispute Preview
                  %th Time to Close
            .ticket-entries-totals-wrapper
              %label.totals-label
                Total Ticket Entries
              .ticket-entry-total-block
                %label.content-label-sm.submitter-customer
                  Customer
                %span.ticket-entry-total
                  32
              .ticket-entry-total-block.guest-block-total
                %label.content-label-sm
                  Guest
                %span.ticket-entry-total
                  12
              .ticket-entry-total-block
                %label.content-label-sm.dispute-E-grey
                  Email Entries
                %span.ticket-entry-total
                  25
              .ticket-entry-total-block
                %label.content-label-sm.dispute-W-grey
                  Web Entries
                %span.ticket-entry-total
                  22
              .ticket-entry-total-block
                %label.content-label-sm.dispute-EW-grey
                  Email/Web Entries
                %span.ticket-entry-total
                  3

        .col-xl-6.col-lg-5.col-xs-12.graph-section
          .row
            .col-lg-12.col-xl-6.top-space-ex
              .graph-top-header
                %h5.uppercase.header-stg Ticket Entries Closed by Day

              .graph-config
                %label.content-label-sm.graph-select-label Time Breakdown
                %select.form-control
                  %option{:selected => "selected", :value => "day"} By Day
                  %option{:value => "weekly"} By Week
                  %option{:value => "monthly"} By Month
                  %option{:value => "yearly"} By Year

                .graph-menu
                  %label
                    %input.all-ticket{:type => "checkbox", :checked => "checked", :onclick => 'updateGraph(["Total Ticket Entries"], "userTicketClosedGraph", this)'}/
                    %label.total-legend
                    Total Tickets Entries

                  %label
                    %input.group-ticket{:type => "checkbox", :checked => "checked", :onclick => 'updateGraph(["E", "W", "EW"], "userTicketClosedGraph", this)'}/
                    %label.dispute-E.legend-option
                    %label.dispute-W.legend-option
                    %label.dispute-EW.legend-option
                    Entries By Ticket Types
              %canvas#graph-ticket-entries-closed


              .graph-top-header.top-space-ex.bottom-space
                %h5.uppercase.header-stg Time to Close Tickets
              .average-label
                %label Average Time To Close
                %label.label-stg 45m 12s
              %canvas#time-to-close-tickets-linechart


              %label.content-label-sm.top-space-ex Time Breakdown
              .graph-config
                %select.form-control
                  %option{:selected => "selected", :value => ""} By Day
                  %option{:value => ""} Weekly
                  %option{:value => ""} Monthly
                  %option{:value => ""} Yearly
              .graph-top-header
                %h5.uppercase.header-stg Ticket Submitted by Submitter Type
              .graph-bar-legend
                .custom-legend
                  %label Customer
                  %label.skyblue-legend-color
                .custom-legend
                  %label Guest
                  %label.navyblue-legend-color
              %canvas#graph-ticket-entries-submitter


            .col-lg-12.col-xl-6.top-space-ex.graph-section
              .graph-top-header
                %h5.uppercase.dispute-E-grey.graph-header-icon-stg.header-stg.bottom-space Closed Email Entries by Resolution

              %canvas#closed-email-entries-resolution-piechart

              %table.table#closed-email-entries-resolution-table
                %thead
                  %tr
                    %th Resolution
                    %th.text-center %
                    %th.text-center Count
                %tbody


              .graph-top-header.top-space.top-space-ex
                %h5.uppercase.dispute-W-grey.graph-header-icon-stg.header-stg.bottom-space Closed Web Entries by Resolution

              %canvas#closed-web-entries-resolution-piechart

              %table.table#closed-web-entries-resolution-table
                %thead
                  %tr
                    %th Resolution
                    %th.text-center %
                    %th.text-center Count
                %tbody

    #my-team-tickets.tab-pane
      .row
        .col-xl-6.col-lg-7.col-xs-12.dashboard-tickets-wrapper
          %h1.dashboard-header My Team Tickets
          .content-layout-list
            %label.content-label-sm.icon-custom-star
              Show Customer Tickets
              %input{:type => "checkbox", :checked => "checked"}/

            %label.content-label-sm.no-left-pad.right-vertical-separator
              Show Guest Tickets
              %input{:type => "checkbox", :checked => "checked"}/

            %label.content-label-sm.dispute-E-grey
              Show Email Tickets
              %input{:type => "checkbox", :checked => "checked"}/

            %label.content-label-sm.dispute-W-grey
              Show Web Tickets
              %input{:type => "checkbox", :checked => "checked"}/

            %label.content-label-sm.dispute-EW-grey.btn-margin-left
              Show Email/Web Tickets
              %input{:type => "checkbox", :checked => "checked"}/

          .tickets-section-wrapper.open-tickets-wrapper
            .open-tickets-header
              %h3.larger-lighter Open Team Tickets
              .ticket-count-wrapper
                %label.total-table-ticket-count 4
                %label.total-table-entry-count 23
            %table.table.responsive.dashboard-tickets-table#table-multi-user-disputes-open
              %thead
                %tr
                  %th
                  -#  priority
                  %th Case ID
                  %th
                  -#  Submitter type
                  %th Owner
                  %th Status
                  %th
                  -#  Ticket type
                  %th Dispute Preview
                  %th Last Comment Date

            .ticket-entries-totals-wrapper
              %label.totals-label
                Total Ticket Entries
              .ticket-entry-total-block
                %label.content-label-sm.submitter-customer
                  Customer
                %span.ticket-entry-total
                  32
              .ticket-entry-total-block.guest-block-total
                %label.content-label-sm
                  Guest
                %span.ticket-entry-total
                  12
              .ticket-entry-total-block
                %label.content-label-sm.dispute-E-grey
                  Email Entries
                %span.ticket-entry-total
                  25
              .ticket-entry-total-block
                %label.content-label-sm.dispute-W-grey
                  Web Entries
                %span.ticket-entry-total
                  22
              .ticket-entry-total-block
                %label.content-label-sm.dispute-EW-grey
                  Email/Web Entries
                %span.ticket-entry-total
                  3


          .tickets-section-wrapper.closed-tickets-wrapper
            .closed-tickets-header
              %h3.larger-lighter Closed Team Tickets
              .ticket-count-wrapper
                %label.total-table-ticket-count 7
                %label.total-table-entry-count 46
            %table.table.responsive.dashboard-tickets-table#table-multi-user-disputes-closed
              %thead
                %tr
                  %th
                  -#    priority
                  %th Case ID
                  %th
                  -#  Submitter type
                  %th Owner
                  %th
                  -#  Ticket type
                  %th Dispute Preview
                  %th Time to Close
            .ticket-entries-totals-wrapper
              %label.totals-label
                Total Ticket Entries
              .ticket-entry-total-block
                %label.content-label-sm.submitter-customer
                  Customer
                %span.ticket-entry-total
                  32
              .ticket-entry-total-block.guest-block-total
                %label.content-label-sm
                  Guest
                %span.ticket-entry-total
                  12
              .ticket-entry-total-block
                %label.content-label-sm.dispute-E-grey
                  Email Entries
                %span.ticket-entry-total
                  25
              .ticket-entry-total-block
                %label.content-label-sm.dispute-W-grey
                  Web Entries
                %span.ticket-entry-total
                  22
              .ticket-entry-total-block
                %label.content-label-sm.dispute-EW-grey
                  Email/Web Entries
                %span.ticket-entry-total
                  3




        .col-xl-6.col-lg-5.col-xs-12.graph-section
          .col-lg-12.col-xl-6
            .graph-top-header.top-space-ex.bottom-space
              %h5.uppercase.header-stg Ticket Entries Closed by Ticket Owner
            %canvas#ticket-entries-closed-by-owner

            .graph-top-header.top-space-ex.bottom-space
              %h5.uppercase.header-stg Average Time to Close Tickets by Ticket Owner
            %canvas#avg-time-to-close-tickets

            .graph-top-header.top-space-ex.bottom-space
              %h5.uppercase.header-stg Ticket Resolution by Ticket Owner
            .graph-bar-legend
              .custom-legend
                %label Unchanged
                %label.lightgray-legend-color
              .custom-legend
                %label Fixed FN
                %label.navyblue-legend-color
              .custom-legend
                %label Fixed FP
                %label.skyblue-legend-color
              .custom-legend
                %label Other
                %label.orange-legend-color
            %canvas#ticket-resolutions-by-owner

            -#%table.table.left-space.top-space
            -#  %thead
            -#    %tr
            -#      %th{:scope => "col"} OWNER
            -#      %th{:scope => "col"} UNCHANGED
            -#      %th{:scope => "col"} FIXED FN
            -#      %th{:scope => "col"} FIXED FP
            -#      %th{:scope => "col"} OTHER
            -#  %tbody
            -#    %tr.text-center
            -#      %td.text-left mtaylor
            -#      %td 4
            -#      %td 10
            -#      %td 8
            -#      %td 0
            -#    %tr.text-center
            -#      %td.text-left chrclair
            -#      %td 5
            -#      %td 13
            -#      %td 7
            -#      %td 1
            -#    %tr.text-center
            -#      %td.text-left nherbert
            -#      %td 11
            -#      %td 11
            -#      %td 6
            -#      %td 0
            -#    %tr.text-center
            -#      %td.text-left nverbeck
            -#      %td 13
            -#      %td 10
            -#      %td 7
            -#      %td 4
            -#    %tr.text-center
            -#      %td.text-left abreeman
            -#      %td 9
            -#      %td 5
            -#      %td 9
            -#      %td 1
            -#  %tfoot
            -#    %tr
            -#      %th Total
            -#      %th.text-center 42
            -#      %th.text-center 49
            -#      %th.text-center 37
            -#      %th.text-center 6

            .graph-top-header.top-space.bottom-space
              %h5.uppercase.header-stg Rule Hits for False Positive Resolutions
            %canvas#rule-hits-fp-resolutions

          .col-lg-12.col-xl-6.graph-section
            %label.content-label-sm.top-space-ex Time Breakdown
            .graph-config
              %select.form-control
                %option{:selected => "selected", :value => "day"} By Day
                %option{:value => "weekly"} Weekly
                %option{:value => "monthly"} Monthly
                %option{:value => "yearly"} Yearly

            .graph-top-header
              %h5.uppercase.header-stg ticket entries closed by day

            .graph-menu.float-right
              %label
                %input.all-ticket{:type => "checkbox", :checked => "checked", :onclick => 'updateGraph("Total Ticket Entries", "barChartGrouped", this)'}/
                %label.total-legend
                Total Tickets Entries

              %label
                %input.group-ticket{:type => "checkbox", :onclick => 'updateGraph(["E", "W", "EW"], "barChartGrouped", this)'}/
                %label.dispute-E.legend-option
                %label.dispute-W.legend-option
                %label.dispute-EW.legend-option
                Entries By Ticket Types
            %canvas#bar-chart2-grouped

            %label.content-label-sm.top-space Time Breakdown
            .graph-config
              %select.form-control
                %option{:selected => "selected", :value => "day"} By Day
                %option{:value => "weekly"} Weekly
                %option{:value => "monthly"} Monthly
                %option{:value => "yearly"} Yearly

            .graph-top-header
              %h5.uppercase.header-stg ticket submitted by submitter per day

            .graph-bar-legend
              .custom-legend
                %label Customer
                %label.skyblue-legend-color
              .custom-legend
                %label Guest
                %label.navyblue-legend-color
            %canvas#bar-chart3-grouped

            .graph-top-header.top-space-ex
              %h5.uppercase.dispute-E-grey.graph-header-icon-stg.header-stg.bottom-space closed email entries by resolution

            %canvas#team-pie-chart

            %table.table.left-space.top-space
              %thead
                %tr
                  %th{:scope => "col"} RESOLUTION
                  %th{:scope => "col"} %
                  %th{:scope => "col"} COUNT
              %tbody
                %tr.text-left
                  %td Unchanged
                  %td 18.75%
                  %td 3
                %tr.text-left
                  %td Fixed FN
                  %td 37.50%
                  %td 6
                %tr.text-left
                  %td Fixed FP
                  %td 43.75%
                  %td 7

                %tr.text-left
                  %td Other
                  %td 00.00%
                  %td 0

            .graph-top-header.top-space-ex
              %h5.uppercase.dispute-E-grey.graph-header-icon-stg.header-stg.bottom-space closed web entries by resolution

            %canvas#team-pie2-chart

            %table.table.left-space.top-space
              %thead
                %tr
                  %th{:scope => "col"} RESOLUTION
                  %th{:scope => "col"} %
                  %th{:scope => "col"} COUNT
              %tbody
                %tr.text-left
                  %td Unchanged
                  %td 18.75%
                  %td 3
                %tr.text-left
                  %td Fixed FN
                  %td 37.50%
                  %td 6
                %tr.text-left
                  %td Fixed FP
                  %td 43.75%
                  %td 7

                %tr.text-left
                  %td Other
                  %td 00.00%
                  %td 0


    #all-tickets.tab-pane
      .row
        .col-xs-6
          %h1.dashboard-header All Tickets
          .content-layout-list
            %label.content-label-sm.icon-custom-star
              Show Customer Tickets
              %input{:type => "checkbox", :checked => "checked"}/

            %label.content-label-sm.no-left-pad.right-vertical-separator
              Show Guest Tickets
              %input{:type => "checkbox", :checked => "checked"}/

            %label.content-label-sm.dispute-E-grey
              Show Email Tickets
              %input{:type => "checkbox", :checked => "checked"}/

            %label.content-label-sm.dispute-W-grey
              Show Web Tickets
              %input{:type => "checkbox", :checked => "checked"}/

            %label.content-label-sm.dispute-EW-grey.btn-margin-left
              Show Email/Web Tickets
              %input{:type => "checkbox", :checked => "checked"}/

          .tickets-section-wrapper.open-tickets-wrapper

            .open-tickets-header
              %h3.larger-lighter Open All Tickets

              .ticket-count-wrapper
                %label.total-table-ticket-count 4
                %label.total-table-entry-count 23
    #select-custom-users.tab-pane
      %p custom selected user

