.content-wrapper
  .dashboard-header-area
    .row
      .col-xs-4
        .dashboard-wrapper
          .dashboard-title
            %h1 My Dashboard
            %span.my-dashboard-icon

          .user-info
            %h5= current_user.display_name
            %p.dashboard-details
              = current_user.cvs_username
            %input#user_id{type: 'hidden', name: 'user_id', value: "#{current_user.id}"}
            %input{:name => "token", :type => "hidden", :value => "#{current_user.authentication_token}"}
            %input{:type => "hidden", :name => "xml_token", :value => "#{xml_token}"}
            %input#team_ids{:type => "hidden", :name => "team_ids", :value => "#{current_user.my_team.pluck(:id).to_s}"}

      .col-xs-8.text-right
        .dashboard-time-wrapper
          .dashboard-time
            %label September 08, 2018 - September 15, 2018
            -# TODO Populate above label with local storage time or current week span
            %button.toolbar-button.icon-calendar Change Time Span

            %input#tickets_date_range{:type => 'text'}

          .dashboard-time-ticket
            .button-wrapper
              %button.arrow-left#ticket-view-shortcut

      #dashboard-tab-list.container
        %label.bold View:
        %ul
          %li.active
            %span.down-arrow
            %a.white-user.ticket-owner-button.user-icon-stg-1.bold{"data-toggle" => "tab", :href => "#my-ticket"} My Ticket
          %li
            %span.down-arrow
            %a.group-user-white.icon-team-grey.user-icon-stg.bold{"data-toggle" => "tab", :href => "#my-team-tickets"} My Team Tickets
          %li
            %span.down-arrow
            %a.all-tickets-white.icon-all-tickets-grey.user-icon-stg.bold{"data-toggle" => "tab", :href => "#all-tickets"} All tickets
          %li
            %span.down-arrow
            %a.custom-user-white.icon-custom-user-grey.user-icon-stg.bold{"data-toggle" => "tab", :href => "#select-custom-users"} Select Custom Users

        .dashboard-submission-area
          -# TODO Hookup counts for Valid Ticket and Entry Counts and Invalid Count (Invalid = Duplicate, Test, Junk, etc.)
          %label.right-vertical-separator.bold.font-lg 30
          %label.font-lg 99
          %label.uppercase.right-vertical-separator.bold Valid Total Tickets / Entries Submission
          %label.uppercase.icon-invalid-grey.user-icon-stg.invalid-stg.bold 12 Invalid Tickets

        .dashboard-export-report.left-vertical-separator
          %button.toolbar-button.export-button-white Export Report
          -# TODO Hookup exporting. This can be simple for first launch. Later we'll add options to select what gets exported.

  .tab-content.dashboard-tab-content
    #my-ticket.tab-pane.active
      = render 'escalations/webrep/disputes/single_user_reports'

    #my-team-tickets.tab-pane
      = render 'escalations/webrep/disputes/multi_user_reports'

    #all-tickets.tab-pane
    -#  Add render to multi user report later

    #select-custom-users.tab-pane
    -#  Add render to single or multi user report depending on how many users are selected
