.content-wrapper
  .reputation-research-search-wrapper
    .research-header-wrapper
      %span.icon-research.top-info-icon
      %h1 Reputation
      %ul{class:"nav nav-tabs", role:'tablist'}
        %li{role:"presentation", class: "active"}
          %a{href:'#lookup-detail','aria-controls':'lookup-detail', 'aria-label': 'Detail lookup tab','data-toggle':'tab', role:"tab"}
            %span.icon-lookup-detail.top-info-icon
            Detailed Lookup
        %li{role:'presentation'}
          %a{href:'#lookup-quick', 'aria-controls':'lookup-quick','aria-label': 'Quick lookup tab','data-toggle':'tab', role:"tab"}
            %span.icon-lookup-quick.top-info-icon
            Quick Lookup
    .research-search-form.row.tab-content
      = form_for(:search, method: "get") do |search_form|
        .search-options-col.tab-pane.active#lookup-detail
          .col-xs-4.col-sm-3.col-md-2.col-lg-2.col-xl-1
            = search_form.radio_button(:scope, 'strict', id: 'research-search-strict', checked: params['search'] && params['search']['scope'].eql?("strict"))
            %label{for: 'research-search-strict'} Strict Search
            %br
            = search_form.radio_button(:scope, 'broad', id: 'research-search-broad', checked: !params['search'] || params['search']['scope'].eql?("broad"))
            %label{for: 'research-search-broad'} Broad Search
            %hr.thin
            =search_form.submit(:Submit, id: 'submit-button', class: 'button_primary')
          .col-xs-8.col-sm-9.col-md-10.col-lg-10.col-xl-11
            = search_form.text_area(:uri, class: 'search-box', placeholder: 'URI or IP Address', autofocus: 'true')
        .search-options-col.tab-pane#lookup-quick{role:'tabpanel'}
          .col-xs-12.ajax-message-div
            .loader-gears
              =inline_svg 'icon_gears_loader.svg'
            %span.loader-msg Loading data...
          .col-xs-12.toolbar-quicklookup
            %button.primary#get-rep-data Get Reputation Data
            .toolbar.research-toolbar
              %div
                %label.toolbar-section-label Adjust Reputation
                %span.dropdown
                  %button#wlbl_entries_button.toolbar-button.adjust-wlbl-button.dropdown-toggle.esc-tooltipped.dropdown-button-margin-left{title: 'Adjust WL/BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false', onclick:'open_wlbl();'}
                    %span.toolbar-button-text Adjust WL/BL
                  .dropdown-menu.toolbar-dropdown#wlbl_entries_dropdown{'aria-labelledby': 'wlbl_reptool'}
                    .col-xs-12
                      .inline-tool-content-wrapper
                        .row.nested-radio-row.reptool-class-radio-row
                          .col-xs-2
                            %label.content-label-sm.reptool-section-label{for: "reptool-class-type-select"} Action
                          .col-xs-5
                            %input{type: 'radio', class:'wlbl-radio-add', name: 'wlbl-radio', id: 'wlbl-reptool-add', value: 'add', checked: true}
                            %label.radio-label{for: 'wlbl-reptool-add'} Add to List
                          .col-xs-5
                            %input{type: 'radio', class:'wlbl-radio-add', name: 'wlbl-radio', id: 'wlbl-reptool-remove', value: 'remove'}
                            %label.radio-label{for: 'wlbl-reptool-remove'} Remove from List
                        .row.reptool-classifications-row
                          .col-xs-12
                            %label.content-label-sm.reptool-section-label{for: "reptool-class-type-select"} Lists
                            %ul.dropdown-wlbl-list
                      .col-xs-12
                        .comment-wrapper
                          %label.col-x-3.reptool-section-label{required: true} WL/BL Comment
                          %textarea.dropdown-comment.adjust-reptool-bl-input.comment-input
                          .col-x-3
                          .col-x-6
                            %hr.thin
                          .button-row-center
                            %button.primary.dropdown-submit-button{type: 'button', onclick: '', disabled: true, onclick: 'set_action_wlbl_col();'}
                              Add Action to Entries


                %span.dropdown
                  %button#reptool_entries_button.toolbar-button.adjust-reptool-button.dropdown-toggle.esc-tooltipped{title: 'Adjust RepTool BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false', onclick: 'open_adjust_reptool();'}
                    %span.toolbar-button-text Adjust RepTool BL
                  .dropdown-menu.toolbar-dropdown#reptool_entries_bl_dropdown{'aria-labelledby': 'adjust_reptool_bl'}
                    .dropdown-tool-text-divider.secondary-text-divider
                      Adjust Reptool Classification
                    .inline-tool-content-wrapper
                      .row
                        .col-xs-12
                          .row
                            %input{type: 'radio', name: 'reptool-action-radio', class: 'status_bl', id: 'reptool-maintain', value: 'reptool-maintain', checked: true}
                            %label.radio-label{for: 'reptool-maintain'} Maintain current classifications
                          .row
                            %input{type: 'radio', name: 'reptool-action-radio', class: 'status_bl', id: 'reptool-override', value: 'reptool-override'}
                            %label.radio-label{for: 'reptool-override'} Replace current classifications
                          .row
                            %input{type: 'radio', name: 'reptool-action-radio', class: 'status_bl', id: 'reptool-drop', value: 'reptool-drop'}
                            %label.radio-label{for: 'reptool-drop'} Drop all classifications (set entry to EXPIRED)
                      %hr.thin.form-divider
                      .row.reptool-classifications-row
                        .col-xs-12
                          %label.content-label-sm.reptool-section-label{for: "reptool-class-type-select"} Classifications
                          .row.dropdown-tool-grey-row.nested-radio-row.reptool-class-radio-row
                            .col-xs-6
                              %input{type: 'radio', name: 'reptool-classes-radio', id: 'reptool-classes-add', value: 'add', checked: true}
                              %label.radio-label{for: 'reptool-classes-add'} Add selected classifications
                            .col-xs-6
                              %input{type: 'radio', name: 'reptool-classes-radio', id: 'reptool-classes-remove', value: 'remove'}
                              %label.radio-label{for: 'reptool-classes-remove'} Remove selected classifications
                          %ul.dropdown-reptool-list
                    .col-xs-12
                      .comment-wrapper
                        %label.col-x-3.reptool-section-label{required: true} RepTool Comment
                        %textarea.dropdown-comment.adjust-reptool-bl-input.comment-input
                        .col-x-3
                        .col-x-6
                          %hr.thin
                        .button-row-center
                          %button.primary.dropdown-submit-button{type: 'button', onclick: '', disabled: true, onclick: 'set_action_col();'}
                            Add Action to Entries


              %div
                %label.toolbar-section-label File
                %button.toolbar-button.export-button.esc-tooltipped{title: 'Export to CSV'}
                  %span.toolbar-button-text Export to CSV
            %button.primary#submit-rep-changes Submit Reputation Changes
            %span.small.note-repsubmit
              * NOTE: Submitting reputation changes will automatically create a closed ticket
          %table#research-table.research-table
            %colgroup
              %col
              %col
              %col.alt-col
              %col.alt-col
              %col.alt-col
              %col.alt-col
              %col.alt-col
              %col.alt-col
              %col
            %thead
              %tr
                %th
                  %span.checkbox-wrapper
                    %input#select-all-bulk{ :type=>"checkbox", checked: "true" }
                %th Dispute
                %th WBRS
                %th WBRS Rule Hits
                %th WBRS Rules
                %th Category
                %th WLBL
                %th Reptool Classification
                %th Actions
            %tbody
              %tr
                %td.col-select-all
                %td
                  %p.col-bulk-dispute{ contenteditable:"true", data:''}
                %td.col-wbrs
                %td.col-wbrs-rule-hits
                %td.col-wbrs-rules
                %td.col-category
                %td.col-wlbl
                %td.col-reptool-class
                %td.col-actions
  .row
    .col-xs-12
      - if params['search']
        %h4 Entry Search Results for
        %span.searched-for-url #{params['search']['uri']}
        (#{@entries.count} found)
      #research-page-toolbar.toolbar
        %div
          %label.toolbar-section-label Table View
          %button.toolbar-button.expand-row-button#expand-all-rows.esc-tooltipped{title: 'Expand All Rows'}
            %span.toolbar-button-text Expand All Rows
          %button.toolbar-button.collapse-button#collapse-all-rows.esc-tooltipped{title: 'Collapse All Rows'}
            %span.toolbar-button-text Collapse All Rows
        %div
          %label.toolbar-section-label Edit
          %span.dropdown
            %button.toolbar-button.add-to-ticket-button#add-to-ticket-button.esc-tooltipped{title: 'Add to Ticket', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
              %span.toolbar-button-text Add to Ticket
            .dropdown-menu.toolbar-dropdown#add_to_ticket_dropdown{'aria-labelledby': 'add-to-ticket-button'}
              Dropdown information
          %span.dropdown
            %button#wlbl_entries_button.toolbar-button.adjust-wlbl-button.dropdown-toggle.esc-tooltipped.dropdown-button-margin-left{title: 'Adjust WL/BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false', onclick: 'bulk_get_current_wlbl("research")'}
              %span.toolbar-button-text Adjust WBRS WL/BL
            .dropdown-menu.toolbar-dropdown#wlbl_adjust_entries{'aria-labelledby': 'wlbl_entries_button'}
              = form_for :wlbl, html: {class: 'adjust-wlbl-form'} do |wlbl_form|
                .dispute-wlbl-adjust-wrapper
                  .dropdown-tool-text-divider.primary-text-divider
                    Current WBRS Reputation
                  %table.dispute_tool_current
                    %thead
                      %tr
                        %th.content-label-sm Dispute
                        %th.content-label-sm.no-word-break Current WL/BL List
                        %th.text-center.content-label-sm.no-word-break Current WBRS Score
                    %tbody
                  -# TODO Hook up ability to preview scores based on changes in WL/BL
                  .dropdown-tool-text-divider.secondary-text-divider
                    Adjust WBRS Reputation
                  .inline-tool-content-wrapper
                    .row
                      .col-xs-2
                        %label.content-label-sm Action
                      .col-xs-5
                        %input{type: 'radio', name: 'wlbl-action-radio', id: 'wlbl-add', value: 'wlbl-add', checked: true}
                        %label.radio-label{for: 'wlbl-add'} Add to list
                      .col-xs-5
                        %input{type: 'radio', name: 'wlbl-action-radio', id: 'wlbl-remove', value: 'wlbl-remove'}
                        %label.radio-label{for: 'wlbl-remove'} Remove from list
                    .row
                      .col-xs-12
                        %label.content-label-sm{for: "wlbl-list-type-select"} Lists
                        .row.dropdown-tool-grey-row
                          .col-xs-5.col-xs-offset-2
                            %ul
                              %li
                                %input.wl-weak-checkbox.wl-bl-list-inline{type: 'checkbox', name: 'wl-bl-list-inline', value: "WL-weak"}
                                  WL - Weak
                              %li
                                %input.wl-med-checkbox.wl-bl-list-inline{type: 'checkbox', name: 'wl-bl-list-inline', value: "WL-med"}
                                  WL - Medium
                              %li
                                %input.wl-heavy-checkbox.wl-bl-list-inline{type: 'checkbox', name: 'wl-bl-list-inline', value: "WL-heavy"}
                                  WL - Heavy
                          .col-xs-5
                            %ul
                              %li
                                %input.bl-weak-checkbox.wl-bl-list-inline{type: 'checkbox', name: 'wl-bl-list-inline', value: "BL-weak"}
                                  BL - Weak
                              %li
                                %input.bl-med-checkbox.wl-bl-list-inline{type: 'checkbox', name: 'wl-bl-list-inline', value: "BL-med"}
                                  BL - Medium
                              %li
                                %input.bl-heavy-checkbox.wl-bl-list-inline{type: 'checkbox', name: 'wl-bl-list-inline', value: "BL-heavy"}
                                  BL - Heavy
                    .comment-wrapper
                      %label.content-label-sm WL/BL Comment
                      %textarea.dropdown-comment.adjust-wlbl-input.note-input
                    .button-row-center
                      %button.primary.dropdown-submit-button{type: 'button', onclick:'submit_bulk_wlbl("research");', disabled: true}
                        Submit Reputation Changes
          %span.dropdown
            %button#reptool_entries_button.toolbar-button.adjust-reptool-button.dropdown-toggle.esc-tooltipped{title: 'Adjust RepTool BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false', onclick: 'bulk_get_current_reptool("research");'}
              %span.toolbar-button-text Adjust RepTool WL/BL
            .dropdown-menu.toolbar-dropdown#reptool_adjust_entries{'aria-labelledby': 'reptool_entries_button'}
              =form_for :reptool, html: {class: 'adjust-reptool-form'} do |rep_form|
                .dispute-reptool-adjust-wrapper
                  .dropdown-tool-text-divider.primary-text-divider
                    Current Reptool Classification
                  %table.dispute_tool_current
                    %thead
                      %tr
                        %th.content-label-sm Dispute
                        %th.content-label-sm Active Classes | Expiration
                        %th.content-label-sm Comment
                    %tbody
                  -# Each checked entry will populate information here
                  .dropdown-tool-text-divider.secondary-text-divider
                    Adjust Reptool Classification
                  .inline-tool-content-wrapper
                    .row
                      .col-xs-12
                        %input{type: 'radio', name: 'reptool-action-radio', id: 'reptool-maintain', value: 'reptool-maintain', checked: true, onclick: 'reptool_form_prep(this, "bulk")'}
                        %label.radio-label{for: 'reptool-maintain'} Maintain current classifications
                        %input{type: 'radio', name: 'reptool-action-radio', id: 'reptool-override', value: 'reptool-override', onclick: 'reptool_form_prep(this, "bulk")'}
                        %label.radio-label{for: 'reptool-override'} Replace current classifications
                        %input{type: 'radio', name: 'reptool-action-radio', id: 'reptool-drop', value: 'reptool-drop', onclick: 'reptool_form_prep(this, "bulk")'}
                        %label.radio-label{for: 'reptool-drop'} Drop all classifications (set entry to EXPIRED)
                    %hr.thin.form-divider
                    .row.reptool-classifications-row
                      .col-xs-12
                        %label.content-label-sm{for: "reptool-class-type-select"} Classifications
                        .row.dropdown-tool-grey-row.nested-radio-row.reptool-class-radio-row
                          .col-xs-6
                            %input{type: 'radio', name: 'reptool-classes-radio', id: 'reptool-classes-add', value: 'add', checked: true}
                            %label.radio-label{for: 'reptool-classes-add'} Add selected classifications
                          .col-xs-6
                            %input{type: 'radio', name: 'reptool-classes-radio', id: 'reptool-classes-remove', value: 'remove'}
                            %label.radio-label{for: 'reptool-classes-remove'} Remove selected classifications
                        %hr.thin.form-divider
                        .row.dropdown-tool-grey-row.checkbox-wrapper-row
                          .col-xs-4
                            %ul
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'attackers', onclick: 'reptool_form_prep(this, "bulk")'}
                                  attackers
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'bogon', onclick: 'reptool_form_prep(this, "bulk")'}
                                  bogon
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'bots', onclick: 'reptool_form_prep(this, "bulk")'}
                                  bots
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'cnc', onclick: 'reptool_form_prep(this, "bulk")'}
                                  cnc
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'cryptomining', onclick: 'reptool_form_prep(this, "bulk")'}
                                  cryptomining
                          .col-xs-4
                            %ul
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'dga', onclick: 'reptool_form_prep(this, "bulk")'}
                                  dga
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'exploitkit', onclick: 'reptool_form_prep(this, "bulk")'}
                                  exploitkit
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'malware', onclick: 'reptool_form_prep(this, "bulk")'}
                                  malware
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'open_proxy', onclick: 'reptool_form_prep(this, "bulk")'}
                                  open_proxy
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'open_relay', onclick: 'reptool_form_prep(this, "bulk")'}
                                  open_relay
                          .col-xs-4
                            %ul
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'phishing', onclick: 'reptool_form_prep(this, "bulk")'}
                                  phishing
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'response', onclick: 'reptool_form_prep(this, "bulk")'}
                                  response
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'spam', onclick: 'reptool_form_prep(this, "bulk")'}
                                  spam
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'suspicious', onclick: 'reptool_form_prep(this, "bulk")'}
                                  suspicious
                              %li
                                %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'tor_exit_node', onclick: 'reptool_form_prep(this, "bulk")'}
                                  tor_exit_node
                    .comment-wrapper
                      %label.content-label-sm RepTool Comment
                      %textarea.dropdown-comment.adjust-reptool-bl-input.comment-input
                      %hr.thin
                    .button-row-center
                      %button.primary.dropdown-submit-button{type: 'button', onclick: 'submit_bulk_reptool();'}
                        Submit Changes
        %div
          %label.toolbar-section-label Type to filter results
          %input#research-page-filter{'type': "text", 'onKeyUp': "researchfilter(this)"}
  .row
    .col-xs-12
      %table#disputes-research-table.table.table-sm.bfrp-table
        %tbody
          - @entries.each do |entry|
            %tr.research-table-row{'data-entry-id': "#{entry.id}"}
              %td.research-table-row-wrapper
                %table
                  %tr
                    %td.expandable-row-column
                      %button.expand-row-button-inline{'data-entry-id': "#{entry.id}"}
                    %td
                      %input.dispute_check_box{type: 'checkbox', 'data-entry-id': "#{entry.id}"}
                    %td
                      - if entry[:is_important]
                        %span.entry-data.entry-data-content.entry-important-flag
                          = entry.hostlookup
                      - else
                        %span.entry-data.entry-data-content
                          = entry.hostlookup
                    %td
                      %label Category
                      - unless entry[:primary_category].nil?
                        = entry[:primary_category]
                      - else
                        %span.missing-data No Data
                    %td
                      %label Hostname
                      - unless entry[:hostname].nil?
                        = entry[:hostname]

                    %td.dispute_rep_tools
                      %span.dispute_rep_tools_wrapper
                        %span.dropdown
                          %button.dispute-inline-buttons.adjust-wlbl-button.bfrp-inline-wlbl-button.dropdown-toggle{title: 'Adjust WL/BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false', onclick: 'get_current_wlbl(this);'}
                          .dropdown-menu
                            = form_for :wlbl, html: {class: 'adjust-wlbl-form'} do |wlbl_form|
                              .dispute-wlbl-adjust-wrapper
                                %input.adjust-wlbl-input.dispute-entry-content{type: 'hidden', value: "#{entry.hostlookup}" }
                                %h3 Adjust WL/BL
                                %table.dispute_tool_current
                                  %thead
                                    %tr
                                      %th.content-label-sm.no-word-break Current WL/BL List
                                      %th.text-center.content-label-sm.no-word-break Current WBRS Score
                                  %tbody
                                    %tr
                                      %td.wlbl-entry-wlbl
                                      %td.wlbl-current-entry-wbrs.text-center

                                    -#    Removing for now. We can't do a preview until the api is updated to provide that info
                                    -#%td.text-center
                                    -#  %label.content-label-sm New Score
                                    -#  %br
                                    -#  %span.new_wbrs_score
                                .inline-tool-content-wrapper
                                  .row
                                    .col-xs-12
                                      %label.content-label-sm{for: "wlbl-list-type-select"} Adjust WL/BL List
                                  .row
                                    .col-xs-6
                                      %ul.wlbl-toggle-list
                                        %li
                                          %label.toggle-switch
                                            %input.wl-weak-checkbox{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "WL-weak"}
                                            %span.toggle-slider
                                          WL - Weak
                                        %li
                                          %label.toggle-switch
                                            %input.wl-med-checkbox{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "WL-med"}
                                            %span.toggle-slider
                                          WL - Medium
                                        %li
                                          %label.toggle-switch
                                            %input.wl-heavy-checkbox{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "WL-heavy"}
                                            %span.toggle-slider
                                          WL - Heavy
                                    .col-xs-6
                                      %ul.wlbl-toggle-list
                                        %li
                                          %label.toggle-switch
                                            %input.bl-weak-checkbox{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "BL-weak"}
                                            %span.toggle-slider
                                          BL - Weak
                                        %li
                                          %label.toggle-switch
                                            %input.bl-med-checkbox{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "BL-med"}
                                            %span.toggle-slider
                                          BL - Medium
                                        %li
                                          %label.toggle-switch
                                            %input.bl-heavy-checkbox{type: 'checkbox', name: 'wl-bl-list-inline', class: 'wl-bl-list-inline', value: "BL-heavy"}
                                            %span.toggle-slider
                                          BL - Heavy

                                  .comment-wrapper
                                    %label.content-label-sm Comment
                                    %textarea.dropdown-comment.adjust-wlbl-input.note-input
                                  .button-row-center
                                    %button.primary.dropdown-submit-button{type: 'button', disabled: true, onclick:'submit_individual_wlbl(this);'}
                                      Submit Changes

                        %span.dropdown
                          %button.dispute-inline-buttons.adjust-reptool-button.dropdown-toggle{onclick: "get_current_reptool(this, 'research')", id: "reptool_button_#{entry.id}", title: 'Adjust RepTool BL', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
                          .dropdown-menu.toolbar-dropdown.reptool-inline-dropdown{id: "reptool_adjust_#{entry.id}", 'aria-labelledby': "reptool_button_#{entry.id}"}
                            = form_for :reptool, html: {class: 'adjust-reptool-form'} do |rep_form|
                              .dispute-reptool-adjust-wrapper
                                %input.adjust-reptool-bl-input.dispute-entry-id{type: 'hidden', value: "#{entry.id}" }
                                %input.adjust-reptool-bl-input.dispute-entry-content{type: 'hidden', value: "#{entry.hostlookup}" }
                                %h3 Adjust RepTool Classification
                                %table.dispute_tool_current
                                  %thead
                                    %tr
                                      %th.content-label-sm Active Classes
                                      %th.content-label-sm Expiration
                                      %th.content-label-sm Comment
                                  %tbody
                                  -#  Will call up-to-date information from the api
                                .inline-tool-content-wrapper
                                  .row
                                    .col-xs-12
                                      %input{type: 'radio', name: 'reptool-action-radio', id: "reptool-maintain-inline-#{entry.id}", value: 'reptool-maintain', checked: true, onclick: 'reptool_form_prep(this, "individual")'}
                                      %label.radio-label{for: "reptool-maintain-inline-#{entry.id}"} Maintain current classifications
                                      %input{type: 'radio', name: 'reptool-action-radio', id: "reptool-override-inline-#{entry.id}", value: 'reptool-override', onclick: 'reptool_form_prep(this, "individual")'}
                                      %label.radio-label{for: "reptool-override-inline-#{entry.id}"} Replace current classifications
                                      %input{type: 'radio', name: 'reptool-action-radio', id: "reptool-drop-inline-#{entry.id}", value: 'reptool-drop', onclick: 'reptool_form_prep(this, "individual")'}
                                      %label.radio-label{for: "reptool-drop-inline-#{entry.id}"} Drop all classifications (set entry to EXPIRED)
                                  %hr.thin.form-divider
                                  .row.reptool-classifications-row
                                    .col-xs-12
                                      %label.content-label-sm{for: 'reptool-class-type-select'} Classifications
                                      .row.dropdown-tool-grey-row.nested-radio-row.reptool-class-radio-row
                                        .col-xs-6
                                          %input{type: 'radio', name: 'reptool-classes-radio', id: "reptool-classes-add-inline-#{entry.id}", value: 'add', checked: true}
                                          %label.radio-label{for: "reptool-classes-add-inline-#{entry.id}"} Add selected classifications
                                        .col-xs-6
                                          %input{type: 'radio', name: 'reptool-classes-radio', id: "reptool-classes-remove-inline-#{entry.id}", value: 'remove'}
                                          %label.radio-label{for: "reptool-classes-remove-inline-#{entry.id}"} Remove selected classifications
                                      %hr.thin.form-divider
                                      .row.dropdown-tool-grey-row
                                        .col-xs-4
                                          %ul
                                            %li
                                              %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'attackers', onclick: 'reptool_form_prep(this, "individual")'}
                                                attackers
                                            %li
                                              %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'bogon', onclick: 'reptool_form_prep(this, "individual")'}
                                                bogon
                                            %li
                                              %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'bots', onclick: 'reptool_form_prep(this, "individual")'}
                                                bots
                                            %li
                                              %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'cnc', onclick: 'reptool_form_prep(this, "individual")'}
                                                cnc
                                            %li
                                              %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'cryptomining', onclick: 'reptool_form_prep(this, "individual")'}
                                                cryptomining
                                        .col-xs-4
                                          %ul
                                            %li
                                              %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'dga', onclick: 'reptool_form_prep(this, "individual")'}
                                                dga
                                            %li
                                              %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'exploitkit', onclick: 'reptool_form_prep(this, "individual")'}
                                                exploitkit
                                            %li
                                              %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'malware', onclick: 'reptool_form_prep(this, "individual")'}
                                                malware
                                            %li
                                              %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'open_proxy', onclick: 'reptool_form_prep(this, "individual")'}
                                                open_proxy
                                            %li
                                              %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'open_relay', onclick: 'reptool_form_prep(this, "individual")'}
                                                open_relay
                                        .col-xs-4
                                          %ul
                                            %li
                                              %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'phishing', onclick: 'reptool_form_prep(this, "individual")'}
                                                phishing
                                            %li
                                              %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'response', onclick: 'reptool_form_prep(this, "individual")'}
                                                response
                                            %li
                                              %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'spam', onclick: 'reptool_form_prep(this, "individual")'}
                                                spam
                                            %li
                                              %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'suspicious', onclick: 'reptool_form_prep(this, "individual")'}
                                                suspicious
                                            %li
                                              %input.reptool-class-cb{type: 'checkbox', name: 'classification', value: 'tor_exit_node', onclick: 'reptool_form_prep(this, "individual")'}
                                                tor_exit_node
                                  .comment-wrapper
                                    %label.content-label-sm RepTool Comment
                                    %textarea.dropdown-comment.adjust-reptool-bl-input.comment-input
                                      \
                                      \
                                      \--------------------------
                                      INDIVIDUAL RESEARCH SUBMISSION:
                                      &#x000A; #{entry.hostlookup}
                                    %hr.thin
                                  .button-row-center
                                    %button.primary.dropdown-submit-button{type: 'button', onclick: 'submit_individual_reptool(this)', disabled: true}
                                      Submit Changes


                  %tr.research-overview-row
                    %td
                    -#Expander area
                    %td.research-table-details-wrapper{colspan: '7'}
                      %table
                        %tr
                          %td.input-col
                            %span.research-table-input-wrapper.wbrs-input-wrapper
                              %input.research-row-checkbox.wbrs-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                            %label WBRS
                          %td.text-center.entry-data-wbrs-score
                            = entry.wbrs_score.to_d.truncate(2).to_f if entry.wbrs_score
                          %td
                            %label WBRS Rule Hits
                          %td.text-center
                            = entry.dispute_rule_hits.select{|hit| hit.rule_type == 'WBRS'}.count
                          %td
                            %label WBRS Rules
                          %td.rule-hits-col-list
                            - if entry.dispute_rule_hits.select{|hit| hit.rule_type == 'WBRS'}.count == 0
                              %span.missing-data No rule hits
                            - else
                              - entry.dispute_rule_hits.select{|hit| hit.rule_type == 'WBRS'}.each do |wbrs_hit|
                                - unless RulehitResolutionMailerTemplate.select{|template| template.mnemonic == wbrs_hit.name}.count == 0
                                  %a.adhoc-email-trigger{href: '#', 'data-url': "#{entry.uri}", 'data-name': wbrs_hit.name}
                                    = wbrs_hit.name
                                    - unless wbrs_hit.equal? entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "WBRS" }.last
                                      = ","
                                - else
                                  = wbrs_hit.name
                                  - unless wbrs_hit.equal? entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "WBRS" }.last
                                    = ","
                          %td.input-col
                            %span.research-table-input-wrapper.xbrs-input-wrapper
                              %input.research-row-checkbox.xbrs-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                            %label XBRS History
                          %td.text-center
                            - unless entry.hostlookup.nil?
                              = entry.find_xbrs[1]['data'].count
                          %td.input-col
                            %span.research-table-input-wrapper.virus-total-input-wrapper
                              %input.research-row-checkbox.virus-total-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                            %label Virustotal
                          %td.text-center
                            - if entry.virustotals.count == 0
                              %span.missing-data N/A
                            - else
                              = entry.virustotals.count {|vt| vt[:result] != "clean site" && vt[:result] != "unrated site" }
                              \\
                              = entry.virustotals.count
                          %td.left-bordered
                            %label WL/BL
                          %td
                            - if !entry.respond_to?(:consolidated_wlbl_strings)
                              %span.missing-data Not currently on a list
                            - else
                              %span.wlbl-table-result
                                = entry.consolidated_wlbl_strings
                              %button.dispute-inline-buttons.history-button.esc-tooltipped{title: 'WL/BL History', onclick: "wlbl_history_dialog('#{entry.hostlookup}')"}


                          %td.left-bordered
                            %label Referenced on
                          %td
                            - referenced_entries = entry.research_referenced_tickets
                            - referenced_entries_size = referenced_entries.size
                            - if referenced_entries_size < 1
                              %span.missing-data
                              Not on any other tickets
                            - else
                              %span.dropdown
                                %button.show_references.dropdown-toggle.references-dropdown-button{title: 'Referenced on', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
                                  = "#{referenced_entries_size} ticket(s)"
                                .dropdown-menu.references-dropdown{'aria-labelledby': 'show_references'}
                                  %table
                                    - referenced_entries.each do |reference|
                                      %tr
                                        %td
                                          %a{href: escalations_webrep_dispute_path(reference.id)}
                                            = reference.id
                                        %td
                                          = reference.case_opened_at
                        %tr
                          %td.input-col
                            %span.research-table-input-wrapper.sbrs-input-wrapper
                              %input.research-row-checkbox.sbrs-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                            %label SBRS
                          %td.text-center= entry.sbrs_score.to_d.truncate(2).to_f if entry.sbrs_score
                          %td
                            %label SBRS Rule Hits
                          %td.text-center
                            = entry.dispute_rule_hits.select{|hit| hit.rule_type == 'SBRS'}.count
                          %td
                            %label SBRS Rules
                          %td.rule-hits-col-list
                            - if entry.dispute_rule_hits.select{|hit| hit.rule_type == 'SBRS'}.count == 0
                              %span.missing-data No rule hits
                            - else
                              - entry.dispute_rule_hits.select{|hit| hit.rule_type == 'SBRS'}.each do |sbrs_hit|
                                - unless RulehitResolutionMailerTemplate.select{|template| template.mnemonic == sbrs_hit.name}.count == 0
                                  %a.adhoc-email-trigger{href: '#', 'data-url': "#{entry.uri}", 'data-name': sbrs_hit.name}
                                    = sbrs_hit.name
                                    - unless sbrs_hit.equal? entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "SBRS" }.last
                                      = ","
                                - else
                                  = sbrs_hit.name
                                  - unless sbrs_hit.equal? entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "WBRS" }.last
                                    = ","
                          %td.input-col
                            %span.research-table-input-wrapper.crosslisted-input-wrapper
                              %input.research-row-checkbox.crosslisted-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                            %label Crosslisted URLs
                          %td.text-center
                            = entry.wbrs_xlist.count
                          %td.input-col
                            %span.research-table-input-wrapper.reptool-input-wrapper
                              %input.research-row-checkbox.reptool-checkbox{type: 'checkbox', checked: 'true', value: "#{entry.id}"}
                            %label RepTool Class
                            %td.entry-reptool-data
                              - if entry.classifications.first.nil?
                                %span.missing-data.entry-reptool-class Not on RepTool
                              - else
                                %span.inline-col-breakup.entry-reptool-class
                                  = entry.classifications.first
                                %span.inline-col-breakup.entry-reptool-status
                                  = entry.blacklist.status
                                %span.inline-col-breakup.entry-reptool-comment
                                  = entry.blacklist.metadata&.fetch('VRT', {})['comment']
                            %td.left-bordered
                              %label Umbrella
                            %td.text-center
                              = entry.umbrellaresult
                  %tr.nested-data-row{'data-entry-id': "#{entry.id}"}
                    %td.expanded-row{colspan: '8'}
                      .expanded-row-data-wrapper
                        .row
                          .col-sm-3
                            .entry-details-table.wbrs-details-table{'data-entry-id': "#{entry.id}"}
                              %h5.entry-details-table-header
                                WBRS Rule Hit Details
                                %span.nested-table-tally
                                  = entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "WBRS" }.size
                              - if entry.dispute_rule_hits.select{|rulehit| rulehit.rule_type == "WBRS"}.empty?
                                %table
                                  %thead
                                    %tr
                                      %th
                                        %span.missing-data
                                          No rule hits.
                              - else
                                %table
                                  %thead
                                    %tr
                                      %th Rule
                                      %th Rule Description
                                      %th Weight
                                  %tbody
                                    - entry.dispute_rule_hits.select{|rulehit| rulehit.rule_type == "WBRS"}.each do |wbrs_hit|
                                      %tr
                                        %td
                                          - unless RulehitResolutionMailerTemplate.select{|template| template.mnemonic == wbrs_hit.name}.count == 0
                                            %a.adhoc-email-trigger{href: '#', 'data-url': "#{entry.uri}", 'data-name': wbrs_hit.name}
                                              = wbrs_hit.name
                                          - else
                                            = wbrs_hit.name
                                        %td= wbrs_hit.mnemonic
                                        %td
                                          -#Put weight of rule here
                            .entry-details-table.sbrs-details-table{'data-entry-id': "#{entry.id}"}
                              %h5.entry-details-table-header
                                SBRS Rule Hit Details
                                %span.nested-table-tally
                                  = entry.dispute_rule_hits.select {|rule_hit| rule_hit.rule_type == "SBRS" }.size
                              - if entry.dispute_rule_hits.select{|rulehit| rulehit.rule_type == "SBRS"}.empty?
                                %table
                                  %thead
                                    %tr
                                      %th
                                        %span.missing-data
                                          No rule hits.
                              - else
                                %table
                                  %thead
                                    %tr
                                      %th Rule
                                      %th Rule Description
                                      %th Weight
                                  %tbody
                                    - entry.dispute_rule_hits.select{|rulehit| rulehit.rule_type == "SBRS"}.each do |sbrs_hit|
                                      %tr
                                        %td
                                          - unless RulehitResolutionMailerTemplate.select{|template| template.mnemonic == sbrs_hit.name}.count == 0
                                            %a.adhoc-email-trigger{href: '#', 'data-url': "#{entry.uri}", 'data-name': sbrs_hit.name}
                                              = sbrs_hit.name
                                          - else
                                            = sbrs_hit.name
                                        %td= sbrs_hit.mnemonic
                                        %td
                                          -#Put weight of rule here
                            .entry-details-table.virustotal-details-table{'data-entry-id': "#{entry.id}"}
                              %h5.entry-details-table-header
                                Virustotal Details
                                %span.nested-table-tally
                                  = entry.virustotals.count {|vt| vt[:result] != "clean site" && vt[:result] != "unrated site" }
                              - if entry.virustotals.empty?
                                %table
                                  %thead
                                    %tr
                                      %th
                                        %span.missing-data
                                          No Virustotal data available.
                              - else
                                %table.table-scrollable
                                  %thead
                                    %tr
                                      %th AV Vendor
                                      %th Results
                                  %tbody
                                    - entry.virustotals.each do |virustotal|
                                      %tr
                                        %td.data-table-emph= virustotal[:name]
                                        - if virustotal[:result] == 'clean site'
                                          %td.clean-site-result Clean
                                        - elsif virustotal[:result] == 'unrated site'
                                          %td.unrated-site-result Unrated
                                        - else
                                          %td.unclean-site-result= virustotal[:result]
                          .col-sm-9
                            .entry-details-table.xbrs-details-table{'data-entry-id': "#{entry.id}"}
                              %h5.entry-details-table-header
                                XBRS History
                                %span.nested-table-tally
                                  - unless entry.hostlookup.nil?
                                    = entry.find_xbrs[1]['data'].count
                              - if entry.find_xbrs[1]['data'].empty?
                                %table
                                  %thead
                                    %tr
                                      %th
                                        %span.missing-data
                                          No XBRS data available.
                              - elsif entry.find_xbrs[1]['data'].count < 8
                                %table.xbrs-short-scrollable
                                  %thead
                                    %tr
                                      - entry.find_xbrs[1]['legend'].each do |header|
                                        %th= header
                                  %tbody
                                    - unless entry.hostlookup.nil?
                                      - entry.find_xbrs[1]['data'].each do |data|
                                        %tr
                                          - data.each do |datapoint|
                                            %td= datapoint
                              - else
                                %table.xbrs-long-scrollable
                                  %thead
                                    %tr
                                      - entry.find_xbrs[1]['legend'].each do |header|
                                        %th= header
                                  %tbody
                                    - unless entry.hostlookup.nil?
                                      - entry.find_xbrs[1]['data'].each do |data|
                                        %tr
                                          - data.each do |datapoint|
                                            %td= datapoint

                            .entry-details-table.crosslisted-details-table{'data-entry-id': "#{entry.id}"}
                              %h5.entry-details-table-header
                                Cross-listed URLs
                                %span.nested-table-tally
                                  = entry.wbrs_xlist.count
                              - if entry.wbrs_xlist.empty?
                                %table
                                  %thead
                                    %tr
                                      %th
                                        %span.missing-data
                                          No cross-listed urls.
                              - elsif entry.wbrs_xlist.count < 8
                                %table
                                  %thead
                                    %tr
                                      %th ID
                                      %th URL
                                      %th List Type
                                      %th.text-center Current Score
                                      %th Username
                                      %th Last Update
                                      %th Created
                                  %tbody
                                    - entry.wbrs_xlist.each do |cross_listed|
                                      %tr
                                        %td= cross_listed.id
                                        %td.esc-tooltipped{:title => cross_listed.url}= truncate(cross_listed.url, :length=>20)
                                        %td= cross_listed.list_type
                                        %td -
                                        %td= cross_listed.username
                                        %td= cross_listed.mtime
                                        %td= cross_listed.ctime
                              - else
                                %table.table-scrollable
                                  %thead
                                    %tr
                                      %th ID
                                      %th URL
                                      %th List Type
                                      %th.text-center Current Score
                                      %th Username
                                      %th Last Update
                                      %th Created
                                  %tbody
                                    - entry.wbrs_xlist.each do |cross_listed|
                                      %tr
                                        %td= cross_listed.id
                                        %td.esc-tooltipped{:title => cross_listed.url}= truncate(cross_listed.url, :length=>20)
                                        %td= cross_listed.list_type
                                        %td -
                                        %td= cross_listed.username
                                        %td= cross_listed.mtime
                                        %td= cross_listed.ctime
                            .entry-details-table.reptool-details-table{'data-entry-id': "#{entry.id}"}
                              %h5.entry-details-table-header RepTool Details
                              - if entry.blacklist.nil?
                                %table
                                  %thead
                                    %tr
                                      %th
                                        %span.missing-data
                                          No blacklist data
                              - else
                                %table
                                  %thead
                                    %tr
                                      %th RepTool Class
                                      %th Status
                                      %th Expiration
                                      %th Comment
                                      %th Source
                                      %th First Seen
                                      %th Last Seen
                                  %tbody
                                    %tr
                                      %td= entry.classifications.first
                                      %td= entry.blacklist.status
                                      %td= entry.blacklist.expiration
                                      %td= entry.blacklist.metadata&.fetch('VRT', {})['comment']
                                      %td= entry.blacklist.primary_source
                                      %td= entry.blacklist.first_seen
                                      %td= entry.blacklist.last_seen

= render 'escalations/webrep/disputes/new_email_dialog'
%input{:name => "token", :type => "hidden", :value => "#{current_user.authentication_token}"}
%input{:name => "xml_token", :type => "hidden", :value => "#{xml_token}"}