-#view single record
.content-wrapper.top-case-info

  .row
    .col-xs-1.col-with-divider
      %span.bug-state-info.bug-priority{class: "p-#{@dispute.priority}"}
      %span.dispute-submission-type{class:"dispute-#{@dispute.submission_type}"}
    .col-xs-1.col-with-divider
      %label.content-label-sm
        Case ID
      .bug-top-id
        %a= @dispute.id
    .col-xs-1.bug-state-col
      #bugzilla_popover_state.bug-state-info.bug-state
        %select#status.inpage-select{name: 'status'}
          %option{value: "#{@dispute.status}", selected: 'selected'}= @dispute.status
          -#%option{value: 'New', selected: 'selected'} New
          -#%option{value: 'Assigned'} Assigned
          -#%option{value: 'Researching'} Researching
          -#%option{value: 'On Hold'} On Hold
          -#%option{value: 'Customer Pending'} Customer Pending
          -#%option{value: 'Resolved'} Resolved
          -#%option{value: 'Reopened'} Reopened

    .col-xs-1.col-with-divider
      %label.content-label-sm
        Owner
      %div
        %span= @dispute.assignee || "None"
        %span.take-button
    .col-xs-2.col-with-divider
      %label.content-label-sm
        Suggested Disposition
      .disposition.disp-negative
        = @dispute.suggested_d
    .col-xs-3.col-with-divider
      %label.content-label-sm
        Dispute
      %div
        = @entries.first.hostlookup
        -#- @entries.each do |entry|
        -#  = entry.hostlookup
      %span.dispute-entry-count
        = @entries.count

    .col-xs-2.col-with-divider
      %label.content-label-sm
        Date/Time Submitted
      %div= @dispute.case_opened_at
    .col-xs-1.col-with-divider
      %label.content-label-sm
        Age
      %div= distance_of_time_in_words(Time.now, @dispute.case_opened_at)

  .row#top_bar_extended_info
    .col-xs-12
      %h3 Submitter Information
      .row
        .col-xs-2.col-with-divider
          %label.content-label-sm
            Submitter Type
          %p= @dispute.submitter_type
        .col-xs-2.col-with-divider
          %label.content-label-sm
            Submitter Organization
          %p= @dispute.customer.company.name
        .col-xs-3.col-with-divider
          %label.content-label-sm
            Submitter Domain
          %p= @dispute.customer.email.partition("@").last
        .col-xs-2.col-with-divider
          %label.content-label-sm
            Contact Name
          %p= @dispute.customer.name
        .col-xs-3.col-with-divider
          %label.content-label-sm
            Contact Email
          %p= @dispute.customer.email
      %h3 Case Management Information
      .row
        .col-xs-2.col-with-divider
          %label.content-label-sm
            First Accept Date
          %p= @dispute.case_accepted_at&.strftime('%F %T')
        .col-xs-2.col-with-divider
          %label.content-label-sm
            First Repsonse Date
          %p= @dispute.case_responded_at&.strftime('%F %T')
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Minutes to Accept
          %p= @dispute.minutes_to_accept && '%.1f' % @dispute.minutes_to_accept
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Minutes to Respond
          %p= @dispute.minutes_to_respond && '%.1f' % @dispute.minutes_to_respond
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Days to Close
          %p= @dispute.days_to_close && '%.1f' % @dispute.days_to_close
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Minutes to Close
          %p= @dispute.minutes_to_close && '%.1f' % @dispute.minutes_to_close
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Email Count
          %p= @dispute.dispute_emails.count
        .col-xs-3
          %label.content-label-sm
            Last Updated By
          %p Melissa Taylor
      %h3 Related Cases
      .row
        .col-xs-2.col-with-divider
          %label.content-label-sm
            Case ID
        .col-xs-2.col-with-divider
          %label.content-label-sm
            Date/Time Submitted
      - @dispute.each_related do |dispute_dup|
        .row
          .col-xs-2.col-with-divider
            %label.content-label-sm
            %p= link_to(dispute_dup.id, escalations_webrep_dispute_path(dispute_dup.id), target: "_blank")
          .col-xs-2.col-with-divider
            %label.content-label-sm
            %p= dispute_dup.case_opened_at&.strftime('%F %T')
  .row
    .col-xs-12.text-center
      %button#top_bar_toggle{onClick: '$( "#top_bar_extended_info" ).slideToggle( ); $("#top_bar_toggle").toggleClass("top-info-open");'}


%ul.nav.nav-tabs#bug-tabs{role: 'tablist'}
  %li.nav-item.active{role:'presentation'}
    %a.nav-link#communication-tab-link{href: '#communication_tab', 'aria-controls': 'communication', role: 'tab', 'data-toggle': 'tab'}
      Communication
  %li.nav-item{role:'presentation'}
    %a.nav-link#research-tab-link{href: '#research_tab', 'aria-controls': 'research', role: 'tab', 'data-toggle': 'tab'}
      Research
  %li.nav-item{role:'presentation'}
    %a.nav-link#related-tab-link{href: '#related_tab', 'aria-controls': 'related', role: 'tab', 'data-toggle': 'tab'}
      Duplicate Cases

.tab-content.content-wrapper#bug-tab-content
  .tab-pane.active#communication_tab{role: 'tabpanel'}
    = render 'escalations/webrep/disputes/communication_tab'
  .tab-pane#research_tab{role: 'tabpanel'}
    = render 'escalations/webrep/disputes/research_tab'
  .tab-pane#related_tab{role: 'tabpanel'}
    .related-cases-button-div
      %button{type: 'button', onclick: 'show_set_duplicate_dispute();'} + Duplicate
      #set-related-dispute-div{style: 'display: none;'}
        %form#set-related-dispute-form{onsubmit: 'set_related_dispute(this);return false;', 'data-dispute-id': @dispute.id}
          %label
            Ticket ID:
            %input.dispute-id{type: 'text', name: 'dispute_id'}
      #set-duplicate-dispute-div{style: 'display: none;'}
        %form#set-duplicate-dispute-form{onsubmit: 'set_duplicate_dispute(this);return false;', 'data-dispute-id': @dispute.id}
          %label
            Ticket ID:
            %input.dispute-id{type: 'text', name: 'dispute_id'}
    .related-cases-display
      %table
        %caption Duplicate Cases
        %tbody
          - @dispute.each_duplicate do |dispute_dup|
            %tr
              %td= link_to(dispute_dup.id, escalations_webrep_dispute_path(dispute_dup.id), target: "_blank")
              %td= dispute_dup.case_opened_at.strftime('%F %T')

