-#view single record
.content-wrapper.top-case-info

  .row
    .col-xs-1.col-with-divider
      %span.bug-state-info.bug-priority.p-P1
    .col-xs-1.col-with-divider
      %label.content-label-sm
        Case ID
      .bug-top-id
        %a= @dispute.id
    .col-xs-1.bug-state-col
      #bugzilla_popover_state.bug-state-info.bug-state
        %select#status.inpage-select{name: 'status'}
          %option{value: "#{@dispute.status}", selected: 'selected'}= @dispute.status
          -#%option{value: 'New', selected: 'selected'} New
          -#%option{value: 'Assigned'} Assigned
          -#%option{value: 'Researching'} Researching
          -#%option{value: 'On Hold'} On Hold
          -#%option{value: 'Customer Pending'} Customer Pending
          -#%option{value: 'Resolved'} Resolved
          -#%option{value: 'Reopened'} Reopened

    .col-xs-1.col-with-divider
      %label.content-label-sm
        Owner
      %div
        %span= @dispute.assignee || "None"
        %span.take-button
          hand icon
    .col-xs-2.col-with-divider
      %label.content-label-sm
        Suggested Disposition
      .disposition.disp-negative
        Malicious: Phishing
    .col-xs-3.col-with-divider
      %label.content-label-sm
        Dispute
      %div
        paragon-downloads.com
    .col-xs-2.col-with-divider
      %label.content-label-sm
        Date/Time Submitted
      %div= @dispute.case_opened_at
    .col-xs-1.col-with-divider
      %label.content-label-sm
        Age
      %div= distance_of_time_in_words(Time.now, @dispute.case_opened_at)

  .row#top_bar_extended_info
    .col-xs-12
      %h3 Submitter Information
      .row
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Submitter
          %p Guest
        .col-xs-2.col-with-divider
          %label.content-label-sm
            Submitter Organization
          %p Paragon Downloads
        .col-xs-3.col-with-divider
          %label.content-label-sm
            Submitter Domain
          %p paragon-downloads.com
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Contact Name
          %p Monica Taylor
        .col-xs-3.col-with-divider
          %label.content-label-sm
            Contact Email
          %p person@paragon-downloads.com
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Origin
          %p SenderBase
        .col-xs-1
          %label.content-label-sm
            Origin ID
          %p 227566
      %h3 Case Management Information
      .row
        .col-xs-2.col-with-divider
          %label.content-label-sm
            First Accept Date
          %p 2017-10-24 15:35:55
        .col-xs-2.col-with-divider
          %label.content-label-sm
            First Repsonse Date
          %p 2017-10-24 15:36:55
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Minutes to Accept
          %p 848.9
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Minutes to Respond
          %p 853.4
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Days to Close
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Minutes to Close
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Email Count
          %p 3
        .col-xs-3
          %label.content-label-sm
            Last Updated By
          %p Melissa Taylor
      %h3 Duplicate Cases
      .row
        .col-xs-2.col-with-divider
          %label.content-label-sm
            Case ID
          %p= @dispute.id
        .col-xs-2.col-with-divider
          %label.content-label-sm
            Date/Time Submitted
          %p= @dispute.case_opened_at
        .col-xs-8
          %label.content-label-sm
            Time Marked Duplicate
  .row
    .col-xs-12.text-center
      %button#top_bar_toggle{onClick: '$( "#top_bar_extended_info" ).slideToggle( ); $("#top_bar_toggle").toggleClass("top-info-open");'}


%ul.nav.nav-tabs#bug-tabs{role: 'tablist'}
  %li.nav-item.active{role:'presentation'}
    %a.nav-link#communication-tab-link{href: '#communication_tab', 'aria-controls': 'communication', role: 'tab', 'data-toggle': 'tab'}
      Communication
  %li.nav-item{role:'presentation'}
    %a.nav-link#research-tab-link{href: '#research_tab', 'aria-controls': 'research', role: 'tab', 'data-toggle': 'tab'}
      Research
  %li.nav-item{role:'presentation'}
    %a.nav-link#related-tab-link{href: '#related_tab', 'aria-controls': 'related', role: 'tab', 'data-toggle': 'tab'}
      Related Cases

.tab-content.content-wrapper#bug-tab-content
  .tab-pane.active#communication_tab{role: 'tabpanel'}
    = render 'escalations/webrep/disputes/communication_tab'
  .tab-pane#research_tab{role: 'tabpanel'}
    = render 'escalations/webrep/disputes/research_tab'
  .tab-pane#related_tab{role: 'tabpanel'}
    related cases
