-#view single record
.content-wrapper.top-case-info

  .row
    .col-xs-4.col-with-divider
      .priority-col-wrapper
        %span.bug-state-info.bug-priority#dispute-priority-icon{class: "p-#{@dispute.priority}"}
        =select_tag(:'dispute-priority-select', options_for_select([["#{Dispute::PRIORITY_1}"], ["#{Dispute::PRIORITY_2}"], ["#{Dispute::PRIORITY_3}"], ["#{Dispute::PRIORITY_4}"], ["#{Dispute::PRIORITY_5}"]], @dispute.priority))
        %span.dispute-submission-type{class:"dispute-#{@dispute.submission_type}"}
      .case-id-wrapper
        %label.content-label-sm
          Case ID
        .bug-top-id
          %a.case-id-tag.related-dropdown-text#dispute_id= @dispute.case_id_str


      .dispute-owner-wrapper
        %label.content-label-sm
          Owner
        %div
          - if @dispute.assignee == 'Unassigned'
            %span.missing-data#dispute-assignee= @dispute.assignee || "None"
          - else
            %span= @dispute.assignee || "None"
          .dispute-owner-buttons-wrapper
            - if @dispute.assignee == current_user.email
              - if (@dispute.resolution != Dispute::DUPLICATE) && (@dispute.status != Dispute::RESOLVED)
                %button.return-ticket-button.esc-tooltipped{title: 'Return ticket to open queue', onclick: 'toolbar_unassign_dispute();'}
            - else
              - if (@dispute.resolution != Dispute::DUPLICATE) && (@dispute.status != Dispute::RESOLVED)
                %button.take-ticket-button#show_ticket_assign.esc-tooltipped{title: 'Assign this ticket to me', onclick: "take_single_dispute(#{@dispute.id});"}

            - if current_user.has_role?('manager')
              %span.dropdown
                - if (@dispute.resolution != Dispute::DUPLICATE) && (@dispute.status != Dispute::RESOLVED)
                  %button#index_change_assign.dispute-inline-buttons.ticket-owner-button.dropdown-toggle.esc-tooltipped{title: 'Change Assignee', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
                .dropdown-menu#show-change-assign-dropdown{'aria-labelledby': 'index_change_assign'}
                  .change-assignee-dropdown-wrapper
                    %h3 Change Assignee
                    .inline-tool-content-wrapper
                      .toolbar
                        %div
                          %label.toolbar-section-label Assignee
                          %select{name: 'index_target_assignee', id: 'index_target_assignee', class:'toolbar-select'}
                            - User.joins(roles: :org_subset).where(org_subsets: { name: 'webrep' }).distinct.order(:cvs_username).each do |u|
                              %option{id: u.id, value: u.id, label: u.cvs_username}
                        %button{class: 'primary', type:'button', id: 'button_reassign', onclick:'toolbar_show_change_assignee();'}
                          Assign
                        %button{class: 'secondary', type: 'button', id: 'unassign-dispute-button', onclick: 'toolbar_unassign_dispute();'}
                          Unassign


    .col-xs-2.col-with-divider
      .dispute-status-col-wrapper
        %label.content-label-sm
          Status
        %br
        -##bugzilla_popover_state
        - if (@dispute.resolution != Dispute::DUPLICATE) && (@dispute.status != Dispute::RESOLVED)
          %span.dropdown
            %button#show-edit-ticket-status-button.inline-select-dropdown.ticket-status-button.dropdown-toggle{title: 'Edit Ticket Status', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false', 'onclick': "dispute_status_drop_down(#{@dispute.id})"}
              - if @dispute.status.nil?
                NEW
              - else
                = @dispute.status
            .dropdown-menu.inline-dropdown-menu#show-edit-ticket-status-dropdown{'aria-labelledby': 'show-edit-ticket-status-button'}
              %ul
                %li.status-radio-wrapper
                  %input.ticket-status-radio{type: 'radio', name: 'dispute-status', id: "#{Dispute::STATUS_NEW}", value: "#{Dispute::STATUS_NEW}"}
                  %label.radio-label.ticket-status-radio-label{for: "#{Dispute::STATUS_NEW}"} New
                %li.status-radio-wrapper
                  %input.ticket-status-radio{type: 'radio', name: 'dispute-status', id: "#{Dispute::STATUS_RESEARCHING}", value: "#{Dispute::STATUS_RESEARCHING}"}
                  %label.radio-label.ticket-status-radio-label{for: "#{Dispute::STATUS_RESEARCHING}"} Researching
                %li.status-radio-wrapper
                  %input.ticket-status-radio{type: 'radio', name: 'dispute-status', id: "#{Dispute::STATUS_ESCALATED}", value: "#{Dispute::STATUS_ESCALATED}"}
                  %label.radio-label.ticket-status-radio-label{for: "#{Dispute::STATUS_ESCALATED}"} Escalated
                %li.status-radio-wrapper
                  %input.ticket-status-radio{type: 'radio', name: 'dispute-status', id: "#{Dispute::STATUS_CUSTOMER_PENDING}", value: "#{Dispute::STATUS_CUSTOMER_PENDING}"}
                  %label.radio-label.ticket-status-radio-label{for: "#{Dispute::STATUS_CUSTOMER_PENDING}"} Customer Pending
                %li.status-radio-wrapper
                  %input.ticket-status-radio{type: 'radio', name: 'dispute-status', id: "#{Dispute::STATUS_ON_HOLD}", value: "#{Dispute::STATUS_ON_HOLD}"}
                  %label.radio-label.ticket-status-radio-label{for: "#{Dispute::STATUS_ON_HOLD}"} On Hold
                %li.status-radio-wrapper
                  %input.ticket-status-radio{type: 'radio', name: 'dispute-status', id: "#{Dispute::STATUS_ASSIGNED}", value: "#{Dispute::STATUS_ASSIGNED}"}
                  %label.radio-label.ticket-status-radio-label{for: "#{Dispute::STATUS_ASSIGNED}"} Assigned
                %li.status-radio-wrapper
                  %input.ticket-status-radio.resolution-drodown-menu{type: 'radio', name: 'dispute-status', id: "#{Dispute::STATUS_RESOLVED}", value: "#{Dispute::STATUS_RESOLVED}"}
                  %label.radio-label.ticket-status-radio-label{for: "#{Dispute::STATUS_RESOLVED}"} Resolved / Closed
                  .dropdown-menu#show-ticket-resolution-submenu
                    .col-xs-6.submenu-left-wrapper
                      .submenu-header
                        Ticket Resolution
                      %ul
                        %li
                          %input.ticket-resolution-radio{type: 'radio', name: 'dispute-resolution', id: "#{Dispute::STATUS_RESOLVED_FIXED_FP}", value: "#{Dispute::STATUS_RESOLVED_FIXED_FP}"}
                          %label.ticket-res-radio-label.radio-label{for: "#{Dispute::STATUS_RESOLVED_FIXED_FP}"} Fixed - FP
                        %li
                          %input.ticket-resolution-radio{type: 'radio', name: 'dispute-resolution', id: "#{Dispute::STATUS_RESOLVED_FIXED_FN}", value: "#{Dispute::STATUS_RESOLVED_FIXED_FN}"}
                          %label.ticket-res-radio-label.radio-label{for: "#{Dispute::STATUS_RESOLVED_FIXED_FN}"} Fixed - FN
                        %li
                          %input.ticket-resolution-radio{type: 'radio', name: 'dispute-resolution', id: "#{Dispute::STATUS_RESOLVED_UNCHANGED}", value: "#{Dispute::STATUS_RESOLVED_UNCHANGED}"}
                          %label.ticket-res-radio-label.radio-label{for: "#{Dispute::STATUS_RESOLVED_UNCHANGED}"} Unchanged
                        %li
                          %input.ticket-resolution-radio{type: 'radio', name: 'dispute-resolution', id: "#{Dispute::STATUS_RESOLVED_INVALID}", value: "#{Dispute::STATUS_RESOLVED_INVALID}"}
                          %label.ticket-res-radio-label.radio-label{for: "#{Dispute::STATUS_RESOLVED_INVALID}"} Invalid / Junk Mail
                        %li
                          %input.ticket-resolution-radio{type: 'radio', name: 'dispute-resolution', id: "#{Dispute::STATUS_RESOLVED_TEST}", value: "#{Dispute::STATUS_RESOLVED_TEST}"}
                          %label.ticket-res-radio-label.radio-label{for: "#{Dispute::STATUS_RESOLVED_TEST}"} Test / Training
                        %li
                          %input.ticket-resolution-radio{type: 'radio', name: 'dispute-resolution', id: "#{Dispute::STATUS_RESOLVED_OTHER}", value: "#{Dispute::STATUS_RESOLVED_OTHER}"}
                          %label.ticket-res-radio-label.radio-label{for: "#{Dispute::STATUS_RESOLVED_OTHER}"} Other
                    .col-xs-6.submenu-right-wrapper
                      .resolution-comment-wrapper
                        %label.content-label-sm
                          Comment
                        %textarea
                        %button.primary{onClick: 'show_page_edit_status()'}
                          Submit

                %li.status-radio-wrapper
                  %input.ticket-status-radio{type: 'radio', name: 'dispute-status', class: "dispute-status-#{@dispute.id}", id: "#{Dispute::STATUS_REOPENED}", value: "#{Dispute::STATUS_REOPENED}"}
                  %label.radio-label.ticket-status-radio-label{for: "#{Dispute::STATUS_REOPENED}"} Re-Opened
                %li.non-resolution-submit-wrapper#ticket-non-res-submit
                  %label.content-label-sm
                    Comment
                  %textarea.ticket-status-comment
                  .button-row-center
                    %button.primary{onClick: 'show_page_edit_status()'}
                      Submit
        - else
          .duplicate-status-notice
            =@dispute.resolution
      .disposition-wrapper
        %label.content-label-sm
          Suggested Disposition
        .disposition.disp-negative
          = @dispute.suggested_d
    .col-xs-3.col-with-divider
      %label.content-label-sm
        Dispute Entries
      %div
        = @entries.first.hostlookup
        -#- @entries.each do |entry|
        -#  = entry.hostlookup
      %span.dispute-entry-count
        = @entries.count

    .col-xs-3.col-with-divider
      .dispute-time-wrapper
        %label.content-label-sm
          Date/Time Submitted
        %div= @dispute.case_opened_at
        %br
        %label.content-label-sm
          Age
        %div= @dispute.case_opened_at && distance_of_time_in_words(Time.now, @dispute.case_opened_at)
      - if (@dispute.resolution != Dispute::DUPLICATE) && (@dispute.status != Dispute::RESOLVED)
        .top-info-buttons-wrapper
          %button.edit-button.dispute-top-buttons#edit-dispute-button.esc-tooltipped{title: 'Edit ticket information'}
          %button.save-button.dispute-top-buttons#save-dispute-button.hidden.esc-tooltipped{title: 'Save ticket changes', onclick: 'save_dispute();'}
          %button.cancel-button.dispute-top-buttons#cancel-dispute-button.hidden.esc-tooltipped{title: 'Cancel'}


  .row#top_bar_extended_info
    .col-xs-12
      %h3 Submitter Information
      .row
        .col-xs-2.col-with-divider
          %label.content-label-sm
            Submitter Type
          %p= @dispute.submitter_type
        .col-xs-2.col-with-divider
          %label.content-label-sm
            Submitter Organization
          %p= @dispute.customer.company.name
        .col-xs-3.col-with-divider
          %label.content-label-sm
            Submitter Domain
          %p= @dispute.customer.email.partition("@").last
        .col-xs-2.col-with-divider
          %label.content-label-sm
            Contact Name
          %p.dispute-edit-field#dispute-customer-name= @dispute.customer.name
          %input.dispute-edit-input#dispute-customer-name-input{type: 'text', value: "#{@dispute.customer.name}"}

        .col-xs-3.col-with-divider
          %label.content-label-sm
            Contact Email
          %p.dispute-edit-field#dispute-customer-email= @dispute.customer.email
          %input.dispute-edit-input#dispute-customer-email-input{type: 'text', value: "#{@dispute.customer.email}"}
      %h3 Case Management Information
      .row
        .col-xs-2.col-with-divider
          %label.content-label-sm
            First Accept Date
          %p= @dispute.case_accepted_at&.strftime('%F %T') || 'N/A'
        .col-xs-2.col-with-divider
          %label.content-label-sm
            First Repsonse Date
          %p= @dispute.case_responded_at&.strftime('%F %T') || 'N/A'
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Minutes to Accept
          %p= @dispute.minutes_to_accept && '%.1f' % @dispute.minutes_to_accept || 'N/A'
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Minutes to Respond
          %p= @dispute.minutes_to_respond && '%.1f' % @dispute.minutes_to_respond || 'N/A'
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Days to Close
          %p= @dispute.days_to_close && '%.1f' % @dispute.days_to_close || 'N/A'
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Minutes to Close
          %p= @dispute.minutes_to_close && '%.1f' % @dispute.minutes_to_close || 'N/A'
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Email Count
          %p= @dispute.dispute_emails.count || 'N/A'
        .col-xs-3
          %label.content-label-sm
            Last Updated By
          %p= @dispute.last_updated_by_username || 'N/A'
      %h3 Related Cases
      %span#related-dispute-dropdown.dropdown
        %button#related-dispute-button.toolbar-dropdown{title: 'Mark as Related', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
          Add Related Cases
        .dropdown-menu.toolbar-dropdown#set-related-dispute-div{'aria-labelledby': 'index_mark_related'}
          %form#set-related-dispute-form
            %label.content-label-sm.related-dropdown-text Ticket Id's
            %br
            %input.related-dropdown-text.dispute-id{type: 'text', name: 'related_dispute_id'}
            .button-row-center
              %button.primary#set-related-dispute-submit-button{type:'button', id: 'button_related_dispute', onClick: 'add_related_case_id()'}
                Submit
      .row
        .col-xs-2.col-with-divider
          %label.content-label-sm
            Case ID
        .col-xs-2.col-with-divider
          %label.content-label-sm
            Date/Time Submitted
      - @dispute.each_related do |dispute_dup|
        .row
          .col-xs-2.col-with-divider
            = link_to(dispute_dup.case_id_str, escalations_webrep_dispute_path(dispute_dup.id), target: "_blank")
          .col-xs-2.col-with-divider
            = dispute_dup.case_opened_at&.strftime('%F %T')
  .row
    .col-xs-12.text-center
      %button#top_bar_toggle{onClick: '$( "#top_bar_extended_info" ).slideToggle( ); $("#top_bar_toggle").toggleClass("top-info-open");'}

%ul.nav.nav-tabs#research-tab{role: 'tablist'}
  %li.nav-item{role:'presentation'}
    %a.nav-link#communication-tab-link{href: '#communication_tab', 'aria-controls': 'communication', role: 'tab', 'data-toggle': 'tab'}
      Communication
  %li.nav-item{role:'presentation'}
    %a.nav-link#research-tab-link{href: '#research_tab', 'aria-controls': 'research', role: 'tab', 'data-toggle': 'tab'}
      Research
  %li.nav-item{role:'presentation'}
    %a.nav-link#related-tab-link{href: '#related_tab', 'aria-controls': 'related', role: 'tab', 'data-toggle': 'tab'}
      Duplicate Cases

.tab-content.content-wrapper#bug-tab-content
  .tab-pane#communication_tab{role: 'tabpanel'}
    = render 'escalations/webrep/disputes/communication_tab'
  .tab-pane#research_tab{role: 'tabpanel'}
    = render 'escalations/webrep/disputes/research_tab'
  .tab-pane#related_tab{role: 'tabpanel'}
    .related-cases-button-div
    .related-cases-display
      %table
        %tbody
          - @dispute.each_duplicate do |dispute_dup|
            %tr
              %td= link_to(dispute_dup.case_id_str, escalations_webrep_dispute_path(dispute_dup.id), target: "_blank")
              %td= dispute_dup.case_opened_at.strftime('%F %T')
