<div class="background container-fluid">

  <div class="col-sm-3">
    <div class="title"><%= content_for :webcat_page%> {icon}</div>
    <div class="user_name">
      <%= link_to "#{@current_user.display_name}", users_path(current_user[:id])%>
    </div>
    <div class="user_id">
      <%=@current_user.cec_username%> - AC title
    </div>
    <br>
  </div>
  <div class="col-sm-6 vl">
  </div>
  <div class="col-sm-3 text-center">
    <table class="metrics table table-responsive-sm" >
      <tbody>
      <tr>
        <td>
          SecHub <%=@secHub_1%>  <%=@secHub_2%>
        </td>
        <td>
          SS: <%=@ss%>
        </td>
        <td>
          int <%=@int_1%> <%=@int_2%>
        </td>
        <td>
          WBNP <%=@wbnp%>
        </td>
      </tr>
      </tbody>
    </table>
    <table class="metrics table table-responsive-sm">
      <tbody>
      <tr>
        <td>
          pending <%=@pending%>
        </td>
        <td>
          new  <%=@new%>
        </td>
        <td>
          overdue <%=@overdue%>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>