.row
  .col-xs-6.dashboard-left-data
    %h1= content_for :webcat_page
    %span.top-info-icon{class: "#{content_for :webcat_icon}"}
  .col-xs-6
    %h5= current_user.display_name
    %p.dashboard-details
      = link_to "#{@current_user.cvs_username}", escalations_users_path(current_user[:id])

.row#top_bar_extended_info
  .col-xs-2
    %table.tickets-totals-table.table-condensed
      %tr
        %th{colspan: '2'}
          %span.ticket-type-label Submitter Type
      %tr
        %td
          Customer
        %td
          =@ti_comp_cust
      %tr
        %td
          Guest
        %td
          =@ti_comp_guest
      %tr
        %td
          Internal
        %td
          =@int_comp_entries
      %tr
        %td
          WBNP
        %td
          =@wbnp
  .col-xs-2
    %table.tickets-totals-table.table-condensed
      %tr
        %th{colspan: '2'}
          %span.ticket-type-label Entries
      %tr
        %td
          Assigned
        %td
          =@assigned
      %tr
        %td
          Pending
        %td
          =@pending
      %tr
        %td
          New
        %td
          =@new
      %tr
        %td
          Overdue
        %td
          =@overdue
  .col-xs-2
    %table.tickets-totals-table.table-condensed
      %tr
        %th
          %span.ticket-type-label Complaints
      %tr
        %td
          New
        %td
          =@new_comp
      %tr
        %td
          Active
        %td
          =@active_comp
      %tr
        %td
          Overdue
        %td
          =@overdue_comp
      %tr
        %td
          Completed
        %td
          =@completed_comp


.row
  .col-xs-12.text-center
    %button#top_bar_toggle{onclick: '$( "#top_bar_extended_info" ).slideToggle( ); $("#top_bar_toggle").toggleClass("top-info-open");'}