<div class="background container-fluid">

  <div class="col-sm-3">
    <div class="title"><%= content_for :webcat_page%> {icon}</div>
    <div class="user_name">
      <%= link_to "#{@current_user.display_name}", users_path(current_user[:id])%>
    </div>
    <div class="user_id">
      <%=@current_user.cec_username%> - AC title
    </div>
    <br>
  </div>
  <div class="col-sm-6 vl">
  </div>

  <div class="col-sm-3 text-center">
    <table class="metrics table table-responsive-sm" >
      <tbody>
      <tr>
        <td><h5> Extra </h5></td>
        <td>
          SecHub <%=@secHub_1%>  <%=@secHub_2%>
        </td>
        <td>
          int <%=@int_1%> <%=@int_2%>
        </td>
        <td>
          WBNP <%=@wbnp%>
        </td>
      </tr>
      </tbody>
    </table>
     <table class="metrics table table-responsive-sm">
      <tbody>
      <tr>
        <td><h5> Entries </h5></td>
        <td>
          assigned <%=@assigned%>
        </td>
        <td>
          pending <%=@pending%>
        </td>
        <td>
          new  <%=@new%>
        </td>
        <td>
          overdue <%=@overdue%>
        </td>
      </tr>
      </tbody>
    </table>
     <table class="metrics table table-responsive-sm">
      <tbody>
      <tr>
        <td><h5> Complaints </h5> </td>
        <td>
          new  <%=@new_comp%>
        </td>
        <td>
          Active <%=@active_comp%>
        </td>
        <td>
          overdue <%=@overdue_comp%>
        </td>
        <td>
          Completed <%=@completed_comp%>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>