%h1 Missing CVE Data Tool

- if flash[:info].present?
  .flash-info-div
    = flash[:info]
- if flash[:error].present?
  .flash-error-div
    = flash[:error]

%h2 Update Data
#cves-update-div
  = form_tag(admin_snort_doc_cves_update_path, id: 'snort-doc-cves-update-form') do
    %p
      Run update on all missing CVE data:
    .form-break
      = submit_tag('Update')


%h2 References Missing CVE Data
#missing-references-count-div
  = @missing_count
  References missing CVE data

#missing-reference-div
  %ul
    - @missing_references.limit(@missing_limit).each do |reference|
      %li= reference.reference_data

  - if @missing_limit < @missing_count
    \... listed first 500
