
= render partial: 'admin_control'

.content-wrapper.editing

  %h1 Editing Rule
  .form-wrapper
    = form_for @rule, url: {action: :update} do |f|
      -#.row
      -#  .col-sm-4.form-group
      -#    %label Rule ID
      -#    =@rule.id

      .row
        .col-lg-4
          %p SID
        .col-lg-4
          %p Snort Doc Status
        .col-lg-4
          %p Snort on off (is this rule on or off or deleted)
      .row
        .col-lg-4
          %h3= @rule.sid
        .col-lg-4
          %h3= @rule.snort_doc_status
        .col-sm-4
          %h3= @rule.snort_on_off

      %fieldset
        .row
          .col-xs-4
            %label GID
            %input{type: "text",id:"rule-gid",value: @rule.gid}
          .col-xs-4
            %label Snort Doc Status
            = f.select :state, ['NOTYET','BEEN','SUPRESS','TOBE'], {selected: @rule.snort_doc_status}, {class: 'form-control'}
          .col-xs-4
            %label Rule on off
            = f.select :state, ['on','off','deleted'], {selected: @rule.snort_on_off}, {class: 'form-control'}

      %fieldset
        .row
          .col-xs-2
            %label Category
            %span.input-wrapper.left
              %input{type: "text", id: "rule-category", placeholder: 'CATEGORY', autofocus: "autofocus"}
          .col-xs-10
            %label Message
            %span.input-wrapper
              %input{type: "text", id: "rule-message", value: @rule.message}

      %fieldset
        .row
          .col-xs-4
            %label State
            %span.input-wrapper.left
              = f.select :state, ['UNCHANGED', 'UPDATED', 'NEW', 'STALE', 'FAILED', 'DELETED'], {selected: @rule.state}, {class: 'form-control'}

          .col-xs-4
            %label Edit Status
            %span.input-wrapper.left
              = f.select :edit_status, ['SYNCHED', 'NEW', 'EDIT'], {selected: @rule.edit_status}, {class: 'form-control'}

          .col-xs-4
            %label Publish Status
            %span.input-wrapper
              = f.select :publish_status, ['CURRENT EDIT', 'STALE EDIT', 'PUBCONTENT', 'PUBDOC'], {selected: @rule.publish_status}, {class: 'form-control'}

      .button-group
        %button{value: "submit", class: "call-to-action save", data: { confirm: 'Are you really really sure?? This might fuck shit up.'}} Save
        = link_to  admin_rules_path do
          %button{title: "Cancel", class: "secondary cancel"} Cancel
