
= render partial: 'admin_control'



%ul{class: 'nav nav-tabs', role: 'tablist', id: 'admin-rules-tabs'}
  %li.nav-item.active
    %a{href: '#admin-rules', class: 'nav-link', role: 'tab', 'aria-controls': 'rules', id: 'admin-rule-tab-link'} Rules
  %li.nav-item
    %a{href: '#admin-validations', class: 'nav-link', role: 'tab', 'aria-controls': 'validations', id: 'admin-validations-tab-link'} Validations

.tab-content.content-wrapper{id: 'admin-rules-tab-content'}
  .tab-pane.active{id: 'admin-rules', role: 'tabpanel', 'aria-labelledby': 'admin-rules-tab'}
    %h1 Rules
    %table.table.responsive.no-wrap{id: 'rules-table', 'data-source': "#{admin_rules_path(format: :json)}"}
      %thead
        %tr
          %th ID
          %th SID
          %th Message
          %th Bug Count
          %th State
          %th Edit Status
          %th Publish Status
          %th
      %tbody


  .tab-pane{id: 'admin-validations', role: 'tabpanel', 'aria-labelledby': 'admin-validations-tab'}
    %h1 Validations
    %h3= "#{@invalid_rules.count} Invalid Rules"
    %table
      %thead
        %tr
          %th errors
          %th id
          %th gid
          %th sid
          %th state
          %th timestamp
          %th message
      - @invalid_rules.each do |rule|
        %tr
          %td
            %ul
              - rule.errors.each do |attr, error|
                %li= "#{attr.inspect} #{error}"
          %td= rule.id.inspect
          %td= rule.gid.inspect
          %td= rule.sid.inspect
          %td
            = rule.state
            %br
            = rule.edit_status
          %td
            = rule.created_at
            %br
            = rule.updated_at
          %td
            = rule.message ? rule.message[0..49] : '<nil message>'
