#hamburger-space

.jumbotron
  %h2 Rule Related Data


.section
  %h2 Rule

  .rule
    .rule-id
      rule id:
      = @rule.id.inspect
    .rule-sid= "#{@rule.gid.inspect}:#{@rule.sid.inspect}:#{@rule.rev.inspect}"
    .rule-state= "State: #{@rule.state}"
    .rule-edit-status= "Edit Status: #{@rule.edit_status}"

  .rule-content= @rule.rule_content

.section
  %h2 Rule Doc

  .rule-doc
    .rule-doc-summary
      - if @rule.rule_doc
        Summary:
        = @rule.rule_doc.summary
      - else
        No Rule Doc


.section
  %h2 Bugs

  - @rule.bugs.each do |bug|
    .bug= "id: #{bug.id} bugzilla: #{bug.bugzilla_id}"


.section
  %h2 References

  - @rule.references.each do |ref|
    .ref= "id: #{ref.id} #{ref.reference_type&.name}: #{ref.reference_data}"


.section
  %h2 Alerts

  %ul
    - Alert.where(rule: @rule).each do |alert|
      %li
        .rule-alert= "id: #{alert.id} / bug id: #{alert.attachment.bug_id}"
        .alert-attachment= "attachment id: #{alert.attachment.id} #{alert.attachment.file_name}"


.section
  %h2 Test Reports

  - @rule.test_reports.each do |test|
    .test-report-section
      = "Test Report id: #{test.id.inspect}"
      = "Task id: #{test.task&.id.inspect}"
