%style
  \#invalid-rules-div table caption {
  \  font-weight: bold;
  \  padding: 0.5em 5ex;
  }
  \#invalid-rules-div table th {
  \  padding: 2px 2ex;
  }
  \#invalid-rules-div table td {
  \  padding: 2px 2ex;
  }

.jumbotron
  %h1 Rule Validations


%ul{class: 'nav nav-tabs bugs-split-color bugs-split-colors-tweak'}
  %li
    %a{href: '/admin/rules'} List Rules
  %li
    %a{href: '/admin/rules/validations'} Validations


#invalid-rules-div
  %table
    %caption= "#{@invalid_rules.count} Invalid Rules"
    %thead
      %tr
        %th errors
        %th id
        %th gid
        %th sid
        %th state
        %th timestamp
        %th message
    - @invalid_rules.each do |rule|
      %tr
        %td
          %ul
            - rule.errors.each do |attr, error|
              %li= "#{attr.inspect} #{error}"
        %td= rule.id.inspect
        %td= rule.gid.inspect
        %td= rule.sid.inspect
        %td
          = rule.state
          %br
          = rule.edit_status
        %td
          = rule.created_at
          %br
          = rule.updated_at
        %td
          = rule.message ? rule.message[0..49] : '<nil message>'
