#hamburger-space

.jumbotron
  %h2 Scheduled Tasks

#alert_message{:role => "alert"}
  = render "shared/flash_messages", flash: flash


#content.index-table
  = form_tag run_job_admin_scheduled_tasks_path, :method => :post do
    =select_datetime(Time.now, prefix: 'run_at')
    =select_tag 'task_type', options_for_select(["","Import all"])
    =check_box_tag 're_run'
    %label Reoccuring job
    =submit_tag "Submit"


  .row
    .col-xs-6
      %h3 Scheduled Tasks
      .row
        .col-xs-2
          %p created_at
        .col-xs-2
          %p updated_at
        .col-xs-2
          %p task_type
        .col-xs-2
          %p completed
        .col-xs-2
          %p result
        .col-xs-2
          %p actions
    .col-xs-6
      <h3>Pending Jobs <small>If there are jobs here then the worker is not running.</small></h3>
      .row
        .col-xs-4
          %p run_at
        .col-xs-2
          %p attempts
        .col-xs-2
          %p priority

  .row
    .col-xs-6
      #scheduled-tasks-div
        - @scheduled_tasks.each do |s_t|
          .row
            .col-xs-2
              .created_at= s_t.created_at
            .col-xs-2
              .updated_at= s_t.updated_at
            .col-xs-2
              .task_type=  s_t.task_type
            .col-xs-2
              .completed=  s_t.completed
            .col-xs-2
              .completed=  s_t.result
            .col-xs-2
              = link_to admin_scheduled_task_path(s_t.id), :method => :delete, :data=> {confirm: 'Are you sure you want to Delete this?'},  "data-original-title" => "Delete", :class=>"btn btn-danger btn-xs"  do
                %i.glyphicon.glyphicon-remove{:title => "Delete"}


    .col-xs-6
      #delayed_jobs-div
        - @delayed_jobs.each do |d_j|
          .row

            .col-xs-4
              .run_at= d_j.run_at
            .col-xs-2
              .locked_by= d_j.attempts
            .col-xs-2
              .run_at= d_j.priority

