
= render partial: 'admin_control'



#alert_message{:role => "alert"}
  = render "shared/flash_messages", flash: flash

.content-wrapper
  %h1 Scheduled Tasks

  .row
    .col-sm-8
      %h2 Scheduled Tasks
      %table.table.table-responsive
        %thead
          %tr
            %th created_at
            %th updated_at
            %th task_type
            %th completed
            %th result
            %th

        - @scheduled_tasks.each do |s_t|
          %tbody
            %tr
              %td.created_at= s_t.created_at
              %td.updated_at= s_t.updated_at
              %td.task_type=  s_t.task_type
              %td.completed=  s_t.completed
              %td.completed=  s_t.result
              %td
                = link_to admin_scheduled_task_path(s_t.id), :method => :delete, :data=> {confirm: 'Are you sure you want to Delete this?'},  "data-original-title" => "Delete", :class=>"btn btn-danger btn-xs"  do
                  %i.glyphicon.glyphicon-remove{:title => "Delete"}

    .col-sm-4
      %h2 Pending Jobs
      %table.table.table-responsive
        %thead
          %tr
            %th run_at
            %th attempts
            %th priority

        - @delayed_jobs.each do |d_j|
          %tbody
            %tr
              %td
                .run_at= d_j.run_at
              %td
                .locked_by= d_j.attempts
              %td
                .run_at= d_j.priority
