
%h4 Editing Reference Type
= form_for @ref_type, url: {action: :update} do |f|
  .row
    .col-sm-4.form-group
      %label Reference Name
      =@ref_type.name
  .row
    .col-sm-4.form-group
      %label Description
      =@ref_type.description
  .row
    .col-sm-4.form-group
      %label Validation
      = f.text_field :validation, class: 'form-control'
  .row
    .col-sm-4.form-group
      %label Bugzilla Format
      = f.text_field :bugzilla_format, class: 'form-control'
  .row
    .col-sm-4.form-group
      %label Example
      = f.text_field :example, class: 'form-control'
  .row
    .col-sm-4.form-group
      %label Rule Format
      = f.text_field :rule_format, class: 'form-control'
  .row
    .col-sm-4.form-group
      %label URL
      = f.text_field :url, class: 'form-control'
  .row
    .col-sm-12.form-group
      %button.btn.btn-success.edit-user{value: "submit", data: { confirm: 'Are you really really sure?? This might fuck shit up.'}} Save
      = link_to  admin_reference_types_path, class:"btn btn-primary" do
        %i.glyphicon.glyphicon-th-list{:title => "Back"} Back
