#hamburger-space

.jumbotron
  %h2 Reference Types

%table.table.table-striped.table-responsive{data: {toggle: 'table', search: 'true', 'search-align': 'left', pagination: 'true', 'page-list': "[25, 50, 100, ALL]", 'page-size': '25' }}
  %thead
    %tr
      %th{id: "name", data: {field: "name", sortable: "true"}} Name
      %th{id: "description", data: {field: "description", sortable: "true"}} Description
      %th{id: "validation", data: {field: "validation", sortable: "true"}} Validation
      %th{id: "bugzilla_format", data: {field: "bugzilla_format", sortable: "true"}} Bugzilla Format
      %th{id: "example", data: {field: "example", sortable: "true"}} Example
      %th{id: "rule_format", data: {field: "rule_format", sortable: "true"}} Rule Format
      %th{id: "url", data: {field: "url", sortable: "true"}} URL
      %th
  %tbody
    -@ref_types.each do |ref|
      %tr
        %td.col-xs-1= ref.name
        %td.col-xs-1= ref.description
        %td.col-xs-3= ref.validation
        %td.col-xs-1= ref.bugzilla_format
        %td.col-xs-2= ref.example
        %td.col-xs-1= ref.rule_format
        %td.col-xs-2= ref.url
        %td.col-xs-1
          = link_to edit_admin_reference_type_path(ref.id), class: "btn btn-default" do
            %i.glyphicon.glyphicon-pencil

