<div class='row item-info'>
  <div class="row subheading">
    <button class="btn back_btn_user pull-right">
      <i class="glyphicon glyphicon-arrow-left"></i>
      <%=link_to ' Back', users_path%>
    </button>
  </div>
  <div class='col-lg-11 col-md-11'>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h2 class="subtitle"> <%="#{current_user.display_name}'s Team"%>
          <span class="email-link"><%= image_tag "tree-diagram-icon.png" %></span>
        </h2>
      </div>
    </div>
    <div class='row top-space'>
      <div class="col-xs-11">
        <div class="col-xs-6 col-sm-4">
          <%=render 'relationships/form', user: @user %>
          <% if @user.descendants.any? %>
            <table id="tree-table" class="table table-hover table-borderless lengthen-table">
              <tbody>
              <% User.each_with_level(@user.descendants) do |user, level| %>
                <%=render partial: 'relationship_list', locals: {level: level, user: user} %>
              <% end %>
              </tbody>
            </table>
          <% else %>
              <p class="text-muted small"><em><strong><%= @user.cvs_username %></strong> is a lone wolf!</em></p>
          <% end %>
          <br>
        </div>
      </div>
    </div>
    <% if @user.children.any? %>
      <div class="row">
        <div class="col-xs-11"><hr/></div>
        <div class='col-xs-12'>
          <div class='col-xs-11'>
            <h4>Metrics <a href="#" class="tiny text-muted change_metrics_timeframe"><em>change timeframe</em></a></h4>
            <%= render 'shared/change_metrics_timeframe_form' %>
            <div id="msg"></div>
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <div class="user-metrics-manager" id='<%=current_user.id%>'></div>
          <p>Bug status set to <i>Pending</i> last <%=current_user.chart_timeframe_preference%> days</p>
          <canvas id="pendingChart"></canvas>
        </div>
        <div class="col-lg-5 col-md-6">
          <p>Bug status set to <i>Resolved</i> last <%=current_user.chart_timeframe_preference%> days</p>
          <canvas id="resolvedChart"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-11"><hr/></div>
        <div class='col-xs-12'>
          <div class='col-xs-11'>
            <div id="msg"></div>
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <p>Average Work Time by Team Member</p>
          <canvas id="worktimeChart"></canvas>
          <br>
          <div class="col-xs-12">
            <p class="text-muted small"><em>* Averages rounded to the nearest whole number.</em></p>
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <p>Average Work Time by Component</p>
          <canvas id="componenttimeChart"></canvas>
          <br>
          <div class="col-xs-12">
            <p class="text-muted small"><em>* Averages rounded to the nearest whole number.</em></p>
          </div>
        </div>
      </div>
      <div class="footer-spacer"></div>
      <input type="hidden" name="token" value="<%= current_user.authentication_token %>">
      <input type="hidden" name="xml_token" value="<%= xml_token %>">
      <input type="hidden" name="current_user" value="<%= current_user.id%>">
    </div>
    <% end %>
  </div>

<div id="new_member_modal" class="modal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header user">
        <h4 class="modal-title">
          Information Alert
        </h4>
      </div>
      <div class="modal-body center-block info-alert">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

