<div class="row">
  <div class="col-sm-12 form-group">
    <label>
      <%= radio_button_tag 'acknowledge_response', "ack1", true %>
      <%="Escalation has been acknowledged by #{@bug.user&.display_name}."%>
    </label>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 form-group">
    <label>
      <%= radio_button_tag 'acknowledge_response', 'ack2' %>
      <%= text_area_tag 'acknowledge_response_custom',"",size: "50x2", placeholder: "custom acknowledgement goes here"%>
    </label>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 form-group">
    <button class="btn btn-success acknowledge-bug" onclick="escalation_acknowledge(this,<%= @bug.id %>)" data-dismiss="modal" aria-label="Close" value="submit">
      <span aria-hidden="true">OK</span>
    </button>
  </div>
</div>