<div class="bug-tabs" style="padding-left: 25px;">
  <ul class="nav nav-tabs bugs-split-color bugs-split-colors-tweak " id="bug_tab">
    <li class="active"><a data-target="#overview" class="overview" data-toggle="tab">Overview</a></li>
    <li><a data-target="#attachments-tab" class="attachments-tab" data-toggle="tab">Attachments</a></li>
    <li><a data-target="#notes-tab" class="notes-tab" data-toggle="tab">Notes</a></li>
    <li><a data-target="#history-tab" class="history-tab" data-toggle="tab">History</a></li>
    <li><a data-target="#related-bugs-tab" class="related-bugs-tab" data-toggle="tab">Related Bugs</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="overview">
      <%= render 'escalations/bugs/tabs/overview' %>
    </div>
    <div class="tab-pane" id="attachments-tab">
      <%= render 'escalations/bugs/tabs/attachments' %>
    </div>
    <div class="tab-pane" id="notes-tab">
      <%= render 'escalations/bugs/tabs/notes' %>
    </div>
    <div class="tab-pane" id="history-tab">
      <%= render 'escalations/bugs/tabs/history' %>
    </div>
    <div class="tab-pane" id="related-bugs-tab">
      <%= render 'escalations/bugs/tabs/related_bugs' %>
    </div>
  </div>
</div>
