<% content_for(:title) do %>Bug <%= @bug.bugzilla_id %> - Analyst Console<% end %>

    <div class="row <%= 'item-info' unless 'show' == action_name %> bugs-split-color">
      <div class="row subheading">
        <div class="col-xs-12">
          <div class="col-xs-3">
            <div class="bug-details-columns">
              <h6>bugzilla id</h6>
                <h3>
                  <a class="top-space bugzilla_id" href="<%= get_bug_url %>" id="bugzilla_<%= @bug.id %>" target="_blank"><%=@bug.id%></a>
                  <small>
                    <span data-toggle="modal" data-target="#editBug">
                      <a type="button" style="text-decoration:none;" class="glyphicon glyphicon-pencil edit_bug" id="edit_bug" data-toggle="tooltip" data-placement="bottom" title="edit bug"></a>
                    </span>
                    <% if @bug.user&.email != current_user.email %>
                      <a type="button" style="text-decoration:none;" class="glyphicon glyphicon-download-alt take-bug" id="take-bug-<%= @bug.id %>" data-id="<%= @bug.id %>" data-toggle="tooltip" data-placement="bottom" title="Take this bug"></a>
                    <%else%>
                      <a type="button" style="text-decoration:none;" class="glyphicon glyphicon-share-alt return-bug" id="return-bug-<%= @bug.id %>" data-id="<%= @bug.id %>" data-toggle="tooltip" data-placement="bottom" title="Return this bug"></a>
                    <%end%>
                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate hidden loading_image" id="loading_image"> </span>
                    <a type="button" style="text-decoration:none;" class="glyphicon glyphicon-refresh resynch_bug resync_escalation_button" id="resynch_bug" data-toggle="tooltip" data-placement="bottom" title="resynch this bug with bugzilla"></a>
                    <!--<button class="select-sm btn btn-default hidden loading_image" id="loading_image"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> sinking</button>-->
                  </small>
                </h3>
            </div>
          </div>
          <div class="col-xs-1">
            <div class="bug-details-columns">
              <h6>last updated</h6><h5 class="top-space"><%= display_last_updated_date(@bug)%><br></h5><h6><%= display_last_updated_time(@bug)%></h6>
            </div>
          </div>

          <div class="col-xs-2 state">
            <div class="bug-details-columns">
              <h6>state</h6>
              <h5 id="bugzilla_popover_state" class="top-space" data-content="<%= "#{@bug.status}, #{@bug.resolution}" %>" rel="popover" data-placement="top" data-original-title="Bugzilla status" data-trigger="hover"><strong><%= @bug.state %></strong></h5>
              <% if @show_resolve_button %>
              <form id="resolve-form">
                <input type="hidden" name="user_id" value="<%= @bug.user_id %>">
                <input type="hidden" name="committer_id" value="<%= @bug.committer_id %>">
                <input type="hidden" name="summary" value="<%= @bug.summary %>">
                <% if @bug.can_resolve? %>
                    <button id="resolve_bug_form_button" type="button" onclick="bug_resolve(this)" class="select-sm btn btn-default">Resolve</button>
                    <button class="select-sm btn btn-default hidden" id="resolving_bug_form_button" disabled="disabled"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Resolving</button>
                <% else %>
                    <button type="button" onclick="bug_resolve(this)" class="select-sm btn btn-default" disabled="disabled">Resolve</button>
                <% end %>
              </form>
              <%end%>
            </div>
          </div>
          <div class="col-xs-1">
            <div class="bug-details-columns">
              <h6>product</h6>
              <h5 class="top-space"><%= @bug.product %></h5>
            </div>
          </div>
          <div class="col-xs-1">
            <div class="bug-details-columns">
              <h6>component</h6><h5 class="top-space"><%= @bug.component %></h5>
            </div>
          </div>
          <div class="col-xs-1">
            <div class="bug-details-columns">
              <h6>priority</h6>
              <h5 class="top-space"><%= @bug.priority %></h5>
            </div>
          </div>
          <div class="col-xs-1">
            <div class="bug-details-columns">
              <h6>assignee</h6>
              <% if @bug.user %>
                  <h5 class="top-space"><%= @bug.user&.cvs_username %></h5>
              <% else %>
                  -
              <% end %>
              <br/><span class="small text-muted bug-wait" style="display: none" id="bug-wait-<%= @bug.id %>">please wait</span>
              <% if @bug.committer != current_user %>
                  <% if @bug.user && (@bug.user&.email != current_user.email) %>
                      <button type=button class="small text-muted take-bug" id="take-bug-<%= @bug.id %>" data-id="<%= @bug.id %>">take</button>
                  <% else %>
                      <button type=button class="small text-muted return-bug" id="return-bug-<%= @bug.id %>" data-id="<%= @bug.id %>">dont want</button>
                  <% end %>
              <%end%>
            </div>
          </div>

          <% if @bug.has_due_date? %>
          <div class="col-xs-1">
            <div class="bug-details-columns">
              <h6>due date</h6>
                <h5 class="top-space"><%= @bug.due_date %></h5>
            </div>
          </div>
          <% end %>
          
        </div>

        <div class="row item-info">
          <% unless @bug.can_resolve? %>
          <div class="col-xs-12">
            <div>Can't set to pending.</div>
            <ul>
              <% @bug.resolve_errors.each do |error_message| %>
                  <li><%= error_message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>

        <div class="col-xs-12 hidden-xs bug_summary">
          <h5 class="edit-summary-field"><%= @bug.summary %></h5>

          <span class="tags-wrapper">
            <% @unique_giblets.each do |gib| %>
                <a href="<%= bugs_path({:tag_names => [gib], :page => 1}) %>"><button class="tag primary-tag"><%= gib %></button></a>
            <% end %>
          </span>
        </div>
      </div>

      </div>
      <div class="row">
        <div class="col-xs-12">
        </div>
      </div>
    </div>
    <div class="spacer">
      <%= render 'tabs' %>
    </div>

<div id="blanket" style="display:none;"></div>
<div id="searchWindow" style="display:none;">
  <div class="col-xs-1 col-xs-offset-11">
  </div>
  <div class="row center">
    <h3>Search</h3>
  </div>
  <div class="row">
  </div>
</div>
<input type="hidden" name="token" value="<%= current_user.authentication_token %>">
<input type="hidden" name="xml_token" value="<%= xml_token %>">


<div class="modal fade" id="editBug" tabindex="-1" role="dialog" aria-labelledby="editBug" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="editBug">Update Escalation <%=@bug.id%>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h4>
      </div>
      <div class="modal-body">
        <%=render 'form' %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="status_report" tabindex="-1" role="dialog" aria-labelledby="status_report" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="editBug">Bug Diff Report
          <button type="button" class="close close-status-report" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h4>
      </div>
      <div class="modal-body">
        <p><b>This is a diff report of this bug between Analyst Console and Bugzilla.  This bug has NOT been sunk with Bugzilla as it has the potential to change the state of this bug on Analyst Console.</b></p><br /><p><b>You must manually sink this bug to bring these changes to Analyst Console and continue.</b></p><hr />

        <div id="status_new_rules">
        </div>
        <div id="status_new_attachments">
        </div>
        <div id="status_new_tags">
        </div>
        <div id="status_new_refs">
        </div>
        <div id="status_bug_changes">
        </div>
        <div id="status_new_notes">
        </div>
        <hr />
        <div>
          <button type="button" class="resync_bug_button btn btn-primary">Resink Bug Now</button><button class="loading_image btn btn-primary hidden"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> sinking</button><button type="button" class="btn close-status-report" data-dismiss="modal" aria-label="Close">Close</button>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="reloading_page" tabindex="-1" role="dialog" aria-labelledby="status_report" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="editBug">Please Wait</h4>
      </div>
      <div class="modal-body">
        <h5>Reloading Page.......</h5>
      </div>
    </div>
  </div>
</div>


<script>
</script>
