<%= form_for @user do |f| %>

    <div class="row">
      <div class="col-sm-4 form-group">
        <label for="priority">CVS_Username</label>
          <%= f.text_field :cvs_username, class: "form-control create-input", required: true %>
      </div>
      <div class="col-sm-4 form-group">
        <label for="priority">CEC_Username</label>
        <%= f.text_field :cec_username, class: "form-control create-input", required: true %>
      </div>
      <div class="col-sm-4 form-group">
        <label for="priority">Kerberos_Username</label>
        <%= f.text_field :kerberos_login, class: "form-control create-input", required: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label for="priority">Display_name</label>
        <%= f.text_field :display_name, class: "form-control create-input", required: true %>
      </div>
      <div class="col-sm-6 form-group">
        <label for="priority">email</label>
        <%= f.text_field :email, class: "form-control create-input", required: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label for="priority">committer</label>
        <%= f.check_box :committer, class: "form-control create-input" %>
      </div>
      <div class="col-sm-6 form-group">
        <label for="priority">confirmed</label>
        <%= f.check_box :confirmed, class: "form-control create-input" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 form-group">
        <button class="btn btn-success edit-user" value="submit">Save</button>
        <button class="select-sm btn btn-default hidden" id="synching_user_form_button"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> sinking </button>
        <button class="select-sm btn btn-default hidden" id="saving_user"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> saving</button>
      </div>
    </div>
<%end%>