= form_for user do |f|

  -# combine forms, admins and managers should be able to edit roles.
  -# Only admins should be able to edit the other shit, diff between 'simple form' and regular form
  -# hide the edit button otherwise

  -# Check on displaying the buttons that trigger this form on the index page


  - if current_user.has_role?('admin')
    -# Add the user form stuff here


  .modal-body
    - if current_user.has_role?('admin')
      .row
        .col-xs-12.text-right
          =link_to 'Edit Roles', admin_roles_path

    .row
      .col-xs-12
        .multi-col
          %ul
            = f.collection_check_boxes(:role_ids, role_options_for(current_user), :id, :role) do |r|
              %li
                = r.label(for: "user_#{user.id}_role_#{r.value}") { r.check_box(id: "user_#{user.id}_role_#{r.value}") + ' ' + r.text }
  .modal-footer
    .confirmation-buttons.col-xs-12
      %button.panel-button.primary.confirm.wide{name: 'submit', 'aria-label': 'Save Roles'} Save Roles
      %button.panel-button.secondary.cancel.wide{'data-dismiss': 'modal', 'aria-label': 'Cancel'} Cancel
