= simple_form_for user do |f|

  -# combine forms, admins and managers should be able to edit roles.
  -# Only admins should be able to edit the other shit, diff between 'simple form' and regular form
  -# hide the edit button otherwise

  -# Check on displaying the buttons that trigger this form on the index page


  - if current_user.has_role?('admin')
    -# Add the user form stuff here
    .row
      .col-sm-4.form-group
        = f.input :cvs_username, label: 'CVS Username', class: "form-control create-input",
                            required: true, :input_html => {class: "form-control create-input", minlength: 1}
      .col-sm-4.form-group
        = f.input :cec_username, label: 'CEC Username', class: "form-control create-input",
                            :input_html => {class: "form-control create-input", minlength: 1}
      .col-sm-4.form-group
        = f.input :kerberos_login, class: "form-control create-input",
                            :input_html => {class: "form-control create-input", minlength: 1}
    .row
      .col-sm-4.form-group
        = f.input :display_name, class: "form-control create-input", required: true,
                            :input_html => {class: "form-control create-input", minlength: 1}
      .col-sm-4.form-group
        = f.input :email, class: "form-control create-input", required: true,
                            :input_html => {class: "form-control create-input", minlength: 1}
      .col-sm-4.form-group
        -#    spacer



  = f.simple_fields_for :user_api_key do |user_api_key_form|
    .row
      .col-sm-4.form-group
        = user_api_key_form.input :api_key, label: 'API Key', required: false,
                                  :input_html => {class: "create-input", size: 84, value: user.user_api_key&.api_key, placeholder: "Click save to generate an api key if you dont already have one."}
    .row
      .col-sm-4.form-group
        = f.input :threatgrid_api_key, class: "form-control create-input", required: false,
                          :input_html => {class: "form-control create-input", minlength: 1}
      .col-sm-4.form-group
        = f.input :sandbox_api_key, class: "form-control create-input", required: false,
                          :input_html => {class: "form-control create-input", minlength: 1}


  .modal-body
    - if current_user.has_role?('admin')
      .row
        .col-xs-12.text-right
          =link_to 'Edit Roles', admin_roles_path

    .row
      .col-xs-12
        .multi-col
          %ul
            = f.collection_check_boxes(:role_ids, role_options_for(current_user), :id, :role) do |r|
              %li
                = r.label(for: "user_#{user.id}_role_#{r.value}") { r.check_box(id: "user_#{user.id}_role_#{r.value}") + ' ' + r.text }
  .modal-footer
    .confirmation-buttons.col-xs-12
      %button.panel-button.primary.confirm.wide{name: 'submit', 'aria-label': 'Save Roles'} Save Roles
      %button.panel-button.secondary.cancel.wide{'data-dismiss': 'modal', 'aria-label': 'Cancel'} Cancel
