.content-wrapper
  %h1.index-table-header Related Users

  %table.table.responsive.index-table
    %thead
      %tr
        %th
        -# User group
        %th Name
        %th Username
        %th Direct Reports
        %th Total Reports
        %th Roles
        %th
        -# Edit / Delete Row
    %tbody
      - if current_user.parent.present?
        %tr
          %td.user-group Manager
          %td.alt-col.user-col-divider.user-displayname-col= current_user.parent.display_name
          %td.alt-col.user-col-divider.user-name-col.current-user= link_to current_user.parent.cvs_username, user_path(current_user.parent)
          %td.alt-col.user-col-divider=current_user.parent.children.length
          %td.alt-col=current_user.parent.descendants.length
          %td.data_small_emphasis= current_user.parent.roles.map(&:role).join(', ')
          %td
      - if current_user.has_role?('manager')
        - team_total = current_user.descendants.length + 1
        %tr
          %td#team-cell.user-group{rowspan: "#{team_total}", 'data-rowspan': "#{team_total}"} Team
          %td.alt-col.user-col-divider.user-displayname-col= current_user.display_name
          %td.alt-col.user-col-divider.user-name-col.current-user= link_to current_user.cvs_username, user_path(current_user)
          %td.alt-col.user-col-divider=current_user.children.length
          %td.alt-col=current_user.descendants.length
          %td.data_small_emphasis=current_user.roles.map(&:role).join(', ')
          %td.text-right.table-button-row
            - if current_user.has_role?('admin')
              %button.edit-button.table-row-button.tooltipped{title: "Edit #{current_user.cvs_username}'s roles", 'data-toggle': 'modal', 'data-target': "#roleModal_#{current_user.id}"}
            %span.dropdown
              %button.add-user-button.table-row-button.tooltipped{title: "Add user to #{current_user.display_name}'s team'", id: "add_user_button_#{current_user.id}", 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
              .dropdown-menu{id: "add_user_dropdown_#{current_user.id}", 'aria-labelledby': "add_user_button_#{current_user.id}"}
                .user-select-wrapper
                  %h3
                    Add members to
                    = current_user.display_name
                    \'s team
                  .inline-tool-content-wrapper
                    =form_tag user_add_to_team_path(current_user), method: :patch do
                      .toolbar
                        %div.select-wrapper
                          %label.toolbar-section-label{for: 'users-selection'} Users
                          = select_tag 'child_id', options_for_select(nested_set_options(current_user.available_users) {|i| "#{'-' * i.level} #{i.display_name} (#{i.cvs_username})"} ), {prompt: "Choose Team Member", class: "toolbar-select"}
                        = hidden_field_tag :user_id, value: current_user.id
                      .button-row-center
                        %button.primary.dropdown-submit-button{type: 'submit'} Add User

        - current_user.children.each do |user|
          - if user.has_role?('manager') and user.children.length > 0
            %tr
              %td.alt-col.user-col-divider.user-displayname-col.manager-row-indicator
                %span= user.display_name
                %button.expand-manager-row-button.up{'data-user-manager': "#{user.id}"}
              %td.alt-col.user-col-divider.user-name-col= link_to user.cvs_username, user_path(user)
              %td.alt-col.user-col-divider=user.children.length
              %td.alt-col=user.descendants.length
              %td.data_small_emphasis=user.roles.map(&:role).join(', ')
              %td.text-right.table-button-row
                %button.edit-button.table-row-button.tooltipped{title: "Edit #{user.cvs_username}'s roles", 'data-toggle': 'modal', 'data-target': "#roleModal_#{user.id}"}
                = link_to user_remove_from_team_path(user_id: user.id), method: :patch, data: {confirm: "Remove #{user.display_name} from team?"} do
                  %button.remove-button.table-row-button.tooltipped{title: "Remove #{user.cvs_username} from this team"}
                %span.dropdown
                  %button.add-user-button.table-row-button.tooltipped{title: "Add user to #{user.display_name}'s team'", id: "add_user_button_#{user.id}", 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
                  .dropdown-menu{id: "add_user_dropdown_#{user.id}", 'aria-labelledby': "add_user_button_#{user.id}"}
                    .user-select-wrapper
                      %h3
                        Add members to
                        = user.display_name
                        \'s team
                      .inline-tool-content-wrapper
                        =form_tag user_add_to_team_path(user), method: :patch do
                          .toolbar
                            %div.select-wrapper
                              %label.toolbar-section-label{for: 'users-selection'} Users
                              = select_tag 'child_id', options_for_select(nested_set_options(user.available_users) {|i| "#{'-' * i.level} #{i.display_name} (#{i.cvs_username})"} ), {prompt: "Choose Team Member", class: "toolbar-select"}
                            = hidden_field_tag :user_id, value: user.id
                          .button-row-center
                            %button.primary.dropdown-submit-button{type: 'submit'} Add User

            - user.children.each do |child|
              - if child.has_role?('manager') and child.children.length > 0
                %tr.manage-child-row{'data-user-child': "#{user.id}"}
                  %td.alt-col.lighter-alt-col.user-col-divider.user-displayname-col.manager-row-indicator
                    %span= child.display_name
                    %button.expand-manager-row-button.up{'data-user-manager': "#{child.id}"}
                  %td.alt-col.user-col-divider.user-name-col.lighter-alt-col= link_to child.cvs_username, user_path(child)
                  %td.alt-col.user-col-divider.lighter-alt-col=child.children.length
                  %td.alt-col.lighter-alt-col=child.descendants.length
                  %td.data_small_emphasis=child.roles.map(&:role).join(', ')
                  %td.text-right.table-button-row
                    %button.edit-button.table-row-button.tooltipped{title: "Edit #{child.cvs_username}'s roles", 'data-toggle': 'modal', 'data-target': "#roleModal_#{child.id}"}
                    = link_to user_remove_from_team_path(user_id: child.id), method: :patch, data: {confirm: "Remove #{child.display_name} from team?"} do
                      %button.remove-button.table-row-button.tooltipped{title: "Remove #{child.cvs_username} from this team"}
                    %span.dropdown
                      %button.add-user-button.table-row-button.tooltipped{title: "Add user to #{child.display_name}'s team'", id: "add_user_button_#{child.id}", 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
                      .dropdown-menu{id: "add_user_dropdown_#{child.id}", 'aria-labelledby': "add_user_button_#{child.id}"}
                        .user-select-wrapper
                          %h3
                            Add members to
                            = child.display_name
                            \'s team
                          .inline-tool-content-wrapper
                            =form_tag user_add_to_team_path(child), method: :patch do
                              .toolbar
                                %div.select-wrapper
                                  %label.toolbar-section-label{for: 'users-selection'} Users
                                  = select_tag 'child_id', options_for_select(nested_set_options(child.available_users) {|i| "#{'-' * i.level} #{i.display_name} (#{i.cvs_username})"} ), {prompt: "Choose Team Member", class: "toolbar-select"}
                                = hidden_field_tag :user_id, value: child.id
                              .button-row-center
                                %button.primary.dropdown-submit-button{type: 'submit'} Add User
                - child.children.each do |grandchild|
                  %tr.manage-child-row.manage-grandchild-row{'data-user-child': "#{user.id} #{child.id}"}
                    %td.alt-col.user-col-divider.user-displayname-col.lighter-alt-col= grandchild.display_name
                    %td.alt-col.user-col-divider.user-name-col.lighter-alt-col= link_to grandchild.cvs_username, user_path(grandchild)
                    %td.alt-col.user-col-divider.lighter-alt-col=grandchild.children.length
                    %td.alt-col.lighter-alt-col=grandchild.descendants.length
                    %td.data_small_emphasis=grandchild.roles.map(&:role).join(', ')
                    %td.text-right.table-button-row
                      %button.edit-button.table-row-button.tooltipped{title: "Edit #{grandchild.cvs_username}'s roles", 'data-toggle': 'modal', 'data-target': "#roleModal_#{grandchild.id}"}
                      = link_to user_remove_from_team_path(user_id: grandchild.id), method: :patch, data: {confirm: "Remove #{grandchild.display_name} from team?"} do
                        %button.remove-button.table-row-button.tooltipped{title: "Remove #{grandchild.cvs_username} from this team"}

              - else
                %tr.manage-child-row{'data-user-child': "#{user.id}"}
                  %td.alt-col.user-col-divider.user-displayname-col.lighter-alt-col= child.display_name
                  %td.alt-col.user-col-divider.user-name-col.lighter-alt-col= link_to child.cvs_username, user_path(child)
                  %td.alt-col.user-col-divider.lighter-alt-col=child.children.length
                  %td.alt-col.lighter-alt-col=child.descendants.length
                  %td.data_small_emphasis=child.roles.map(&:role).join(', ')
                  %td.text-right.table-button-row
                    %button.edit-button.table-row-button.tooltipped{title: "Edit #{child.cvs_username}'s roles", 'data-toggle': 'modal', 'data-target': "#roleModal_#{child.id}"}
                    = link_to user_remove_from_team_path(user_id: child.id), method: :patch, data: {confirm: "Remove #{child.display_name} from team?"} do
                      %button.remove-button.table-row-button.tooltipped{title: "Remove #{child.cvs_username} from this team"}


          - else
            %tr
              %td.alt-col.user-col-divider.user-displayname-col= user.display_name
              %td.alt-col.user-col-divider.user-name-col= link_to user.cvs_username, user_path(user)
              %td.alt-col.user-col-divider=user.children.length
              %td.alt-col=user.descendants.length
              %td.data_small_emphasis=user.roles.map(&:role).join(', ')
              %td.text-right.table-button-row
                %button.edit-button.table-row-button.tooltipped{title: "Edit #{user.cvs_username}'s roles", 'data-toggle': 'modal', 'data-target': "#roleModal_#{user.id}"}
                = link_to user_remove_from_team_path(user_id: user.id), method: :patch, data: {confirm: "Remove #{user.display_name} from team?"} do
                  %button.remove-button.table-row-button.tooltipped{title: "Remove #{user.cvs_username} from this team"}


          .modal.fade{id: "roleModal_#{user.id}", tabindex: '-1', role: 'dialog', 'aria-hidden': 'true'}
            .modal-dialog{role: 'document'}
              .modal-content
                .modal-header
                  %button.close{type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close'}
                  %h4.modal-title
                    Update Role(s) for
                    = user.cvs_username
                =render 'shared/role_form', user: user

      - else
        %tr
          %td.user-group
          %td.alt-col.user-col-divider.user-displayname-col= current_user.display_name
          %td.alt-col.user-col-divider.user-name-col.current-user= link_to current_user.cvs_username, user_path(current_user)
          %td.alt-col.user-col-divider=current_user.children.length
          %td.alt-col=current_user.descendants.length
          %td.data_small_emphasis=current_user.roles.map(&:role).join(', ')
          %td

      - if current_user.child?
        - coworkers_total = current_user.siblings.length
        - current_user.siblings.each_with_index do |user, index|
          %tr
            - if index == 0
              %td.user-group{rowspan: "#{coworkers_total}"}
                Coworkers
            %td.alt-col.user-col-divider.user-displayname-col= user.display_name
            %td.alt-col.user-col-divider.user-name-col= link_to user.cvs_username, user_path(user)
            %td.alt-col.user-col-divider=user.children.length
            %td.alt-col=user.descendants.length
            %td.data_small_emphasis= user.roles.map(&:role).join(', ')
            %td
%input{:name => "token", :type => "hidden", :value => "#{current_user.authentication_token}"}


  - if current_user.has_role?('admin')
    .modal.fade{id: "roleModal_#{current_user.id}", tabindex: '-1', role: 'dialog', 'aria-hidden': 'true'}
      .modal-dialog{role: 'document'}
        .modal-content
          .modal-header
            %button.close{type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close'}
            %h4.modal-title
              Update Role(s) for
              = current_user.cvs_username
          =render 'shared/role_form', user: current_user
