.content-wrapper
  %h1.index-table-header Related Users

  %table.table.responsive.index-table
    %thead
      %tr
        %th
        -# User group
        %th Name
        %th Username
        %th Roles
        %th
    -# Edit / Delete Row
    %tbody
      - if current_user.has_role?('manager')
        - team_total = current_user.children.length + 1
        %tr
          %td.user-group{rowspan: "#{team_total}"} Team
          %td.alt-col.user-col-divider= current_user.display_name
          %td.alt-col.user-name-col.current-user= link_to current_user.cvs_username, user_path(current_user)
          %td.data_small_emphasis=current_user.roles.map(&:role).join(', ')
          %td
        - current_user.children.each do |user|
          %tr
            %td.alt-col.user-col-divider= user.display_name
            %td.alt-col.user-name-col= link_to user.cvs_username, user_path(user)
            %td.data_small_emphasis=user.roles.map(&:role).join(', ')
            %td.text-right.table-button-row
              %button.edit-button.table-row-button.tooltipped#edit-user{title: "Edit #{user.cvs_username}'s roles", 'data-toggle': 'modal', 'data-target': "#roleModal_#{user.id}"}
              = link_to user_remove_from_team_path(user_id: user.id), method: :patch, data: {confirm: "Remove #{user.display_name} from team?"} do
                %button.remove-button.table-row-button.tooltipped#remove-user{title: "Remove #{user.cvs_username} from this team"}


          .modal.fade{id: "roleModal_#{user.id}", tabindex: '-1', role: 'dialog', 'aria-hidden': 'true'}
            .modal-dialog{role: 'document'}
              .modal-content
                .modal-header
                  %button.close{type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close'}
                  %h4.modal-title
                    Update Role(s) for
                    = user.cvs_username
                =render 'shared/role_form', user: user

      - else
        %tr
          %td.user-group
          %td.alt-col.user-col-divider= current_user.display_name
          %td.alt-col.user-name-col.current-user= link_to current_user.cvs_username, user_path(current_user)
          %td.data_small_emphasis=current_user.roles.map(&:role).join(', ')
          %td

      - if current_user.child?
        - coworkers_total = current_user.siblings.length
        - current_user.siblings.each_with_index do |user, index|
          %tr
            - if index == 0
              %td.user-group{rowspan: "#{coworkers_total}"}
                Coworkers
            %td.alt-col.user-col-divider= user.display_name
            %td.alt-col.user-name-col= link_to user.cvs_username, user_path(user)
            %td.data_small_emphasis= user.roles.map(&:role).join(', ')
            %td
