.content-wrapper
  %h1.index-table-header Users
  %table.table.responsive.index-table
    %thead
      %tr
        %th Name
        %th Username
        %th.text-center Open Tickets
        %th.text-center Pending Tickets
        %th.text-center Closed Tickets
        %th.text-center All Tickets
        %th.text-center Committer
    %tbody
      - @users.each do |user|
        %tr
          %td.alt-col.user-col-divider= user.display_name
          - if current_user.has_role?('admin')
            %td.alt-col.user-name-col= link_to user.cvs_username, user_path(user)
          - else
            %td.alt-col.user-name-col= user.cvs_username
          %td.text-center= user.bugs.open_bugs.count
          %td.text-center= user.bugs.pending.count
          %td.text-center= user.bugs.closed.count
          %td.text-center= user.bugs.count
          %td.text-center
            - if user.has_role?('committer')
              Yes
