- content_for(:title) do
  User #{@user[:display_name]} - Analyst Console


.content-wrapper
  .row
    .col-xs-4.col-with-divider
      .user-profile-wrapper
        %label.content-label-sm User Profile
        %br
        %h1.username_header=@user.cvs_username
        .users-flash-wrapper.profile-flash-wrapper
          = render partial: 'users_flash_messages', flash: flash
        %br
        %label.content-label-md=@user[:display_name]
        %br
        %span.data_small_emphasis
          =@user.roles.map(&:role).join(', ')


        - if (@user == current_user && @user.has_role?(['api user', 'webcat user', 'webcat manager'])) || current_user.has_role?('admin')
          %hr.thin
          .user-access-wrapper
            %label.content-label-sm Access
            %label.content-label-md Application Token
            %pre.code-snippet.break-word
              = @user.authentication_token

            -# Only show api keys to admins or current user
            - if current_user.has_role?(['api user', 'admin'])
              - if current_user.user_api_key&.api_key.present?
                %label.content-label-md.extra-space Analyst Console User API Key
                %pre.code-snippet.break-word
                  = current_user.user_api_key&.api_key
              - if current_user.bugzilla_api_key.present?
                %label.content-label-md.extra-space Bugzilla REST API Key
                %pre.code-snippet.break-word
                  = current_user.bugzilla_api_key
              - if current_user.threatgrid_api_key.present?
                %label.content-label-md.extra-space Threatgrid API Key
                %pre.code-snippet.break-word
                  = current_user.threatgrid_api_key
              - if current_user.sandbox_api_key.present?
                %label.content-label-md.extra-space Sandbox API Key
                %pre.code-snippet.break-word
                  = current_user.sandbox_api_key


      .user-buttons
        - if @user != current_user
          %a{href: "mailto:#{@user.email}"}
            %button.toolbar-button.email-button.tooltipped.toolbar-button-spacer{title: "Send Message to #{@user.cvs_username}"}
        - if can?(:manage, @user)
          %button.toolbar-button.edit-button.tooltipped.toolbar-button-spacer{title: "Edit #{@user.cvs_username}'s roles", 'data-toggle': 'modal', 'data-target': "#roleModal_#{@user.id}"}
        - if @user == current_user && @user.has_role?('manager')
          = link_to escalations_users_path do
            %button.toolbar-button.manage-button.tooltipped{title: "Manage Team"}

    .col-xs-8.col-with-divider
      .row
        .col-xs-12
          %label.content-label-md.team-label
            Team
      .row
        - if @user.has_role?('manager')
          .col-xs-6
            %h5.content-label-sm Reports
            .multi-col
              %ul.related-user-list
                - @user.children.each do |user|
                  %div
                    = link_to user.display_name, escalations_user_path(user), class: 'related-user'
                    %br
                    = link_to user.cvs_username, escalations_user_path(user), class: 'related-username'

          .col-xs-6.user-col-wrapper
            - if @user.parent.present?
              .user-relationship-wrapper
                %h5.content-label-sm Manager
                %div.user-col-layout{style: 'column-count: 1'}
                  %div
                    %span.related-user
                      = link_for_manager(current_user, @user, display_name: @user.parent.display_name)
                    %br
                    = link_for_manager(current_user, @user, display_name: @user.parent.cvs_username)

            - if @user.child?
              .user-relationship-wrapper
                %h5.content-label-sm Peers
                %div.user-col-layout.last{style: "column-count: #{(@sibling_col.to_f).ceil}"}
                  - @user.siblings.each do |user|
                    %div
                      = link_to user.display_name, escalations_user_path(user), class: 'related-user'
                      %br
                      = link_to user.cvs_username, escalations_user_path(user), class: 'related-username'

        - else
          .col-xs-12.user-col-wrapper
            - if @user.parent.present?
              .user-relationship-wrapper
                %h5.content-label-sm Manager
                %div.user-col-layout{style: 'column-count: 1'}
                  %div
                    %span.related-user
                      = link_for_manager(current_user, @user, display_name: @user.parent.display_name)
                    %br
                    = link_for_manager(current_user, @user, display_name: @user.parent.cvs_username)
            - if @user.child?
              .user-relationship-wrapper
                %h5.content-label-sm Peers
                %div.user-col-layout.last{style: "column-count: #{(@sibling_col.to_f).ceil}", 'data-division': "#{@sibling_col}"}
                  - @user.siblings.each do |user|
                    %div
                      = link_to user.display_name, escalations_user_path(user), class: 'related-user'
                      %br
                      = link_to user.cvs_username, escalations_user_path(user), class: 'related-username'



- if current_user == @user || current_user == @user.parent || current_user.has_role?('admin')
  -# Only current user, manager of current user, or admin can see user's bugs
  %ul.nav.nav-tabs#user-tabs{role: 'tablist'}
    %li.nav-item.active
      %a.nav-link#user-open-disputes-tab{href: '#open-disputes', 'aria-controls': 'open-disputes', role: 'tab', 'data-toggle': 'tab'}
        %span.tab-label Open Disputes
        %span#open-disputes-count.tab-item-count= @total_open
    %li.nav-item
      %a.nav-link#user-closed-disputes-tab{href: '#closed-disputes', 'aria-controls': 'closed-disputes', role: 'tab', 'data-toggle': 'tab'}
        %span.tab-label Closed Disputes
        %span.tab-item-count= @total_closed

  .tab-content.content-wrapper#user-tab-content
    .tab-pane.active#open-disputes{role: 'tabpanel', 'aria-labeled-by': 'user-open-disputes-tab'}
      .row
        - if @open_webrep_disputes.any?
          .col-xs-12
            %div.content-label-md Web Reputation
            %table.table.responsive.index-table
              %thead
                %tr
                  %th.priority-col
                  %th.id-col Case ID
                  %th.status-col Status
                  %th
                    -#Submission Type
                  %th Dispute
                  %th Age
                  %th Submitter Type
                  %th.date-col Updated
              %tbody
                - @open_webrep_disputes.each do |dispute|
                  %tr{id: "dispute_#{dispute.id}"}
                    %td
                      %span.bug-priority{class: "p-#{dispute.priority}", title: "Priority-#{dispute.priority}"}
                    %td.id-col
                      = link_to dispute.id, "/escalations/webrep/disputes/#{dispute.id}"
                    %td.font-weight-bold
                      - if !dispute.status.nil?
                        = dispute.status.gsub '_',' '
                    %td
                      %span{class:"dispute-submission-type esc-tooltipped dispute-#{dispute.submission_type}", title: "#{dispute.submission_type == 'w' ? 'Web' : 'Email'}" }
                    %td= dispute.dispute_entries.first.hostlookup rescue ""
                    %td{class:'age-col',id:"age_#{dispute.id}", 'data-age':"#{dispute.created_at}"}
                    %td= dispute.submitter_type
                    %td= dispute.updated_at

        - if @open_filerep_disputes.any?
          .col-xs-12
            %div.content-label-md File Reputation
            %table.table.responsive.index-table
              %thead
                %tr
                  - if @open_webrep_disputes.any?
                    %th.priority-col
                  %th.id-col Case ID
                  %th.status-col Status
                  %th SHA256
                  %th Age
                  %th Sample Type
                  %th Submitter Type
                  %th.date-col Updated
              %tbody
                - @open_filerep_disputes.each do |dispute|
                  %tr{id: "dispute_#{dispute.id}"}
                    - if @open_webrep_disputes.any?
                      %td.priority-col
                    %td.id-col
                      = link_to dispute.id, "/escalations/file_rep/disputes/#{dispute.id}"
                    %td.font-weight-bold.status-col
                      - if !dispute.status.nil?
                        = dispute.status.gsub '_',' '
                    %td
                      %span{id:"#{dispute.sha256_hash}_sha", class:"esc-tooltipped file_rep_sha", title:"#{dispute.sha256_hash}"}
                        = dispute.sha256_hash
                    %td{class:'age-col',id:"age_#{dispute.id}", 'data-age':"#{dispute.created_at}"}
                    %td
                      = dispute.sample_type
                    %td= dispute.submitter_type
                    %td= dispute.updated_at

    .tab-pane#closed-disputes{role: 'tabpanel', 'aria-labeled-by': 'user-closed-disputes-tab'}
      .row
        - if @closed_webrep_disputes.any?
          .col-xs-12
            %div.content-label-md Web Reputation
            %table.table.responsive.index-table
              %thead
                %tr
                  %th.priority-col
                  %th.id-col Case ID
                  %th.status-col Status
                  %th.resolution-col Resolution
                  %th
                    -#Submission Type
                  %th Dispute
                  %th Age
                  %th Submitter Type
                  %th.date-col Updated
              %tbody
                - @closed_webrep_disputes.each do |dispute|
                  %tr{id: "dispute_#{dispute.id}"}
                    %td
                      %span.bug-priority{class: "p-#{dispute.priority}", title: "Priority-#{dispute.priority}"}
                    %td.id-col
                      = link_to dispute.id, "/escalations/webrep/disputes/#{dispute.id}"
                    %td.font-weight-bold.status-col
                      = dispute.status.gsub '_',' '
                    %td= dispute.resolution.gsub '_',' '
                    %td
                      %span{class:"dispute-submission-type esc-tooltipped dispute-#{dispute.submission_type}", title: "#{dispute.submission_type == 'w' ? 'Web' : 'Email'}" }
                    %td= dispute.dispute_entries.first.hostlookup rescue ""
                    %td{class:'age-col',id:"age_#{dispute.id}", 'data-age':"#{dispute.created_at}"}
                    %td= dispute.submitter_type
                    %td= dispute.updated_at

          - if @closed_filerep_disputes.any?
            .col-xs-12
              %div.content-label-md File Reputation
              %table.table.responsive.index-table
                %thead
                  %tr
                    - if @closed_webrep_disputes.any?
                      %th
                    %th.id-col Case ID
                    %th.status-col Status
                    %th.resolution-col Resolution
                    %th SHA256
                    %th Age
                    %th Sample Type
                    %th Submitter Type
                    %th.date-col Updated


                %tbody
                  - @closed_filerep_disputes.each do |dispute|
                    %tr{id: "dispute_#{dispute.id}"}
                      - if @closed_webrep_disputes.any?
                        %td.priority-col
                      %td.id-col
                        = link_to dispute.id, "/escalations/file_rep/disputes/#{dispute.id}"
                      %td.font-weight-bold.status-col
                        - if !dispute.status.nil?
                          = dispute.status.gsub '_',' '
                      %td.resolution-col
                        - if !dispute.resolution.nil?
                          = dispute.resolution.gsub '_',' '
                      %td
                        %span{id:"#{dispute.sha256_hash}_sha", class:"esc-tooltipped file_rep_sha tooltipstered",title:"#{dispute.sha256_hash}"}
                          = dispute.sha256_hash
                      %td{class:'age-col',id:"age_#{dispute.id}", 'data-age':"#{dispute.created_at}"}
                      %td= dispute.sample_type
                      %td= dispute.submitter_type
                      %td= dispute.updated_at



%input{:name => "token", :type => "hidden", :value => "#{current_user.authentication_token}"}
.modal.fade.user-form-modal{id: "roleModal_#{@user.id}", tabindex: '-1', role: 'dialog', 'aria-hidden': 'true'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close'}
        %h3.modal-title
          Edit User
          = @user.cvs_username.capitalize
      .modal-body
        =render 'edit_user_form', user: @user
