- content_for(:title) do
  User #{@user[:display_name]} - Analyst Console


.content-wrapper
  .row
    .col-xs-4.col-with-divider
      .user-profile-wrapper
        %label.content-label-sm User Profile
        %br
        %h1.username_header=@user.cvs_username
        .users-flash-wrapper.profile-flash-wrapper
          = render partial: 'users_flash_messages', flash: flash
        %br
        %label.content-label-md=@user[:display_name]
        %br
        %span.data_small_emphasis
          =@user.roles.map(&:role).join(', ')


        - if (@user == current_user && @user.has_role?('api user')) || current_user.has_role?('admin')
          %hr.thin
          .user-access-wrapper
            %label.content-label-sm Access
            %label.content-label-md Application Token
            %pre.code-snippet.break-word
              = @user.authentication_token

            -# Only show api keys to admins or current user
            - if current_user.user_api_key&.api_key.present?
              %label.content-label-md.extra-space Analyst Console User API Key
              %pre.code-snippet.break-word
                = current_user.user_api_key&.api_key
            - if current_user.bugzilla_api_key.present?
              %label.content-label-md.extra-space Bugzilla REST API Key
              %pre.code-snippet.break-word
                = current_user.bugzilla_api_key
            - if current_user.threatgrid_api_key.present?
              %label.content-label-md.extra-space Threatgrid API Key
              %pre.code-snippet.break-word
                = current_user.threatgrid_api_key
            - if current_user.sandbox_api_key.present?
              %label.content-label-md.extra-space Sandbox API Key
              %pre.code-snippet.break-word
                = current_user.sandbox_api_key


      .user-buttons
        - if @user != current_user
          %a{href: "mailto:#{@user.email}"}
            %button.toolbar-button.email-button.tooltipped.toolbar-button-spacer{title: "Send Message to #{@user.cvs_username}"}
        - if can?(:manage, @user)
          %button.toolbar-button.edit-button.tooltipped.toolbar-button-spacer{title: "Edit #{@user.cvs_username}'s roles", 'data-toggle': 'modal', 'data-target': "#roleModal_#{@user.id}"}
        - if @user == current_user && @user.has_role?('manager')
          = link_to escalations_users_path do
            %button.toolbar-button.manage-button.tooltipped{title: "Manage Team"}

    .col-xs-8.col-with-divider
      .row
        .col-xs-12
          %label.content-label-md.team-label
            Team
      .row
        - if @user.has_role?('manager')
          .col-xs-6
            %h5.content-label-sm Reports
            .multi-col
              %ul.related-user-list
                - @user.children.each do |user|
                  %li
                    = link_to user.display_name, user_path(user), class: 'related-user'
                    %br
                    = link_to user.cvs_username, user_path(user), class: 'related-username'

          .col-xs-6.user-col-wrapper
            - if @user.parent.present?
              .user-relationship-wrapper
                %h5.content-label-sm Manager
                %div.user-col-layout{style: 'column-count: 1'}
                  %div
                    %span.related-user
                      = link_for_manager(current_user, @user, display_name: @user.parent.display_name)
                    %br
                    = link_for_manager(current_user, @user, display_name: @user.parent.cvs_username)

            - if @user.child?
              .user-relationship-wrapper
                %h5.content-label-sm Peers
                %div.user-col-layout.last{style: "column-count: #{(@sibling_col.to_f).ceil}"}
                  - @user.siblings.each do |user|
                    %div
                      = link_to user.display_name, user_path(user), class: 'related-user'
                      %br
                      = link_to user.cvs_username, user_path(user), class: 'related-username'

        - else
          .col-xs-12.user-col-wrapper
            - if @user.parent.present?
              .user-relationship-wrapper
                %h5.content-label-sm Manager
                %div.user-col-layout{style: 'column-count: 1'}
                  %div
                    %span.related-user
                      = link_for_manager(current_user, @user, display_name: @user.parent.display_name)
                    %br
                    = link_for_manager(current_user, @user, display_name: @user.parent.cvs_username)
            - if @user.child?
              .user-relationship-wrapper
                %h5.content-label-sm Peers
                %div.user-col-layout.last{style: "column-count: #{(@sibling_col.to_f).ceil}", 'data-division': "#{@sibling_col}"}
                  - @user.siblings.each do |user|
                    %div
                      = link_to user.display_name, user_path(user), class: 'related-user'
                      %br
                      = link_to user.cvs_username, user_path(user), class: 'related-username'



.modal.fade.user-form-modal{id: "roleModal_#{@user.id}", tabindex: '-1', role: 'dialog', 'aria-hidden': 'true'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close'}
        %h3.modal-title
          Edit User
          = @user.cvs_username.capitalize
      .modal-body
        =render 'edit_user_form', user: @user
