- content_for(:title) do
  User #{@user[:display_name]} - Analyst Console


.content-wrapper
  .row
    .col-xs-4.col-with-divider
      .user-profile-wrapper
        %label.content-label-sm User Profile
        %h1.username_header=@user.cvs_username
        %label.content-label-md=@user[:display_name]
        %br
        %span.data_small_emphasis
          =@user.roles.map(&:role).join(', ')

      .user-buttons
        - if @user != current_user
          %a{href: "mailto:#{@user.email}"}
            %button.toolbar-button.email-button.tooltipped{title: "Send Message to #{@user.cvs_username}"}
        - if can?(:manage, @user)
          %button.toolbar-button.edit-button.tooltipped{title: "Edit #{@user.cvs_username}'s roles", 'data-toggle': 'modal', 'data-target': "#roleModal_#{@user.id}"}
        - if @user == current_user && @user.has_role?('manager')
          = link_to escalations_users_path do
            %button.toolbar-button.manage-button.tooltipped{title: "Manage Team"}

    .col-xs-8.col-with-divider
      .row
        .col-xs-12
          %label.content-label-md.team-label
            Team
      .row
        - if @user.has_role?('manager')
          .col-xs-12.user-col-wrapper
            - first_child =  @user.children.first
            - children_col = @user.children.count.to_f / 2
            %div.user-col-layout{style: "column-count: #{(children_col.to_f).ceil}"}
              - @user.children.each do |user|
                - if user == first_child
                  %h5.content-label-sm{style: 'column-span: all'}
                    Reports
                %div
                  = link_to user.display_name, user_path(user), class: 'related-user'
                  %br
                  = link_to user.cvs_username, user_path(user), class: 'related-username'

            - if @user.parent.present?
              %div.user-col-layout{style: 'column-count: 1'}
                %h5.content-label-sm Manager
                %div
                  %span.related-user
                    = @user.parent.display_name
                  %br
                  = link_for_manager(current_user, @user)

            - if @user.child?
              - first_sibling = @user.siblings.first
              - sibling_col = @user.siblings.count.to_f / 2
              %div.user-col-layout.last{style: "column-count: #{(sibling_col.to_f).ceil}"}
                - @user.siblings.each do |user|
                  - if user == first_sibling
                    %h5.content-label-sm{style: 'column-span: all'}
                      Peers
                  %div
                    = link_to user.display_name, user_path(user), class: 'related-user'
                    %br
                    = link_to user.cvs_username, user_path(user), class: 'related-username'

        - else
          .col-xs-12.user-col-wrapper
            - if @user.parent.present?
              %div.user-col-layout{style: 'column-count: 1'}
                %h5.content-label-sm Manager
                %div
                  %span.related-user
                    = @user.parent.display_name
                  %br
                  = link_for_manager(current_user, @user)
            - if @user.child?
              - first_sibling = @user.siblings.first
              - sibling_col = @user.siblings.count.to_f / 2
              %div.user-col-layout.last{style: "column-count: #{(sibling_col.to_f).ceil}", 'data-division': "#{sibling_col}"}
                - @user.siblings.each do |user|
                  - if user == first_sibling
                    %h5.content-label-sm{style: 'column-span: all'}
                      Peers
                  %div
                    = link_to user.display_name, user_path(user), class: 'related-user'
                    %br
                    = link_to user.cvs_username, user_path(user), class: 'related-username'


.modal.fade{id: "roleModal_#{@user.id}", tabindex: '-1', role: 'dialog', 'aria-hidden': 'true'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss': 'modal', 'aria-hidden': 'true'}
        %h4.modal-title
          Update Role(s) for
          = @user.cvs_username
      .modal-body
        =render 'shared/role_form', user: @user



-#            <% if can?(:manage, @user)  %>
-#              <span data-toggle="modal" data-target='<%= "#roleModal_#{@user.id}" %>'>
-#                <a type="button" class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="edit roles"></a>
-#              </span>
-#            <% end %>


-#      <% if current_user.has_role?('admin') %>
-#          <div class="col-xs-12 col-sm-8">
-#            <%= render 'form' %>
-#            <hr />
-#          </div>
-#      <% end %>
-#      <% if current_user.has_role?('api user') %>
-#        <div class="col-xs-12 col-sm-8">
-#          <p>Application Token: <pre><%= current_user.authentication_token %></pre></p>
-#          <p>Bugzilla Token: <pre><%= xml_token %></pre></p>
-#        </div>
-#      <% end %>
-#    </div>
-#    <div class='row top-space'>
-#      <div class="col-xs-11">
-#        <% if @user == current_user %>
-#          <div class="col-xs-12">
-#            <h4>Team</h4>
-#          </div>
-#          <div class="col-xs-6 col-sm-4">
-#            <h6 class="text-muted">managers</h6>
-#            <% if @user.parent.present? %>
-#              <ul class="compact-list">
-#                <li><%= link_for_manager(current_user, @user) %></li>
-#              </ul>
-#            <% else %>
-#              <p class="text-muted small"><em><strong><%= @user.cvs_username %></strong> answers to no one!</em></p>
-#            <% end %>
-#          </div>
-#          <div class="col-xs-6 col-sm-4">
-#            <h6 class="text-muted"><%= link_to 'team', escalations_users_path %></h6>
-#            <% if @user.children.any? %>
-#              <ul class="compact-list">
-#                <% @user.children.each do |member| %>
-#                <li><%= link_to member.cvs_username, escalations_user_path(member) %></li>
-#                <% end %>
-#              </ul>
-#            <% else %>
-#              <p class="text-muted small"><em><strong><%= @user.cvs_username %></strong> is a lone wolf!</em></p>
-#            <% end %>
-#          </div>
-#          <div class="col-xs-6 col-sm-4">
-#            <h6 class="text-muted"><%= link_to 'co-workers', escalations_users_path %></h6>
-#            <% if @user.siblings.any?  && @user.child? %>
-#                <ul class="compact-list">
-#                  <% @user.siblings.each do |co| %>
-#                      <li><%= link_to co.cvs_username, escalations_user_path(co) %></li>
-#                  <% end %>
-#                </ul>
-#            <% else %>
-#                <p class="text-muted small"><em><strong><%= @user.cvs_username %></strong> works alone!</em></p>
-#            <% end %>
-#          </div>
-#        <%end%>
-#        </div>
-#      </div>
-#    <div class="row">
-#    </div>
-#    <!--<div class="footer-spacer"></div>-->
-#
-#  </div>
-#</div>
-#<div class="spacer"></div>
-#<input type="hidden" name="token" value="<%= current_user.authentication_token %>">
-#<input type="hidden" name="xml_token" value="<%= xml_token %>">
-#<input type="hidden" name="current_user" value="<%= current_user.id%>">
-#
-#

