<div class="modal fade" id="searchBugs" tabindex="-1" role="dialog" aria-labelledby="searchBugsLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header center">
        <h4> Advanced Bug Search
          <button type="button" class="close btn-lg" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form class="form-horizontal" action="/bugs" id="search-bugs-form">
            <div class="form-group form-inline col-xs-12">
              <label for="bugzilla" class="col-xs-2 control-label" >Bugzilla Id</label>
              <div class="col-xs-4">
                <input class="form-control" type="number"  min="0" name="bug[id]">
              </div>
              <div class="col-xs-4 bugzilla_max pad-left-override" style="display: none;">
                <div class="col-xs-2 pad-left-override">
                  <label class="control-label">To</label>
                </div>
                <div class="col-xs-10 nested-col">
                  <input class="form-control" type="number" min="0" name="bug[bugzilla_max]">
                </div>
              </div>
              <div class="col-xs-2">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="bug[bug_range]"> range?
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group col-xs-12">
              <label for="summary" class="col-sm-2 control-label" >Summary</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="bug[summary]">
              </div>
            </div>
            <div class="form-group col-xs-12">
              <label for="summary" class="col-sm-2 control-label" >Whiteboard</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="bug[whiteboard]">
              </div>
            </div>
            <div class="form-group col-xs-12">
              <label for="user" class="col-sm-2 control-label" >User</label>
              <div class="col-sm-10">
                <select  class="form-control" name="bug[user_id]">
                  <option value=""> -- </option>
                  <% @users.each do |user| %>
                      <option value=<%= user.id %>><%= user.cvs_username %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-group col-xs-12">
              <label for="committer" class="col-sm-2 control-label" >Committer</label>
              <div class="col-sm-10">
                <select  class="form-control" name="bug[committer_id]">
                  <option value=""> -- </option>
                  <% User.joins(:committed_bugs).group(:id).order(:cvs_username).each do |user| %>
                      <option value=<%= user.id %>><%= user.cvs_username %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-group col-xs-12">
              <label for="state" class="col-sm-2 control-label" >Bug State</label>
              <div class="col-sm-10">
                <select  class="form-control" name='bug[state]'>
                  <option value= ""> -- </option>
                  <% @states.each do |state| %>
                      <option><%= state %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="modal-footer col-xs-12 center" style="border-top:0px">
              <button class="btn btn-default" value="submit">submit</button>
              <button class="btn btn-default reset">reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
