<div class="modal fade" id="searchBugs" tabindex="-1" role="dialog" aria-labelledby="searchBugsLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header center">
        <h4> Advanced Bug Search
          <button type="button" class="close btn-lg" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h4>
      </div>

      <div class="modal-body">
        <ul class="nav nav-tabs" id="advanced_search_tabs">
          <li class="active">
            <a id="nav-advanced-search-tab" data-toggle="tab" href="#nav-advanced-search" role="tab" aria-controls="nav-advanced-search" aria-expanded="true">New Search</a>
          </li>
          <li>
            <a id="nav-saved-search-tab" data-toggle="tab" href="#nav-saved-search" role="tab" aria-controls="nav-saved-search">Saved Searches</a>
          </li>
        </ul>

        <div class="tab-content" id="advanced_search_tab_content">
          <div class="tab-pane active" id="nav-advanced-search">
            <br />
            <div class="row">
              <form class="form-horizontal" action="/bugs" id="search-bugs-form">
                <div class="form-group form-inline col-xs-12">
                  <label for="bugzilla" class="col-xs-2 control-label" >Bugzilla Id</label>
                  <div class="col-xs-4">
                    <input class="form-control" type="number"  min="0" name="bug[id]">
                  </div>
                  <div class="col-xs-4 bugzilla_max pad-left-override" style="display: none;">
                    <div class="col-xs-2 pad-left-override">
                      <label class="control-label">To</label>
                    </div>
                    <div class="col-xs-10 nested-col">
                      <input class="form-control" type="number" min="0" name="bug[bugzilla_max]">
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="bug[bug_range]"> range?
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group col-xs-12">
                  <label for="summary" class="col-sm-2 control-label" >Summary</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="text" name="bug[summary]">
                  </div>
                </div>
                <div class="form-group col-xs-12">
                  <label for="user" class="col-sm-2 control-label" >User</label>
                  <div class="col-sm-10">
                    <select  class="form-control" name="bug[user_id]">
                      <option value=""> -- </option>
                      <% @users.each do |user| %>
                          <option value=<%= user.id %>><%= user.cvs_username %></option>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="form-group col-xs-12">
                  <label for="committer" class="col-sm-2 control-label" >Committer</label>
                  <div class="col-sm-10">
                    <select  class="form-control" name="bug[committer_id]">
                      <option value=""> -- </option>
                      <% User.joins(:committed_bugs).group(:id).order(:cvs_username).each do |user| %>
                          <option value=<%= user.id %>><%= user.cvs_username %></option>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="form-group col-xs-12">
                  <label for="state" class="col-sm-2 control-label" >Bug State</label>
                  <div class="col-sm-10">
                    <select  class="form-control" name='bug[state]'>
                      <option value= ""> -- </option>
                      <% @states.each do |state| %>
                          <option><%= state %></option>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="form-group col-xs-12">
                  <label for="state" class="col-sm-2 control-label" >Save Search</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="text" name="bug[saved_search]"> (giving this search a name will save the search, leave blank otherwise.)
                  </div>
                </div>
                <div class="modal-footer col-xs-12 center" style="border-top:0px">
                  <button class="btn btn-default" value="submit">submit</button>
                  <button class="btn btn-default reset">reset</button>
                </div>
              </form>
            </div>
          </div>
          <div class="tab-pane" id="nav-saved-search">
            <div class="row">
              <br />
              <div style="width: 85%; margin: 0 auto;">
              <table class="table table-condensed small">
                <% current_user.saved_searches.each do |saved_search| %>
                <tr id="saved_search_<%= saved_search.id %>"><td><a href="/bugs?saved_search_id=<%= saved_search.id %>"><button class="btn"><%= saved_search.name %></button></a></td><td><a onclick="AC.Bugs.deleteSavedSearch(<%= saved_search.id %>)"><i class="glyphicon glyphicon-remove"></i></a></td></tr>
                <% end %>
              </table>
              </div>
            </div>

            <div class="form-group col-xs-12">
              <label for="bug[component]" class="col-sm-2 control-label" >Component</label>
              <div class="col-sm-10">
                <select  class="form-control" name='bug[component]'>
                  <option value= ""> -- </option>
                  <% Bug::COMPONENTS.each do |component| %>
                    <option><%= component %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="modal-footer col-xs-12 center" style="border-top:0px">
              <button class="btn btn-default" value="submit">submit</button>
              <button class="btn btn-default reset">reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
