<form id="change_state_form" style="display:none;" class="form-inline top-space">
  <div class="form-group row">
    <div class="col-xs-12 col-lg-10">
      <select class="form-control input-sm" id="bug_state" name="state">
        <option value="" disabled>NEW</option>
        <% ['ASSIGNED','PENDING','DUPLICATE', 'REOPENED'].each do |state| %>
            <option value="<%= state %>"><%= state %></option>
        <% end %>
        <% if current_user.committer %>
            <% ['FIXED', 'WONTFIX', 'LATER', 'INVALID'].each do |state| %>
                <option value="<%= state %>"><%= state %></option>
            <% end %>
        <% end %>
      </select>
      <input type="hidden" name="bug_id" value="<%= @bug.id %>">
      <button class="btn btn-xs btn-default" value="submit" type="submit">done</button>
    </div>
  </div>
</form>