<div class="rule_form_id">
  <div class="new_rule_form">
    <div class="col-xs-8">
      <h4>New Rule</h4>
    </div>
    <div class="col-xs-4 top-space">
      <form role="form" class="form-inline pull-right prepopulate-form" id="duplicate_rule">
        <div class="form-group">
          <label class="sr-only">Duplicate: </label>
          <input class="form-control select-sm input-extra-narrow" name="rule_id" placeholder="rule SID">
          <button class="btn btn-default select-sm" value="submit">duplicate</button>
        </div>
      </form>
    </div>

  <form role="form" class="legacy_form">
    <div class="form-group">
      <div class="col-xs-12">
        <label>Rule content</label>
        <textarea class="form-control code select-sm" placeholder="Enter rule content" name="rule[rule_content]" rows="13" required></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-10 col-xs-offset-1 center rule_doc rule_docs_warning">
        <h4>Documentation - Customer Facing Rule Documentation&nbsp;&nbsp;</h4>
        <p class="help-block">
          When creating multiple rules simultaneously, documentation entered below will be applied to each rule.<br>
          Docs can be customized after rules are created via the Edit section.
        </p>
        <div class="rule-doc-padding"></div>
        <%= render partial: "bugs/tabs/rules/rule_doc_form", locals: { rule: Rule.new, form_type: 'legacy' } %>
      </div>
    </div>
    <div class="form-group center">
      <div class="col-xs-12 top-space">
        <button class="btn btn-warning save-rule-btn" type="submit" value="submit">Create Rule</button>
        <button class="btn btn-danger rules" id="overview">Discard</button>
      </div>
    </div>
  </form>

  <form role="form" class="standard_form">
    <div class="rule_form">
    <div class="form-group">
      <div class="col-xs-12">
        <h5>Message</h5>
        <div class="entry-type-switch">
        </div>
        <div class="col-xs-10"><div class="form-inline">
          <%=select_tag :rule_category_id, options_for_select(@categories.map{|rc| [rc.category, rc.id]}), prompt: 'select a category', class: "form-control create-input select-sm code", required: "true"%>
          <label for="message"></label>
          <input class="form-control create-input select-sm code" name="rule[message]" id="std-form-message" type="text" placeholder="enter a message" style="width:75%;" required="required" />
        </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <h5>Connection</h5>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="entry-type-switch">
          <div class="radio">
            <label>
              <input type="radio" class='connection' name="connectionForm" checked value="true">
              <span class="sr-only">Select connection options</span>
            </label>
          </div>
        </div>
        <div class="col-xs-10 col-sm-11">
          <label for="connectionText" class="control-label sr-only">Connection</label>
          <div class="form-inline">
            <select name="rule[action]" id="std-form-action" class="form-control select-sm connectionForm">
              <% ['alert', 'drop'].each do |type| %>
                  <option value="<%= type %>"><%= type %></option>
              <% end %>
            </select>
            <select name="rule[protocol]" id="std-form-protocol" class="form-control select-sm connectionForm">
              <% ['tcp','udp','ip','icmp'].each do |type| %>
                  <option value="<%= type %>"><%= type %></option>
              <% end %>
            </select>
            <select name="rule[src]" id="std-form-src" class="form-control select-sm connectionForm">
              <% ['$EXTERNAL_NET', '$HOME_NET', '$DNS_SERVERS', '$SMTP_SERVERS', '$HTTP_SERVERS', '$SQL_SERVERS',
                  '$TELNET_SERVERS', '$SSH_SERVERS', '$FTP_SERVERS','$SIP_SERVERS', '$AIM_SERVERS', 'any'].each do |dstsrc| %>
                  <option value=<%= dstsrc %>><%= dstsrc %></option>
              <% end %>
            </select>
            <div class="input-group">
              <input type="text" name="rule[srcport]" id="flow_src_ports" value="any"
                     class="form-control input-select connectionForm" size="14" style="height:28px;">
              <div class="input-group-btn">
                <select id="std-form-srcport-select" class="form-control input-select-include"
                        data-toggle="dropdown" style="height:28px;"><span class="caret"></span></select>
                <ul class="dropdown-menu">
                  <% ['$HTTP_PORTS','$SHELLCODE_PORTS', '$ORACLE_PORTS', '$SSH_PORTS',
                      '$FTP_PORTS', '$SIP_PORTS', '$FILE_DATA_PORTS', 'any'].each do |srcport| %>
                    <li><a class="select-sm flow_src_ports" href="#"><%= srcport %></a></li>
                  <% end %>
                </ul>
              </div>
            </div>
            <select class="form-control select-sm connectionForm" name="rule[direction]">
              <% ["->","<->"].each do |direction| %>
                  <option value="<%= direction %>"><%= direction %></option>
              <% end %>
            </select>
            <div class="input-group">
              <input type="text" name="rule[dst]" id="flow_dst_server"
                     class="form-control input-select connectionForm" size="14" style="height:28px;" required="required">
              <div class="input-group-btn">
                <select class="form-control input-select-include" data-toggle="dropdown" style="height:28px;"><span class="caret"></span></select>
                <ul class="dropdown-menu">
                  <% ['$HOME_NET', '$EXTERNAL_NET', '$DNS_SERVERS', '$SMTP_SERVERS', '$HTTP_SERVERS', '$SQL_SERVERS',
                      '$TELNET_SERVERS', '$SSH_SERVERS', '$FTP_SERVERS','$SIP_SERVERS', '$AIM_SERVERS', 'any'].each do |dst| %>
                      <li><a class="select-sm flow_dst_server" href="#"><%= dst %></a></li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="input-group">
              <input type="text" name="rule[dstport]" id="flow_dst_ports" value="any"
                     class="form-control input-select connectionForm" size="14" style="height:28px;">
              <div class="input-group-btn">
                <select id="std-form-dstport-select" class="form-control input-select-include"
                        data-toggle="dropdown" style="height:28px;"><span class="caret"></span></select>
                <ul class="dropdown-menu">
                  <% ['$HTTP_PORTS','$SHELLCODE_PORTS', '$ORACLE_PORTS', '$SSH_PORTS',
                      '$FTP_PORTS', '$SIP_PORTS', '$FILE_DATA_PORTS', 'any'].each do |dstport| %>
                      <li><a class="select-sm flow_dst_ports" href="#"><%= dstport %></a></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="entry-type-switch">
          <div class="radio">
            <label>
              <input type="radio" class='scratch_connection' name="connectionForm" value="false">
              <span class="sr-only">Write Connection from scratch</span>
            </label>
          </div>
        </div>
        <div class="col-xs-10">
          <input type='text' class="form-control create-input select-sm code scratch_connection_text" name="rule[connection][]" placeholder="write connection from scratch" disabled>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <h5>Flow</h5>
        <div class="entry-type-switch">
          <div class="radio">
            <label>
              <input type="radio" name="flowForm" class="flow" checked>
              <span class="sr-only">Select flow options</span>
            </label>
          </div>
        </div>
        <div class="col-xs-10 form-inline">
          <select class="form-control select-sm code flow_form" name="rule[flow][]" id="new-rule-flow">
            <% ['to_client', 'to_server'].each do |flow| %>
                <option value=<%= flow %>><%= flow %></option>
            <% end %>
          </select>
          <div class="checkbox left-space">
            <label>
              <input type="checkbox" name="rule[flow][]" class="flow_form" value="established" checked>
              established
            </label>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="entry-type-switch">
          <div class="radio">
            <label>
              <input type="radio" name="flowForm" class="scratch_flow" value="false">
              <span class="sr-only">Write flow from scratch</span>
            </label>
          </div>
        </div>
        <div class="col-xs-10">
          <input class="form-control create-input select-sm code scratch_flow_text" name="rule[flow][]" placeholder="write flow from scratch" disabled>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <h5>Detection</h5>
        <div class="entry-type-switch">
        </div>
        <div class="col-xs-10">
          <div class="example">Example: content:"200"; flowbits:isset,http.mokes;</div>
          <textarea name="rule[detection]" id="std-form-detection" required="true" placeholder="enter detection" class="form-control create-input select-sm code" rows=10></textarea>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <h5>Metadata</h5>
      </div>
      <div class="col-xs-12 form-inline">
        <div class="entry-type-switch">
          <div class="radio">
            <label>
              <input type="radio" name="metadataForm" class='metadata' checked>
              <span class="sr-only">Select metadata options</span>
            </label>
          </div>
        </div>
        <label for="metadata-policy" class="policy_box">Policy:</label>
        <% ['security-ips', 'balanced-ips', 'connectivity-ips', 'max-detect-ips'].each do |policy| %>
            <input type="checkbox" name="rule[metadata][]" class="metadata_form" value="policy <%= policy %> drop" id=<%= policy %>> <%= policy %>
            <input type="checkbox" name="alert-drop" class="drop_alert" checked data-size='mini' data-on-color="default" data-on-text="drop" data-off-text="alert" id="drop-alert-<%=policy%>">
        <%end%>
      </div>
      <div class="col-xs-12">
        <div class="entry-type-switch"></div>
        <div class="col-xs-8 col-sm-9 other-dropdown">
          <label for="metadata-services" class="service_box">Service:</label>
          <% RulesHelper::TOP_SERVICES.each do |service| %>
              <input type="checkbox" name="rule[metadata][]" class="metadata_form" value="service <%= service %>" <%= "checked" if service == 'ftp-data' || service == 'http' || service == 'imap' || service == 'pop3' %>>&nbsp;<%= service %>&nbsp;&nbsp;
          <% end %>
          <%=select_tag 'rule[metadata][]', options_for_select(RulesHelper::OTHER_SERVICES.map{|os| [ os, " service #{os}"]}), class: "multiselect metadata_form service-other-dropdown form-control input-sm", multiple: "true"%>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="entry-type-switch"></div>
      </div>
      <div class="col-xs-12">
        <div class="entry-type-switch"></div>
        <div class="col-xs-8 col-sm-9">
          <div class="form-group">
            <label for="metadata-flag">Impact Flag:&nbsp;</label>
            <input type="checkbox" name="rule[metadata][]" id="new-rule-metadata-flag" value="impact_flag red"> red
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="entry-type-switch"></div>
        <div class="col-xs-8 col-sm-9">
          <div class="form-group">
            <label for="metadata-ruleset" class="ruleset_box">Ruleset:</label>
            <input type="checkbox" name="rule[metadata][]" id="new-rule-metadata-ruleset" value="ruleset community"> community
          </div>
        </div>
      </div>
      <div class="col-xs-12 top-space">
        <div class="entry-type-switch">
          <div class="radio">
            <label>
              <input type="radio" name="metadataForm" class="scratch_metadata" value="false">
              <span class="sr-only">Write metadata from scratch</span>
            </label>
          </div>
        </div>
        <div class="col-xs-10">
          <input type="text" class="form-control create-input select-sm code scratch_metadata_text" name="rule[metadata][]" placeholder="write metadata from scratch" disabled>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <h5>Classtype</h5>
        <div class="entry-type-switch">
        </div>
        <div class="col-xs-10">
          <%=select_tag "rule[class_type]", options_for_select(RulesHelper::CLASSIFICATION.keys), prompt: 'select classification', id: "new-rule-classtype-form", class: "form-control select-sm code", required: "true"%>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 references_add">
        <h5>References&nbsp;&nbsp;<a class="top-space add-reference-btn blue"><i class="glyphicon glyphicon-plus"></i> add reference</a></h5>
        <% if @bug.references.any? %>
          <% @bug.references.distinct.each do |ref| %>
            <div class="col-xs-10"><div class="form-inline" style="padding:0 20px 10px 40px;">
              <div class="form-group">
                <input class="form-control select-sm code" name="rule[reference][][reference_type_id]" size=8 value="<%= ref.reference_type.name %>">
              </div>
              <div class="form-group">
                <input class="form-control select-sm code" name="rule[reference][][reference_data]" value="<%= ref.reference_data %>">
              </div>
              <div class="form-group">
                <input class="form-control select-sm code hidden" name="rule[reference][][bug_id]" value="<%= @bug.id %>">
              </div>
              <div class="form-group"> <button class="btn select-sm btn-link remove-ref">remove</button> </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-10 col-xs-offset-1 center rule_doc rule_docs_warning">
        <h4>Documentation - Customer Facing Rule Documentation&nbsp;&nbsp;</h4>
        <div class="rule-doc-padding"></div>
          <%= render partial: "bugs/tabs/rules/rule_doc_form", locals: { rule: Rule.new, form_type: 'standard' } %>
      </div>
    </div>
    </div>
    <br>
    <div class="form-group right">
      <div class="col-xs-12 center top-space">
        <button class="btn btn-warning save-rule-btn" type="submit" value="submit">Create Rule</button>
        <button class="btn btn-danger rules" id="overview">Discard</button>
      </div>
    </div>
  </form>
  </div>
</div>

<script>

  $(document).ready(function() {
    $(".bootstrap-switch").hide();
  });

  $(document).on('click', '.add-reference-btn', function() {
      var reference_form = '<div class="col-xs-10"><div class="form-inline" style="padding:0 20px 10px 40px;">'+
          '<div class="form-group">'+
          '<select type="text" name="rule[reference][][reference_type_id]" class="form-control select-sm code">'+
          '<option class="text-muted" value="" selected> - </option>'+
          '"<% @ref_types.each do |ref| %> <option value="<%= ref.name %>"><%= ref.name %></option><% end %>"'+
          '</select>'+
          '</div>'+
          '<div class="form-group">'+
          '<input class="form-control select-sm code" placeholder="reference data" name="rule[reference][][reference_data]" required="true">'+
          '</div>'+
          '<div class="form-group"> <button class="btn select-sm btn-link remove-ref">remove</button> </div>'+
          '</div></div>';
    var reference = $(this).parents('.references_add');
    $(reference_form).appendTo(reference);
  });

  $(document).on('click', '.remove-ref', function(e) {
    e.preventDefault();
    $(this).parents('.form-inline').remove();
  });

  $('#duplicate_rule').on("submit", function(e) {
    var data, form, headers, id;
    e.preventDefault();
    form = $(this).serializeArray();
    headers = {'Token': $('input[name="token"]').val(), 'Xmlrpc-Token': $('input[name="xml_token"]').val()};
    id = form[0].value;
    return $.ajax({
      url: "/api/v1/rules/gids/1/sids/" + id,
      method: 'GET',
      data: data,
      headers: headers,
      success: function(response) {
        if(response == null){
          alert('No rule id exists');
        }else{
          var reference, references, rule, standard_form;
          rule = response.rule;
          references = response.references;
          parsed_message = rule.message.match(/^(\S+)\s(.*)/).slice(1);
          $('.legacy_form').find('textarea[name="rule[rule_content]"]').val(rule.rule_content);
          standard_form = $('.standard_form');
          AC.Helpers.populateDropdown(parsed_message[0], standard_form.find('select[name="rule_category_id"]')[0]);
          standard_form.find('input[name="rule[message]"]').val(parsed_message[1]);
          standard_form.find('.scratch_connection, .scratch_flow, .scratch_metadata').trigger("click");
          standard_form.find('.scratch_connection_text').val(rule.connection);
          standard_form.find('textarea[name="rule[detection]"]').val(rule.detection);
          standard_form.find('.scratch_flow_text').val(rule.flow);
          standard_form.find('.scratch_metadata_text').val(rule.metadata);
          standard_form.find('select[name="rule[class_type]"]').val(rule.class_type);
          reference = standard_form.find('.references_add');
          $.each(references, function(i, v) {
            var ref_form = $(reference_form).appendTo(reference);
            ref_form.find('input[name="rule[reference][][reference_data]"]').val(v.reference_data);
            ref_form.find('select[name="rule[reference][][reference_type_id]"]').val(v.type);
          });
        }
      }
    });
  });

  $('.flow_src_ports, .flow_dst_server, .flow_dst_ports').on("click", function(e){
    e.preventDefault();
    var id = $(this).attr('class');
    id = id.substr(id.indexOf(' ')+1, id.length);
    $('#'+id).val($(this).text());
  });

</script>

