.entry-details-table.xbrs-details-table{'data-entry-id': "#{entry.id}"}
  %h5.entry-details-table-header
    XBRS History
    - unless entry.hostlookup.nil?
      %span.nested-table-tally
        = entry.find_xbrs[1]['data'].count
  - if entry.xbrs_data['data'].empty?
    %table
      %thead
        %tr
          %th
            %span.missing-data
              No XBRS data available.
  - elsif entry.find_xbrs[1]['data'].count < 8
    %table
      %thead
        %tr
          - entry.xbrs_data['legend'].each do |header|
            %th= header
      %tbody
        - unless entry.hostlookup.nil?
          - entry.xbrs_data['data'].each do |data|
            %tr
              - data.each do |datapoint|
                %td= datapoint
  - else
    %table.table-scrollable
      %thead
        %tr
          - entry.xbrs_data['legend'].each do |header|
            %th= header
      %tbody
        - unless entry.hostlookup.nil?
          - entry.xbrs_data['data'].each do |data|
            %tr
              - data.each do |datapoint|
                %td= datapoint