- xbrs_timeline = entry.xbrs_timeline
.entry-details-table.xbrs-details-table{'data-entry-id': "#{entry.id}"}
  %h5.entry-details-table-header
    XBRS Timeline

    %span.nested-table-tally
      = xbrs_timeline.count
  - if xbrs_timeline.empty?
    %table
      %thead
        %tr
          %th
            %span.missing-data
              No XBRS data available.
  - else
    %table.shared-xbrs-timeline-table
      %thead
        %tr
          %th Timestamp
          %th.text-center Score
          %th V2 Content Cat
          %th V3 Content Cats
          %th Threat Cats
          %th Rule Hits
          %th

      %tbody
        - unless xbrs_timeline.empty?
          - xbrs_timeline.each do |timeline_row|
            %tr
              %td= Time.at(timeline_row['time'] / 1000).strftime("%B %e, %Y at %I:%M %p")
              %td.text-center
                - if timeline_row['score'] < 0
                  %span.mal-highlight= timeline_row['score'] || '-'
                - else
                  = timeline_row['score'] == '-'
              %td
                - timeline_row['aups'].each do |aup|
                  - if aup['version'] == 'V2'
                    =aup['cat'] || '-'
              %td
                - multicats = []
                - timeline_row['aups'].each do |aup|
                  - if aup['version'] == 'V3'
                    - multicats.push(aup['cat']) 
                =multicats.empty? ? '-' : multicats.join(", ")
              
              %td= timeline_row['threatCats'].empty? ? '-' : timeline_row['threatCats'].join(", ")
              %td= timeline_row['ruleHits'].empty? ? '-' : timeline_row['ruleHits'].join(", ")
              %td= timeline_row['time']
