%h1 RuleAPI Console Page

%input#user_id{type: 'hidden', name: 'user_id', value: "#{current_user.id}"}
%input{:name => "token", :type => "hidden", :value => "#{current_user.authentication_token}"}
%input{:type => "hidden", :name => "xml_token", :value => "#{xml_token}"}



%h3 Webcat RuleAPI


.control-banner
  %label /v1/cat/rules/get:
  = text_field "admin_tools", "args", :class => '1-args'
  %button#execute-task-button-1 Go!
.control-banner#output-1
%br
%br

.control-banner
  %label /v1/wbrsrulelib/cat/sources:
  = text_field "admin_tools", "args", :class => '2-args'
  %button#execute-task-button-2 Go!
.control-banner#output-2
%br
%br

.control-banner
  %label /v1/wbrsrulelib/cat/rules:
  = text_field "admin_tools", "args", :class => '3-args'
  %button#execute-task-button-3 Go!
.control-banner#output-3
%br
%br

.control-banner
  %label /v1/cat/rules/audit:
  = text_field "admin_tools", "args", :class => '4-args'
  %button#execute-task-button-4 Go!
.control-banner#output-4
%br
%br

.control-banner
  %label /v1/clusters/get:
  = text_field "admin_tools", "args", :class => '5-args'
  %button#execute-task-button-5 Go!
.control-banner#output-5
%br
%br

.control-banner
  %label /v1/cat/categories:
  = text_field "admin_tools", "args", :class => '6-args'
  %button#execute-task-button-6 Go!
.control-banner#output-6
%br
%br

.control-banner
  %label /v1/cat/urls/top:
  = text_field "admin_tools", "args", :class => '7-args'
  %button#execute-task-button-7 Go!
.control-banner#output-7
%br
%br

.control-banner
  %label /v1/cat/complaints/get:
  = text_field "admin_tools", "args", :class => '71-args'
  %button#execute-task-button-71 Go!
.control-banner#output-71
%br
%br


%h3 Webrep RuleAPI

.control-banner
  %label GET /v1/rep/wlbl/get:
  = text_field "admin_tools", "args", :class => '8-args'
  %button#execute-task-button-8 Go!
.control-banner#output-8
%br
%br

.control-banner
  %label POST /v1/rep/wlbl/get:
  = text_field "admin_tools", "args", :class => '9-args'
  %button#execute-task-button-9 Go!
.control-banner#output-9
%br
%br

.control-banner
  %label /v1/rep/complaints/score:
  = text_field "admin_tools", "args", :class => '10-args'
  %button#execute-task-button-10 Go!
.control-banner#output-10





