%h1.ce-tab-title Research
.row.ce-research-tab
  #alert_message
  .col-xs-4.ce-research-column
    .customer-submitted-section.bottom-divider
      %h4.ticket-report-header
        Customer Submitted Info
      #ce_research_toolbar
        .toolbar
          .view-btn-group
            %label.toolbar-section-label
              View
            .btn-group.toolbar-btn-group
              %button.btn.toolbar-button.toolbar-button-spacer.esc-tooltipped-webcat-toolbar.tooltipstered.open-all{ type: 'button', onclick: 'open_ip_uri()' }
                %button.btn.toolbar-button.esc-tooltipped-webcat-toolbar.tooltipstered.google-btn{ title: 'Google It!', type: 'button', onclick: "google_it()" }
          .edit-btn-group
            %label.toolbar-section-label
              Edit
            .dropdown.btn-group.toolbar-btn-group
              %button.dropdown-toggle.toolbar-button.esc-tooltipped-webcat-toolbar.convert-ticket-button#convert-ticket-button{ 'aria-haspopup': 'true', 'aria-expanded': 'false', 'data-toggle': 'dropdown', onclick: "prep_complaint_to_convert_show_page(#{@complaint_entry.id})", title: 'Convert ticket to web reputation ticket', type: 'button' }
              .dropdown-menu.toolbar-dropdown#convert-ticket-dropdown{ 'aria-labelledby': 'convert-ticket-button' }
                .dropdown-tool-text-divider.primary-text-divider Convert to Reputation Dispute
                .inline-tool-content-wrapper
                  .dropdown-loader-wrapper.hidden
                    .gear-loader-wrapper
                      = inline_svg 'icon_gears_loader.svg', class: 'gears-loader'
                    %span.loader-msg Converting to Webrep...
                  .row
                    .col-xs-8
                      %label.content-label-sm
                        Ticket ID to Convert:
                      %span.ticket-id-to-convert#complaint-id-to-convert
                    .col-xs-4
                      %label.content-label-sm Reputation Ticket Type
                      #convert-ticket-type.form-group
                        .inline-radio-wrapper
                          %label{ for: 'web-ticket-type' } Web
                          %input.convert-input#web-ticket-type{ type: 'radio', name: 'ticket-type', value: 'w' }
                        .inline-radio-wrapper
                          %label{ for: 'email-ticket-type' } Email
                          %input.convert-input#email-ticket-type{ type: 'radio', name: 'ticket-type', value: 'e' }
                  %hr.thin
                  .row
                    .col-xs-12
                      %label.content-label-sm
                        Ticket Entries:
                        %span.convert-entry-count
                      .convert-entry-table-wrapper
                        %table#entries-to-convert
                          %thead
                            %tr
                              %th Entry ID
                              %th Entry Content
                              %th.convert-disposition-cell.text-right Suggested Disposition
                          %tbody
                  %hr.thin
                  .comment-wrapper
                    %label.content-label-sm Ticket Summary
                    %textarea.dropdown-comment.note-input#convert-ticket-summary
                  .button-row-center
                    %button.primary.dropdown-submit-button#convert-to-webrep{ type: 'button', disabled: 'disabled' }
                      Convert Ticket
      .ce-submitted-wbrs-wrapper
        #ce_submitted_ip_uri_wrapper
          %label.content-label-sm
            Submitted IP/URI
          %p.ce-submitted-ip-uri
            = @submitted_ip_uri
        #ce_wbrs_score_wrapper
          %label.content-label-sm
            WBRS Score
          %div
            %span{ class: ['webcat-research-svg', wbrs_score_icon(@complaint_entry.wbrs_score)] }
            %p#ce_wbrs_score= @wbrs_score
      .ce-suggested-categories_wrapper.customer-submitted-data-wrapper
        %label.content-label-sm
          Suggested Categories
        = suggested_categories(@complaint_entry.suggested_disposition)
      .ce-description-wrapper.customer-submitted-data-wrapper
        %label.content-label-sm
          Description
        %p#ce_description
          = @complaint.description

    .external-categories-section.bottom-divider
      %h4.ticket-report-header Current Categories
      %label.data-report-label WBRS
      %table.categories-table#ce_wbrs_categories_table
        %thead
          %tr
            %th conf
            %th wbrs categories
            %th certainty
        %tbody
      %label.data-report-label SDS
      %table.categories-table#ce_sds_categories_table
        %thead
          %tr
            %th sds uri category
            %th sds domain category
        %tbody

    .tags-section
      %h4.ticket-report-header Tags
      #ce_tags_wrapper
        = render_tags(@tags)
        %input.ce-tags-select.hidden#ce_tags_select{ placeholder: 'Enter Tags' }
        %button.tags-button#edit_tags

  .col-xs-4.ce-research-column
    %h4.ticket-report-header
      categorization resolution
    .ce-resolved-ip-uri-wrapper
      %label.content-label-sm
        Resolved IP/URI
      %input.ce-input.ce-ip-uri-input{ disabled: (true if @complaint_entry.status == "COMPLETED"),
                                       value: @submitted_ip_uri }
      .ce-resolved-ip-uri-button-wrapper
        %button.ip-uri-button#ce_ip_uri_domain{ data: { val: @complaint_entry.domain },
                                                # Disable the domain button if the ComplaintEntry doesn't have a path or a subdomain.
                                                disabled: missing_path?(@complaint_entry) && missing_subdomain?(@complaint_entry),
                                                onclick: "update_uri_input('#{@complaint_entry.domain}', 'domain')" }
          domain
        %button.ip-uri-button#ce_ip_uri_subdomain{ data: { val: @complaint_entry.subdomain },
                                                   disabled: missing_subdomain?(@complaint_entry),
                                                   onclick: "update_uri_input('#{@complaint_entry.subdomain}.#{@complaint_entry.domain}', 'subdomain')" }
          subdomain
        %button.ip-uri-button#ce_ip_uri_original{ data: { val: @complaint_entry.path },
                                                  disabled: true,
                                                  onclick: "update_uri_input('#{@complaint_entry.uri}', 'original uri')" }
          original uri
    .ce-categories-wrapper
      %label.content-label-sm
        Categories
      %input.ce-categories-select.ce-input#ce_categories_select{ disabled: (true if @complaint_entry.status == "COMPLETED"),
                                                                 placeholder: 'Enter Categories / Confidence Order' }
    .ce-resolution-wrapper
      %label.content-label-sm
        Resolution
      .ce-radio-group-wrapper
        .ce-radio-group
          %input.resolution-radio-button{ disabled: (true if @complaint_entry.status == "COMPLETED"),
                                          name: 'resolution',
                                          type: 'radio',
                                          value: 'unchanged' }
          %label.radio-label{ for: 'unchanged' }
            Unchanged
        .ce-radio-group
          %input.resolution-radio-button{ disabled: (true if @complaint_entry.status == "COMPLETED"),
                                          name: 'resolution',
                                          checked: true,
                                          type: 'radio',
                                          value: 'fixed' }
          %label.radio-label{ for: 'fixed' }
            Fixed
        .ce-radio-group
          %input.resolution-radio-button{ disabled: (true if @complaint_entry.status == "COMPLETED"),
                                          name: 'resolution',
                                          type: 'radio',
                                          value: 'invalid' }
          %label.radio-label{ for: 'invalid' }
            Invalid
    .ce-customer-comment-wrapper
      %label.content-label-sm
        Email Response to Customer
      %select.ce-customer-comment-select-box.ce-input.response-template-select{ disabled: (true if @complaint_entry.status == "COMPLETED"),
                                                                                id: "entry-email-response-to-customers-select_#{@complaint_entry.id}" }
        %option{ value: 'fixed', selected: true } Fixed - Default Response
      %textarea.ce-customer-comment-textarea.ce-input{ disabled: (true if @complaint_entry.status == "COMPLETED"),
                                                       id: "entry-email-response-to-customers_#{@complaint_entry.id}",
                                                       name: 'ce_customer_comment_textarea',
                                                       maxlength: '64000' }
    .ce-internal-comment-wrapper
      %label.content-label-sm
        Internal Comment
      %textarea.ce-internal-comment-textarea.ce-input{ disabled: (true if @complaint_entry.status == "COMPLETED"),
                                                       name: 'ce_internal_comment_textarea',
                                                       placeholder: 'Internal note for choosing categories' }
    - if @complaint_entry.is_important
      .row.text-center
        .col-xs-6
          .ce-allow-review-container
            - if current_user.enabled_self_review
              %input{ type: 'checkbox', id: 'self_review', checked: true }
            - else
              %input{ type: 'checkbox', id: 'self_review', checked: false }
            %label{ for: 'self_review' }
              Allow Self Review
        .col-xs-6
          - if @complaint_entry.status == 'COMPLETED'
            %button.tertiary.ce-submit-button{ onclick: "reopen_complaint(#{@complaint_entry.id})" }
              reopen
          - else
            %button.tertiary.ce-submit-button{ disabled: true, onclick: "submit_show_page_changes(#{@complaint_entry.id})" }
              submit
    - else
      .text-center
        - if @complaint_entry.status == 'COMPLETED'
          %button.tertiary.ce-submit-button{ onclick: "reopen_complaint(#{@complaint_entry.id})" }
            reopen
        - else
          %button.tertiary.ce-submit-button{ disabled: true, onclick: "submit_show_page_changes(#{@complaint_entry.id})" }
            submit
  .col-xs-4.ce-research-column
    %h4.ticket-report-header
      Whois
    %label.data-report-label
      Domain
    %table.data-report-table#ce_domain_table
      %tbody#ce_domain_tbody
        %tr
          %td.data-report-table-column-header
            - if @complaint_entry.domain.present?
              Domain Name
            - else
              IP Address
          %td#domain_title
            = @whois_lookup
    %label.data-report-label.ce-whois-label#ce_admin_label
      admin
    %table.data-report-table.ce-whois-table#ce_admin_table
      %tbody#ce_admin_tbody
    %label.data-report-label.ce-whois-label#ce_registrant_label
      registrant
    %table.data-report-table.ce-whois-table#ce_registrant_table
      %tbody#ce_registrant_tbody
    %label.data-report-label.ce-whois-label#ce_tech_label
      tech
    %table.data-report-table.ce-whois-table#ce_tech_table
      %tbody#ce_tech_tbody
    %label.data-report-label.ce-whois-label#ce_domain_status_label
      domain status
    %table.data-report-table.ce-whois-table#ce_domain_status_table
      %tbody#ce_domain_status_tbody
    %table.data-report-table#ce_name_servers_table
      %thead
        %tr
          %th#ce_name_servers_header
            name servers
      %tbody#ce_nserver_tbody
:javascript
  window.set_headers();
  window.set_entry_id();
  window.set_complaint_entry_data("#{@complaint_entry.category}", '#{@complaint_entry.status}');
  window.set_tags("#{@tags.join(', ')}");
