.row.ce-research-tab
  .col-xs-4.ce-research-column
    %h1.ce-tab-title Research
    %h5.research-data-header.text-uppercase
      customer submitted info
    #ce_research_toolbar
      .toolbar
        .view-btn-group
          %label.toolbar-section-label
            View
          .btn-group.toolbar-btn-group
            %button.btn.toolbar-button.toolbar-button-spacer.esc-tooltipped-webcat-toolbar.tooltipstered.open-all{ type: 'button', onclick: 'open_ip_uri()' }
              %button.btn.toolbar-button.esc-tooltipped-webcat-toolbar.tooltipstered.google-btn{ title: 'Google It!', type: 'button', onclick: "google_it()" }
        .edit-btn-group
          %label.toolbar-section-label
            Edit
          .dropdown.btn-group.toolbar-btn-group
            %button.dropdown-toggle.toolbar-button.esc-tooltipped-webcat-toolbar.convert-ticket-button#convert-ticket-button{ 'aria-haspopup': 'true', 'aria-expanded': 'false', 'data-toggle': 'dropdown', onclick: "prep_complaint_to_convert_show_page(#{@complaint_entry.id})", title: 'Convert ticket to web reputation ticket', type: 'button' }
            .dropdown-menu.toolbar-dropdown#convert-ticket-dropdown{ 'aria-labelledby': 'convert-ticket-button' }
              .dropdown-tool-text-divider.primary-text-divider Convert to Reputation Dispute
              .inline-tool-content-wrapper
                .dropdown-loader-wrapper.hidden
                  .gear-loader-wrapper
                    = inline_svg 'icon_gears_loader.svg', class: 'gears-loader'
                  %span.loader-msg Converting to Webrep...
                .row
                  .col-xs-8
                    %label.content-label-sm
                      Ticket ID to Convert:
                    %span.ticket-id-to-convert#complaint-id-to-convert
                  .col-xs-4
                    %label.content-label-sm Reputation Ticket Type
                    #convert-ticket-type.form-group
                      .inline-radio-wrapper
                        %label{ for: 'web-ticket-type' } Web
                        %input.convert-input#web-ticket-type{ type: 'radio', name: 'ticket-type', value: 'w' }
                      .inline-radio-wrapper
                        %label{ for: 'email-ticket-type' } Email
                        %input.convert-input#email-ticket-type{ type: 'radio', name: 'ticket-type', value: 'e' }
                %hr.thin
                .row
                  .col-xs-12
                    %label.content-label-sm
                      Ticket Entries:
                      %span.convert-entry-count
                    .convert-entry-table-wrapper
                      %table#entries-to-convert
                        %thead
                          %tr
                            %th Entry ID
                            %th Entry Content
                            %th.convert-disposition-cell.text-right Suggested Disposition
                        %tbody
                %hr.thin
                .comment-wrapper
                  %label.content-label-sm Ticket Summary
                  %textarea.dropdown-comment.note-input#convert-ticket-summary
                .button-row-center
                  %button.primary.dropdown-submit-button#convert-to-webrep{ type: 'button', disabled: 'disabled' }
                    Convert Ticket
    .ce-submitted-wbrs-wrapper
      #ce_submitted_ip_uri_wrapper
        %label.content-label-sm
          Submitted IP/URI
        %p.ce-submitted-ip-uri
          = @submitted_ip_uri
      #ce_wbrs_score_wrapper
        %label.content-label-sm
          WBRS Score
        %div
          %span{ class: ['webcat-research-svg', wbrs_score_icon(@complaint_entry.wbrs_score)] }
          %p#ce_wbrs_score= @wbrs_score
    #ce_suggested_categories_wrapper
      %label.content-label-sm
        Suggested Categories
      = suggested_categories(@complaint_entry.suggested_disposition)
    .bottom-divider#ce_description_wrapper
      %label.content-label-sm
        Description
      %p#ce_description
        = @complaint.description
    %h5.research-data-header.text-uppercase
      current categories
    %h5.research-data-header.text-uppercase wbrs
    %table.categories-table#ce_wbrs_categories_table
      %thead
        %tr
          %th conf
          %th wbrs categories
          %th certainty
      %tbody
    %h5.research-data-header.text-uppercase sds
    %table.categories-table#ce_sds_categories_table
      %thead
        %tr
          %th sds uri category
          %th sds domain category
      %tbody
    %h5.research-data-header.text-uppercase
      tags
    #ce_tags_wrapper
      = render_tags(@tags)
      %input.ce-tags-select.hidden#ce_tags_select{ placeholder: 'Enter Tags' }
      %button.tags-button#edit_tags

  .col-xs-3.ce-research-column
    %h5.research-data-header.text-uppercase
      categorization resolution
    .ce-resolved-ip-uri-wrapper
      %label.content-label-sm
        Resolved IP/URI
      %input.ce-input.ce-ip-uri-input{ value: @submitted_ip_uri }
      .ce-resolved-ip-uri-button-wrapper
        %button.ip-uri-button
          domain
        %button.ip-uri-button
          subdomain
        %button.ip-uri-button
          original uri
    .ce-categories-wrapper
      %label.content-label-sm
        Categories
      %input.ce-categories-select.ce-input#ce_categories_select{ placeholder: 'Enter Categories / Confidence Order' }
    .ce-resolution-wrapper
      %label.content-label-sm
        Resolution
      .ce-radio-group-wrapper
        .ce-radio-group
          %input.resolution-radio-button{ name: 'resolution',
                                          type: 'radio',
                                          value: 'unchanged' }
          %label.radio-label{ for: 'unchanged' }
            Unchanged
        .ce-radio-group
          %input.resolution-radio-button{ name: 'resolution',
                                          checked: true,
                                          type: 'radio',
                                          value: 'fixed' }
          %label.radio-label{ for: 'fixed' }
            Fixed
        .ce-radio-group
          %input.resolution-radio-button{ name: 'resolution',
                                          type: 'radio',
                                          value: 'invalid' }
          %label.radio-label{ for: 'invalid' }
            Invalid
    .ce-customer-comment-wrapper
      %label.content-label-sm
        Email Response to Customer
      %select.ce-customer-comment-select-box.ce-input{ id: "entry-email-response-to-customers-select_#{@complaint_entry.id}" }
        %option{ value: 'fixed', selected: true } Fixed- Default Response
      %textarea.ce-customer-comment-textarea.ce-input{ id: "entry-email-response-to-customers_#{@complaint_entry.id}",
                                                       name: 'ce_customer_comment_textarea',
                                                       maxlength: '64000' }
    .ce-internal-comment-wrapper
      %label.content-label-sm
        Internal Comment
      %textarea.ce-internal-comment-textarea.ce-input{ name: 'ce_internal_comment_textarea',
                                                       placeholder: 'Internal note for choosing categories' }
    .text-center
      %button.tertiary.ce-submit-button
        submit
  .col-xs-3.ce-research-column
    %h5.research-data-header.text-uppercase
      whois
    %label.data-report-label
      domain
    %table.data-report-table#ce_domain_table
      %tbody
        %tr
          %td#domain_title
            = @submitted_ip_uri
    %label.data-report-label#ce_registrant_label
      registrant
    %table.data-report-table#ce_registrant_table
      %tbody
        %tr
          %td.data-report-table-column-header
            Organization
          %td#registrant_organization
        %tr
          %td.data-report-table-column-header
            Country
          %td#registrant_country
        %tr
          %td.data-report-table-column-header
            State/Province
          %td#registrant_state
    %table.data-report-table#ce_name_servers_table
      %thead
        %tr
          %th#ce_name_servers_header
            name servers
      %tbody#ce_nserver_tbody
:javascript
  window.set_headers();
  window.set_entry_id();
  window.set_complaint_entry_data("#{@complaint_entry.category}", #{@complaint_entry.status});
  window.set_tags("#{@tags.join(', ')}");
