.content-wrapper.complaint-entry-show-content-wrapper.top-case-info
  .row
    .col-xs-2.col-with-divider.webcat-complaint-case-wrapper
      .webcat-complaint-important-reviewed-wrapper
        - if @complaint_entry.is_important
          %span.esc-tooltipped.is-important.highlight-second-review{ tooltip: true, title: 'Imporant' }
        - if @complaint_entry.was_dismissed
          %span.esc-tooltipped.was-reviewed.highlight-was-dismissed{ tooltip: true, title: 'Reviewed' }
      .webcat-complaint-case-id-wrapper
        %label.content-label-sm Complaint Entry ID
        .complaint-entry-id
          #complaint_entry_id.top-info-data
            = @complaint_entry.id.to_s
        %label.content-label-sm Status
        .complaint-status-col-wrapper
          -# bugzilla_popover_state
          - if @complaint_entry.resolution == ComplaintEntry::STATUS_RESOLVED_DUPLICATE
            .duplicate-status-notice
              = @complaint_entry.resolution
          - else
            %span.dropdown
              %button#show-edit-ticket-status-button{ 'aria-expanded': 'false',
                                                      'aria-haspopup': 'true',
                                                      'data-toggle': 'dropdown',
                                                      class: ['inline-select-dropdown',
                                                              'ticket-status-button',
                                                              'dropdown-toggle'],
                                                      onclick: "webcat_complaint_drop_down()",
                                                      title: 'Edit Ticket Status' }
                - if @complaint_entry.status.nil?
                  NEW
                - else
                  = @complaint_entry.status

              - if can? :update, ComplaintEntry
                #show-edit-ticket-status-dropdown{ 'aria-labelledby': 'show-edit-ticket-status-button',
                                                   class: ['dropdown-menu', 'inline-dropdown-menu'] }
                  %ul
                    %li.status-radio-wrapper
                      %input.webcat-ticket-status-radio{ 'data-status': ComplaintEntry::PENDING.to_s,
                                                         id: ComplaintEntry::PENDING.to_s,
                                                         name: 'complaint-status',
                                                         type: 'radio',
                                                         value: ComplaintEntry::PENDING.to_s }
                      %label.radio-label.webcat-ticket-status-radio-label{ for: ComplaintEntry::PENDING.to_s } Pending
                    %li.status-radio-wrapper
                      %input.webcat-ticket-status-radio{ 'data-status': ComplaintEntry::STATUS_COMPLETED.to_s,
                                                         id: ComplaintEntry::STATUS_COMPLETED.to_s,
                                                         name: 'complaint-status',
                                                         type: 'radio',
                                                         value: ComplaintEntry::STATUS_COMPLETED.to_s }
                      %label.radio-label.webcat-ticket-status-radio-label{ for: ComplaintEntry::STATUS_COMPLETED.to_s } Completed
                    %li.status-radio-wrapper
                      %input.webcat-ticket-status-radio.resolution-dropdown-menu{ 'data-status': ComplaintEntry::RESOLVED.to_s,
                                                                                  id: ComplaintEntry::RESOLVED.to_s,
                                                                                  name: 'complaint-status',
                                                                                  type: 'radio',
                                                                                  value: ComplaintEntry::RESOLVED.to_s }
                      %label.radio-label.webcat-ticket-status-radio-label{ for: ComplaintEntry::RESOLVED.to_s } Resolved
                      .dropdown-menu#show-ticket-resolution-submenu
                        .submenu-left-wrapper#webcat-resolution-selector
                          .submenu-header
                            Ticket Resolution
                          %ul
                            %li
                              %input.webcat-ticket-resolution-radio{ 'data-saved-resolution-type': 'Fixed - FN',
                                                                     id: ComplaintEntry::STATUS_RESOLVED_FIXED_FN.to_s,
                                                                     name: 'complaint-resolution-fixed-fn',
                                                                     type: 'radio',
                                                                     value: ComplaintEntry::STATUS_RESOLVED_FIXED_FN.to_s }
                              %label.ticket-res-radio-label.radio-label{ for: ComplaintEntry::STATUS_RESOLVED_FIXED_FN.to_s } Fixed - FN
                            %li
                              %input.webcat-ticket-resolution-radio{ 'data-saved-resolution-type': 'Fixed - FP',
                                                                     id: ComplaintEntry::STATUS_RESOLVED_FIXED_FP.to_s,
                                                                     name: 'complaint-resolution-fixed-fn',
                                                                     type: 'radio',
                                                                     value: ComplaintEntry::STATUS_RESOLVED_FIXED_FP.to_s }
                              %label.ticket-res-radio-label.radio-label{ for: ComplaintEntry::STATUS_RESOLVED_FIXED_FP.to_s } Fixed - FP
                            %li
                              %input.webcat-ticket-resolution-radio{ 'data-saved-resolution-type': 'Unchanged',
                                                                     'data-status': ComplaintEntry::STATUS_RESOLVED_FIXED_UNCHANGED.to_s,
                                                                     id: ComplaintEntry::STATUS_RESOLVED_FIXED_UNCHANGED.to_s,
                                                                     name: 'complaint-resolution',
                                                                     type: 'radio',
                                                                     value: ComplaintEntry::STATUS_RESOLVED_FIXED_UNCHANGED.to_s }
                              %label.ticket-res-radio-label.radio-label{ for: ComplaintEntry::STATUS_RESOLVED_FIXED_UNCHANGED.to_s }
                                Unchanged
                            %li
                              %input.webcat-ticket-resolution-radio{ 'data-saved-resolution-type': 'Invalid',
                                                                     'data-status': ComplaintEntry::STATUS_RESOLVED_FIXED_INVALID.to_s,
                                                                     id: ComplaintEntry::STATUS_RESOLVED_FIXED_INVALID.to_s,
                                                                     name: 'complaint-resolution',
                                                                     type: 'radio',
                                                                     value: ComplaintEntry::STATUS_RESOLVED_FIXED_INVALID.to_s }
                              %label.ticket-res-radio-label.radio-label{ for: ComplaintEntry::STATUS_RESOLVED_FIXED_INVALID.to_s }
                                Invalid
                            %li
                              %input.webcat-ticket-resolution-radio{ 'data-saved-resolution-type': 'Duplicate',
                                                                     'data-status': ComplaintEntry::STATUS_RESOLVED_DUPLICATE.to_s,
                                                                     id: ComplaintEntry::STATUS_RESOLVED_DUPLICATE.to_s,
                                                                     name: 'complaint-resolution',
                                                                     type: 'radio',
                                                                     value: ComplaintEntry::STATUS_RESOLVED_DUPLICATE.to_s }
                              %label.ticket-res-radio-label.radio-label{ for: ComplaintEntry::STATUS_RESOLVED_DUPLICATE.to_s }
                                Duplicate
                        .submenu-right-wrapper
                          .resolution-comment-wrapper
                            %label.content-label-sm
                              Template
                            %select.resolution-message-template-select#webcat-resolution-message-template-select
                            %label.content-label-sm
                              Description
                            %p.ticket-resolution-description
                            %label.content-label-sm
                              Comment
                            %textarea.ticket-resolution-comment.resolution-status-comment
                            .ticket-resolution-submit-wrapper
                              %button.primary{ onClick: 'webcat_show_page_edit_status()' }
                                Submit

                    %li.status-radio-wrapper
                      %input.webcat-ticket-status-radio{ class: "complaint-status-#{@complaint_entry.id}",
                                                         id: ComplaintEntry::STATUS_REOPENED.to_s,
                                                         name: 'complaint-status',
                                                         type: 'radio',
                                                         value: ComplaintEntry::STATUS_REOPENED.to_s }
                      %label.radio-label.webcat-ticket-status-radio-label{ for: ComplaintEntry::STATUS_REOPENED.to_s }
                        Re-Opened
                    %li.non-resolution-submit-wrapper.webcat-non-resolution-submit-wrapper#ticket-non-res-submit
                      %label.content-label-sm
                        Comment
                      %textarea.ticket-status-comment
                      .button-row-center
                        %button.primary{ onClick: 'webcat_show_page_edit_status()' }
                          Submit

            - if @complaint_entry&.resolution_comment.present?
              %button.status-comment-button.esc-tooltipped{ title: @complaint_entry&.resolution_comment }

    .col-xs-2.col-with-divider
      %label.content-label-sm
        Users
      .complaint-assignee-wrapper
        .complaint-owner-wrapper
          %div
            %span.user-image#complaint-assignee{ class: ('missing-data' if no_user?(@complaint_entry.user) ) }= no_user?(@complaint_entry.user) ? 'Unassigned' : @complaint_entry.user.display_name
        - if can? :update, ComplaintEntry
          .complaint-owner-buttons-wrapper
            - if @complaint_entry.user_id == current_user.id
              - if (@complaint_entry.resolution != ComplaintEntry::STATUS_RESOLVED_DUPLICATE) && (@complaint_entry.status != ComplaintEntry::RESOLVED)
                %button.return-ticket-button.esc-tooltipped{ onclick: 'return_single_webcat_complaint("assignee");',
                                                             title: 'Return ticket to open queue' }
            - else
              - if (@complaint_entry.resolution != ComplaintEntry::STATUS_RESOLVED_DUPLICATE) && (@complaint_entry.status != ComplaintEntry::RESOLVED)
                - if no_user?(@complaint_entry.user)
                  %button.complaint-inline-buttons.take-ticket-button.esc-tooltipped#webcat-show-ticket-assign{ onclick: "take_single_webcat_complaint('assignee');",
                                                                                                                title: 'Assign this ticket to me' }
                %span.dropdown
                  .dropdown-menu#show-change-assigne-dropdown{ 'aria-labelledby': 'index_change_assign' }
                    .change-assignee-dropdown-wrapper
                      %h3 Change Assignee
                      .inline-tool-content-wrapper
                        .toolbar
                          %div
                            %label.toolbar-section-label Assignee
                            = select_tag :index_target_assignee, options_from_collection_for_select(@webcat_users, :id, :display_name), class: 'toolbar-select'
                          %button.primary{ id: 'button_reassign',
                                           onclick: 'webcat_toolbar_show_change_assignee();',
                                           type: 'button' }
                            Assign
                  %button.complaint-inline-buttons.ticket-owner-button.dropdown-toggle.esc-tooltipped#webcat-index-change-assign{ 'aria-expanded': 'false',
                                                                                                                                  'aria-haspopup': 'true',
                                                                                                                                  'data-toggle': 'dropdown',
                                                                                                                                  title: 'Change Assignee' }
      .complaint-reviewer-wrapper
        .complaint-owner-wrapper
          %div
            %span.user-image#complaint-reviewer{ class: ('missing-data' if no_user?(@complaint_entry.reviewer))}= @complaint_entry.reviewer&.display_name || 'No Reviewer'
        - if can? :update, ComplaintEntry
          .complaint-owner-buttons-wrapper
            - if @complaint_entry.reviewer_id == current_user.id
              - if (@complaint_entry.resolution != ComplaintEntry::STATUS_RESOLVED_DUPLICATE) && (@complaint_entry.status != ComplaintEntry::RESOLVED)
                %button.return-ticket-button.esc-tooltipped{ onclick: 'return_single_webcat_complaint("reviewer");',
                                                             title: 'Return ticket to open queue' }
            - else
              - if (@complaint_entry.resolution != ComplaintEntry::STATUS_RESOLVED_DUPLICATE) && (@complaint_entry.status != ComplaintEntry::RESOLVED)
                - if no_user?(@complaint_entry.reviewer)
                  %button.complaint-inline-buttons.take-ticket-button.esc-tooltipped#webcat-show-ticket-reviewer{ onclick: "take_single_webcat_complaint('reviewer');",
                                                                                                                  title: 'Assign this ticket to me' }
                %span.dropdown
                  .dropdown-menu#show-change-reviewer-dropdown{ 'aria-labelledby': 'index_change_assign' }
                    .change-assignee-dropdown-wrapper
                      %h3 Change Reviewer
                      .inline-tool-content-wrapper
                        .toolbar
                          %div
                            %label.toolbar-section-label reviewer
                            = select_tag :index_target_assignee, options_from_collection_for_select(@webcat_users, :id, :display_name), class: 'toolbar-select'
                          %button.primary{ id: 'button_reassign',
                                           onclick: 'webcat_toolbar_show_change_assignee();',
                                           type: 'button' }
                            Assign
                  %button.complaint-inline-buttons.ticket-owner-button.dropdown-toggle.esc-tooltipped#webcat-index-change-reviewer{ 'aria-expanded': 'false',
                                                                                                                                    'aria-haspopup': 'true',
                                                                                                                                    'data-toggle': 'dropdown',
                                                                                                                                    title: 'Change Assignee' }
      .complaint-second-reviewer-wrapper
        .complaint-owner-wrapper
          %div
            %span.user-image#complaint-second-reviewer{ class: ('missing-data' if no_user?(@complaint_entry.second_reviewer)) }= @complaint_entry.second_reviewer&.display_name || 'No 2nd Reviewer'
        - if can? :update, ComplaintEntry
          .complaint-owner-buttons-wrapper
            - if @complaint_entry.second_reviewer_id == current_user.id
              - if (@complaint_entry.resolution != ComplaintEntry::STATUS_RESOLVED_DUPLICATE) && (@complaint_entry.status != ComplaintEntry::RESOLVED)
                %button.return-ticket-button.esc-tooltipped{ onclick: 'return_single_webcat_complaint("second_reviewer");',
                                                             title: 'Return ticket to open queue' }
            - else
              - if (@complaint_entry.resolution != ComplaintEntry::STATUS_RESOLVED_DUPLICATE) && (@complaint_entry.status != ComplaintEntry::RESOLVED)
                - if no_user?(@complaint_entry.second_reviewer)
                  %button.complaint-inline-buttons.take-ticket-button.esc-tooltipped#webcat-show-ticket-second-reviewer{ onclick: "take_single_webcat_complaint('second_reviewer');",
                                                                                                                         title: 'Assign this ticket to me' }
                %span.dropdown
                  .dropdown-menu#show-change-second-reviewer-dropdown{ 'aria-labelledby': 'index_change_assign' }
                    .change-assignee-dropdown-wrapper
                      %h3 Change Second Reviewer
                      .inline-tool-content-wrapper
                        .toolbar
                          %div
                            %label.toolbar-section-label Second Reviewer
                            = select_tag :index_target_assignee, options_from_collection_for_select(@webcat_users, :id, :display_name), class: 'toolbar-select'
                          %button.primary{ id: 'button_reassign',
                                           onclick: 'webcat_toolbar_show_change_assignee();',
                                           type: 'button' }
                            Assign
                  %button.complaint-inline-buttons.ticket-owner-button.dropdown-toggle.esc-tooltipped#webcat-index-change-second-reviewer{ 'aria-expanded': 'false',
                                                                                                                                           'aria-haspopup': 'true',
                                                                                                                                           'data-toggle': 'dropdown',
                                                                                                                                           title: 'Change Assignee' }
    .col-xs-2.col-with-divider
      %label.content-label-sm Submitted At
      .complaint-submitted-at-wrapper
        .submitted-time.top-info-data
          = @complaint_entry.created_at
      %label.content-label-sm Age
      .complaint-age-wrapper
        .complaint-complaint_entry-age.top-info-data{ class: complaint_entry_age_class(@complaint_entry).to_s }
          = complaint_entry_age @complaint_entry
    .col-xs-2.col-with-divider
      %label.content-label-sm Platform
      .complaint-submitted-at-wrapper
        .submitted-time.top-info-data
          = @complaint_entry.determine_platform || 'None'
      %label.content-label-sm Source
      .complaint-age-wrapper
        .complaint-complaint_entry-age.top-info-data
          - if @source
            - if @source == 'talos-intelligence'
              TI Webform
            - elsif @source == 'talos-intelligence-api'
              TI API
            - else
              = @source
          - else
            Internal
    .col-xs-2.col-with-divider
      %label.content-label-sm Submitter Type
      .submitter-type-wrapper
        .top-info-data= @complaint.submitter_type || 'NON-CUSTOMER'
      %label.content-label-sm Submitter Organization
      .submitter-org-wrapper
        .top-info-data= @org_name

    .col-xs-2
      %label.content-label-sm Contact Name
      .contact-name-wrapper
        .top-info-data.complaint-edit-field#complaint-customer-name= @complaint.customer&.name || 'None'
      %label.content-label-sm Contact Email
      .contact-email-wrapper
        .top-info-data.complaint-edit-field#complaint-customer-email= @complaint.customer&.email || 'None'

%ul.nav.nav-tabs#ce_tabs{ role: 'tablist' }
  %li.nav-item.active{ role: 'presentation' }
    %a.nav-link#research-tab-link{ 'aria-controls': 'research',
                                    'data-toggle': 'tab',
                                    href: '#research-tab',
                                    role: 'tab' }
      research
  %li.nav-item{ role: 'presentation' }
    %a.nav-link#history-tab-link{ 'aria-controls': 'history',
                                   'data-toggle': 'tab', href: '#history-tab',
                                   role: 'tab' }
      history
-# Bootstrap tabs: https://getbootstrap.com/docs/3.4/javascript/#tabs
.tab-content.content-wrapper#ce_tab_content
  .tab-pane.active#research-tab{ role: 'tabpanel' }
    = render 'escalations/webcat/complaint_entries/research_tab'
  .tab-pane#history-tab{ role: 'tabpanel' }
    = render 'escalations/webcat/complaint_entries/history_tab'
