<div class="row top-space">
  <div class="col-xs-1">
    <button class="select-sm btn btn-default rule-toolbar" id="overview"><i class="glyphicon glyphicon-arrow-left"></i><strong class="hidden-xs">&nbsp;&nbsp; back</strong></button>
  </div>
  <div class="col-xs-11">
    <form role="form" class="edit_legacy_form">
      <%  @rules.each do |rule| %>
        <div id="rule_detail_edit_<%= rule.id %>" class="col-xs-12 col-md-11 hidden rule_<%= rule.id %> <%= rule.css_class %>">
          <h4 class="blue">
            <% if rule.new_rule? %>
              New rule (no sid)
            <% else %>
              <%= "#{rule.gid}:#{rule.sid}:#{rule.rev}" %>
            <% end %>
          </h4>
            <div name="rule_id" value="<%= rule.id %>"></div>
            <div class="form-group">
              <div class="col-xs-12">
                <label>Rule content</label>
                <textarea class="form-control code select-sm rule_content_<%=rule.id%>" rows="10" required="true" id="rule_content_<%=rule.id%>"><%= rule.rule_content %></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="center rule_doc rule_docs_warning">
                  <a data-toggle="collapse" href="#collapse_<%=rule.id%>" aria-expanded="false" aria-controls="collapseExample"><h4>Documentation - Customer Facing Rule Documentation&nbsp;&nbsp;</h4></a>
                  <div class="rule-doc-padding"></div>
                  <div class="collapse" id="collapse_<%=rule.id%>">
                    <%= render partial: "bugs/tabs/rules/rule_doc_form", locals: { rule: rule} %>
                  </div>
                </div>
              </div>
            </div>
          <div class="col-xs-11"><hr></div>
        </div>
      <% end %>
    <div class="form-group right">
      <div class="col-xs-12 top-space">
        <button class="btn btn-warning update-rule-btn" type="submit">Save Changes</button>
      </div>
    </div>
    </form>
  </div>
</div>
