<div class="row top-space">
  <div class="col-xs-1">
    <button class="select-sm btn btn-default rule-toolbar" id="overview"><i class="glyphicon glyphicon-arrow-left"></i><strong class="hidden-xs">&nbsp;&nbsp; back</strong></button>
  </div>
  <div class="col-xs-11">
    <%  @rules.each do |rule| %>
      <div class="col-xs-12 col-md-11 hidden rule_<%= rule.id %>">
        <h4 class="blue">
          <% if rule.sid %>
            <%= "#{rule.gid}:#{rule.sid}:#{rule.rev}" %>
          <% else %>
            New rule
          <% end %>
        </h4>
        <form role="form" class="edit_legacy_form">
          <input type="hidden" name="rule_id" value="<%= rule.id %>">
          <div class="form-group">
            <div class="col-xs-12">
              <label>Rule content</label>
              <textarea class="form-control code select-sm" name="rule[rule_content]" rows="13" required="true"><%= rule.rule_content %></textarea>
            </div>
          </div>
          <h4 class="blue">Documentation</h4>
          <div class="col-xs-10 edit_rule_doc"><div class="form-inline">
            <div class="form-group">
              <label for="rule_doc_summary">Summary</label>
              <br>
              <textarea class="form-control create-input select-sm code" rows=4 cols="65"  name="rule[rule_doc][][summary]" type="text" id="summary"
                        placeholder="This event is generated when..." required="true"><%=rule.rule_doc.try(:summary)%></textarea>
            </div>
            <div class="form-group">
              <label for="rule_doc_impact">Impact</label>
              <br>
              <textarea class="form-control create-input select-sm code" rows=4 cols="65"  name="rule[rule_doc][][impact]" id="impact" type="text"><%=rule.rule_doc.present? ? rule.rule_doc.impact : rule.rule_classification%></textarea>
            </div>
          </div>
          </div>
          <div class="col-xs-12"></div>
          <div class="col-xs-10"><div class="form-inline">
            <div class="form-group">
              <label for="rule_doc_details">Detailed Information</label>
              <br>
              <textarea class="form-control create-input select-sm code" rows=4 cols=65 name="rule[rule_doc][][details]" type="text" id="details"
                        placeholder="Information regarding the underlying vulnerability, what the rule actually looks for and affected/non-affected systems etc..."><%=rule.rule_doc.try(:details)%></textarea>
            </div>
            <div class="form-group">
              <label for="rule_doc_affected_sys">Affected Systems</label>
              <br>
              <textarea class="form-control create-input select-sm code" rows=4 cols=65 name="rule[rule_doc][][affected_sys]" id="affected_sys" type="text"><%=rule.rule_doc.try(:affected_sys)%></textarea>
            </div>
          </div>
          </div>
          <div class="col-xs-12"></div>
          <div class="col-xs-10"><div class="form-inline">
            <div class="form-group">
              <label for="rule_doc_attack_scenarios">Attack Scenarios</label>
              <br>
              <textarea class="form-control create-input select-sm code" rows=4 cols=65 name="rule[rule_doc][][attack_scenarios]" type="text" id="attack_scenarios"
                        placeholder="Possible examples of attacks or script usage etc..." ><%=rule.rule_doc.try(:attack_scenarios)%></textarea>
            </div>
            <div class="form-group">
              <label for="rule_doc_ease_of_attack">Ease of Attack</label>
              <br>
              <textarea class="form-control create-input select-sm code" rows=4 cols=65 name="rule[rule_doc][][ease_of_attack]" id="ease_of_attack" type="text"
                        placeholder="Simple, Medium, Hard, Difficult etc...&#10;Publicly Available?"><%=rule.rule_doc.try(:ease_of_attack)%></textarea>
            </div>
          </div>
          </div>
          <div class="col-xs-12"></div>
          <div class="col-xs-10"><div class="form-inline">
            <div class="form-group">
              <label for="rule_doc_false_positives">False Positives</label>
              <br>
              <textarea class="form-control create-input select-sm code" rows=4 cols=65 name="rule[rule_doc][][false_positives]" id="false_positives" type="text"><%=rule.rule_doc.present? ? rule.rule_doc.false_positives : 'None Known'%></textarea>
            </div>
            <div class="form-group">
              <label for="rule_doc_false_negatives">False Negatives</label>
              <br>
              <textarea class="form-control create-input select-sm code" rows=4 cols=65 name="rule[rule_doc][][false_negatives]" id="false_negatives" type="text"><%=rule.rule_doc.present? ? rule.rule_doc.false_negatives : 'None Known'%></textarea>
            </div>
          </div>
          </div>
          <div class="col-xs-12"></div>
          <div class="col-xs-10"><div class="form-inline">
            <div class="form-group">
              <label for="rule_doc_corrective_action">Corrective Action</label>
              <br>
              <textarea class="form-control create-input select-sm code" rows=4 cols=65 name="rule[rule_doc][][corrective_action]" id="corrective_action" type="text"
                        placeholder="Information regarding patches, upgrades, other info about firewall rules or system hardening techniques etc. Whatever might be appropriate to mitigate the risk of further compromise."><%=rule.rule_doc.try(:corrective_action)%></textarea>
            </div>
            <div class="form-group">
              <label for="rule_doc_contributors">Contributors</label>
              <br>
              <textarea class="form-control create-input select-sm code" rows=4 cols=65 name="rule[rule_doc][][contributors]" id="contributors" type="text"
                        placeholder="Original Rule writer (if not Talos, for instance Community Submission)&#10;Cisco's Talos Intelligence Group"><%=rule.rule_doc.try(:contributors)%></textarea>
            </div>
          </div>
          </div>
          <div class="form-group right">
            <div class="col-xs-12">
              <button class="btn btn-warning update-rule-btn" type="submit">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-xs-11"><hr></div>
    <% end %>
  </div>
</div>