<% rule.build_rule_doc if rule.new_record? %>

<div class="col-xs-10"><div class="form-inline">
  <div class="form-group">
    <label for="rule_doc_summary">Summary</label>
    <br>
    <textarea class="form-control create-input select-sm code summary-<%=local_assigns[:form_type]%>" rows=4 cols="65"  name="rule[rule_doc][][summary]" type="text" id="summary"
              ><%=get_summary(rule) %></textarea>
  </div>
  <div class="form-group">
    <label for="rule_doc_impact">Impact</label>
    <br>
    <textarea class="form-control create-input select-sm code impact-<%=local_assigns[:form_type]%>" rows=4 cols="65"  name="rule[rule_doc][][impact]" id="impact" type="text"><%=rule.rule_doc.present? ? rule.rule_doc.impact : rule.rule_classification%></textarea>
  </div>
</div>
</div>
<div class="col-xs-12"></div>
<div class="rule-doc-padding"></div>
<div class="col-xs-10"><div class="form-inline">
  <div class="form-group">
    <label for="rule_doc_details">Detailed Information</label>
    <br>
    <textarea class="form-control create-input select-sm code details-<%=local_assigns[:form_type]%>" rows=4 cols=65 name="rule[rule_doc][][details]" type="text" id="details"
              placeholder="Information regarding the underlying vulnerability, what the rule actually looks for and affected/non-affected systems etc..."><%=rule.rule_doc.try(:details)%></textarea>
  </div>
  <div class="form-group">
    <label for="rule_doc_affected_sys">Affected Systems</label>
    <br>
    <textarea class="form-control create-input select-sm code affected_sys-<%=local_assigns[:form_type]%>" rows=4 cols=65 name="rule[rule_doc][][affected_sys]" id="affected_sys" type="text"><%=rule.rule_doc.try(:affected_sys)%></textarea>
  </div>
</div>
</div>
<div class="col-xs-12"></div>
<div class="rule-doc-padding"></div>
<div class="col-xs-10"><div class="form-inline">
  <div class="form-group">
    <label for="rule_doc_attack_scenarios">Attack Scenarios</label>
    <br>
    <textarea class="form-control create-input select-sm code attack_scenarios-<%=local_assigns[:form_type]%>" rows=4 cols=65 name="rule[rule_doc][][attack_scenarios]" type="text" id="attack_scenarios"
              placeholder="Possible examples of attacks or script usage etc..." ><%=rule.rule_doc.try(:attack_scenarios)%></textarea>
  </div>
  <div class="form-group">
    <label for="rule_doc_ease_of_attack">Ease of Attack</label>
    <br>
    <textarea class="form-control create-input select-sm code ease_of_attack-<%=local_assigns[:form_type]%>" rows=4 cols=65 name="rule[rule_doc][][ease_of_attack]" id="ease_of_attack" type="text"
              placeholder="Simple, Medium, Hard, Difficult etc...&#10;Publicly Available?"><%=rule.rule_doc.try(:ease_of_attack)%></textarea>
  </div>
</div>
</div>
<div class="col-xs-12"></div>
<div class="rule-doc-padding"></div>
<div class="col-xs-10"><div class="form-inline">
  <div class="form-group">
    <label for="rule_doc_false_positives">False Positives</label>
    <br>
    <textarea class="form-control create-input select-sm code false_positives-<%=local_assigns[:form_type]%>" rows=4 cols=65 name="rule[rule_doc][][false_positives]" id="false_positives" type="text"><%=rule.rule_doc.present? ? rule.rule_doc.false_positives : 'None Known'%></textarea>
  </div>
  <div class="form-group">
    <label for="rule_doc_false_negatives">False Negatives</label>
    <br>
    <textarea class="form-control create-input select-sm code false_negatives-<%=local_assigns[:form_type]%>" rows=4 cols=65 name="rule[rule_doc][][false_negatives]" id="false_negatives" type="text"><%=rule.rule_doc.present? ? rule.rule_doc.false_negatives : 'None Known'%></textarea>
  </div>
</div>
</div>
<div class="col-xs-12"></div>
<div class="rule-doc-padding"></div>
<div class="col-xs-10"><div class="form-inline">
  <div class="form-group">
    <label for="rule_doc_corrective_action">Corrective Action</label>
    <br>
    <textarea class="form-control create-input select-sm code corrective_action-<%=local_assigns[:form_type]%>" rows=4 cols=65 name="rule[rule_doc][][corrective_action]" id="corrective_action" type="text"
              placeholder="Information regarding patches, upgrades, other info about firewall rules or system hardening techniques etc. Whatever might be appropriate to mitigate the risk of further compromise."><%=rule.rule_doc.try(:corrective_action)%></textarea>
  </div>
  <div class="form-group">
    <label for="rule_doc_contributors">Contributors</label>
    <br>
    <textarea class="form-control create-input select-sm code contributors-<%=local_assigns[:form_type]%>" rows=4 cols=65 name="rule[rule_doc][][contributors]" id="contributors" type="text"
              ><%=get_contributor(rule)%></textarea>
  </div>
</div>
</div>
