<div class="row top-space">
  <div class="col-xs-11">
    <%  @rules.each do |rule| %>
      <div id="rule_detail_view_<%= rule.id %>" class="rule_detail_view col-xs-12 col-md-11 hidden rule_<%= rule.id %> <%= rule.css_class %>">
        <h4 class="blue">
          <% if rule.sid %>
            <%= "#{rule.gid}:#{rule.sid}:#{rule.rev}" %>
          <% else %>
            New Rule (No SID)
          <% end %>
        </h4>
        <% if rule.rule_failures %>
          <div class="code alert alert-danger small rule_failures"><%= rule.rule_failures %></div>
          <pre><%= rule.rule_content %></pre>
        <% else %>
          <% if rule.rule_parsed && Diffy::Diff.new(rule.cvs_rule_parsed, rule.rule_parsed).to_s != "" %>
            <p class="code wrapped_code"><%= simple_format Diffy::Diff.new(rule.cvs_rule_parsed, rule.rule_parsed).to_s(:html).gsub(/ *\t+/, '&nbsp;&nbsp;&nbsp;') %></p>
          <% elsif rule.rule_parsed %>
            <div class="code wrapped_code"><%= rule.rule_parsed %></div>
          <% end %>
        <% end %>
        <% if rule.rule_warnings.present? %>
          <div class="alert alert-warning small"><%= simple_format rule.rule_warnings.gsub(/ *\t+/, '&nbsp;&nbsp;&nbsp;') if rule.rule_warnings %></div>
        <% end %>
        </br>
        <%if @bug.local_alerts.by_rule(rule).count > 0 %>
        <h4 class="blue">Alerts</h4>
          <% @bug.attachment_local_alerts(rule).each do |attachment| %>
            <div class="row">
              <div class="col-xs-4" ><%= attachment.file_name %></div>
              <% if attachment.rule_id.nil? %>
                  <div class="col-xs-4 "><span class="no_alert">No Alert</span></div>
              <% else %>
                  <div class="col-xs-4 alerted"><span class="no_alert">Alerted</span></div>
              <% end %>
            </div>
          <% end %>
        <%end%>
        </br>
        <h4 class="blue">Documentation</h4>
        <div class="alert alert-info small">
          <% if rule.rule_doc.present? %>
              <p class="code">Summary:              <%=rule.rule_doc.summary%></p>
              <p class="code">Impact:               <%=rule.rule_doc.impact%></p>
              <p class="code">Detailed Information: <%=rule.rule_doc.details%></p>
              <p class="code">Affected Systems:     <%=rule.rule_doc.affected_sys%></p>
              <p class="code">Attack Scenarios:     <%=rule.rule_doc.attack_scenarios%></p>
              <p class="code">Ease of Attack:       <%=rule.rule_doc.ease_of_attack%></p>
              <p class="code">False Positives:      <%=rule.rule_doc.false_positives%></p>
              <p class="code">False Negatives:      <%=rule.rule_doc.false_negatives%></p>
              <p class="code">Corrective Action:    <%=rule.rule_doc.corrective_action%></p>
              <p class="code">Contributors:         <%=rule.rule_doc.contributors%></p>
          <%else%>
              Documentation not available
          <%end%>
        </div>
        <hr/>
      </div>
    <% end %>
  </div>
</div>