
    <div class='row item-info'>
      <div class="row subheading">
        <div class="col-xs-12 col-sm-2">
          <h6>bugzilla id</h6>
          <h3><%= @bug.id %><span class="tiny"><a href="<%= get_bug_url %>" id="bugzilla_<%= @bug.id %>" target="_blank"><i class="glyphicon glyphicon-link"></i></a></span></h3>
        </div>

        <div class="col-xs-3 col-sm-2 state">
          <h6>state</h6>
          <% if @bug.allow_state_change? %>
            <h5 class="top-space" id="current_bug_state"><%= @bug.state %> &nbsp;<button class="tiny text-muted change_current_bug_state" id="change_state"><em>change</em></button></h5>

            <%= render 'shared/change_state_form' %>
          <% else %>
            <h5 class="top-space" id="current_bug_state"><%= @bug.state %></h5>
            <span id="helpBlock2" class="help-block small text-nowrap">A committer and editor must be assigned before state can be changed.</span>
          <% end %>
        </div>
        <div class="col-xs-3 col-sm-2">
          <h6>priority</h6>
          <h4 class="top-space" id="current_bug_priority">
            <%= @bug.priority %>&nbsp;<a href="#" id="priority" class="tiny text-muted change_current_bug_priority"><em>change</em></a>
          </h4>
          <%= render 'shared/change_priority_bug_form' %>
        </div>
        <div class="col-xs-3 col-sm-2">
          <h6>component</h6>
          <h4 class="top-space" id="current_bug_component">
            <%= @bug.component %>&nbsp;<a href="#" id="component" class="tiny text-muted change_current_bug_component"><em>change</em></a>
          </h4>
          <%= render 'shared/change_component_bug_form' %>
        </div>
        <div class="col-xs-3 col-sm-2">
          <h6>editor</h6>
          <h4 class="top-space" id="current_bug_editor">
            <% if @bug.user %>
              <%= @bug.user.cvs_username %>&nbsp;<a class="tiny text-muted change_current_bug_editor"><em>change</em></a>
            <% else %>
              <a class="tiny text-muted change_current_bug_editor"><em>assign</em></a>
            <% end %>
          </h4>
          <%= render 'shared/change_editor_bug_form' %>
        </div>
        <div class="col-xs-3 col-sm-1">
          <h6>committer</h6>
          <h4 class="bug-user top-space" id="current_bug_committer">
            <% if @bug.committer %>
              <%= @bug.committer.cvs_username %>&nbsp;<a class="tiny text-muted change_current_bug_committer"><em>change</em></a>
            <% else %>
              <a class="tiny text-muted change_current_bug_committer"><em>assign</em></a>
            <% end %>
          </h4>
          <%= render 'shared/change_committer_bug_form' %>
        </div>
        <div class="col-xs-3 col-sm-1">
          <button class="select-sm btn btn-info back_btn pull-right" id="back_btn" style="margin-top:4px;"><i class="glyphicon glyphicon-th-list"></i> <strong class="hidden-xs">bugs list</strong></button>
        </div>
        <div class="col-sm-12 hidden-xs bug_summary">
          <h5><span class="edit-summary-field"><%= @bug.summary %></span><span>
          <%= form_tag("/bugs/#{@bug.id}", method: :put) do -%>
              <%= text_field_tag 'bug[summary]', "#{@bug.summary}", class:"edit-summary-field", style:"display:none"%>
          <% end -%></span>
            <span class="tiny text-muted">&nbsp; <a class="edit-summary">edit</a>&nbsp; </span>
          </h5>
        </div>


      </div>
      <div class="row">
        <div class="col-xs-12">
        </div>
      </div>
    </div>
    <div class="spacer">
      <%= render 'tabs' %>
    </div>

<div id="blanket" style="display:none;"></div>
<div id="searchWindow" style="display:none;">
  <div class="col-xs-1 col-xs-offset-11">
  </div>
  <div class="row center">
    <h3>Search</h3>
  </div>
  <div class="row">
  </div>
</div>
<input type="hidden" name="token" value="<%= current_user.authentication_token %>">
<input type="hidden" name="xml_token" value="<%= xml_token %>">
