%input{type: 'hidden', name: 'token', value: current_user.authentication_token}
%input{type: 'hidden', name: 'xml_token', value: xml_token}
%input{type: 'hidden', name: 'current_user', value: current_user.id}

%h1 Rule Doc Tool

%h2 Unpublished Rules
#rule-doc-unpublished-div
  = @rules.count
  Unpublished Rules
  %ul
    - @rules[0..1000].each do |rule|
      %li
        = select_tag(:snort_doc_status,
                     options_for_select(Rule::SNORT_DOC_STATUSES, rule.snort_doc_status),
                     onchange: "set_rule_doc_status(#{rule.id}, this.value);")
        = rule.sid_colon_format
        = "(#{rule.id})"
