- flash.each do |type, message|
  .ac-flash-wrapper
    %div{:class => "ac-flash alert #{bootstrap_class_for(type)} alert-dismissible fade in"}
      %button.ac_flash_button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      = message

%input{type: 'hidden', name: 'token', value: current_user.authentication_token}
%input{type: 'hidden', name: 'xml_token', value: xml_token}
%input{type: 'hidden', name: 'current_user', value: current_user.id}

%h1 Rule Doc Upload

%h2 Upload YAML
#snort-doc-download-form-div
  = form_tag 'upload_docs', :multipart => true  do
    .row
      .col-sm-12
        = check_box_tag 'do_download', false, false
        download NVD files
        %br
        = check_box_tag 'update_cves', false, false
        update CVE data
        %br
        = check_box_tag 'set_published', true,true
        Update Rule statuses
        %br
        = check_box_tag 'do_upload', true,true
        Upload Yaml data
        %br
        %br
    .row
      .col-sm-12
        = file_field_tag 'rule_update[yaml_file]', multiple: true
        %br
    = submit_tag('Upload')

%br
.content-wrapper
  .row
    .col-sm-12
      %h3 The Errors
      %pre
        //errors
        =@errors
  .row
    .col-sm-7
      %h3 The Json
      %pre
        //json
        =@json
    .col-sm-5
      %h3 The Result
      %pre
        //json
        =@result
