%input{type:'hidden', name: 'token', value: "#{current_user.authentication_token}"}
%input{type:'hidden', name: 'xml_token', value: "#{xml_token}"}
%input{type:'hidden', name: 'current_user', value: "#{current_user.authentication_token}"}

.row#sdr-research-tab
  .col-xs-12.col-sm-6.sdr-dispute-info-wrapper
    %h1.research-data-header.sdr-dispute-info-title Dispute Information
    .row
      .col-xs-9
        %label.data-report-label Submitted Dispute
        %span.data-report-content= @dispute.sender_domain_entry
      .col-xs-3
        %label.data-report-label Suggested Reputation
        %span.data-report-content.text-capitalize= @dispute.suggested_disposition
    %hr.thin
    -#.row
    -#  .col-xs-12
    -#    %label.data-report-label Items Extracted from Details
    -#    - extracted_details = extract_details @dispute.description
    -#    - extracted_details.each do |detail|
    -#      %span.data-report-content= detail
    -#%hr.thin
    .row
      .col-xs-12
        %label.data-report-label Details
        %span.data-report-content= @dispute.description
    %hr.thin
    .row
      .col-xs-6
        %label.data-report-label Attachments
      .col-xs-6.sdr-attachments-buttons
        %button.button
          %span Download All
    .row
      .col-xs-12
        - @dispute.sender_domain_reputation_dispute_attachments.each do |attachment|
          .sdr-attachment-wrappr
            %a{href: "#{attachment.direct_upload_url}", class: 'sdr-attachment-link', download: "#{attachment.file_name}"}= attachment.file_name
            %button.expand-row-button-inline
            .nested-data-row.code-snippet.code-block
              = attachment.email_header_data
            %hr.thin

  .col-xs-12.col-sm-6.sdr-research-data-wrapper
    %h1.research-data-header.sdr-research-data-title Research Data
    #sdr-research-loader
      .inline-loader-wrapper
        .gear-loader-wrapper
          = inline_svg 'icon_gears_loader.svg', class: 'gears-loader'
        %span.loader-msg Loading data...
    .sdr-research-data-present
      .row
        .col-xs-12
          %label.data-report-label Sender Domain Reputation
          %table.data-report-table#sdr-reputation-data-table
            %thead
              %tr
                %th Domain
                %th IP Address
                %th Score
                %th Rules
                %th Threat Level
                %th Category
            %tbody

      %hr.thin
      .row
        .col-xs-12
          %label.data-report-label Security Intelligence
          %table.data-report-table#sdr-security-data-table
            %thead
              %tr
                %th BL Classification
                %th BL Status
                %th BL Comment
                %th WL Status
            %tbody

      %hr.thin
      .row
        .col-xs-12
          %label.data-report-label Virus Total
          %table.data-report-table#sdr-vt-data-table
            %thead
              %tr
                %th URL Detection
                %th Trusted Detection
                %th Detected URLs
            %tbody

      %hr.thin
      .row
        .col-xs-12
          %label.data-report-label Umbrella
          %table.data-report-table#sdr-umbrella-data-table
            %thead
              %th Rating
              %th Category
              %th Popularity
              %th Domain Vol
              %th Organization
              %th Registrar
              %th Created
            %tbody


      %hr.thin
      .row
        .col-xs-12
          %label.data-report-label Beaker
      .row
        .col-xs-12
          %pre.data-report-code-content
            = @beaker_info
        -#.col-xs-12.sdr-entries
        -#  - @dispute.sender_domain_reputation_dispute_attachments.each do |attachment|
        -#    %a= attachment.file_name
        -#    %button.expand-row-button-inline
        -#    .nested-data-row.code-snippet.code-block
        -#      = attachment.beaker_info
        -#    %hr.thin