%input{type:'hidden', name: 'token', value: "#{current_user.authentication_token}"}
%input{type:'hidden', name: 'xml_token', value: "#{xml_token}"}
%input{type:'hidden', name: 'current_user', value: "#{current_user.authentication_token}"}

.row#sdr-research-tab
  .col-xs-12.col-sm-6.sdr-dispute-info-wrapper
    %h1.research-data-header.sdr-dispute-info-title Dispute Information
    .row
      .col-xs-6
        %h5 SUBMITTED DISPUTE
        %p= @dispute.sender_domain_entry
      .col-xs-6
        .sdr-suggested-reputation-wrapper
          %h5 SUGGESTED REPUTATION
          %p= @dispute.suggested_disposition
    %hr.thin
    .row
      .col-xs-12
        %h5 ITEMS EXTRACTED FROM DETAILS
        - extracted_details = extract_details @dispute.description
        - extracted_details.each do |detail|
          %p= detail
    %hr.thin
    .row
      .col-xs-12
        %h5 DESCRIPTION / DETAILS
        %p= @dispute.description
    %hr.thin
    .row
      .col-xs-12.sdr-attachments
        %h5 ATTACHMENTS
        %hr.thin
        - @dispute.sender_domain_reputation_dispute_attachments.each do |attachment|
          %a= attachment.file_name
          %button.expand-row-button-inline
          %hr.thin

  .col-xs-12.col-sm-6.sdr-research-data-wrapper
    %h1.research-data-header.sdr-research-data-title Research Data
    #sdr-research-loader
      .inline-loader-wrapper
        .gear-loader-wrapper
          = inline_svg 'icon_gears_loader.svg', class: 'gears-loader'
        %span.loader-msg Loading data...
    .sdr-research-data-present
      .row
        .col-xs-12
          %h5 SENDER DOMAIN REPUTATION
          .col-xs-2
            %h5 DOMAIN
            %hr.thin
            %p#url.missing-data No data
            %hr.thin
          .col-xs-2
            %h5 IP ADDRESS
            %hr.thin
            %p#ip_address.missing-data No data
            %hr.thin
          .col-xs-2
            %h5 CURRENT REP
            %hr.thin
            %p#threat_level.missing-data No data
            %hr.thin
          .col-xs-2
            %h5 SCORE
            %hr.thin
            %p#score.missing-data No data
            %hr.thin
          .col-xs-2
            %h5 RULES
            %hr.thin
            %p#rules.missing-data No data
            %hr.thin
          .col-xs-2
            %h5 Category
            %hr.thin
            %p#category.missing-data nocat
            %hr.thin
      %hr.thin
      .row
        .col-xs-12
          %h4 SECURITY INTELLIGENCE
          .col-xs-3
            %h5 BL CLASSIFICATION
            %hr.thin
            %p#bl_classification.missing-data
              No data
            %hr.thin
          .col-xs-3
            %h5 BL STATUS
            %hr.thin
            %p#bl_status.missing-data
              No data
            %hr.thin
          .col-xs-4
            %h5 BL COMMENT
            %hr.thin
            %p#bl_comment.missing-data
              No data
            %hr.thin
          .col-xs-2
            %h5 WL STATUS
            %hr.thin
            %p#bl_status.missing-data
              No data
            %hr.thin
      %hr.thin
      .row
        .col-xs-12
          %h4 VIRUS TOTAL
          .col-xs-2
            %h5 URL DETECTION
            %hr.thin
            %p#url_detection.missing-data
              No data
            %hr.thin
          .col-xs-2
            %h5 TRUSTED DETECTION
            %hr.thin
            %p#trusted_detection.missing-data
              No data
            %hr.thin
          .col-xs-3
            %h5 URL DATE
            %hr.thin
            %p#url_date.missing-data
              No data
            %hr.thin
          .col-xs-2
            %h5 DETECTED URLS
            %hr.thin
            %p#detected_urls.missing-data
              No data
            %hr.thin
          .col-xs-3
            %h5 DETECTED HASHES
            %hr.thin
            %p#detected_hashes.missing-data
              No data
            %hr.thin
      %hr.thin
      .row
        .col-xs-12
          %h4 UMBRELLA
          .col-xs-1
            %h5 RATING
            %hr.thin
            %p#umbrellaRating.missing-data
              No data
            %hr.thin
          .col-xs-2
            %h5 CATEGORY
            %hr.thin
            %p#umbrellaCategory.missing-data
              No data
            %hr.thin
          .col-xs-1
            %h5 POPULARITY
            %hr.thin
            %p#umbrellaPopularity.missing-data
              No data
            %hr.thin
          .col-xs-2
            %h5 DOMAIN VOL
            %hr.thin
            %p#umbrellaDomainVol.missing-data
              No data
            %hr.thin
          .col-xs-2
            %h5 ORGANIZATION
            %hr.thin
            %p#umbrellaOrganization.missing-data
              No data
            %hr.thin
          .col-xs-2
            %h5 REGISTRAR
            %hr.thin
            %p#umbrellaRegistrar.missing-data
              No data
            %hr.thin
          .col-xs-2
            %h5 CREATED
            %hr.thin
            %p#umbrellaCreated.missing-data
              No data
            %hr.thin
      %hr.thin
      .row
        .col-xs-12
          %h4 BEAKER
        .col-xs-12
          %pre#beakerCodeBlock.code-snippet.code-block
            = @beaker_info
        .col-xs-12.sdr-entries
          - @dispute.sender_domain_reputation_dispute_attachments.each do |attachment|
            %a= attachment.file_name
            %button.expand-row-button-inline
            %hr.thin
    .sdr-research-data-missing.text-center
      %span.missing-data
        No data
