%input{type:'hidden', name: 'token', value: "#{current_user.authentication_token}"}
%input{type:'hidden', name: 'xml_token', value: "#{xml_token}"}
%input{type:'hidden', name: 'current_user', value: "#{current_user.authentication_token}"}

.row#sdr-research-tab
  .col-xs-12.col-sm-6#sdr-dispute-info-wrapper
    %h1.research-data-header.sdr-dispute-info-title Dispute Information
    .row
      .col-xs-6
        %h5 SUBMITTED DISPUTE
        %p= @dispute.sender_domain_entry
      .col-xs-6
        .sdr-suggested-reputation-wrapper
          %h5 SUGGESTED REPUTATION
          %p= @dispute.suggested_disposition
    %hr.thin
    .row
      .col-xs-12
        %h5 ITEMS EXTRACTED FROM DETAILS
        - extracted_details = extract_details @dispute.description
        - extracted_details.each do |detail|
          %p= detail
    %hr.thin
    .row
      .col-xs-12
        %h5 DESCRIPTION / DETAILS
        %p= @dispute.description
    %hr.thin
    .row
      .col-xs-12
        %h5 ATTACHMENTS
        - @dispute.sender_domain_reputation_dispute_attachments.each do |attachment|
          %a= attachment.file_name

  .col-xs-6
    %h1.research-data-header.sdr-research-data-title Research Data
    #sdr-research-loader
      .inline-loader-wrapper
        .gear-loader-wrapper
          = inline_svg 'icon_gears_loader.svg', class: 'gears-loader'
        %span.loader-msg Loading data...
    .sdr-research-data-present
      .row
        .col-xs-12
          %h5 SENDER DOMAIN REPUTATION
          .col-xs-2
            %h6 DOMAIN
            %p#url.missing-data No data
          .col-xs-2
            %h6 IP ADDRESS
            %p#ip_address.missing-data No data
          .col-xs-2
            %h6 CURRENT REPUTATION
            %p#threat_level.missing-data No data
          .col-xs-2
            %h6 SCORE
            %p#score.missing-data No data
          .col-xs-2
            %h6 RULES
            %p#rules.missing-data No data
          .col-xs-2
            %h6 Category
            %p#category.missing-data nocat
      .row
        .col-xs-12
          %h5 SECURITY INTELLIGENCE
          .col-xs-3
            %h6 BL CLASSIFICATION
            #bl_classification.missing-data
              No data
          .col-xs-3
            %h6 BL STATUS
            #bl_status.missing-data
              No data
          .col-xs-4
            %h6 BL COMMENT
            #bl_comment.missing-data
              No data
          .col-xs-2
            %h6 WL STATUS
            #bl_status.missing-data
              No data
      .row
        .col-xs-12
          %h5 VIRUS TOTAL
          .col-xs-2
            %h6 URL DETECTION
            #url_detection.missing-data
              No data
          .col-xs-2
            %h6 TRUSTED DETECTION
            #trusted_detection.missing-data
              No data
          .col-xs-3
            %h6 URL DATE
            #url_date.missing-data
              No data
          .col-xs-2
            %h6 DETECTED URLS
            #detected_urls.missing-data
              No data
          .col-xs-2
            %h6 DETECTED HASHES
            #detected_hashes.missing-data
              No data
      .row
        .col-xs-12
          %h5 UMBRELLA
          .col-xs-1
            %h6 RATING
            #umbrellaRating.missing-data
              No data
          .col-xs-2
            %h6 CATEGORY
            #umbrellaCategory.missing-data
              No data
          .col-xs-1
            %h6 POPULARITY
            #umbrellaPopularity.missing-data
              No data
          .col-xs-2
            %h6 DOMAIN VOL
            #umbrellaDomainVol.missing-data
              No data
          .col-xs-2
            %h6 ORGANIZATION
            #umbrellaOrganization.missing-data
              No data
          .col-xs-2
            %h6 REGISTRAR
            #umbrellaRegistrar.missing-data
              No data
          .col-xs-2
            %h6 CREATED
            #umbrellaCreated.missing-data
              No data
      .row
        .col-xs-12
          %h5 BEAKER
        .col-xs-12
          #beakerCodeBlock.code-block
            = @dispute.beaker_info
    .sdr-research-data-missing.text-center
      %span.missing-data
        No data
