
= render partial: 'admin_control'


.content-wrapper
  %h1 Diagnostics

  #rule-publishing
    %h2 Publish Locks
    %h3 Publish Lock PID
    %div= Repo::RuleCommitter.publish_lock_pid.inspect
    %h3 Publishing Rules
    - if Rule.with_pub_any.exists?
      %table.table.table-responsive#publishing-rules-table
        %thead
          %tr
            %th id
            %th gid
            %th sid
            %th rev
            %th state
            %th edit_status
            %th publish_status
            %th parsed
        %tbody
          - Rule.with_pub_any.each do |rule|
            %tr
              %td= rule.id
              %td= rule.gid
              %td= rule.sid || 'new'
              %td= rule.rev
              %td= rule.state
              %td= rule.edit_status
              %td= rule.publish_status
              %td= rule.parsed
    - else
      %div No rules in process of being published.
    %hr/
    %h4 What's up
    %h5 Publish Lock
    %p
      When a user calls the commit action (api/v1/commit),
      the checkin procedure starts by getting a publish_lock.
      If another process has the publish lock, the commit action will fail immediately.
      The process gets the lock by setting the publish_lock_pid to its UNIX process ID (pid).
    %p
      When the commit finishes, it sets the publish_lock_pid to nil, which allows later commit actions.
      However, if the commit fails to clear the lock by setting it to nil,
      the whole system will be locked out of commiting.
    %h6 Remedy Unlock
    %ol
      %li
        Determine if a legitimate commit process is running and you should wait.
        %p
          A commit process may be legitimately running.
          The web server thread should have the pid indicated in the lock.
          That process shells out to do an svn checkin, which should have a parent process id (ppid)
          of the pid indicated by the lock.
          The UNIX command
          %span.code ps -ef
          should include the pid and ppid information.
      %li
        If the process has a child process, it will be the shell which is calling an svn checkin.
        This could indicate that the svn checkin is delayed.
      %li
        If there is no process with the publish_lock_pid, then there is no commit process running,
        but the pubish lock was not unlocked.
        From the rails console, you can call
        = succeed "." do
          %span.code Rule.publish_unlock
    %h6 Remedy Web Server Restart
    %ol
      %li
        Restarting the server should kill all the child processes.
        This should include the web server threads, and the shells doing the svn commit.
      %li
        This may deadlock the publish lock.
        Check if there is a publish lock from above on this page.
        If so, you can call
        %span.code Rule.publish_unlock
        from the rails console.
      %li
        Stopping the web server may have stopped a subversion hook
        %span.code POST rule_sync/rule_files
        web service.
        There may be rules updated in subversion, which have not been updated in our database.
      %li
        If you find any rule files which have been updated in subversion but not in our databaase,
        run the
        %span.code ./extras/synch_rules.sh
        shell script
        with the file name or file names of the files to reload.
    %h5 Publishing Rules
    %p
      When a rule is in the process of being published, it is marked as
      = succeed "." do
        %span.code Rule::PUBLISH_STATUS_PUBLISHING
      = succeed "," do
        %span.code Rule::PUBLISH_STATUS_CURRENT_EDIT
    %p
      The Publishing Rules table above shows all the rules currently in the PUBLISHING state.
    %p
      When a commit runs, it should trigger the subversion hook and set all the rules with a new rev
      from PUBLISHING to SYNCHED.
      When the commit process completes, it cleans up the remaining rules still set to PUBLISHING,
      but setting them to CURRENT_EDIT.
