<div class="row top-space">
  <div class="col-xs-6">
    <h4 class="blue">Attachments</h4>
  </div>
  <div class="col-xs-6 right">
    <p>

      <% if can? :create, Attachment %>
        <button id="showAddAttachsToggle" class="select-sm btn btn-default right create_attachment"><i class="glyphicon glyphicon-plus"></i> <strong class="hidden-xs"> attachment</strong></button>
        <button id="hideAddAttachsToggle" class="select-sm btn btn-default right create_attachment" style="display:none"><i class="glyphicon glyphicon-remove text-muted"></i><strong class="hidden-xs text-muted">cancel</strong></button>
      <% end %>
      <button id="synch_attachments" class="select-sm btn btn-default right synch"> <i class="glyphicon glyphicon-refresh"></i> <strong class="hidden-xs" > sink &nbsp;&nbsp;</strong> </button>
      <button id="syncing_attachments" class="select-sm btn btn-default right synch disabled hidden"> <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i> <strong class="hidden-xs" > sink &nbsp;&nbsp;</strong> </button>

    </p>
  </div>
  <div class="col-xs-12 alert_attachments"></div>
  <div class="col-xs-12">
    <div class="attach_button" style="display:none">
      <form action='/api/v1/escalations/attachments' method='post' role="form" id="attachment_form" enctype="multipart/form-data">

        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="file_data">file</label>
            <input name="attachment[file_data]" id="file_data" type="file" required="true">
          </div>
        </div>
        <input type="hidden" name="attachment[bugzilla_attachment_id]" id="bug_id" value="<%= @bug.id %>">

        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-warning btn-sm add_attachment" value="submit">Create Attachment</button>
            <button class="select-sm btn btn-default hidden" id="saving_attachment"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Saving Attachment</button>
          </div>
        </div>
      </form>
      <hr>
    </div>
  </div>

</div>
<div class="row top-bar">
  <div class="col-xs-12">
    <button class="select-sm btn btn-link" id="attachments-pcap" style="text-decoration: none;">
      <strong>Pcap (<%= @pcap_attachments.count %>)&nbsp;&nbsp;</strong></button>
    <button class="select-sm btn btn-link" id="attachments-other" style="text-decoration: none;">
      <strong>Other (<%= @other_attachments.count %>)&nbsp;&nbsp;</strong></button>
    <button class="select-sm btn btn-link" id="attachments-obsolete" style="text-decoration: none;">
      <strong>Obsolete (<%= @obsolete_attachments.count %>) &nbsp;&nbsp;</strong></button>

    <% if @pcap_attachments.any? %>
      <table class="table table-condensed small table-hover" id="pcap-attachments">
        <thead>
        <tr>
          <td class="narrow-column"><input type="checkbox" class="selectallcheckbox"></td>
          <td class="narrow-column"></td>
          <td>Filename</td>

        </tr>
        </thead>
        <tbody>
        <% @pcap_attachments.each do |attachment| %>
            <tr id="attachment_base_<%= attachment.id %>">
              <td>
                <input type="checkbox" value=<%= attachment.id %> class="attach_check_box attach_<%= attachment.id %>">
              </td>
              <td class="center narrow-column">
                <a class="blue" href="<%= attachment.direct_upload_url %>" target="_blank">
                  <i class="glyphicon glyphicon-download"></i></a></td>
              <td>
                <code><a href="<%= attachment.direct_upload_url %>" target="_blank"><%= attachment.file_name %></a></code>
              </td>

            </tr>

        <% end %>
        </tbody>
      </table>
    <% end %>
    <% if @other_attachments.any? %>
      <table class="table table-condensed small table-hover hidden" id="other-attachments">
        <thead>
        <tr>
          <td class="narrow-column"></td>
          <td>Filename</td>
        </tr>
        </thead>
        <tbody>
        <% @other_attachments.each do |attachment| %>
            <tr>
              <td class="center narrow-column"><a class="blue" href="<%= attachment.direct_upload_url %>">
                <i class="glyphicon glyphicon-download"></i></a></td>
              <td><code><a><%= attachment.file_name %></a></code></td>
              <td class="center narrow-column">
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
    <% if @obsolete_attachments %>
      <table class="table table-condensed small table-hover hidden" id="obsolete-attachments">
        <thead>
        <tr>
          <td>Filename</td>
        </tr>
        </thead>
        <tbody>
        <% @obsolete_attachments.each do |attachment| %>
            <tr>
              <td><code><a><%= attachment.file_name %></a></code></td>
              <td class="center narrow-column">
                <h5 class="ember-tooltip bottom" style="display: none;">
                  1
                  <div class="tip">
                    <table class="table-condensed small">
                      <tr>
                        <td class="blue">120:9:1</td>
                        <td><strong>(http_inspect) JAVASCRIPT OBFUSCATION LEVELS EXCEEDS 1</strong></td>
                      </tr>
                      <tr>
                        <td class="blue">1:29519:1</td>
                        <td><strong>INDICATOR-OBFUSCATION Javascript obfuscation using split reverse
                          join</strong></td>
                      </tr>
                      <tr>
                        <td class="blue">1:32246:3</td>
                        <td><strong>BROWSER-PLUGINS Samsung iPOLiS device manager clsid access attempt</strong>
                        </td>
                      </tr>
                    </table>
                  </div>
                </h5>
            </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<input type="hidden" name="token" value="<%= current_user.authentication_token %>">
<input type="hidden" name="xml_token" value="<%= xml_token %>">
<input type="hidden" name="current_user" value="<%= current_user.id%>">
