- content_for(:webcat_page) do
  Cluster Management
- content_for(:webcat_icon) do
  icon-categories

.content-wrapper
  = render 'duplicated_clusters'
  .cluster-mgt-loader-wrapper.hidden
    .gear-loader-wrapper
      = inline_svg 'icon_gears_loader.svg', class: 'gears-loader'
    %span.loader-msg Loading data...
    %input#user_id{type: 'hidden', name: 'user_id', value: "#{current_user.id}"}
  .complaint-mgt-top-area.cluster-mgt-top-area
    .row
      .col-xl-3.col-lg-4.col-md-5.col-sm-6.col-xs-12
        %h1= content_for :webcat_page
        %span.top-info-icon{class: "#{content_for :webcat_icon}"}
      .col-xl-9.col-lg-8.col-md-7.col-sm-6.col-xs-12
        .row
          .col-xs-9
            %input#cluster_comment_field.text_field{placeholder: 'Reason for category (optional, not public-facing)'}
          .col-xs-3.no_pad
            %button.toolbar-button.icon-submit.cluster-button#submit-clusters{'onclick': 'categorize_clusters()'} Submit Changes

  .row
    .col-xs-12
      .current-cluster-info-wrapper
        .result-label.regex-area.hidden
          Regex:
          %span#regex-filter
      %h1#clusters-index-title


  .row
    .col-xs-12
      .toolbar.cluster-table-toolbar
        %div
          %label.toolbar-section-label View
          .btn-group.toolbar-btn-group
            %button.btn.toolbar-button.icon-opened-selected.esc-tooltipped{title: 'Open Selected in New Tab', onclick: 'open_selected_clusters()'}
            %button.btn.toolbar-button.icon-open-all.esc-tooltipped{title: 'Open All', onclick: 'open_all_clusters()'}
              %span.toolbar-button-text Open in New Tab
        %div
          %label.toolbar-section-label Assign
          %button.toolbar-button.take-ticket-toolbar-button.esc-tooltipped.toolbar-button-spacer{onclick: 'take_selected_clusters()', type: 'button', title: 'Take selected'}
            %span.toolbar-button-text Take
          %button.toolbar-button.return-ticket-toolbar-button.esc-tooltipped{onclick: 'return_selected_clusters()', type: 'button', title: 'Return selected'}
            %span.toolbar-button-text Return
        %div
          %label.toolbar-section-label Show/Hide Nested Data
          .btn-group.toolbar-btn-group
            %button.btn.toolbar-button.collapse-selected.esc-tooltipped{onclick: 'collapse_selected_clusters("clusters-index")', type: 'button', title: 'Collapse Selected'}
            %button.btn.toolbar-button.collapse-all.esc-tooltipped{onclick: 'collapse_all_clusters("clusters-index")', type: 'button', title: 'Collapse All'}
              %span.toolbar-button-text Collapse
          .btn-group.toolbar-btn-group
            %button.btn.toolbar-button.expand-selected.esc-tooltipped{onclick: 'expand_selected_clusters("clusters-index")', type: 'button', title: 'Expand Selected'}
            %button.btn.toolbar-button.expand-all.esc-tooltipped{onclick: 'expand_all_clusters("clusters-index")', type: 'button', title: 'Expand All'}
              %span.toolbar-button-text Expand

        %div
          %label.toolbar-section-label Category Changes
          %button.toolbar-button.approve-all-button.esc-tooltipped.toolbar-button-spacer{onclick: 'categorize_clusters("bulk_accept")', type: 'button', title: 'Approve All Reviewed Categories'}
            %span.toolbar-button-text Approve All
          %button.toolbar-button.reject-all-button.esc-tooltipped{onclick: 'categorize_clusters("bulk_deny")', type: 'button', title: 'Deny All Reviewed Categories'}
            %span.toolbar-button-text Deny All

        %button.toolbar-button.copycat-btn.icon-copycat.esc-tooltipped{'onclick': 'copycat_dialog()', title: 'CopyCat Tool'}
          %span.toolbar-button-text CopyCat Tool
        %button.toolbar-button.wsa-btn.icon-telemetry.esc-tooltipped{'onclick': 'open_wsa_status()', title: 'WSA Telemetry Status'}
          %span.toolbar-button-text WSA Telemetry Status

        %div
          %label.toolbar-section-label Show Platforms
          %span.toolbar-select-wrapper
            %label.toolbar-button-label.esc-tooltipped
              %input.show-platforms-filter.toolbar-checkbox{name: 'show-platform-WSA', value: 'WSA', type: 'checkbox', checked: true, onclick: 'webcat_platform_filter();'}
              %span.toolbar-button-text WSA
            %label.toolbar-button-label.esc-tooltipped
              %input.show-platforms-filter.toolbar-checkbox{name: 'show-platform-NGFW', value: 'NGFW', type: 'checkbox', checked: true, onclick: 'webcat_platform_filter();'}
              %span.toolbar-button-text NGFW
            %label.toolbar-button-label.esc-tooltipped
              %input.show-platforms-filter.toolbar-checkbox{name: 'show-platform-Umbrella', value: 'Umbrella', type: 'checkbox', checked: true, onclick: 'webcat_platform_filter();'}
              %span.toolbar-button-text Umbrella
        %div
          %label.toolbar-section-label Show Types
          %span.toolbar-select-wrapper
            %label.toolbar-button-label.esc-tooltipped
              %input.show-cluster-types-filter.toolbar-checkbox{name: 'show-cluster-domain', value: 'domain', type: 'checkbox', checked: true, onclick: 'webcat_cluster_type_filter();'}
              %span.toolbar-button-text Domains
            %label.toolbar-button-label.esc-tooltipped
              %input.show-cluster-types-filter.toolbar-checkbox{name: 'show-cluster-ip', value: 'ip', type: 'checkbox', checked: true, onclick: 'webcat_cluster_type_filter();'}
              %span.toolbar-button-text IPs

  .row
    .col-xs-12
      %table.table.responsive#clusters-index
        %thead
          %tr
            %th
              -#  Expandable button area
            %th
              %input#clusters_check_box{type: 'checkbox'}
            %th
            %th Cluster ID
            %th Cluster Domain
            %th Global Volume
            %th WBRS Score
            %th Platform
            %th Assignee
            %th Categories
            %th

#copycat_dialog{title: 'CopyCat Tool'}
  .dialog-content-wrapper
    %select#copycat-categories.selectize{:multiple=>"multiple", :placeholder=>"Add categories", :value=>"", :name=>""}

  .copycat-tool-footer
    %button.toolbar-button.cluster-button.icon-paste{'onclick': 'copycat_paste()'} Paste Categories
    %button.toolbar-button.cluster-button.copycat-clear-btn.icon-clear{'onclick': 'copycat_clear()'} Clear All Categories

#wsa_status_dialog.hidden{title: 'WSA Telemetry Status'}
  .dialog-content-wrapper
    %input#wsa_statuses.text_field{placeholder: "Search by companies or serial numbers"}
    %button.toolbar-button.cluster-button.icon-search{'onclick': 'get_wsa_status()'} Search
  .wsa-loader-wrapper.hidden
    .gear-loader-wrapper
      = inline_svg 'icon_gears_loader.svg', class: 'gears-loader'
    %span.loader-msg Loading data...
  #wsa-status-table.hidden

#whois_dialog{title: 'Domain Lookup Information'}
