.content-wrapper
  - content_for(:webcat_page) do
    Cluster Management
  - content_for(:webcat_icon) do
    icon-categories

  .complaint-mgt-top-area.cluster-mgt-top-area
    .row.cluster-title
      .col-xs-3.dashboard-left-data
        %h1= content_for :webcat_page
        %span.top-info-icon{class: "#{content_for :webcat_icon}"}
      .col-xs-9.search-stg
        .row
          .col-xs-8
            .row
              .col-xs-9
                %input.text_field.search-box{placeholder: 'Regex', autofocus: 'true'}
              .col-xs-3.no_pad
                %button.primary{class:'apply-filter-btn icon-filter-white'}Apply Filter
          .col-xs-4
            .row.search-options-row.btn-layout
              .col-xs-6
                .radio
                  %label
                    %input{name: 'choice', type: 'radio', value: 'value'}
                    Include Pattern
              .col-xs-6
                .radio
                  %label
                    %input{name: 'choice', type: 'radio', value: 'value'}
                    Exclude Pattern
  .row
    .col-xs-6.temp-spacer
      .row.default-padding
        .result-label.vertical-separator
          Current Cluster Entries:
          %span 2,354
        .result-label
          Regex:
          %span \d
      .toolbar
        .div
          %label.toolbar-section-label View
          %button.toolbar-button.icon-opened-selected.esc-tooltipped{onclick: 'open_selected()', type: 'button', title: 'Open Viewable'}
            %span.toolbar-button-text Open Selected
          %button.toolbar-button.icon-open-all.esc-tooltipped{onclick: 'open_all()', type: 'button', title: 'Open All'}
            %span.toolbar-button-text Open All
        -#%button.toolbar-button{class:'cat-btn icon-copycat'} CopyCat Tool
        %button.toolbar-button.cat-btn.icon-copycat.esc-tooltipped{type: 'button', title: 'CopyCat Tool', 'data-target': "#exampleModal", 'data-toggle': "modal"}
          %span.toolbar-button-text CopyCat Tool

    .col-xs-6.temp-spacer
      .card
        .label.content-label-sm Comment
        .card-body
          %input.text_field
          %button Submit Changes

  .row
    .col-xs-12
      %table.table.responsive#clusters-index
        %thead
          %tr
            -#%th
            -#  -#  Expandable button area
            -#  %input#disputes_check_box{type: 'checkbox', class: 'right-space'}
            %th Cluster ID
            %th Cluster Domain
            -#%th APAC Vol
            -#%th EMRG Vol
            -#%th EURP Vol
            -#%th JAPN Vol
            -#%th NA Vol
            %th Global Volume
            -#%th Age
            -#%th WBRS Score
            -#%th Hostname(s)
            -#%th Rules
            -#%th Categories


        -#%tbody
        -#  - (1..50).each do |index|
        -#    - [{ip: "13.68.93.108", volume: 84883009, since: '45 MIN', average: 3.5, comment: 'N / A'}].each do |item|
        -#      %tr
        -#        %th{:scope => "row", class: 'other-stg'}
        -#          #{item[:ip]}
        -#          %ul
        -#            %li
        -#              %button.data-btn.right-separator
        -#            %li
        -#              %button.data-btn.left-separator
        -#
        -#        %td #{item[:volume]}
        -#        %td #{item[:since]}
        -#        %td #{item[:average]}
        -#        %td #{item[:comment]}
        -#        %td
        -#          %button.help-btn
        -#          #{item[:comment]}
        -#          - if index % 4 == 0
        -#            %button.google-btn.right-space
        -#        %td #{item[:comment]}
        -#        %td #{item[:comment]}
        -#        %td
        -#          %input.category-search
        -#          %button.category-btn
:javascript
  window.populate_clusters_index_table()
  // window.fetch_cluster_data(3)
