- content_for(:webcat_page) do
  Complaints
- content_for(:webcat_icon) do
  icon-queue

.content-wrapper
  .complaint-mgt-top-area
    = render "escalations/webcat/shared/telemetry"

  .row.top-margin
    #inline-webcat.webcat-loader-wrapper
      .gear-loader-wrapper
        = inline_svg 'icon_gears_loader.svg', class: 'gears-loader'
      %span.loader-msg Loading data...
    .col-xs-12
      %h1#webcat-index-title
    .col-xs-12.webcat-search-container
      #webcat_searchref_container{onmouseover: "triggerTooltips(this)"}
        .gear-loader-wrapper.hidden#main-inline-loader
          = inline_svg 'icon_gears_loader.svg', class: 'gears-loader'
          %span.loading-msg
            Completing task...
  .row
    .col-xs-12.webcat-main-area
      = render "toolbar"

      %div{:style => "position:relative"}
        %div{:style => "width:600px;"}
          .grid-header{:style => "width:100%"}
      %input{:name => "token", :type => "hidden", :value => "#{current_user.authentication_token}"}/

      %table.table.responsive.no-wrap#complaints-index{role: 'datatable', 'data-source': escalations_webcat_complaint_entries_path(format: :json) }
        %thead
          %tr
            %th.sorting_disabled
              -#  Expandable button area
              %input#complaints_check_box{type: 'checkbox'}
            %th.webcat-sorting#important
            %th.webcat-sorting#entry Entry ID
            %th.webcat-sorting#age Age
            %th.webcat-sorting#status Status
            %th.webcat-sorting#tags Tags
            %th.webcat-sorting#subdomain Subdomain
            %th.webcat-sorting#domain Domain / IP
            %th.webcat-sorting#path Path
            %th.webcat-sorting#primary Primary Cat
            %th.webcat-sorting#suggested Suggested Cat
            %th.webcat-sorting#wbrs WBRS
            %th.webcat-sorting#submittertype Submitter Type
            %th.webcat-sorting#submitterorg Submitter Org
            %th.webcat-sorting#assignee Assignee

.modal.fade#resolution_dialog
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        Resolve Complaint Entries
      .modal-body
        %thead
          #resolution_text
        %table#complaint_entries_to_update
      .modal-footer
        %hr.thin.form-divider
        %button#submit_resolution_changes.primary{type: 'button', 'onclick': 'updateResolution();'} Confirm
        %button.secondary{type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Cancel'} Cancel
