- content_for(:webcat_page) do
  Category Management

.content-wrapper

  .complaint-mgt-top-area
    = render "escalations/webcat/shared/telemetry"



  .row
    .col-xs-12.temp-spacer
      .row
        .col-xs-12
          %h2 Complaint
      .row
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Complaint ID
          .bug-top-id
            %div= @complaint.id
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Status
          .bug-top-id
            %div= @complaint.status
        .col-xs-2.col-with-divider
          %label.content-label-sm
            Tags
          .bug-top-id
            %div= @complaint.complaint_tags.pluck(:name).join(", ")
        .col-xs-2.col-with-divider
          %label.content-label-sm
            Channel
          .bug-top-id
            %div= @complaint.channel
        .col-xs-3.col-with-divider
          %label.content-label-sm
            Description
          .bug-top-id
            %div= @complaint.description
        .col-xs-1.col-with-divider
          %label.content-label-sm
            Added Through
          .bug-top-id
            %div= @complaint.added_through
        .col-xs-2.col-with-divider
          %label.content-label-sm
            Resolution
          .bug-top-id
            %div= @complaint.resolution
      .row
        .col-xs-12
          %h2 Entries

      -@complaint.complaint_entries.each do |entry|
        .row
          .col-xs-1.col-with-divider
            %label.content-label-sm
              Entry ID
            .bug-top-id
              %div= entry.id
          .col-xs-1.col-with-divider
            %label.content-label-sm
              Status
            .bug-top-id
              %div= entry.status
          .col-xs-1.col-with-divider
            %label.content-label-sm
              Subdomain
            .bug-top-id
              %div= entry.subdomain
          .col-xs-3.col-with-divider
            %label.content-label-sm
              Domain
            .bug-top-id
            -if entry.domain.present?
              %div= entry.domain
            -else
              %div= entry.ip_address
          .col-xs-3.col-with-divider
            %label.content-label-sm
              Path
            .bug-top-id
              %div= entry.path
          .col-xs-3
        %hr.thin
