<% content_for(:webcat_page) do %>
  Complaints Show
<% end %>

<%= render "escalations/webcat/shared/telemetry" %>


<div class="row">
  <div class="col-xs-6">
    <% @complaints.each do |complaint| %>
      <div class="row" onclick="display_preview_window('<%=complaint.id%>','<%=complaint.subdomain%>','<%=complaint.domain%>','<%=complaint.path%>')">
        <div class="col-xs-1">
          <%= radio_button_tag "complaint_radios","#{complaint.id}_checkbox",false, class: "#{complaint.id}_checkbox" %>
          <div>ID: <%= complaint.id %> </div>
        </div>
        <div class="col-xs-8">
          <div>Domain:<br> <%= complaint.domain %></div>
          <div>Tag:<br> <%= complaint.tag %></div>
          <div>Status: <%= complaint.status %></div>
        </div>
        <div class="col-xs-3">
          <div>
            <%= radio_button_tag "complaint_resolution_#{complaint.id}", "#{complaint.id}_dont_fix", true %>
            <%= label_tag "Dont Fix" %><br>

            <%= radio_button_tag "complaint_resolution_#{complaint.id}","#{complaint.id}_fixed", true %>
            <%= label_tag "Fixed" %><br>

            <%= radio_button_tag "complaint_resolution_#{complaint.id}","#{complaint.id}_unchanged", true %>
            <%= label_tag "unchanged" %><br>

            <%= radio_button_tag "complaint_resolution_#{complaint.id}","#{complaint.id}_invalid", true %>
            <%= label_tag "Invalid" %><br>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-12">
        <div class="embed-responsive embed-responsive-4by3">
          <h2>viewing</h2>
          <p id="preview_window_header"> </p>
          <iframe id="preview_window" class="embed-responsive-item webcat-iframe" src="" sandbox></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <%= text_field_tag "complaint_id_x_prefix", "somevalue" %><br>
          <%= text_field_tag "complaint_id_x_categories", "somevalue" %><br>
          <%= text_field_tag "complaint_id_x_comment", "somevalue" %><br>
        </div>
        <div class="col-sm-6 col-xs-12">
          <%= button_tag "set complete" %>
        </div>
      </div>
    </div>
</div>

