<div class="container-fluid bugs-page">
  <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 item-ids-column">
    <div class="sidebar-search">
      <div class="input-group input-group-sm">

        <%= form_tag('/bugs', method: :get) do -%>
            <%= text_field_tag 'bug[id]', "#{@bug_searchID}", class: "searchID", placeholder: "BugID" %>
        <% end -%>

      </div><!-- /input-group -->
    </div>
    <table class="right table index-table">
      <thead>
      <tr>
        <td class="indent" data-defaultsign="nospan"><strong>Bugs</strong></td>
      </tr>
      </thead>
      <tbody>
      <% if @bugs %>
        <% @bugs.each do |bug| %>
          <tr class="highlight <%= 'active' if bug.id.to_s == params[:id] %>" id="show_<%= bug.id %>">
            <td><%= link_to bug.id, bug %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <div class="col-pagination">
    </div>
  </div>
  <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10 item-details-column">
    <div class="row header">
      <div class="col-xs-12 actions-bar">
        <%= link_to new_bug_path, class: "btn btn-link float-left icon-link" do %>
            <i class="glyphicon glyphicon-plus"></i>
        <% end %>
        <button id="search-bugs-btn" class="btn btn-link float-left icon-link" data-toggle="modal" data-target="#searchWindow">
          <i class="glyphicon glyphicon-search"></i><span class="sr-only">search</span></button>
        <div class="btn-group float-left">
          <button type="button" class="btn btn-link icon-link dropdown-toggle float-left" data-toggle="dropdown" aria-expanded="false">
            <i class="glyphicon glyphicon-filter"></i>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/bugs?q=my-bugs">my bugs</a></li>
            <li><a href="/bugs?q=team-bugs">team bugs</a></li>
            <li class="divider"></li>
            <li><a href="/bugs?q=open-bugs">open bugs</a></li>
            <li><a href="/bugs?q=pending-bugs">pending bugs</a></li>
            <li><a href="/bugs?q=fixed-bugs">fixed bugs</a></li>
            <li class="divider"></li>
            <li><a href="/bugs?q=all-bugs">all bugs</a></li>
          </ul>
        </div>
        <div class="col-xs-8 form-inline">
          <div class="input-group">
            <input id="import_bug" name="bug_name" type="text" class="form-control" placeholder="Import Bug...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" id="button_import" disabled>Import</button>
            </span>
          </div><!-- /input-group -->
          <span class="progress_group">
            <div class="input-group">
              <div class="loader" >
                <i class="glyphicon glyphicon-refresh spin"></i>
              </div>
            </div>
            <div class="input-group">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                  0%
                </div>
              </div>
            </div>
          </span>

        </div><!-- /.col-lg-6 -->


      </div>
      <div class="import_button col-xs-12 hidden-md hidden-lg" style="display:none">
      </div>
    </div>
    <%= render partial: "shared/flash_messages", flash: flash %>
    <%= yield %>
  </div>
</div>
<div id="blanket" style="display:none;"></div>
<input type="hidden" name="token" value="<%= current_user.authentication_token %>">
<input type="hidden" name="current_user_id" value="<%= current_user.id %>">
<input type="hidden" name="xml_token" value="<%= xml_token %>">


<% if action_name == 'show' %>
    <%= render 'shared/reference_modal' %>
    <input type="hidden" name="bug_id" value="<%= @bug.id %>">
<% end %>