<div class="container-fluid bugs-page">
  <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 item-ids-column">
    <div class="sidebar-search">
      <div class="input-group input-group-sm">

        <%= form_tag('/escalations/bugs', method: :get) do -%>
            <%= text_field_tag 'bug[id]', "#{@bug_search_id}", class: "searchID", placeholder: "BugID" %>
        <% end -%>

      </div><!-- /input-group -->
    </div>
    <table class="right table index-table" style="margin-top: 52px;">
      <thead>
      <tr>
        <td class="indent" data-defaultsign="nospan"><strong><a href="/bugs" class="bug_filter_header"><i class="glyphicon glyphicon-th-list"></i> <%= bug_filter_helper %></a></strong></td>
      </tr>
      </thead>
      <tbody>
      <% if @bugs %>
          <% @bugs.each do |bug| %>
              <tr class="highlight <%= 'active' if bug.id.to_s == params[:id] %>" id="show_<%= bug.id %>">
                <td><%= link_to bug.id, escalations_bug_path(bug.id) %></td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
    <div class="col-pagination">
    </div>
  </div>
  <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10 item-details-column">
    <div class="row header">
      <div class="col-xs-12 actions-bar">
        <%= link_to new_escalations_bug_path, class: "btn btn-link float-left icon-link" do %>
            <i class="glyphicon glyphicon-plus"></i>
        <% end %>
        <button id="search-bugs-btn" class="btn btn-link float-left icon-link" data-toggle="modal" data-target="#searchBugs">
          <i class="glyphicon glyphicon-search"></i><span class="sr-only">search</span></button>
        <div class="btn-group float-left">
          <button type="button" class="btn btn-link icon-link dropdown-toggle float-left" data-toggle="dropdown" aria-expanded="false">
            <i class="glyphicon glyphicon-filter"></i>
          </button>
          <ul class="dropdown-menu" id="bugs_filter" role="menu">
            <li>
              <a href="/escalations/bugs?q=my-bugs" class="<%= bug_filter_indicator('my-bugs') %>" ><i class="glyphicon glyphicon-ok"></i> my bugs</a>
            </li>
            <li>
              <a href="/escalations/bugs?q=my-open-bugs" class="<%= bug_filter_indicator('my-open-bugs') %>" ><i class="glyphicon glyphicon-ok"></i> my open bugs</a>
            </li>
            <li>
              <a href="/escalations/bugs?q=team-bugs" class="<%= bug_filter_indicator('team-bugs') %>"><i class="glyphicon glyphicon-ok"></i> team bugs</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="/escalations/bugs?q=open-bugs" class="<%= bug_filter_indicator('open-bugs') %>" ><i class="glyphicon glyphicon-ok"></i> open bugs</a>
            </li>
            <li>
              <a href="/escalations/bugs?q=pending-bugs" class="<%= bug_filter_indicator('pending-bugs') %>"><i class="glyphicon glyphicon-ok"></i> pending bugs</a>
            </li>
            <li>
              <a href="/escalations/bugs?q=fixed-bugs" class="<%= bug_filter_indicator('fixed-bugs') %>"><i class="glyphicon glyphicon-ok"></i> fixed bugs</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="/escalations/bugs?q=all-bugs" class="<%= bug_filter_indicator('all-bugs') %>"><i class="glyphicon glyphicon-ok"></i> all bugs</a>
            </li>
          </ul>
        </div>
        <a type="button" class="glyphicon glyphicon-cloud-download btn btn-link float-left icon-link" id="user-bugs" value="<%=current_user.id%>" data-toggle="tooltip" data-placement="bottom" title="import <%=current_user.cvs_username%>'s escalations from bugzilla"></a>
        <button class="select-sm btn btn-default hidden btn-link float-left icon-link" id="importing_image"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> coffee break</button>
        <div class="col-xs-8 form-inline">
          <div class="input-group">
            <input id="import_escalation" name="bug_name" class="form-control" placeholder="Import Escalation...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" id="button_import_escalation" disabled>Import</button>
            </span>
          </div><!-- /input-group -->
          <span class="progress_group">
            <div class="input-group">
              <div class="loader">
                <i class="glyphicon glyphicon-refresh spin"></i>
              </div>
            </div>
            <div class="input-group">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                  0%
                </div>
              </div>
            </div>
          </span>

        </div><!-- /.col-lg-6 -->


      </div>
      <div class="import_button col-xs-12 hidden-md hidden-lg" style="display:none">
      </div>
    </div>
    <div id="alert_message" role="alert"></div>
    <%= render partial: "escalations/shared/flash_messages", flash: flash %>
    <% if 'show' == action_name %>
      <div class="bugs-split-color" style="padding-top: 50px;">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </div>
</div>
<div id="blanket" style="display:none;"></div>
<input type="hidden" name="token" value="<%= current_user.authentication_token %>">
<input type="hidden" name="current_user_id" value="<%= current_user.id %>">
<input type="hidden" name="xml_token" value="<%= xml_token %>">


<% if action_name == 'show' %>
    <%= render 'escalations/shared/reference_modal' %>
    <input type="hidden" name="bug_id" value="<%= @bug.id %>">
<% end %>
