<div class="container-fluid users-page">
  <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 item-ids-column">
    <table class="right table index-table">
      <thead>
      <tr><td><strong>username</strong></td></tr>
      </thead>
      <tbody>
        <tr class="highlight <%= 'active' if current_user.id.to_s == params[:id] %>" id="show_<%= current_user.id %>">
          <td><%= link_to current_user.cvs_username, user_path(current_user) %></td>
        </tr>
        <tr><td><strong>team</strong></td></tr>
        <% current_user.team_members.each do |user| %>
            <tr class="highlight <%= 'active' if user.id.to_s == params[:id] %>" id="show_<%= user.id %>">
              <td><%= link_to user.cvs_username, user_path(user) %></td>
            </tr>
        <% end %>
        <tr><td><strong>co-workers</strong></td></tr>
        <% current_user.co_workers.each do |user| %>
            <tr class="highlight <%= 'active' if user.id.to_s == params[:id] %>" id="show_<%= user.id %>">
              <td><%= link_to user.cvs_username, user_path(user) %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
    <div class="col-pagination">

    </div>
  </div>
  <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 item-details-column">
    <div class="row header">
      <!-- action links -->
      <div class="col-xs-12 actions-bar">
        <%= link_to user_relationships_path(current_user) do %>
          <button class="btn btn-link icon-link custom-icon"><%= image_tag "tree-diagram-icon.png" %></button>
        <% end %>
      </div>
      <% if current_user.committer %>
      <!-- committer specific links-->
      <% end %>
    </div>
    <%= render partial: "shared/flash_messages", flash: flash %>
    <%= yield %>
  </div>
</div>