!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Analyst Console
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    - if controller_name == 'bugs'
      = render 'shared/bug_search_modal'
    .sidebar
      .sidebar-header.center
        %h1.logo= link_to 'Analyst Console', root_url
        .sidebar-footer
          %p © 2017 Cisco Systems, Inc
      %nav.navbar.nav-stacked.rules-ui-nav
        %ul.nav.nav-stacked
          %li= link_to 'BUG LIST', bugs_path
          %li= link_to 'USERS', users_path
          %li.doc-link= link_to 'Wiki', 'https://git.vrt.sourcefire.com/talosweb/Analyst-Console/wiki', target: '_blank'
          - if current_user&.has_role?('admin')
            %li= link_to 'ADMIN', admin_root_path
    #main-content.overall
      .container-fluid
        .row
          %a.sidebar-toggle
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          - if current_user
            %a{:href => "/users/#{current_user[:id]}"}
              %p.login-area
                %span.login-label
                  %strong.current_user= current_user[:display_name]
            #username{:style => "display:none;"}= current_user.cvs_username

          .container-fluid.users-page
            .col-xs-3.col-sm-3.col-md-2.col-lg-2.item-ids-column
              %table.right.table.index-table
                %thead
                  %tr
                    %td
                      %strong Admin's Only
                  %tr
                    %td
                      = link_to 'Schema Migrations', admin_migrations_path
                  %tr
                    %td
                      = link_to 'Scheduled Tasks', admin_scheduled_tasks_path
                  %tr
                    %td
                      = link_to 'Rule Commit Diagnostics', diagnostics_admin_rules_sync_index_path
                  %tr
                    %td
                      = link_to 'Rules', admin_rules_path
                %tbody
              .col-pagination
            .col-xs-9.col-sm-9.col-md-10.col-lg-10.item-details-column
              .row.header
                /
                  action links
                .col-xs-12.actions-bar
              = render partial: "shared/flash_messages", flash: flash
              = yield
