<!DOCTYPE html>
<html>
<head>
  <title>Backend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if notice %>
    <div id="error_messages" class="fixed_alerts alert alert-info  fade in" data-alert="alert">
      <%= raw "<p>#{notice}</p>" %>
    </div>
<%elsif alert%>
    <div id="error_messages" class="fixed_alerts alert alert-danger">
      <%= raw "<p>#{alert}</p>" %>
    </div>
<% else %>
    <div id="error_messages">
    </div>
<% end %>
<%= yield %>

</body>
</html>
