<!DOCTYPE html>
<html>
  <head>
    <title>Analyst Console</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <% if controller_name == 'bugs' %>
    <%= render 'shared/bug_search_modal' %>
  <% end %>
    <div class="sidebar">
      <div class="sidebar-header center">
        <h1 class="logo"><%= link_to 'Analyst Console', root_url  %></h1>
        <div class="sidebar-footer">
          <p>&copy; 2017 Cisco Systems, Inc</p>
        </div>
      </div>
      <nav class="navbar nav-stacked rules-ui-nav">
        <ul class="nav nav-stacked">
          <li><%= link_to 'BUG LIST', bugs_path %></li>
          <li><%= link_to 'USERS', users_path %></li>
          <li class="doc-link"><%= link_to 'Wiki', 'https://git.vrt.sourcefire.com/talosweb/Analyst-Console/wiki', target: '_blank' %></li>
          <% if current_user&.has_role?('admin') %>
            <li><%= link_to 'ADMIN', admin_root_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="overall" id="main-content">
      <div class="container-fluid">
        <div class="row">
          <a class="sidebar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

            <% if current_user %>
              <a href="/users/<%= current_user[:id] %>">
              <p class="login-area">
                <span class="login-label">
                  <strong class="current_user"><%= current_user[:display_name] %></strong>
                </span>
              </p>
              </a>
              <div id="username" style="display:none;"><%= current_user.cvs_username %></div>
            <% end %>
            <% if controller_name == 'bugs' %>
              <%= render 'layouts/bugs_layout'%>
            <% elsif controller_name == "users" %>
              <%= render 'layouts/users_layout'%>
            <% elsif controller_name == "user_searches" %>
              <%= render 'layouts/users_layout'%>
            <% elsif controller_name == "relationships" %>
              <%= render 'layouts/relationships_layout' %>
            <% elsif controller_path.split('/').first == 'admin' %>
              <%= render 'layouts/admin' %>
            <% end %>

        </div>
      </div>
    </div>
    <% unless %w{bugs users user_searches relationships}.include?(controller_name) %>
      <%= yield %>
    <% end %>

  </body>
</html>

