<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? '# ' + content_for(:title) : "# Analyst Console" %></title>
    <link rel="shortcut icon" href="<%= image_path('analyst-console-favicon.ico') %>">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <% ac_namespace = params[:controller].split('/')[0..-2].join("/") %>
  <% if controller_name == 'bugs' %>
    <% if ac_namespace == 'escalations' %>
      <%= render 'escalations/shared/bug_search_modal' %>
    <% else %>
      <%= render 'shared/bug_search_modal' %>
    <% end %>
  <% end %>
    <div class="sidebar">
      <div class="sidebar-header center">
        <span class="ac_logo"><%= link_to '', root_url  %></span>
        <div class="sidebar-footer">
          <p>&copy; 2017 Cisco Systems, Inc</p>
        </div>
      </div>
      <nav class="navbar nav-stacked rules-ui-nav">
        <ul class="nav nav-stacked">
          <% if can?(:index, ResearchBug) %>
            <li class="research-menu"><%= link_to 'BUG LIST', bugs_path %></li>
          <% end %>
          <% if can?(:index, EscalationBug) %>
            <li class="escalations-menu"><%= link_to 'ESCALATIONS', escalations_root_path %></li>
          <% end %>
          <% if can?(:read, RuleDoc) %>
            <li class="ruledoc-menu"><%= link_to 'RULE DOCS', rule_docs_path %></li>
          <% end %>
          <li class="users-menu"><%= link_to 'USERS', escalations_users_path %></li>
          <li class="doc-menu"><%= link_to 'Wiki', 'https://git.vrt.sourcefire.com/talosweb/Analyst-Console/wiki', target: '_blank' %></li>
          <% if can?(:read, Admin) %>
            <li class="admin-menu"><%= link_to 'ADMIN', admin_root_path %></li>
          <% end %>
          <% if current_user.present? %>
          <% if current_user.has_role?("webrep user") || current_user.has_role?("webrep manager") %>
              <li class="admin-menu"><%= link_to 'WEBREP', escalations_webrep_tickets_path %></li>
          <% end %>
          <% if current_user.has_role?("webcat user") || current_user.has_role?("webcat manager") %>
              <li class="admin-menu"><%= link_to 'WEBCAT', escalations_webcat_complaints_path %></li>
          <% end %>
          <% end %>

        </ul>
      </nav>
    </div>
    <div class="overall" id="main-content">
      <div class="container-fluid">
        <div class="row">
          <a class="sidebar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

            <% if current_user %>
              <a href="/users/<%= current_user[:id] %>">
              <p class="login-area">
                <span class="login-label">
                  <strong class="current_user"><%= current_user[:display_name] %></strong>
                </span>
              </p>
              </a>
              <div id="username" style="display:none;"><%= current_user.cvs_username %></div>
            <% end %>
            <% if controller_name == 'bugs' %>
              <% if ac_namespace == 'escalations' %>
                <%= render 'layouts/escalations_layout' %>
              <% else %>
                <%= render 'layouts/bugs_layout'%>
              <% end %>
            <% elsif controller_name == "users" %>
              <%= render 'layouts/users_layout'%>
            <% elsif controller_name == "user_searches" %>
              <%= render 'layouts/users_layout'%>
            <% elsif controller_name == "relationships" %>
              <%= render 'layouts/relationships_layout' %>
            <% elsif controller_name == "rule_docs" %>
              <%= render 'layouts/rule_docs_layout' %>
            <% elsif ac_namespace == "escalations/webrep" %>
              <%= render 'layouts/webrep_disputes_layout' %>
            <% end %>


        </div>
      </div>
    </div>

    <% unless %w{bugs users user_searches relationships}.include?(controller_name) %>
      <%= yield %>
    <% end %>

  </body>
</html>

