- content_for(:title) do
  Escalations WebCat - Analyst Console

- content_for(:nav_banner) do
  %input{type:'hidden', name: 'token', value: "#{current_user.authentication_token}"}
  %input{type:'hidden', name: 'xml_token', value: "#{xml_token}"}
  %input{type:'hidden', name: 'current_user', value: "#{current_user.authentication_token}"}

  .nav-tool-blocks.nav-page-button-wrapper.col-xs-4.col-sm-4.col-md-3.col-lg-3
    %a#complaints.nav-page-button{href: '/escalations/webcat/complaints', class: ("active" if current_page?('/escalations/webcat/complaints'))}
      %span.nav-toolbar-icon-large.icon-queue
    %a#rules.nav-page-button{href: '/escalations/webcat/clusters'}
      %span.nav-toolbar-icon-large.icon-categories
    %a#reports.nav-page-button{href: '/escalations/webcat/reports', class: ("active" if current_page?('/escalations/webcat/reports'))}
      %span.nav-toolbar-icon-large.icon-reports-white
    %a#reports.nav-page-button{href: '/escalations/webcat/research', class: ("active" if current_page?('/escalations/webcat/research'))}
      %span.nav-toolbar-icon-large.icon-research
    %a#reports.nav-page-button{href: '/escalations/webcat/complaints/resolution_message_templates', class: ("active" if current_page?('/escalations/webcat/complaints/resolution_message_templates'))}
      %span.nav-toolbar-icon-large.icon-resolution-manager-page

  .nav-tool-blocks.col-xs-1.col-sm-1.col-lg-1.dropdown#new-complaint-nav-wrapper
    %a{href: '#', class: 'dropdown-toggle', id: 'new-complaint', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
      %span{class: 'nav-toolbar-icon icon-new-white'}
      New
    .dropdown-menu.nav-tools-dropdown{'aria-labelledby': 'new-complaint'}
      %h3.nav-tool-dropdown-header.inverse
        New Complaint
      .nav-tool-content-wrapper#new-complaint-wrapper
        = render 'escalations/webcat/complaints/new'

  =render 'escalations/webcat/shared/categorize_dropdown'

  .nav-tool-blocks.col-xs-2.col-sm-1.col-lg-1.dropdown#filter-complaints-nav
    %a{href: '#', class: 'dropdown-toggle', id: 'filter-complaints', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
      %span{class: 'nav-toolbar-icon icon-filter-white'}
      Filter
    .dropdown-menu.nav-tools-dropdown#filter-dropdown.webcat-filter-dropdown{'aria-labelledby': 'filter-cases'}
      %ul#filter-cases-list
        - Complaint::FILTER_VIEW_OPTIONS.each_with_index do |filter, index|
          - if filter[:label] == 'Manager Queue' && current_user.is_webcat_manager? || filter[:label] != 'Manager Queue'
            %li{class: ('selected' if params[:f] == filter[:param])}
              %a{href: "?f=#{filter[:param]}"}
                %span.nav-dropdown-icon{class: filter[:icon]}
                = filter[:label]
              %span.nav-dropdown-icon.favorite-search-icon{id: "webcat-favorite-search-icon-#{index}"}
        %li.favorite-instruction
          Star filter to set as default

      #saved-searches-wrapper.webcat-named-search-list.nav-tool-content-wrapper
        %h3.nav-tool-dropdown-header
          %span.nav-dropdown-content-icon.icon-saved-search
          My Saved Searches
        %table{class: 'table', id: 'saved-search'}
          %tbody#saved-search-tbody
            - current_user.named_searches.where_project_type('Complaint').order(:created_at).each do |named_search|
              %tr{id: "saved_search_#{named_search.id}"}
                %td
                  %a.input-truncate.saved-search.esc-tooltipped{onclick: "build_webcat_named_search('#{named_search.name}');", title: named_search.name, :'data-search_conditions' => search_condition_json(named_search)}
                    = named_search.name
                  %a.delete-search{title: 'Delete Saved Search', onclick: "delete_disputes_named_search(this, '#{named_search.name}');"}
                    = image_tag('icon_cancel_grey.svg')
                  %span.nav-dropdown-icon.favorite-search-icon.favorite-search-icon-saved-searches

  .nav-tool-blocks.col-xs-2.col-sm-3.col-lg-3.search-wrapper#complaints-nav-search-wrapper
    .input-group.search-group#web-cat-search
      = text_field_tag 'general_search', "#{}", class: 'search-box', placeholder: 'Search'

      %button#advanced-search-button.btn.btn-default.nav-tool-button.dropdown-toggle{'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        Advanced
      .dropdown-menu.nav-tools-dropdown#advanced-search-dropdown{'aria-labelledby': 'advanced-search-button'}
        %h3.nav-tool-dropdown-header.inverse
          Advanced Search
        #advanced-search-wrapper.nav-tool-content-wrapper
          = render 'escalations/webcat/complaints/advanced_search'


  #login-div.nav-tool-block.col-sm-2.col-lg-2
    - if current_user
      %a.nav-username{href: "/escalations/users/#{current_user[:id]}"}
        = current_user[:display_name]


= render template: "layouts/application"
