- content_for(:nav_banner) do
  %input{type:'hidden', name: 'token', value: "#{current_user.authentication_token}"}
  %input{type:'hidden', name: 'xml_token', value: "#{xml_token}"}
  %input{type:'hidden', name: 'current_user', value: "#{current_user.authentication_token}"}

  .nav-tool-blocks.nav-page-button-wrapper.col-xs-3.col-sm-4.col-md-3.col-lg-2
    %a#complaints.nav-page-button{href: '/escalations/webcat/complaints'}
      %span.nav-toolbar-icon-large.icon-queue
    %a#rules.nav-page-button{href: '/escalations/webcat/clusters', class: "active"}
      %span.nav-toolbar-icon-large.icon-categories
    %a#reports.nav-page-button{href: '/escalations/webcat/reports'}
      %span.nav-toolbar-icon-large.icon-reports-white
    %a#reports.nav-page-button{href: '/escalations/webcat/research'}
      %span.nav-toolbar-icon-large.icon-research

  .nav-tool-blocks.col-xs-3.col-sm-2.col-lg-2.dropdown
    %a{href: '#', class: 'dropdown-toggle', id: 'categorize-urls', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
      %span{class: 'nav-toolbar-icon icon-categorize-white'}
      Categorize URLs
    .dropdown-menu.nav-tools-dropdown{'aria-labelledby': 'categorize-urls'}
      %h3.nav-tool-dropdown-header.inverse
        Categorize URLs
      .row.categorize-radio-wrapper
        .col-xs-6
          %input{type: 'radio', name: 'categorize-url-form-type', id: 'cat-urls-diff', value: 'cat-urls-diff', checked: true}
          %label.radio-label{for: 'cat-urls-diff'} Different categories for each url
        .col-xs-6
          %input{type: 'radio', name: 'categorize-url-form-type', id: 'cat-urls-same', value: 'cat-urls-same'}
          %label.radio-label{for: 'cat-urls-same'} Same categories for all urls

      .nav-tool-content-wrapper#categorize-urls-form-wrapper
        #categorize-diff-form
          %form{method: 'get', 'accept-charset': 'UTF-8'}
            %h5 Categorize URLs with Different Categories
            .toolbar
              %div
                .lookup-drop-loader.gear-loader-wrapper.hidden
                  = inline_svg 'icon_gears_loader.svg', class: 'gears-loader'
                  %span.loader-msg Loading...
                %button.toolbar-button.current-categories-button.esc-tooltipped{:type => 'button', title: 'Lookup Current Categories', onclick: 'lookup_prefix()'}
                  %span Lookup Current Categories
                %button.toolbar-button.delete-categories-button.esc-tooltipped{:type => 'button', title: 'Drop All Current Categories', onclick: 'drop_current_categories()'}
                  %span Drop All Current Categories

            .form-group
              %div.cat-url-error#cat-url-1
                %button.categorize-urls-warning-icon
                %span#cat-url-error-message-1 No history associated with this url.
              %div.cat-url-success#cat-url-success-1
                %button.categorize-urls-success-icon
                %span#cat-url-success-message-1 Categories successfully dropped.
              %label.content-label-sm URL
              %input.inline-input.form-control#url_1{:name => "token", :type => "text", :value => "", :placeholder=>"URL", autofocus: 'true', tabindex: '1', onchange:'touchedFormChange()'}/
              %button.inline-button.history-button.esc-tooltipped#history-1{type: 'button', onclick: 'retrieve_history(1)', title: 'Entry Category History'}
              %label.content-label-sm Categories
              %select.form-control#cat_new_url_1.cat_new_url.contacts.selectize{:multiple => "multiple", :placeholder => "Enter up to 5 categories", :style => "display: none;", tabindex: "2", onchange:'touchedFormChange()'}
            %hr.thin.condensed
            .form-group
              %div.cat-url-error#cat-url-2
                %button.categorize-urls-warning-icon
                %span#cat-url-error-message-2 No history associated with this url.
              %div.cat-url-success#cat-url-success-2
                %button.categorize-urls-success-icon
                %span#cat-url-success-message-2 Categories successfully dropped.
              %label.content-label-sm URL
              %input.inline-input.form-control#url_2{:name => "token", :type => "text", :value => "", :placeholder=>"URL", tabindex: '3', onchange:'touchedFormChange()'}/
              %button.inline-button.history-button.esc-tooltipped#history-2{type: 'button', onclick: 'retrieve_history(2)', title: 'Entry Category History'}
              %label.content-label-sm Categories
              %select.form-control#cat_new_url_2.cat_new_url.contacts.selectize{:multiple => "multiple", :placeholder => "Enter up to 5 categories", :style => "display: none;", :tabindex => "4", onchange:'touchedFormChange()'}
            %hr.thin.condensed
            .form-group
              %div.cat-url-error#cat-url-3
                %button.categorize-urls-warning-icon
                %span#cat-url-error-message-3 No history associated with this url.
              %div.cat-url-success#cat-url-success-3
                %button.categorize-urls-success-icon
                %span#cat-url-success-message-3 Categories successfully dropped.
              %label.content-label-sm URL
              %input.inline-input.form-control#url_3{:name => "token", :type => "text", :value => "", :placeholder=>"URL", tabindex: '5', onchange:'touchedFormChange()'}/
              %button.inline-button.history-button.esc-tooltipped#history-3{type: 'button', onclick: 'retrieve_history(3)', title: 'Entry Category History'}
              %label.content-label-sm Categories
              %select.form-control#cat_new_url_3.cat_new_url.contacts.selectize{:multiple => "multiple", :placeholder => "Enter up to 5 categories", :style => "display: none;", :tabindex => "6", onchange:'touchedFormChange()'}
            %hr.thin.condensed
            .form-group
              %div.cat-url-error#cat-url-4
                %button.categorize-urls-warning-icon
                %span#cat-url-error-message-4 No history associated with this url.
              %div.cat-url-success#cat-url-success-4
                %button.categorize-urls-success-icon
                %span#cat-url-success-message-4 Categories successfully dropped.
              %label.content-label-sm URL
              %input.inline-input.form-control#url_4{:name => "token", :type => "text", :value => "", :placeholder=>"URL", tabindex: '7', onchange:'touchedFormChange()'}/
              %button.inline-button.history-button.esc-tooltipped#history-4{type: 'button', onclick: 'retrieve_history(4)', title: 'Entry Category History'}
              %label.content-label-sm Categories
              %select.form-control#cat_new_url_4.cat_new_url.contacts.selectize{:multiple => "multiple", :placeholder => "Enter up to 5 categories", :style => "display: none;", :tabindex => "8", onchange:'touchedFormChange()'}
            %hr.thin.condensed
            .form-group
              %div.cat-url-error#cat-url-5
                %button.categorize-urls-warning-icon
                %span#cat-url-error-message-5 No history associated with this url.
              %div.cat-url-success#cat-url-success-5
                %button.categorize-urls-success-icon
                %span#cat-url-success-message-5 Categories successfully dropped.
              %label.content-label-sm URL
              %input.inline-input.form-control#url_5{:name => "token", :type => "text", :value => "", :placeholder=>"URL", tabindex: '9', onchange:'touchedFormChange()'}/
              %button.inline-button.history-button.esc-tooltipped#history-5{type: 'button', onclick: 'retrieve_history(5)', title: 'Entry Category History'}
              %label.content-label-sm Categories
              %select.form-control#cat_new_url_5.cat_new_url.contacts.selectize{:multiple => "multiple", :placeholder => "Enter up to 5 categories", :style => "display: none;", :tabindex => "10", onchange:'touchedFormChange()'}
            .form-group.text-center
              .webcat-loader.gear-loader-wrapper.hidden
                = inline_svg 'icon_gears_loader.svg', class: 'gears-loader'
                %span.loader-msg Loading data...
              %button#cat_dif_submit.primary{:type => "button", :onclick=>"cat_new_url()", tabindex: '11'} Categorize URLs

        %form{method: 'get', 'accept-charset': 'UTF-8'}
          #categorize-same-form
            %h5 Categorize Multiple URLs With Same Categories
            .form-group
              %label.content-label-sm Categories
              %select.form-control#multi_cat_url_cats.cat_new_url.contacts.selectize{:multiple => "multiple", :placeholder => "Enter up to 5 categories", :style => "display: none;"}
            %hr.thin.condensed
            .form-group
              %label.content-label-sm URLs/IP Addresses
              %textarea#categorize_urls{required: true}
            .form-group.text-center
              .webcat-loader.gear-loader-wrapper.hidden
                = inline_svg 'icon_gears_loader.svg', class: 'gears-loader'
                %span.loader-msg Loading data...
              %button.primary#cat_multiple_urls{:type => "button", :onclick=>"multiple_url_categorization()"} Categorize URLs

  .nav-tool-blocks.col-xs-3.col-sm-1.col-lg-1.dropdown#filter-clusters-nav
    %a{href: '#', class: 'dropdown-toggle', id: 'filter-clusters', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
      %span{class: 'nav-toolbar-icon icon-filter-white'}
      Filter
    .dropdown-menu.nav-tools-dropdown.webcat-filter-dropdown{'aria-labelledby': 'filter-cases'}
      %ul#filter-cases-list
        %li{class: ("selected" if params[:f] == "my")}
          %a{href: '?f=my'}
            %span.nav-dropdown-icon.icon-my-bugs
            My Clusters
        %li{class: ("selected" if params[:f] == "unassigned")}
          %a{href: '?f=unassigned'}
            %span.nav-dropdown-icon.icon-open-bugs
            Unassigned Clusters
        %li{class: ("selected" if params[:f] == "pending")}
          %a{href: '?f=pending'}
            %span.nav-dropdown-icon.icon-pending-bugs
            Waiting For Review
        %li{class: ("selected" if params[:f] == "all")}
          %a{href: '?f=all'}
            %span.nav-dropdown-icon.icon-recently-viewed
            All Clusters

      #saved-searches-wrapper.webcat-named-search-list.nav-tool-content-wrapper
        %h3.nav-tool-dropdown-header
          %span.nav-dropdown-content-icon.icon-saved-search
          My Saved Searches
        %table{class: 'table', id: 'saved-search'}
          %tbody#saved-search-tbody
            - current_user.named_searches.where_project_type('webcat_clusters_regex').order(:name).each do |named_search|
              %tr{id: "saved_search_#{named_search.id}"}
                %td
                  %a.input-truncate.saved-search.esc-tooltipped{onclick: "build_webcat_clusters_named_search(this);", title: named_search.name, name: named_search.name, :'data-search_conditions' => search_condition_json(named_search)}
                    = named_search.name
                  %a.delete-search{title: 'Delete Saved Search', name: named_search.name, onclick: "delete_clusters_named_search(this);"}
                    = image_tag('icon_cancel_grey.svg')

  .nav-tool-blocks.col-xs-3.col-sm-5.col-lg-4.search-wrapper.row#clusters-nav-regex-wrapper
    .input-group.search-group
      %input#cluster_filter_field.text_field.search-box{placeholder: 'Filter clusters via regex', autofocus: 'true'}
      %button#apply-regex-btn{onclick: 'apply_filter_to_table()'} Apply Regex
    .clusters-nav-regex-container
      %label
        Save Regex
      %input#saveRegex{type: 'checkbox'}


  #login-div.nav-tool-block.col-sm-2.col-lg-3
    - if current_user
      %a.nav-username{href: "/escalations/users/#{current_user[:id]}"}
        = current_user[:display_name]

= render template: "layouts/rocket"
