- content_for(:title) do

  Escalations - Analyst Console

- content_for(:nav_banner) do
  .nav-tool-blocks.nav-page-button-wrapper.col-xs-3.col-sm-3.col-lg-2
    %a#queue.nav-page-button{href: escalations_sdr_disputes_path, class: ("active" if current_page?('/escalations/sdr/disputes'))}
      %span.nav-toolbar-icon-large.icon-queue

  .nav-tool-blocks.col-xs-1.col-sm-1.col-lg-1.dropdown
    %a{href: '#', class: 'dropdown-toggle', id: 'new-sdr-dispute', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
      %span{class: 'nav-toolbar-icon icon-new-white'}
      New
    .dropdown-menu.nav-tools-dropdown{'aria-labelledby': 'new-sdr-dispute'}
      %h3.nav-tool-dropdown-header.inverse
        New Sender Domain Dispute
      .nav-tool-content-wrapper#new-dispute-wrapper
        = render 'escalations/sdr/disputes/new'

  .nav-tool-blocks.col-xs-1.col-sm-1.col-lg-1.dropdown
    %a{href: '#', class: 'dropdown-toggle', id: 'sdr-filter-cases', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
      %span{class: 'nav-toolbar-icon icon-filter-white'}
      Filter
    .dropdown-menu.nav-tools-dropdown#filter-dropdown{'aria-labelledby': 'filter-cases'}
      %ul#filter-cases-list
        %li{class: ("selected" if params[:f] == "my_disputes")}
          %a{href: "#{escalations_sdr_disputes_path}?f=my_disputes"}
            %span.nav-dropdown-icon.icon-my-bugs
            My Tickets
        %li{class: ("selected" if params[:f] == "my_open")}
          %a{href: "#{escalations_sdr_disputes_path}?f=my_open"}
            %span.nav-dropdown-icon.icon-my-open-bugs
            My Open Tickets
        %li{class: ("selected" if params[:f] == "team_disputes")}
          %a{href: "#{escalations_sdr_disputes_path}?f=team_disputes"}
            %span.nav-dropdown-icon.icon-team-bugs
            My Team Tickets
        %li{class: ("selected" if params[:f] == "unassigned")}
          %a{href: "#{escalations_sdr_disputes_path}?f=unassigned"}
            %span.nav-dropdown-icon.icon-unassigned-bugs
            Unassigned Tickets
        %li{class: ("selected" if params[:f] == "open")}
          %a{href: "#{escalations_sdr_disputes_path}?f=open"}
            %span.nav-dropdown-icon.icon-open-bugs
            Open Tickets
        %li{class: ("selected" if params[:f] == "closed")}
          %a{href: "#{escalations_sdr_disputes_path}?f=closed"}
            %span.nav-dropdown-icon.icon-fixed-bugs
            Closed Tickets
        %li{class: ("selected" if params[:f] == "all")}
          %a{href: "#{escalations_sdr_disputes_path}?f=all"}
            %span.nav-dropdown-icon.icon-all-tickets
            All Tickets

      #saved-searches-wrapper.nav-tool-content-wrapper
        %h3.nav-tool-dropdown-header
          %span.nav-dropdown-content-icon.icon-saved-search
          My Saved Searches
        %table#saved-search.table
          %tbody#saved-search-tbody
            - if current_user.named_searches.any?
              - current_user.named_searches.where('project_type = ? OR project_type IS ?', 'SDR', nil).order(:id).each do |named_search|
                %tr{id: "saved_search_#{named_search.id}"}
                  %td
                    %a.input-truncate.saved-search.esc-tooltipped{onclick: "sdr_build_named_search('#{named_search.name}');", title: named_search.name}
                      = named_search.name
                    %a.delete-search{title: 'Delete Saved Search', onclick: "delete_disputes_named_search(this, '#{named_search.name}');"}
                      = image_tag('icon_cancel_grey.svg')

  .nav-tool-blocks.col-xs-4.col-sm-4.col-lg-5.search-wrapper
    .input-group.search-group#sdr-search
      = form_tag('/tickets', method: :get, onsubmit: 'sdr_build_contains_search(this);return false;') do
        = text_field_tag 'case[id]', "#{}", class: 'search-box', placeholder: 'Search by Substring'

      %button#sdr-advanced-search-button.btn.btn-default.nav-tool-button.dropdown-toggle{'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        Advanced
      .dropdown-menu.nav-tools-dropdown#advanced-search-dropdown{'aria-labelledby': 'advanced-search-button'}
        %h3.nav-tool-dropdown-header.inverse
          Advanced Search
        #advanced-search-wrapper.nav-tool-content-wrapper
          = render 'escalations/sdr/disputes/advanced_search'

  - if current_user
    #login-div.nav-tool-block.col-sm-3.col-lg-3
      %a.nav-username{href: "/escalations/users/#{current_user[:id]}"}
        = current_user[:display_name]


%input{type: "hidden", name: "token", value: "#{current_user.authentication_token}"}
%input{type: "hidden", name: "current_user_id", value: "#{current_user.id}"}
%input{type: "hidden", name: "xml_token", value: "#{xml_token}"}

= render template: "layouts/rocket"
