- content_for(:title) do
  Escalations WebCat - Analyst Console

- content_for(:nav_banner) do
  .nav-tool-blocks.nav-page-button-wrapper.col-xs-3.col-sm-3.col-lg-2
    %a#complaints.nav-page-button{href: '/escalations/webcat/complaints?f=ACTIVE', class: ("active" if current_page?('/escalations/webcat/complaints'))}
      %span.nav-toolbar-icon-large.icon-queue

    %a#rules.nav-page-button{href: '/escalations/webcat/clusters', class: ("active" if current_page?('/escalations/webcat/clusters'))}
      %span.nav-toolbar-icon-large.icon-categories

    %a#reports.nav-page-button{href: '/escalations/webcat/reports', class: ("active" if current_page?('/escalations/webcat/reports'))}
      %span.nav-toolbar-icon-large.icon-reports


  .nav-tool-blocks.col-xs-1.col-sm-1.col-lg-1.dropdown
    %a{href: '#', class: 'dropdown-toggle', id: 'new-complaint', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
      %span{class: 'nav-toolbar-icon icon-new-white'}
      New
    .dropdown-menu.nav-tools-dropdown{'aria-labelledby': 'new-complaint'}
      %h3.nav-tool-dropdown-header.inverse
        New Complaint
      .nav-tool-content-wrapper#new-complaint-wrapper
        = render 'escalations/webcat/complaints/new'

  .nav-tool-blocks.col-xs-3.col-sm-2.col-lg-2.dropdown
    %a{href: '#', class: 'dropdown-toggle', id: 'categorize-urls', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
      %span{class: 'nav-toolbar-icon icon-categorize-white'}
      Categorize URLs
    .dropdown-menu.nav-tools-dropdown{'aria-labelledby': 'categorize-urls'}
      %h3.nav-tool-dropdown-header.inverse
        Categorize URLs
      .row.categorize-radio-wrapper
        .col-xs-6
          %input{type: 'radio', name: 'categorize-url-form-type', id: 'cat-urls-diff', value: 'cat-urls-diff', checked: true}
          %label.radio-label{for: 'cat-urls-diff'} Different categories for each url
        .col-xs-6
          %input{type: 'radio', name: 'categorize-url-form-type', id: 'cat-urls-same', value: 'cat-urls-same'}
          %label.radio-label{for: 'cat-urls-same'} Same categories for all urls

      .nav-tool-content-wrapper#categorize-urls-form-wrapper
        #categorize-diff-form
          %form{method: 'get', 'accept-charset': 'UTF-8'}
            %h5 Categorize URLs with Different Categories
            .toolbar
              %div
                %button.toolbar-button.current-categories-button.esc-tooltipped{:type => 'button', title: 'Lookup Current Categories', onclick: 'lookup_prefix()'}
                  %span Lookup Current Categories
                %button.toolbar-button.delete-categories-button.esc-tooltipped{:type => 'button', title: 'Drop All Current Categories', onclick: 'drop_current_categories()'}
                  %span Drop All Current Categories

            .form-group
              %div.cat-url-error#cat-url-1
                %button.categorize-urls-warning-icon
                %span#cat-url-error-message-1 No history associated with this url.
              %div.cat-url-success#cat-url-success-1
                %button.categorize-urls-success-icon
                %span#cat-url-success-message-1 Categories successfully dropped.
              %label.content-label-sm URL
              %br
              %input.inline-input.form-control#url_1{:name => "token", :type => "text", :value => "", :placeholder=>"URL", autofocus: 'true', tabindex: '1'}/
              %button.inline-button.history-button.esc-tooltipped#history-1{type: 'button', onclick: 'retrieve_history(1)', title: 'Entry Category History'}
              %label.content-label-sm Categories
              %select.form-control#cat_new_url_1.cat_new_url.contacts.selectize{:multiple => "multiple", :placeholder => "Enter up to 5 categories", :style => "display: none;", tabindex: "2"}
            %hr.thin.condensed
            .form-group
              %div.cat-url-error#cat-url-2
                %button.categorize-urls-warning-icon
                %span#cat-url-error-message-2 No history associated with this url.
              %div.cat-url-success#cat-url-success-2
                %button.categorize-urls-success-icon
                %span#cat-url-success-message-2 Categories successfully dropped.
              %label.content-label-sm URL
              %br
              %input.inline-input.form-control#url_2{:name => "token", :type => "text", :value => "", :placeholder=>"URL", tabindex: '3'}/
              %button.inline-button.history-button.esc-tooltipped#history-2{type: 'button', onclick: 'retrieve_history(2)', title: 'Entry Category History'}
              %label.content-label-sm Categories
              %select.form-control#cat_new_url_2.cat_new_url.contacts.selectize{:multiple => "multiple", :placeholder => "Enter up to 5 categories", :style => "display: none;", :tabindex => "4"}
            %hr.thin.condensed
            .form-group
              %div.cat-url-error#cat-url-3
                %button.categorize-urls-warning-icon
                %span#cat-url-error-message-3 No history associated with this url.
              %div.cat-url-success#cat-url-success-3
                %button.categorize-urls-success-icon
                %span#cat-url-success-message-3 Categories successfully dropped.
              %label.content-label-sm URL
              %br
              %input.inline-input.form-control#url_3{:name => "token", :type => "text", :value => "", :placeholder=>"URL", tabindex: '5'}/
              %button.inline-button.history-button.esc-tooltipped#history-3{type: 'button', onclick: 'retrieve_history(3)', title: 'Entry Category History'}
              %label.content-label-sm Categories
              %select.form-control#cat_new_url_3.cat_new_url.contacts.selectize{:multiple => "multiple", :placeholder => "Enter up to 5 categories", :style => "display: none;", :tabindex => "6"}
            %hr.thin.condensed
            .form-group
              %div.cat-url-error#cat-url-4
                %button.categorize-urls-warning-icon
                %span#cat-url-error-message-4 No history associated with this url.
              %div.cat-url-success#cat-url-success-4
                %button.categorize-urls-success-icon
                %span#cat-url-success-message-4 Categories successfully dropped.
              %label.content-label-sm URL
              %br
              %input.inline-input.form-control#url_4{:name => "token", :type => "text", :value => "", :placeholder=>"URL", tabindex: '7'}/
              %button.inline-button.history-button.esc-tooltipped#history-4{type: 'button', onclick: 'retrieve_history(4)', title: 'Entry Category History'}
              %label.content-label-sm Categories
              %select.form-control#cat_new_url_4.cat_new_url.contacts.selectize{:multiple => "multiple", :placeholder => "Enter up to 5 categories", :style => "display: none;", :tabindex => "8"}
            %hr.thin.condensed
            .form-group
              %div.cat-url-error#cat-url-5
                %button.categorize-urls-warning-icon
                %span#cat-url-error-message-5 No history associated with this url.
              %div.cat-url-success#cat-url-success-5
                %button.categorize-urls-success-icon
                %span#cat-url-success-message-5 Categories successfully dropped.
              %label.content-label-sm URL
              %br
              %input.inline-input.form-control#url_5{:name => "token", :type => "text", :value => "", :placeholder=>"URL", tabindex: '9'}/
              %button.inline-button.history-button.esc-tooltipped#history-5{type: 'button', onclick: 'retrieve_history(5)', title: 'Entry Category History'}
              %label.content-label-sm Categories
              %select.form-control#cat_new_url_5.cat_new_url.contacts.selectize{:multiple => "multiple", :placeholder => "Enter up to 5 categories", :style => "display: none;", :tabindex => "10"}
            .form-group.text-center
              %button.primary{:type => "button", :onclick=>"cat_new_url()", tabindex: '11'} Categorize URLs

        %form{method: 'get', 'accept-charset': 'UTF-8'}
          #categorize-same-form
            %h5 Categorize Multiple URLs With Same Categories
            .form-group
              %label.content-label-sm Categories
              %select.form-control#multi_cat_url_cats.cat_new_url.contacts.selectize{:multiple => "multiple", :placeholder => "Enter up to 5 categories", :style => "display: none;"}
            %hr.thin.condensed
            .form-group
              %label.content-label-sm URLs/IP Addresses
              %textarea#categorize_urls{required: true}
            .form-group.text-center
              %button.primary{:type => "button", :onclick=>"multiple_url_categorization()"} Categorize URLs

  .nav-tool-blocks.col-xs-2.col-sm-1.col-lg-1.dropdown
    %a{href: '#', class: 'dropdown-toggle', id: 'filter-complaints', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
      %span{class: 'nav-toolbar-icon icon-filter-white'}
      Filter
    .dropdown-menu.nav-tools-dropdown#filter-dropdown{'aria-labelledby': 'filter-cases'}
      %ul#filter-cases-list
        -# add this in later
        -#%li
        -#  %a{onclick: 'standard_webrep_index_table("my_open");'}
        -#    %span.nav-dropdown-icon.icon-my-open-bugs
        -#    My Open Tickets
        %li{class: ("selected" if params[:f] == "MY COMPLAINTS")}
          %a{href: '?f=MY COMPLAINTS'}
            %span.nav-dropdown-icon.icon-my-bugs
            My Complaints
        %li{class: ("selected" if params[:f] == "MY OPEN COMPLAINTS")}
          %a{href: '?f=MY OPEN COMPLAINTS'}
            %span.nav-dropdown-icon.icon-my-bugs
            My Open Complaints
        %li{class: ("selected" if params[:f] == "MY CLOSED COMPLAINTS")}
          %a{href: '?f=MY CLOSED COMPLAINTS'}
            %span.nav-dropdown-icon.icon-my-bugs
            My Closed Complaints
        %li{class: ("selected" if params[:f] == "COMPLETED")}
          %a{href: '?f=COMPLETED'}
            %span.nav-dropdown-icon.icon-my-bugs
            Completed
        %li{class: ("selected" if params[:f] == "ACTIVE")}
          %a{href: '?f=ACTIVE'}
            %span.nav-dropdown-icon.icon-team-bugs
            Active
        %li{class: ("selected" if params[:f] == "NEW")}
          %a{href: '?f=NEW'}
            %span.nav-dropdown-icon.icon-open-bugs
            New
        %li{class: ("selected" if params[:f] == "REVIEW")}
          %a{href: '?f=REVIEW'}
            %span.nav-dropdown-icon.icon-fixed-bugs
            Review
        %li{class: ("selected" if params[:f] == "ALL")}
          %a{href: '?f=ALL'}
            %span.nav-dropdown-icon.icon-recently-viewed
            All

      #saved-searches-wrapper.nav-tool-content-wrapper
        %h3.nav-tool-dropdown-header
          %span.nav-dropdown-content-icon.icon-saved-search
          My Saved Searches
        %table{class: 'table', id: 'saved-search'}
          %tbody#saved-search-tbody
            - if current_user.named_searches.any?
              - current_user.named_searches.where('project_type = ? OR project_type IS ?', 'Complaint', nil).order(:id).each do |named_search|
                %tr{id: "saved_search_#{named_search.id}"}
                  %td
                    %a.input-truncate.saved-search.esc-tooltipped{onclick: "named_webcat_index_table('#{named_search.name}');", title: named_search.name}
                      = named_search.name
                    %a.delete-search{title: 'Delete Saved Search', onclick: "delete_disputes_named_search(this, '#{named_search.name}');"}
                      = image_tag('icon_cancel_grey.svg')

  .nav-tool-blocks.col-xs-2.col-sm-3.col-lg-4.search-wrapper
    .input-group.search-group#web-cat-search
      = text_field_tag 'general_search', "#{}", class: 'search-box', placeholder: 'Search'

      %button#advanced-search-button.btn.btn-default.nav-tool-button.dropdown-toggle{'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        Advanced
      .dropdown-menu.nav-tools-dropdown#advanced-search-dropdown{'aria-labelledby': 'advanced-search-button'}
        %h3.nav-tool-dropdown-header.inverse
          Advanced Search
        #advanced-search-wrapper.nav-tool-content-wrapper
          = render 'escalations/webcat/complaints/advanced_search'

          -#= label_tag 'advanced_query_complaints', 'Complaint IDs'
          -#%br/
          -#= text_area_tag 'complaint_ids', nil, placeholder: 'Add some complaint IDs...'
          -#= label_tag 'advanced_query_urls', 'URLs/IPs/Domains'
          -#%br/
          -#= text_area_tag 'urls_ids', nil, placeholder: 'Add some urls/ips/domains...'
          -#= label_tag 'advanced_query_regex', 'URL regex'
          -#%br/
          -#= text_field_tag 'regex_text', nil, placeholder: 'Add a URL regex...'
          -#= label_tag 'advanced_query_status', 'Status'
          -#= select_tag "Status", options_for_select([ "New", "Assigned", "Resolved"], "Assigned")
          -#%br/
          -#= label_tag 'advanced_query_resolution', 'Resolution'
          -#= select_tag "Resolution", options_for_select([ "Fixed", "Invalid", "WontFix"], "Fixed")
          -#%br/
          -#= label_tag 'advanced_query_tag', 'Tag'
          -#= text_field_tag 'tag_text', nil, placeholder: 'Add tag...'
          -#%br/
          -#= label_tag 'advanced_query_channel', 'Added Through Channel'
          -#%br/
          -#.checkbox
          -#  %label
          -#    %input{:type => "checkbox"}/
          -#    WBNP
          -#.checkbox
          -#  %label
          -#    %input{:type => "checkbox"}/
          -#    Submit URLS
          -#.checkbox
          -#  %label
          -#    %input{:type => "checkbox"}/
          -#    that other way

  - if current_user
    #login-div.nav-tool-block.col-sm-2.col-lg-2
      - if bugzilla_rest_logged_in?(bugzilla_rest_session) == true
        %span.bugzilla-status.bugzilla-logged-in.esc-tooltipped{title: 'Logged into Bugzilla'}
      - else
        %span.bugzilla-status.bugzilla-logged-out.esc-tooltipped{title: 'Not logged into Bugzilla'}
      %span.dropdown
        %button#user-settings-dropdown-button.dropdown-toggle{'data-toggle': 'dropdown', 'aria-expanded': 'false', 'aria-haspopup': 'true', type: 'button'}
        #user-settings-dropdown.dropdown-menu{'aria-labelledby': 'user-settings-dropdown-button'}
          -#    If user is logged into Bugzilla
          -#.message-text Log out of Bugzilla
          -# Logout button

          -#-#    Else
          .message-text Log into Bugzilla
          %form#top_banner_bugzilla_login_form
            .form-group.text-left
              %label.content-label-sm Username
              %input.form-control{name: 'username', autofocus: 'true'}
            .form-group.text-left
              %lable.content-label-sm Password
              %input.form-control{type: 'password', name: 'password'}
            .form-group.text-center
              %button#top_banner_bugzilla_login_button.panel-button.primary{'aria-label': 'Login', onclick: 'top_banner_bugzilla_login(); return false;'} Login

          %a{href: "/users/#{current_user[:id]}"}
            Login settings

      %a.nav-username{href: "/users/#{current_user[:id]}"}
        = current_user[:display_name]

    -##username= current_user.cvs_username


= render template: "layouts/rocket"

- if params[:f]
  :javascript
    $(document).ready(function(){
      filterByStatus("#{params[:f]}")
    })
