- content_for(:title) do
  Escalations - File Reputation - Analyst Console

- content_for(:nav_banner) do
  .nav-tool-blocks.nav-page-button-wrapper.col-xs-3.col-sm-2.col-lg-1
    %a#queue.nav-page-button{href: '/escalations/file_rep/disputes', class: ("active" if current_page?('/escalations/file_rep/disputes'))}
      %span.nav-toolbar-icon-large.icon-queue

    %a#research.nav-page-button{href: '/escalations/file_rep/research', class: ("active" if current_page?('/escalations/file_rep/research'))}
      %span.nav-toolbar-icon-large.icon-research

  .nav-tool-blocks.col-xs-1.col-sm-1.col-lg-1.dropdown
    %a{href: '#', class: 'dropdown-toggle', id: 'filter-cases', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
      %span{class: 'nav-toolbar-icon icon-filter-white'}
      Filter
    .dropdown-menu.nav-tools-dropdown#filter-dropdown{'aria-labelledby': 'filter-cases'}
      %ul#filter-cases-list
        %li{class: ("selected" if params[:f] == "recently_viewed")}
          %a{href: '?f=recently_viewed'}
            %span.nav-dropdown-icon.icon-recently-viewed
            Recently Viewed
        %li{class: ("selected" if params[:f] == "my_disputes")}
          %a{href: '?f=my_disputes'}
            %span.nav-dropdown-icon.icon-my-bugs
            My Tickets
        %li{class: ("selected" if params[:f] == "my_open")}
          %a{href: '?f=my_open'}
            %span.nav-dropdown-icon.icon-my-open-bugs
            My Open Tickets
            %li{class: ("selected" if params[:f] == "team_disputes")}
          %a{href: '?f=team_disputes'}
            %span.nav-dropdown-icon.icon-team-bugs
            My Team Tickets
        %li{class: ("selected" if params[:f] == "unassigned")}
          %a{href: '?f=unassigned'}
            %span.nav-dropdown-icon.icon-unassigned-bugs
            Unassigned Tickets
        %li{class: ("selected" if params[:f] == "open")}
          %a{href: '?f=open'}
            %span.nav-dropdown-icon.icon-open-bugs
            Open Tickets
        %li{class: ("selected" if params[:f] == "open_email")}
          %a{href: '?f=open_email'}
            %span.nav-dropdown-icon.icon-email-tix
            Open Email Tickets
        %li{class: ("selected" if params[:f] == "open_web")}
          %a{href: '?f=open_web'}
            %span.nav-dropdown-icon.icon-web-tix
            Open Web Tickets
        %li{class: ("selected" if params[:f] == "closed")}
          %a{href: '?f=closed'}
            %span.nav-dropdown-icon.icon-fixed-bugs
            Closed Tickets
        %li{class: ("selected" if params[:f] == "all")}
          %a{href: '?f=all'}
            %span.nav-dropdown-icon.icon-all-tickets
            All Tickets

  .nav-tool-blocks.col-xs-1.col-sm-1.col-lg-1.dropdown
    %a{href: '#', class: 'dropdown-toggle', id: 'new-dispute', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
      %span{class: 'nav-toolbar-icon icon-new-white'}
      New Ticket
    .dropdown-menu.nav-tools-dropdown{'aria-labelledby': 'new-dispute'}
      %h3.nav-tool-dropdown-header.inverse
        New Ticket
      .nav-tool-content-wrapper#new-dispute-wrapper
        = render 'escalations/webrep/disputes/new'

      #saved-searches-wrapper.nav-tool-content-wrapper
        %h3.nav-tool-dropdown-header
          %span.nav-dropdown-content-icon.icon-saved-search
          My Saved Searches
        %table#saved-search.table
          %tbody#saved-search-tbody
            - if current_user.named_searches.any?
              - current_user.named_searches.where('project_type = ? OR project_type IS ?', 'Dispute', nil).order(:id).each do |named_search|
                %tr{id: "saved_search_#{named_search.id}"}
                  %td
                    %a.input-truncate.saved-search.esc-tooltipped{onclick: "named_webrep_index_table('#{named_search.name}');", title: named_search.name}
                      = named_search.name
                    %a.delete-search{title: 'Delete Saved Search', onclick: "delete_disputes_named_search(this, '#{named_search.name}');"}
                      = image_tag('icon_cancel_grey.svg')


  .nav-tool-blocks.col-xs-1.col-sm-1.col-lg-1.dropdown.nav-naming-guide
    %a{href: '#', class: 'modal-toggle', id: 'naming-guide', 'data-toggle': 'modal', 'data-target': '#modal-naming-guide', 'data-backdrop': 'false', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
      %span{class: 'nav-toolbar-icon icon-naming-white'}
      Naming Guide

  -# dbinebri: all the data in this table exists only for css testing purposes
  -# will need to be recoded with an amp/ti ajax api call later on
  #modal-naming-guide.modal.fade{:role => "dialog"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title
            %span.nav-toolbar-icon.icon-naming-white
            AMP Naming Conventions Guide
        .modal-body
          .modal-table
            %table.table
              %thead
                %tr
                  %th Pattern
                  %th Example
                  %th Engine Description
                  %th Notes
              %tbody
                %tr
                  %td
                    %span /^.*Clam.Heuristics.*/
                  %td ClamAV.Heuristics.SWF.SuspectImage.E
                  %td ClamAV Heuristic Rules, often has file extension in alert name (For example SWF = Flash file)
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.*.SPERO.*/
                  %td W32.SPERO.Sality.02.12
                  %td W32 Binary Header Features based classification engine
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.*ETHOS.*/
                  %td W32.ETHOS.COHORS.MAR.a2b3c4
                  %td Fuzzy hash based classification of Win32 binary headers
                  %td
                    %span{class: 'nav-toolbar-icon icon-notes'} add tooltip hover
                %tr
                  %td
                    %span /^.*vv/
                  %td W32.Generic:Enistery.b0a91.vv
                  %td Third Party comparison engine
                  %td
                    %span{class: 'nav-toolbar-icon icon-notes'}
                %tr
                  %td
                    %span /^.*1201/
                  %td W32.Generic:Detection.1201
                  %td Third Party comparison engine
                  %td
                    %span{class: 'nav-toolbar-icon icon-notes'}
                %tr
                  %td
                    %span /^.*tpd/
                  %td Conficker:ConfiDrv-tpd
                  %td Third Party comparison engine
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.*\.rc/
                  %td W32.agent.rc
                  %td Aggressive machine learning engine performs research on unknown samples and compares their aggression with similar samples for one-to-one conviction.
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.*SHEATH.*/
                  %td W32.SHEATH.COHORS.DEC.a2b3c4
                  %td Aggressive machine learning engine performs research on unknown samples and compares their aggression with similar samples for one-to-one conviction.
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.*tt/
                  %td W32.Gen:Suspicious_Gen5.15e0.tt
                  %td Identifies files that are queried by other infected files to determine if the queried file can be marked malicious
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.hw/
                  %td W32.Downloader:Suspicious_Gen2.15fo.hw
                  %td Big Data Analysis Engine for Whitelisting clean files.
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.dk/
                  %td w32.SirefefA.15gc.dk
                  %td Parent/Child relationship based black and whitelisting engine
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.*IOC/
                  %td W32.Driveby.08.08.IOC
                  %td Synthetic Event Engine that convicts binaries based upon actions of an Indicator of Compromise
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.MASH.SBX.VIOC/
                  %td W32.Auto.a2b3c4d.MASH.SBX.VIOC
                  %td Synthetic Event Engine that convicts binaries based upon actions of an Indicator of Compromise in a Detonation environment.
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.*SBX.VIOC/
                  %td W32.a2b3c4d5f6-100.SBX.VIOC
                  %td Conviction from a Detonation Environment based binary, the number preceding “SBX” is the score of the binary when ran.
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.*VRT/
                  %td W32.BD0A0522.tht.VRT
                  %td Conviction of hash based on analysis engines written by the Talos Team.
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.Talos/
                  %td W32.a2b3c4d.tht.Talos
                  %td Conviction of hash based on analysis engines written by the Talos Team
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.RET/
                  %td W32.Downloader:Sisha.RET
                  %td Conviction of hash based on analysis engines written by the Research and Efficacy Team
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.*in01/
                  %td W32.Auto.a2b3c4.18157.in01
                  %td Conviction of a file that takes place directly upon import (without Detonation)
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.*in02/
                  %td W32.Auto.a2b3c4.18157.in02
                  %td Conviction of a file that takes place directly upon import (without Detonation)
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.*SBX.TG/
                  %td W32.a2b3c4d5e6f7-95.SBX.TG
                  %td Conviction from the ThreatGrid Detonation Environment. The number preceding the “SBX” is the score of the binary when ran.
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.*in03.Talos/
                  %td W32.Auto:a2b3c4.in03.Talos
                  %td Conviction of a file that was compared against itself to see if a disposition (malicious or clean) has changed in other engines in 24 hours.
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.*in04.Talos/
                  %td W32.Auto:1a2b3c4d.in04.Talos
                  %td Conviction of a file that was compared against itself to see if a disposition (malicious or clean) has changed in other engines in 7 days
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.*in05.Talos/
                  %td W32.Auto:1a2b3c4d.in05.Talos
                  %td Conviction of a file that is attached to a known Spam or Phishing Campaign. May not necessarily be malicious.
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.*in07.Talos/
                  %td Auto.a2b3c4d.211543.in07.Talos
                  %td Conviction of a file that takes place directly upon import (without Detonation)
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.*in10.tht.Talos/
                  %td Auto.1a2b3c4d.in10.tht.Talos
                  %td Conviction of a file that takes place directly upon file import into Talos's infrastructure.
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /W32.Auto..*.EncrOff.MRT.TALOS/
                  %td W32.Auto.a2b3c4d.EncrOff.MRT.TALOS
                  %td Encrypted office documents originating from SPAM
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /PDF.*.Phishing.EE.e01.Talos/
                  %td PDF.a2b3c4d.Phishing.EE.e01.Talos
                  %td Malicious PDFs with malicious URLs originating from SPAM
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /.*amphr.hunt.Talos/
                  %td Auto.a2b3c4d.amphr.hunt.Talos
                  %td Detection of a infected file based upon comparison with third party engines.
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.*PTP.CAM/
                  %td W32.2B3A9A4200.PTP.CAM
                  %td Probabilistic Threatscore Propagation
                  %td
                    &nbsp;
                %tr
                  %td
                    %span /^.*\.TC/
                  %td W32.Generic.Malware.FWdld.9CEF586D.TC
                  %td Tetra third party cloud engine, based on BitDefender
                  %td
                    &nbsp;
                %tr
                  %td
                    %span Win32\..*\.EP\.RET
                  %td Win32.AABBCCDDEE.EP.RET
                  %td Probabilistic Threatscore Propagation
                  %td
                    &nbsp;




  .nav-tool-blocks.col-xs-3.col-sm-3.col-lg-6.search-wrapper
    .input-group.search-group#file-rep-search
      = form_tag('/tickets', method: :get, onsubmit: 'call_contains_search(this);return false;') do
        = text_field_tag 'case[id]', "#{}", class: 'search-box'

      %button#advanced-search-button.btn.btn-default.nav-tool-button.dropdown-toggle{'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
        Advanced
      .dropdown-menu.nav-tools-dropdown#advanced-search-dropdown{'aria-labelledby': 'advanced-search-button'}
        %h3.nav-tool-dropdown-header.inverse
          Advanced Search
        #advanced-search-wrapper.nav-tool-content-wrapper
  -#          = render 'escalations/webrep/disputes/advanced_search'






  - if current_user
    #login-div.nav-tool-block.col-sm-2.col-lg-2
      = bugzilla_rest_login_icon(bugzilla_rest_session)
      %span.dropdown
        %span#user-settings-dropdown-button.dropdown-toggle.esc-tooltipped{'title': 'Login to Bugzilla', 'data-toggle': 'dropdown', 'aria-expanded': 'false', 'aria-haspopup': 'true', type: 'button'}
        #user-settings-dropdown.dropdown-menu{'aria-labelledby': 'user-settings-dropdown-button'}
          -#    If user is logged into Bugzilla
          -#.message-text Log out of Bugzilla
          -# Logout button

          -#-#    Else
          .message-text Log into Bugzilla
          %form#top_banner_bugzilla_login_form
            .form-group.text-left
              %label.content-label-sm Username
              %input.form-control{name: 'username', autofocus: 'true'}
            .form-group.text-left
              %lable.content-label-sm Password
              %input.form-control{type: 'password', name: 'password'}
            .form-group.text-center
              %button#top_banner_bugzilla_login_button.panel-button.primary{'aria-label': 'Login', onclick: 'top_banner_bugzilla_login(); return false;'} Login

          %a{href: "/users/#{current_user[:id]}"}
            Login settings

      %a.nav-username{href: "/users/#{current_user[:id]}"}
        = current_user[:display_name]


    -##username= current_user.cvs_username




= render template: "layouts/rocket"
