!!! html
%html
  %head
    %title= content_for?(:title) ? content_for(:title) : 'Analyst Console'
    %link{rel: "shortcut icon", href: image_path('analyst-console-favicon.ico')}
    = stylesheet_link_tag("admin_redesign", media: "all", "data-turbolinks-track" => true)
    = javascript_include_tag("admin_redesign", "data-turbolinks-track" => true)
    = csrf_meta_tags

  %body{class: "rocket-layout #{controller_path.gsub('/', '--')}-controller #{action_name}-action"}

    = render '/shared/alert_modal'
    = render '/shared/loader_modal'

    = render 'layouts/left_nav'
    = render partial: "shared/flash_messages", flash: flash

    #page-wrapper

      %nav{id: "nav-banner"}
        = content_for(:nav_banner) if content_for?(:nav_banner)


      #page-content-wrapper
        =yield

