!!! html
%html
  %head
    %title= content_for?(:title) ? content_for(:title) : 'Analyst Console'
    = stylesheet_link_tag("application", media: "all", "data-turbolinks-track" => true)
    = javascript_include_tag("application", "data-turbolinks-track" => true)
    = csrf_meta_tags

  %body{class: "rocket-layout #{controller_name}-controller #{action_name}-action"}
    #sidenav-icons-div.nav-col
      .menuheight
        %a= image_tag('layout/ac_rocket.png', height: '40', width: '40')
      .menuheight
        %a= image_tag('layout/menu-expand.png', height: '40', width: '40')
      .menuheight
        %a= image_tag('layout/bugs.png', height: '40', width: '40')
      .menuheight
        %a= image_tag('layout/users.png', height: '40', width: '40')
      .menuheight
        %a= image_tag('layout/wiki.png', height: '40', width: '40')

    #sidenav-menu-div.nav-col
      .menuheight.menutext
        %a
          = image_tag('layout/ac_rocket.png', height: '40', width: '40')
          Analyst Con
      .menuheight
        %a= image_tag('layout/menu-collapse.png', height: '40', width: '40')
      .menuheight.menutext
        %a
          = image_tag('layout/bugs.png', height: '40', width: '40')
          Bugs
      .menuheight.menutext
        %a
          = image_tag('layout/users.png', height: '40', width: '40')
          Users
      .menuheight.menutext
        %a
          = image_tag('layout/wiki.png', height: '40', width: '40')
          Wiki

    #main-content
      #yield-div
        =yield

