!!! html
%html
  %head
    %title= content_for?(:title) ? content_for(:title) : 'Analyst Console'
    = stylesheet_link_tag("application", media: "all", "data-turbolinks-track" => true)
    = javascript_include_tag("application", "data-turbolinks-track" => true)
    = csrf_meta_tags

  %body{class: "rocket-layout #{controller_name}-controller #{action_name}-action"}
    #sidenav-icons-div.nav-col
      .menuheight
        %a= image_tag('layout/ac_rocket.png', height: '40', width: '40')
      .menuheight
        %a= image_tag('layout/menu-expand.png', height: '40', width: '40')
      .menuheight
        %a{href: bugs_path}= image_tag('layout/bugs.png', height: '40', width: '40')
      .menuheight
        %a{href: users_path}= image_tag('layout/users.png', height: '40', width: '40')
      .menuheight
        %a{href: 'https://git.vrt.sourcefire.com/talosweb/Analyst-Console/wiki'}
          = image_tag('layout/wiki.png', height: '40', width: '40')

    #sidenav-menu-div.nav-col
      .menuheight.menutext
        %a
          = image_tag('layout/ac_rocket.png', height: '40', width: '40')
          Analyst Con
      .menuheight
        %a= image_tag('layout/menu-collapse.png', height: '40', width: '40')
      .menuheight.menutext
        %a{href: bugs_path}
          = image_tag('layout/bugs.png', height: '40', width: '40')
          Bugs
      .menuheight.menutext
        %a{href: users_path}
          = image_tag('layout/users.png', height: '40', width: '40')
          Users
      .menuheight.menutext
        %a{href: 'https://git.vrt.sourcefire.com/talosweb/Analyst-Console/wiki'}
          = image_tag('layout/wiki.png', height: '40', width: '40')
          Wiki

    #main-col
      #nav-banner
        - if current_user
          #login-div
            %a{href: "/users/#{current_user[:id]}"}
              %p.login-area
                %span.login-label
                  %strong.current_user= current_user[:display_name]
          #username= current_user.cvs_username

        = content_for(:nav_banner) if content_for?(:nav_banner)

      #yield-div
        =yield

