<div class="container-fluid users-page">
  <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 item-details-column<%= ' users-split-color' if 'show' == action_name %>">
    <div class="row header">
      <!-- action links -->
      <div class="col-xs-4 actions-bar">
        <% if current_user.has_role?('manager') %>
          <%= link_to escalations_user_relationships_path(current_user), {name: "Tree Diagram Icon"} do %>
              <button name="manage_team" class="btn btn-link icon-link custom-icon" data-toggle="tooltip" data-placement="right" title="manage team"><%= image_tag "tree-diagram-icon.png" %></button>
          <% end %>
        <%end%>
      </div>
      <div class="col-xs-8 actions-bar form-inline">
        <p>
          <%= form_for :user, url: results_escalations_users_path, method: :get do |form| %>
            <%= form.fields_for :search do |search_fields| %>
              <%= search_fields.text_field :name, class: 'form-control input-sm', placeholder: 'search users' %>
            <% end %>
            <%= form.submit 'search', class: 'btn btn-default btn-xs' %>
          <% end %>
        </p>
        <br>
      </div>
    </div>
    <%= render template: "layouts/rocket" %>
  </div>
</div>